    .angular-calender .fc-prev-button.fc-button.fc-state-default.fc-corner-left,
    .angular-calender .fc-next-button.fc-button.fc-state-default.fc-corner-right
    {
        background: transparent;
        box-shadow: none;
        border: none;
        color: #0073BC;
    }
    .angular-calender .fc-right > h2
    {
      font-size: 18px;
    }

    .angular-calender .fc-right 
    {
      position: relative;
      left: 3%;
    }

    .angular-calender .fc-prev-button.ui-button.ui-state-default.ui-corner-left
    {
      position: absolute;
      left: 82%;
    }
    .angular-calender .fc-next-button.ui-button.ui-state-default.ui-corner-right
    { 
      position: absolute;
      right: -9.5%;
    }
    .calendar_portion_total
    {
      padding-left: 0px;
    }
    .angular-calender.fc td, .fc th
    {
      border-color: #b3dfff;
    }
    .angular-calender .fc-view-container table thead tr th
    {
      background:#e0f2ff none repeat scroll 0 0;
      color: #0073bc;
      vertical-align: middle;
      padding-top: 10px;
      padding-bottom: 10px;

    }
    .calendar_week_avg
    {
      padding-left: 0px;
      position: relative;
      top:43px;
    }
    .calendar_week_avg table.calendar_table_side tbody tr {
      /*height: 160px !important;*/
    }
    .angular-calender .fc-toolbar
    {
      position: relative;
      left: 9%;
    }
    .angular-calender .fc-scroller.fc-day-grid-container
    {
      overflow: hidden !important;
      height: auto !important;
    }
    .angular-calender .fc-row.fc-week.ui-widget-content
    {
      height: 160px;
      background: red;
    }
   .angular-calender .ui-widget-content {
      background: #fff !important;
    }
    .columnfooterdiv {
      height: 140px;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
      border-bottom-right-radius:0px; rad
    }
    .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
      border-top-right-radius:0px;
    }

    .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-br {
      border-bottom-left-radius:0px;
    }
    .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tr {
      border-top-left-radius:0px;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
      background: #0073bc;
      color:#fff;
      border: 1px solid #ccc;
    }
    .fc-day-number {
      color: #0073bc;
    }
    .cal_sammary_data {
     margin-left: 5px;
      }

    @media(min-width: 768px) and (max-width: 1024px) {
      .calendar_table_head{
        font-size: 12px;
      }
      .angular-calender .fc-prev-button.ui-button.ui-state-default.ui-corner-left {
         left: 74%;
      }
    }
