@font-face {
  font-family: myfont;
  src: url('/css/fonts/Times_New_Roman_Normal.ttf');
}
@font-face {
  font-family: Arila;
  src: url('/css/fonts/Arial_Scan-sarif_Roboto_Font/arial.ttf');
}
@font-face {
  font-family: Roboto-Regular;
  src: url('/css/fonts/Arial_Scan-sarif_Roboto_Font/Roboto-Regular.ttf');
}
@font-face {
  font-family: sans-serif;
  src: url('/css/fonts/Arial_Scan-sarif_Roboto_Font/micross.ttf');
}
@font-face {
  font-family: helvetica;
  src: url('/css/fonts/Arial_Scan-sarif_Roboto_Font/helvetica.ttf');
}

body {
  background-color: #FFF !important;
  /*font-family: myfont !important;*/
}

/* genemedics_wholebody class made in master file for setting the font  */
body.genemedics_wholebody
{
  font-family: sans-serif, Roboto-Regular, helvetica, Arila;
}
body.genemedics_wholebody h1,
body.genemedics_wholebody h2,
body.genemedics_wholebody h3,
body.genemedics_wholebody h4,
body.genemedics_wholebody h5,
body.genemedics_wholebody h6
{
  font-family: Roboto-Regular,Arial,helvetica,sans-serif;
}

#mainpanel.custom-mainpanel-wrapper,
.custom-header-wrapper,
.custom-footer-wrapper

{
  max-width: 1560px;
  margin-left: auto !important;
  margin-right: auto !important;
}
p
{
  font-size: 13px;
}
.h1, .h2, .h3, h1, h2, h3
{
 margin-top: 0px;
}
.black_text
{
  color: #808080;
}

.no-padding-left
{
  padding-left: 0px !important;
}
/*All Custom css for Food Weight, Exercise log and new dashboard page*/
/*======================================================================*/
@media(min-width: 1920px)
{
  #scroll_tabs_dash ul.main_tabs
  {
    width: 1500px;
  }
  .guagemeterdemo
  {
    width: 4vw !important;
    height: 2vw !important;
  }
}

@media(min-width: 1201px) and (max-width: 1580px) {
  .guagemetercontain ul li.block_display
  {
    display: block !important;
  }

}


@media(min-width: 1200px) and (max-width: 1400px) {
  #calorie_log_div .colorie_padding_bottom .health-sub-contain
  {
    padding-bottom: 64px !important;
  }
  #exercise_log_div .exercise_padding_bottom .health-sub-contain
  {
    padding-bottom: 26px !important;
  }
  #health_goal_div .health_padding_bottom .health-sub-contain
  {
    padding-bottom: 45px;
  }
  .calorie_log_summary_section p, .exercise_log_summary_section p,
  .health_log_summary_section p
  {
    font-size: 14px !important;
  }
}
@media(max-width: 1200px) {
  .tabs_container li.list-group-item.li-border:first-child
  {
    padding-left: 7px !important;
    padding-right: 0px !important;
  }
}
@media(max-width: 1199px) {
  .tab_chart_part1, .tab_chart_part2
  {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .wight_body_portion, .body_measure_portion
  {
    padding-top: 10px;
  }
  #mainpanel.margin_top_120
  {
    margin-top: 75px !important;
  }
  #scroll_tabs_dash
  {
    top: 74px;
  }
  a.dis_tbl_cell
  {
    display: table-cell !important;
  }
  .padd_right
  {
    padding-right: 15px;
  }
   a.logo img.img_disp
  {
    float: left;
  }
  a.btn_bakAdmin
  {
    margin-top: 15px !important;
  }
  .custom-section-page
  {
    padding-top: 10px !important;
  }
  .food_exe_stick_fixed
  {
    top: 75px !important;
  }
  .workout_histo_track_row .workout_histo_track_col
  {
    margin-bottom: 10px;
  }
}


@media(min-width: 1200px) and (max-width: 1290px) {
  .scroll_tab_section
  {
    padding-top: 0px;
  }
}

@media(max-width: 1024px) {
  .table_column_colorie
  {
    top: 43px !important;
  }
}

@media(max-width: 992px) {
.table_column_colorie.exer_tbl_cal
  {
    position: relative;
    top: 42px !important;
  }
  .calorie_celendar_angular.angular-calender .fc-row.fc-week.ui-widget-content
  {
    height: 185px !important;
  }
  table.calorie_fix_tr_height tbody tr
  {
    height: 185px !important;
  }
  .exercise_monthly_calender.angular-calender .fc-row.fc-week.ui-widget-content
  {
    height: 185px !important;
  }
  table.exercise_fix_tr_height tbody tr
  {
    height: 185px !important;
  }
  .food_monthly_calandar.angular-calender .fc-row.fc-week.ui-widget-content
  {
    height: 200px !important;
  }
  table.food_fix_tr_height tbody tr
  {
    height: 200px !important;
  }
  button.btndesign
  {
    padding: 6px 12px !important;
  }
  .formcontrol_height
  {
    height: auto !important;
  }
}

@media(max-width: 768px) {
  .table_column_colorie
  {
    top: 42px !important;
  }
  .table_column_colorie.exer_tbl_cal
  {
    /*top: 43px !important;*/
  }
  .second_row_foot
  {
    border-left: none !important;
  }
  .row.footnoterow
  {
    padding-left: 0px !important;
  }
  .list-inline.datepicker_ul
  {
    /*text-align: center !important;*/
  }
  .section-page
  {
    padding:50px 15px 40px !important;
  }
  .custom-section-page
  {
    padding-top: 10px !important;
  }
}
@media(max-width: 767px) {
  .row.headrow-samecolumnheight
  {
    display: block !important;
  }
  .table_head_colorie .caloriehead
  {
    font-size: 14px !important;
  }
  .table_head_colorie th
  {
    border-bottom-width: 1px !important;
  }
  .table_column_colorie.exelog_cal
  {
    top: 0px !important;
  }
  .panel-body.calorie_panel_body.calorie_log_calendar_panel
  {
    border: none;
  }
  .calorie_footer_table
  {
    border-top: none !important;
  }
  .table.table-bordered.calendar_blockequal
  {
    border-left: none !important;
  }
  /*.table.table-bordered.calendar_blockequal
  {
    border-left: none !important;
  }*/
  .weight_body_part2, .body_meausre_part2
  {
    border-right: none !important;
  }
  .weight_body_part3, .body_meausre_part3
  {
    border-top: 1px solid #cce7ff;
  }
  .table_fixed_height
  {
    height: auto !important;
  }
  .table.table_fixed_height tr td
  {
    padding: 10px !important;
  }
  table.calendar_table_side tbody tr
  {
    /*height: auto !important;*/
  }
  .table_column_colorie
  {
    top: 0px !important;
  }
  .panel-body.calorie_panel_body.calorie_log_calendar_panel
  {
    padding-top: 0px;
  }
  .table.table-bordered.calendar_blockequal
  {
    margin-bottom: 0px;
  }
  .nomarginbot
  {
    margin-bottom: 0px !important;
  }
  .guagemeterdemo
  {
    position: relative;
    width:20vw !important;
    height: 10vw !important;
    box-sizing: border-box;
    float:left;
    margin:5px auto;
  }
  .bottom_line
  {
    display: none !important;
  }
  .health-sub-heading
  {
    border-right: none !important;
  }
  #mainpanel{
     margin-top:50px !important;
  }
  .table_head_colorie .caloriehead
  {
    padding: 8px !important;
  }
  .calendar_week_avg
  {
    top: 0px !important;
  }
  .ul_borderBott_meter
  {
    border-bottom: none !important;
  }
  p.no_padding
  {
    padding: 0px !important;
  }
  .calorie_log_summary_section ul, .exercise_log_summary_section ul,
  .health_log_summary_section ul
  {
    margin-bottom: 0px !important;
  }
  .guagemetercontain ul li.block_display
  {
    margin-bottom: 0px !important;
    line-height: 90%;
  }
  .body-measure-labels ul li.measure_lbl_meter
  {
    margin-bottom: 4px;
  }
  .guagemetercontain.box_height_same
  {
    margin-bottom: 6px !important;
  }
  .health-sub-contain:nth-child(2)
  {
    border-right: none;
  }
  .body_weight_goal_table .last-border_top
  {
    border-top: 1px solid #cce7ff;
  }
  .back_btn
  {
    text-align: left !important;
  }
  a.dis_tbl_cell
  {
    padding-bottom: 7px !important;
  }
  .width_70
  {
    width: 70%;
  }
  a.logo.adminlogocustom
  {
    padding: 10px !important;
  }
  button.cutom-mobile-menu
  {
    top: 0px !important;
  }
  a.logo.adminlogocustom
  {
    width: auto !important;
    padding-right: 50px !important;
  }
  a.btn_bakAdmin
  {
    margin-top: 10px !important;
    margin-right: 20px !important;
  }
  .text-side
  {
    text-align: left !important;
  }
  .margin_10
  {
    margin: 10px;
  }
  ul.list-inline.datepicker_ul.custom-datepicker_ul
  {
    text-align: left !important;
  }
  .custom-section-page
  {
    padding-top: 15px !important;
  }
  .food_exe_stick_fixed
  {
    top: 65px !important;
  }
  .workout_histo_track_row .workout_histo_track_col
  {
    display: block !important;
  }
  .panel.work_track_panel
  {
    display: block !important;
  }
  .nav.nav_workout_details li
  {
    display: table-cell;
    width: 1%;
  }
  .row.workout_details_first
  {
    display: block !important;
  }
  .row.workout_details_first div[class*=col]
  {
    border-right: none !important;
  }
}
@media(max-width: 580px) {
  ul.list-inline.datepicker_ul > li
  {
    /*display: table-cell !important;*/
  }
  ul.datepicker_ul li label.data_label
  {
    padding: 0px !important;
    font-size: 12px;
    /*top: -5px;*/
  }
  .datepicker_box
  {
    width: 117px !important;
  }
  .datepicker_box input.form-control
  {
    padding: 2px !important;
  }
  .input-group-addon.caledar_custom
  {
    padding: 6px !important;
  }
  .datepicker_ul .form-control.rightborder
  {
    font-size: 12px !important;
  }
}
@media(min-width: 420px) and (max-width: 520px) {

  .guagemetercontain ul li.block_display
  {
    display: block !important;
  }
}

@media(max-width: 480px) {
  section.log_food_section h4
  {
    font-size: 16px;
  }
  input.datepicker_calorie
  {
    width: 70%;
  }
  .guagemeterdemo-measure
  {
    width: 16vw !important;
    height: 8vw !important;
  }
  .body-measure-labels ul li.measure_lbl_meter
  {
    margin-bottom: 8px;
  }
  input.datepicker_calorie
  {
    text-align: center !important;
    width: 57%;
  }

  .exe_datepicker_contain ul li.width_100
  {
    width: 100%;
  }
  a.btn_bakAdmin
  {
    display: inline-block;
    clear: both;
    width: 140px !important;
    margin-left: 10px !important;
    margin-bottom: 5px !important;
  }
  .padding_10
  {
    padding: 10px;
  }
  .datapicker_width_100_480
  {
    width: 100%;
  }
  .datapicker_first_label
  {
    position: relative;
    top: 10px;
  }
}
@media(min-width: 768px) and (max-width: 1024px) {
  #calorie-log-calendar .fc-prev-button.ui-button.ui-state-default.ui-corner-left,
  #exercise-log-calendar .fc-prev-button.ui-button.ui-state-default.ui-corner-left
  {

    left: 30% !important;

  }
  #calorie-log-calendar .fc-next-button.ui-button.ui-state-default.ui-corner-right,
  #exercise-log-calendar .fc-next-button.ui-button.ui-state-default.ui-corner-right
  {
    right: 30% !important;
  }
  #scroll_tabs_dash ul.main_tabs
  {
    width: 100% !important;
    margin: 0 auto;
    height:57px;

  }

}

section.calorie_log_summary_section .form-control,
section.exercise_log_summary_section .form-control,
section.health_log_summary_section .form-control
{
    font-size: 12px !important;
}

#scroll_tabs_dash ul.main_tabs
{
  width: 75%;
  margin: 0 auto;
  height:54px;
  padding-right: 0px;
}

#scroll_tabs_dash{
  /*position:fixed;*/
  z-index:10;
  /*background:#D8E1E9; */
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 5px solid #ccc;
  width:100%;
  left: 0;
}
.tab_container_plot
{
  border-bottom: 5px solid #ccc;
}
#scroll_tabs_dash ul.nav li.active
{
  border-bottom: 5px solid #1679C1;
  /*background: url('../images/border_tab.png') bottom center;*/
  border-top: none;
}
#scroll_tabs_dash .nav-tabs.nav-justified > li > a
{
  border-bottom: none;
}

#scroll_tabs_dash ul.nav li.active a
{
  color: #1679C1 !important;
}
#scroll_tabs_dash ul.main_tabs li a
{
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 5px;
  color: #ccc;
  border-radius: 0px;
}
#scroll_tabs_dash ul.main_tabs li a:active
{
  border-bottom: 5px solid #1679C1;
  /*border-image: url('images/border_tab.png');
  border-top: none;*/
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  color: #1679C1;
  transition: none;
}
section.exercise_log_summary_section
{
  background: #DAEFFF;
}
section.exercise_log_summary_section #exercise_log_div
{
  background: transparent;
  border: none;
}
section.exercise_log_summary_section .calorie_panel_head
{
  background: #DAEFFF;
  border-radius: none;
}
.success_green_text
{
  color: #29a329;
}
.warn_orange_text
{
  color: #ffaa00;
}
.error_red_text
{
  color: #b30000;
}
.saperator_div
{
  display: block;
  /*height: 50px;*/
}
.calorie_log_summary_section h1,h2,h3,h4,h5,h6 ,
.exercise_log_summary_section h1,h2,h3,h4,h5,h6,
.health_log_summary_section h1,h2,h3,h4,h5,h6,
{
  margin-bottom: 5px;
}
.second_sub_head
{
  background: #EFEFEF;
}
.calorie_log_summary_section p, .exercise_log_summary_section p,
.health_log_summary_section p
{
  font-size: 16px;
  padding: 5px 0px;
  margin-bottom: 2px;
  word-wrap:break-word;
}
.calorie_log_summary_section ul, .exercise_log_summary_section ul,
.health_log_summary_section ul
{
  padding-right: 5px;
  margin-bottom: 5px;
}
.guage_meter_head_text
{
  color: #0071BE;
}
.health_goal_panel_body
{
  padding-top: 0px;
}
.health_daily_subhead
{
  border-radius: 7px 7px 0px 0px;
}
.health_daily_subhead_2
{
  border-radius: 0px;
}
.textbig
{
  font-size: 38px;
}
.guagemetercontain ul li
{
  margin: 5px auto;
}

.calorie_log_calendar_panel p
{
  padding: 2px;
  margin-bottom: 1px;
  font-size: 14px;
}
p.successcolor
{
  color: #7daa55;
}
p.boldclass
{
  font-weight: bold;
}
p.boldandcolor
{
  font-weight: bold;
  color: #1679C1;
}
.table_head_colorie
{
  background: #E0F2FF;
  color :#1679C1;;
}
.table_head_colorie .caloriehead
{
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}
.calendar_column_calorie
{
  padding-right: 0px;
}
.table_column_colorie
{
  position: relative;
  top: 42px;
  padding-left: 0px;
  padding-bottom: 0px;
}
.table_column_colorie.exelog_cal
{
  top: 43px;
}
.table_column_colorie.colorie_tbl table tbody tr
{
  /*height: 120px;*/
  height: auto;
}
.table_column_colorie.colorie_tbl.new_size_exerice table tbody tr
{
  /*height: 160px !important;*/
}
.table_column_colorie.colorie_tbl.new_size_colorie table tbody tr
{
  /*height: 160px !important;*/
}

.calorie_log_summary_section .btn-design,
.exercise_log_summary_section .btn-design,
.health_log_summary_section .btn-design
{
  background: #fff;
  padding: 5px 10px;
  border: 1px solid #1679C1;
  border-radius: 0px;
  color: #1679C1;
  white-space: normal;

}
.calorie_log_summary_section .bottom_line,
.health_log_summary_section .bottom_line
{
  background: #ccc;
  position: absolute;
  width: 90%;
  height: 1px;
  display: block;
  bottom: 0px;
}
.bottom_line.smallline
{
  width: 70%;
}
.calorie_panel
{
  border: transparent;
}
.exer_goal_panel
{
  background: transparent !important;
}
.calorie_panel .calorie_panel_head
{
  background: transparent;
  color: #1679C1;
  font-size: 20px;
  font-weight: bold;
  border-bottom: none;
}
.calorie_panel .calorie_panel_body
{
  border: 1px solid #d9d9d9;
  border-radius: 7px;
  padding-bottom: 0px;
  background: #fff;
}
.calorie_log_calendar_panel
{
  padding-left: 0px;
  padding-right: 0px;
}
.calorie_footer_table
{
  margin-left: 0px;
  margin-right: 0px;
  background: #F6FBFF;
  padding-left: 0px;
  padding-bottom: 0px;
  color: #1679C1;
  border: 1px solid #ccc;
  clear: both;
  border-radius: 0px 0px 5px 5px;
}
.calorie_footer_table .left_footer_col
{
  text-align: right;
}
.calorie_footer_table .right_footer_col
{
  border-left: 1px solid #ccc;
  padding-bottom: 10px;
}

#calorie-log-calendar .fc-toolbar,
#exercise-log-calendar .fc-toolbar
{
  position: relative;
  left: 15%;
}
#calorie-log-calendar .fc-prev-button.ui-button.ui-state-default.ui-corner-left,
#exercise-log-calendar .fc-prev-button.ui-button.ui-state-default.ui-corner-left
{
  position: absolute;
  left: 33%;
  top: 0px;
  background: none;
  border: none;
}
#calorie-log-calendar .fc-next-button.ui-button.ui-state-default.ui-corner-right,
#exercise-log-calendar .fc-next-button.ui-button.ui-state-default.ui-corner-right
{
  position: absolute;
  right: 33%;
  top: 0px;
  background: none;
  border: none;
}
#calorie-log-calendar h2, #exercise-log-calendar h2
{
  font-size: 18px;
  color: #1679C1;
}
#calorie-log-calendar .fc-row.ui-widget-header tr th,
#exercise-log-calendar .fc-row.ui-widget-header tr th
{
  background: #E0F2FF;
  padding: 8px;
  color: #1679C1 !important;
  border:1px solid #ccc;
}
#calorie-log-calendar .fc-head-container.ui-widget-header,
#exercise-log-calendar .fc-head-container.ui-widget-header
{
  border: 1px solid #ccc;
}
#calorie-log-calendar .ui-widget-content,
#exercise-log-calendar .ui-widget-content
{
  background: #fff;
}
#calorie-log-calendar .fc-day.ui-widget-content.fc-thu.fc-today.ui-state-highlight,
#exercise-log-calendar .fc-day.ui-widget-content.fc-thu.fc-today.ui-state-highlight
{
  background: #f2f2f2 !important;
  border: 1px solid #ccc !important;
}
#calorie-log-calendar .fc-row.fc-week.ui-widget-content.fc-rigid,
#exercise-log-calendar .fc-row.fc-week.ui-widget-content.fc-rigid
{
  height: 120px;
}
#calorie-log-calendar .fc-scroller.fc-day-grid-container,
#exercise-log-calendar .fc-scroller.fc-day-grid-container
{
  height: auto !important;
  overflow: hidden;
  overflow-y: auto;
}
#calorie_log_div .colorie_padding_bottom .health-sub-contain
{
  padding-bottom: 47px;
}
#exercise_log_div .exercise_padding_bottom .health-sub-contain
{
  padding-bottom: 26px;
}
#health_goal_div .health_padding_bottom .health-sub-contain
{
  padding-bottom: 45px;
}

.datepicker_contain
{
  font-size: 18px !important;
  color: #1679C1;
  text-align: center;
  padding: 2px 5px 10px 5px;
}
input.datepicker_calorie
{
  border: none;
  text-align: center;
  color: #1679C1;
}
.daily_subhead h4
{
   font-weight: normal;
   padding: 7px;
   font-size: 18px;
}
.daily_subhead
{
  color: #1679C1;
  background: #F0F8FF;
  border:1px solid #cce7ff;
  border-left: none;
  border-right: none;
}

.glyphicon-glass-grey{
    color:#CCCCCC;
}
.text-excess{
  color: #FF1A1A !important;
}
.text-deficit{
  color: #33CC33 !important;
}
.text-neutral{
  color: #FDE674 !important;
}

/*==========================================================================*/
/*End of Custom css for Food Weight, Exercise log and new dashboard page*/




/*  =====================For FOOD DIARY ============================== */
/*@font-face {
  font-family: myfont;
  src: url('/css/fonts/mynewfonts/vtks giz.ttf');
}*/

section.food-diary-section
{
  padding: 25px 15px 0px;
  color: #0073BC;
}
section.monthly-calorie-summary-section
{
  background: #F7FBFF;
  padding: 25px 15px 55px;
  color: #0073BC;
}
section.food-diary-section h1 {
  /*font-family: myfont;  */
  font-size: 42px;
}
section.monthly-calorie-summary-section h1
{
  color: #0073BC;
  font-size: 42px;
}

}
section.monthly-calorie-summary-section h2
{
  line-height: 1.6;
}
.tabs_food_recommand, .tabs_food_fav, .tabs_food_foods
{
  background: #fff;
  box-shadow: none;
  border: none;
}
.tabs_food_recommand ul.nav li a,
.tabs_food_foods ul.nav li a,
.tabs_food_fav ul.nav li a
{
  padding: 10px;
}
#food_meal_tabs_recom .nav-tabs
{
  border-bottom: none;
}
#food_meal_tabs_recom .nav-tabs > li.active > a,
#food_meal_tabs_recom .nav-tabs > li.active > a:focus,
#food_meal_tabs_recom .nav-tabs > li.active > a:hover,
#food_meal_tabs_fav .nav-tabs > li.active > a,
#food_meal_tabs_fav .nav-tabs > li.active > a:focus,
#food_meal_tabs_fav .nav-tabs > li.active > a:hover,
#food_meal_tabs_foods .nav-tabs > li.active > a,
#food_meal_tabs_foods .nav-tabs > li.active > a:focus,
#food_meal_tabs_foods .nav-tabs > li.active > a:hover,
#log_food_tab .nav-tabs > li.active > a,
#log_food_tab .nav-tabs > li.active > a:focus,
#log_food_tab .nav-tabs > li.active > a:hover,
.chartleft_contain .nav-tabs > li.active > a,
.chartleft_contain .nav-tabs > li.active > a:focus,
.chartleft_contain .nav-tabs > li.active > a:hover
{
  /*background: #E5232D;*/
  background: #e6f3ff;
  color: #0073bc;

}

#food_meal_tabs_recom .nav-tabs > li > a,
#food_meal_tabs_fav .nav-tabs > li > a,
#food_meal_tabs_foods .nav-tabs > li > a,
#log_food_tab .nav-tabs > li > a,
.chartleft_contain .nav-tabs > li > a
{
  /*background: #0071BE;*/
  background: #fff;
  color: #666666;
  border-radius: 0px;
  padding: 5px 12px;
  border: 1px solid #cce7ff;
  font-size: 13px;
}

.tabs_container ul
{
  padding-right: 0px;
}
.tabs_container li.list-group-item.li-border:first-child{
  border-right: 1px solid #fff;
  padding-left: 10px;
  padding-right: 10px;
}
.tabs_container li.list-group-item.li-border
{
  background: #CFEAFF;
  border: 1px solid #fff;
  padding: 7px 15px;
}

/*.recom_table, .fav_table
{
  background: #CFEAFF;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th,
.fav_table tbody tr:hover th
{
  background-color: #0071BE;
  color: #fff;
}
.recom_table tr td, .fav_table tr td, .fav_table tr td
{
  border: 1px solid #fff !important;
}*/


table tr td.date_picker {
  padding-right: 0px;
  padding-bottom: 0px;
}
span.caledar_custom i.fa
{
  /*color: #0071C1 !important;*/
  color: #777 !important;
}
span.caledar_custom
{
  background: #fff;
  cursor: pointer;
}
input.rightborder
{
  border-right: none !important;
}
table.table.borderless_table tr td.noborder
{
  border: 1px solid transparent !important;
}
table.table.borderless_table tr td.noborder-inner
{
  border: 1px solid transparent !important;
  /*border-top: 1px solid red !important;*/
}
table.table.borderless_table tr td.noborder-inner:last-child
{
  border-right: 1px solid #cce7ff !important;
}

table.table.borderless_table tr.toptr-border
{
  /*border-top: 1px solid #cce7ff !important;*/
}
table.table.borderless_table tr td.withborder
{
  /*border: 1px solid #cce7ff !important;  */
}
button.btndesign
{
  /*background: #0071BE;*/
  background: #D4EAF5;
  color: #2c8aba;
  border: 1px solid #acd7ec;
  padding: 5px 12px;
  margin: 1px 5px 2px;
  border-radius: 0px;
}
button.btndesign:hover,
button.btndesign:focus
{
  /*background: #0071BE;*/
  background: #c1e1f0;
  border: 1px solid #6eb8dd;
  color: #277ba5;
}
button.btndesign:disabled
{
  /*background: #3366cc;*/
  background: #eee !important;
  color: #333333 !important;
  border-color: #cccccc !important;
  border:1px solid #2952a3;
}
a.btndesign
{
  background: #D4EAF5;
  color: #2c8aba;
  border: 1px solid #acd7ec;
  padding: 5px 12px;
  margin: 1px 5px;
  border-radius: 0px;
}
a.btndesign:hover,
a.btndesign:focus
{
  background: #c1e1f0;
  border: 1px solid #6eb8dd;
  color: #277ba5;
}
button.btndesign1
{
  /*background: #0071BE;*/
  background: #D4EAF5;
  color: #2c8aba;
  border: 1px solid #acd7ec;
  padding: 6px 12px;
  margin: 0px;
  border-radius: 0px;
}
button.btndesign1:hover,
button.btndesign1:focus
{
  /*background: #0071BE;*/
  background: #D4EAF5;
  color: #277ba5;
  border: 1px solid #acd7ec;
}
button.btndesign1:disabled
{
  background: #eee !important;
  color: #333333 !important;
  border-color: #cccccc !important;
}
.custom-datepicker_ul button.btndesign
{
  background: #0071BE;
  color: #fff;
  border: 1px solid #006bb3;
}
/*.btndesign1.enabled{
  background: red !important;
}*/
/*button.btndesign1:disabled,
button.btndesign1:hover
{
  background: #eee !important;
  color: #333333 !important;
  border-color: #cccccc !important;
}*/
span.btndesign
{
  background: #0071BE;
  color: #fff;
}


ul.list-inline.datepicker_ul {
  padding-right: 0px;
  margin-bottom: -5px;
  text-align: right;
}
ul.list-inline.datepicker_ul.report_datapicker {
  padding-right: 0px;
  margin-bottom: -5px;
  text-align: center;
}
.datepicker_box input {
  border-right: none !important;
}
ul.list-inline.datepicker_ul.report_datapicker label {
  color: #337AB7;
}
.datepicker_ul .form-control, .datepicker_ul .input-group-addon
{
  border-radius: 0px;
}

ul.list-inline.datepicker_ul > li {
  display: inline-table;
}
ul.datepicker_ul li label.data_label {
  position: relative;
  top: -12px;
  padding: 5px;
}
ul.datepicker_ul li label.data_label.middle_lbl_li
{
  vertical-align: middle;
}

i.fa.facolor
{
  color: red;
}
.food_dairy_block table tr td.sidecolor
{
  /*background: #F0F8FF;*/
}
.text-leftside
{
  text-align: left !important;
}
.first-td-border
{
  /*border-right: 1px solid #cce7ff !important;
  border-left: 1px solid #cce7ff !important;
  border-bottom: 1px solid #cce7ff !important;*/
  width: 25%;
}
.td-border-none{
  border: none !important;
}
.calorie-subhead-td
{
  background: #1272BC;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 6px !important;
}
.food_last_row
{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 16px 0;
  margin: 10px auto 5px;
}
.sidebar_foods h1,h2,h3,h4,h5,h6
{
  margin-bottom: 1px;
  line-height: 1.6;
}

textarea.textcolor
{
  background: #f2f2f2
}
ul.centertext
{
  padding-right: 0px;
}
ul.centertext li
{
  text-align: center;
}
.second_row_foot
{
  border-left: 1px solid #ccc;
}
.row.footnoterow
{
  padding-left: 25px;
}

/*Monthly Calorie Summary*/
table.table.calendar_table_side tbody tr td, table.table.calendar_table_side thead tr th
{
  /*border: 1px solid #b3dfff !important;*/
}
.calendar_table_head
{
  background: #E0F2FF;
  color: #0073BC;
  text-align: center;
  height: 40px;
}
.calendar_portion
{
  padding-right: 0px;
}
.calendar_portion_total
{
  padding-left: 0px;
}
.monthly_calendar_footer
{
  border: 1px solid #b3dfff;
  border-top: none;
  border-right: none;
  background: #fff;
  text-align: right;
}
.monthly_calendar_footer p
{
  font-weight: bold;
}
.monthly_calendar_footer.monthly_rightside
{
  text-align: left;
  padding-left: 10px;
  border-right: 1px solid #b3dfff;
}
.monthly_calendar_footer p.footer_para
{
  font-size: 16px;
  font-weight:bold;
  position: relative;
  top: 10px;
  right: 10px;
}
#monthly-calorie-calendar .fc-view-container table thead tr
{
  height: 40px;
}
#monthly-calorie-calendar .fc-view-container table thead tr th
{
  vertical-align: middle;
  color: #0073BC;
  background: #E0F2FF;
}
#monthly-calorie-calendar .fc-day.ui-widget-content
{
  background: #fff;
}
#monthly-calorie-calendar.fc td, .fc th
{
  border-color: #b3dfff;
}
#monthly-calorie-calendar .fc-scroller.fc-day-grid-container
{
  height: 1081px !important;
}
#monthly-calorie-calendar .fc-row.fc-week.ui-widget-content.fc-rigid
{
  height: 180px !important;
  overflow: visible;
}
table.calendar_table_side
{
  color: #000;
  margin-bottom: 0px;
}
table.calendar_table_side p
{
  font-size: 14px;
  font-weight: bold;
}

.defict_color
{
  color: #6cc969;
}
.sameHieghtCalender_exe
{
  /*height: 180px;*/
}
table.calendar_table_side tbody tr
{
  /*height: 180px;*/
}
table.calendar_table_side tbody tr td
{
  background: #fff;
}

/*  =====================End of FOOD DIARY ============================== */




/*======= Toplinks =======*/
.toplinks {
  padding:0;
  float:right;
  margin-left:15px;
  line-height:normal;
  padding-top:1px;

}
.toplinks .links {

}
.toplinks .links li {
  display:inline;
  text-align:right;
  float:left
}
.toplinks ul.links li a {
  color: black;
  display: inline-block;
  padding:0px;
  border-right: 0px solid #cacaca;
  color:#777 !important;
  font-size:13px;
  padding-left:25px
}
.toplinks ul.links li a:hover {
  color: #2FDAB8;
}
.toplinks ul.links li.first a {
  padding-left: 0;
}
.toplinks ul.links li.last a {
  border: none;
  padding-right:0
}
.toplinks>ul>li.wishlist>a:before {
  content:'\f004';
  font-family: FontAwesome;
  font-size:13px;
  padding-right:6px
}
.toplinks>ul>li.login>a:before {
  content:'\f13e';
  font-family: FontAwesome;
  font-size:14px;
  padding-right:6px
}
.toplinks>ul>li.logout>a:before {
  content:'\f09c';
  font-family: FontAwesome;
  font-size:14px;
  padding-right:6px
}
.toplinks .links li .click-nav {
}
.toplinks .links li .click-nav ul {
  padding:0;
  margin:0
}
.toplinks .links li .click-nav ul li {
  position:relative;
  list-style:none;
  cursor:pointer;
}
.toplinks .links li .click-nav ul li ul {
  position:absolute;
  left:0px;
  right:0;
  z-index:999
}
.toplinks .links li .click-nav ul .clicker {
  background:none;
  color:#777;
  text-shadow:none !important;
  font-size:13px;
  padding:0px;
  padding-left:25px;
  line-height:19px;
  width:auto;
  border-bottom:none
}
.toplinks .links li .click-nav ul .clicker:hover {
  background:none;
  color:#eee
}
.toplinks .links li .click-nav ul .clicker:hover, .click-nav ul .active {
  color:#333 !important;
}
.click-nav img {
  position:absolute;
  top:9px;
  left:12px;
}
.toplinks .links li .click-nav ul li a {
  transition:background-color 0.2s ease-in-out;
  -webkit-transition:background-color 0.2s ease-in-out;
  -moz-transition:background-color 0.2s ease-in-out;
  display:block;
  padding:10px 10px;
  color:#fff;
  text-decoration:none;
  font-size:12px;
  text-align:left;
  border-bottom:1px #000 solid;
  width:130px
}
.toplinks .links li .click-nav ul li a:hover {
  color:#eee !important;
}
.toplinks .links li .click-nav .no-js ul {
  display:none;
  z-index:99999;
  width:150px
}
.toplinks .links li .click-nav .no-js:hover ul {
  display:block;
  background:#222;
  width:150px;
  margin-left:0px;
  border:1px #111 solid;
  padding:0;
}
.toplinks .links li .click-nav .no-js:hover ul li a {
  color:#666;
}
.toplinks .links li .click-nav .no-js:hover ul li a:hover {
  color:#333;
}
.toplinks .links li .click-nav ul li ul.link {
  padding:8px 0;
  border-top:1px #111 solid
}
.toplinks .links li .click-nav ul li ul.link li {
  padding:0px 0
}
.caret:after {
  /*content: "\f107";*/
  display: inline-block;
  vertical-align: top;
  width: 5px;
  margin:1px 0px 0 4px;
  font-family: 'FontAwesome';
}
.toplinks .links div {
  display: inline;
  text-align: right;
  float: left;
}
.toplinks div.links div a {
  color: black;
  display: inline-block;
  padding: 0px;
  border-right: 0px solid #cacaca;
  color: #fff;
  font-size: 19px;
  padding-left: 25px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 700;
   text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}
.toplinks div.links div a:hover {
  color: #2FDAB8;
}
.toplinks div.links div.first a {
  padding-left: 0;
}
.toplinks div.links div.last a {
  border: none;
  padding-right: 0;
}
.toplinks>div>div.login>a:before {
  content: '\f007';
  font-family: FontAwesome;
  font-size: 18px;
  padding-right: 6px;
}

.toplinks>div>div.login>a:after {
  font-family: FontAwesome;
    content: "\f107";
    padding-left: 10px;
}
.toplinks>div>div.logout>a:before {
  content: '\f09c';
  font-family: FontAwesome;
  font-size: 14px;
  padding-right: 6px;
}
.toplinks .links div .click-nav {
}
.toplinks .links div .click-nav ul {
  padding: 0;
  margin: 0;
}
.toplinks .links div .click-nav ul li {
  position: relative;
  list-style: none;
  cursor: pointer;
}
.toplinks .links div .click-nav ul li ul {
  position: absolute;
  left: 0px;
  right: 0;
  z-index: 999;
}
.toplinks .links div .click-nav ul .clicker {
  background: none;
  color: #777;
  text-shadow: none!important;
  font-size: 13px;
  padding: 0px;
  padding-left: 25px;
  line-height: 19px;
  width: auto;
  border-bottom: none;
  padding-bottom:10px
}
.toplinks .links div .click-nav ul .clicker:hover {
  background: none;
  color: #2FDAB8;
}
.toplinks .links div .click-nav ul .clicker:hover, .click-nav ul .active {
}
.click-nav img {
  position: absolute;
  top: 9px;
  left: 12px;
}
.toplinks .links div .click-nav ul li a {
  transition:background-color 0.2s ease-in-out;
  -webkit-transition:background-color 0.2s ease-in-out;
  -moz-transition:background-color 0.2s ease-in-out;
  display:block;
  padding:6px 15px;
  color:#fff;
  text-decoration:none;
  font-size:13px;
  text-align:left;
}
.toplinks .links div .click-nav ul li a:hover {
  color: #2FDAB8!important;
}
.toplinks .links div .click-nav .no-js ul {
  display: none;
  z-index: 99999;
  width: 150px;
}
.toplinks .links div .click-nav .no-js:hover ul {
  display:block;
  background:#222;
  border-top:2px #ffe51e solid;
  padding:10px 0px;
  width:140px;
  border-bottom:4px #ffe51e solid;
  margin-left:0px;
  top:25px
}
.toplinks .links div .click-nav .no-js:hover ul li a {
  color: #fff;
}
.toplinks .links div .click-nav .no-js:hover ul li a:hover {
  color: #fff;
}
.toplinks .links div .click-nav ul li ul.link {
  padding: 8px 0;
  border-top: 2px #000 solid;
}
.toplinks .links div .click-nav ul li ul.link li {
  padding: 0px 0;
}
.mob-links{ display:none}

#primary_nav_wrap .ul-subcontainer li a:hover
{
  color:#FFF !important;
}
/*======= End Toplinks =======*/

/*======= top header user dropdown  =======*/
#primary_nav_wrap.drop2{margin:0;}


#primary_nav_wrap.drop2 .arrow-log{
color: #002766;
font-size: 18px;
/*padding: 10px 0px;*/
}
#primary_nav_wrap.drop2 .arrow-log:before{
  content: '\f007';
font-family: FontAwesome;
font-size: 18px;
padding-right: 6px;
}
#primary_nav_wrap.drop2 .user-logged{
    color: #1c77bd;
  display: inline-block;
  position: absolute;
  top: 18px;
  left: 0;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
}

#primary_nav_wrap.drop2 .inner-drop:before{
content: url(images/dropdown-login-bg-tri.png);
  position: absolute;
top: -25px;
right: 50px;


}

#primary_nav_wrap.drop2 .inner-drop{
width: 400px;
/*height: 315px !important;*/
box-shadow: 1px 5px 15px 1px #565656 !important;
border: 8px solid #1f7bc1;
border-radius: 5px;

}

#primary_nav_wrap.drop2 .inner-drop li a{
  padding: 5px 15px !important;
}

#primary_nav_wrap.drop2 .inner-drop li a:hover{
  color:white;
}

.div-myaccount-container{
margin-top: 30px;
float: right !important;
}

.ul-subcontainer{
  width: 180px;
display: inline-block;
float: none;
vertical-align: top;
text-align: left !important;
}

.ul-subcontainer li{
width:100% !important;

}
.div-aff-container { margin-left: 25px;}
.div-aff-container p{
background:url(https://genemedicsnutrition.com/skin/frontend/rwd/innova/images/aff-login.png) no-repeat;
background-position:left;
padding-left:30px;
}

.arrow-log:after{
 font-family: FontAwesome;
  content: "\f107";
padding-left: 10px;

}

#primary_nav_wrap.drop2 .inner-drop > lable{
max-width: 0px !important;
}

.user-logged {
max-width: none !important;
}

/*======= end top header user dropdown  =======*/

/*======= footer share buttons  =======*/
@media screen {
  #share-buttons {
      position: relative;
  }
  #share-buttons img {
      /*padding-bottom: 5px;*/
  }
  #share-buttons .cont {
      background-color: rgba(0, 0, 0, 0.2);
      display: none;
      padding: 10px;
      position: absolute;
      z-index: 9;
  }
  #share-buttons .cont:hover {
      display: block;
  }
  #share-buttons:hover .cont {
      display: block;
  }
  #share-buttons .cont a {
      font-size: 15px;
      line-height: 18px;
      margin: 0;
  }


  #footer-top li {
      border-right: 1px solid #fff;
      padding: 0 10px;
  }
  #footer-top li a {
      font-size: 15px;
      line-height: 29px;
  }
  #footer-top li:last-child {
      border-right: medium none;
      padding-right: 0;
  }
  .footer-top-menu .medias {
      /*position: absolute;
      right: 0;
      top: 0;*/
      display: inline-block;
    }
}

@media (min-width: 1400px) {
  .footer-top-menu h4, .footer-top-menu a {
      font-size: 19px;
  }
  #footer-top li a {
      font-size: 14px;
      line-height: 34px;
  }
}
@media (min-width: 1600px) {
  #footer .left, #footer .main-menu > li > a {
      font-size: 13px;
  }
  .footer-top-menu h4 {
      line-height: 32px;
  }
  #footer-top li a {
      font-size: 17px;
      line-height: 32px;
  }
  .footer-top-menu .medias li .fa {
      font-size: 23px;
      line-height: 38px;
      width: 38px;
  }
}

@media (min-width: 2400px) {
  .medias li {
      padding-right: 10px;
  }
  #share-buttons img {
      padding-bottom: 16px;
      width: 140px;
  }
  #share-buttons .cont a {
      font-size: 22px;
      line-height: 30px;
  }
  .footer-top-menu .medias li .fa {
      font-size: 33px;
      line-height: 60px;
      width: 60px;
  }

  .footer-top-menu .footer-top-wrap {
      padding: 0 51px;
  }
  #footer-top li a {
      font-size: 31px;
      line-height: 55px;
  }
}

@media only screen and (max-width: 768px){
  .footer-top-menu .medias {
      position: relative;
  }
}
@media only screen and (max-width: 360px){
  .footer-top-menu .medias {
      position: relative;
  }

  .footer-top-menu .medias li .fa {
      font-size: 15px;
      line-height: 26px;
      width: 26px;
  }
  .foodExe_diayUL h5
  {
    font-size: 14px !important;
  }
}
/*======= end footer share buttons  =======*/

#mainpanel{
  /*margin-top: 187px;*/
}


@media only screen and (min-width: 768px) and (max-width: 1199px){
  #mainpanel{
     margin-top:64px
  }
  .guagemeterdemo-measure
  {
    width:6vw !important;
    height: 3vw !important;
  }
  .back_btn
  {
    margin-top: 3px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px){
   .guagemeterdemo-measure
    {
      width: 10vw !important;
      height: 5vw !important;
    }
}
/* dashboard page*/


/* gauge meter css  */
.guagemetercontain
{
    /*background: red;   */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: auto;
    text-align: center;
}
.guagemetercontain.bodymeasure
{
  margin-top: 0px;
}
.guagemetercontain.bodymeasure .textbig
{
  font-size: 20px;
}

.guagemeterdemo {
    position: relative;
    width:6vw;
    height: 3vw;
    box-sizing: border-box;
    float:left;
    margin:5px auto;
    /*background-color: red;*/
}
.guagemeterdemo-measure
{
  position: relative;
  width:4vw;
  height: 2vw;
  box-sizing: border-box;
  float:left;
  margin:5px auto;
}

.guagemetercontain ul li
{
    vertical-align: bottom;
}
svg:not(:root) {
    overflow: visible;
}

/* datepicker div */
.datepicker_box{
  width: 130px;
}

.body-measure-labels
{
    /*background: red;*/
    float: left;
    line-height: 25px;
    position: absolute;
    left: 10px;
    top: 10px;
    /*bottom: 0;*/
    right: 20px;
    margin-bottom: 10px;
}
.body-measure-labels.pos_relative
{
  position: relative !important;
}
.body-measurelast-labels
{
    float: left;
    line-height: 25px;
    font-weight: bold;
    position: absolute;
    left: 70px;
    top: 10px;
    /*bottom: 0;*/
    margin-bottom: 10px;
}
.body-measurelast-labels-goal
{
    float: left;
    line-height: 25px;
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: 10px;
    /*bottom: 0;*/
    margin-bottom: 10px;
}
.body-measurelast-labels-goal.pos_relative_last
{
  position: relative !important;
}

/*This is for Chart*/
#chartdiv1, #chartdiv2, #chartdiv3, #chartdiv2-1, #chartdiv2-2, #chartdiv2-3
{
    width   : 100%;
    height  : 145px;
    /*background: red;*/
}
#chartdiv3
{
    height: 280px;
}
#chartdiv2-1
{
    height: 145px;
}

.health-sub-heading
{
    border-right: 1px solid #ccc;
    padding-left: 1px;
}

.health-sub-contain
{
    padding-bottom: 0px;
    padding-left: 5px;
    border-right: 1px solid #ccc;
    padding-right: 3px;
}

.borderrightnone
{
    border-right: none;
}

.row.headrow-samecolumnheight
{
    display:  flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap; /* Safari 6.1+ */
}
.out-row-panel{
  margin: 20px;
  border: none;
}
.health-sub-contain:first-child
{
    padding-left: 10px;
}
.health-sub-contain:last-child
{
    border-right: none;
}
.health-sub-heading:last-child
{
    border-right: none;
}/* end of dashbord page*/


/* Weight page csss*/
.panel.weight_diary_panel_size
{
  /*background: red;
  height: auto;*/
}

.tab_chart_row
{
  padding-top: 1px;
  padding-bottom: 10px;
}
.tab_chart_row .weight_body_fat_row,
.tab_chart_row .body_measure_row
{
  display: flex;
  -webkit-display:flex;
  /*height: 88%;*/
  min-height:400px;
  flex-wrap: wrap;
}
.tab_chart_row table
{
  font-size: 13px;
}

section.weight_body_section
{
  padding: 30px 15px 40px 15px;
}
.chartleft_contain .tab-content
{
  background: #F0F8FF !important;
  border: 1px solid #cce7ff !important;
}
.chartleft_contain .nav.nav-tabs
{
  border-bottom: none;
}
.chartleft_contain .nav.nav-tabs a
{
  border-radius: 0px;
  padding:4px 12px;
}
.chartleft_contain .datepicker_contain_chart
{
  padding: 10px 10px 2px 10px;
  border-bottom: 2px solid #cce7ff;
}
.chartleft_contain .chart_contain_part
{
  padding: 10px;
}
.chartleft_contain .datepicker_contain_chart ul li
{
  padding: 2px;
}
.chartleft_contain .datepicker_contain_chart ul li label.label_contain_li
{
  padding: 0px !important;
}
.chartleft_contain .datepicker_contain_chart ul li.date_contain_li
{
  width: 30%;
}
.chartleft_contain .datepicker_contain_chart ul li.date_contain_li.rightpart_dateli
{
  width: 20%;
}
.date_contain_li
{
   width: 125px !important;
}
.chartleft_contain .datepicker_contain_chart ul li input.form-control,
.chartleft_contain .datepicker_contain_chart ul li span.input-group-addon
{
  border-radius: 0px;
}

.panel_head_background
{
  background: #F0F8FF !important;
  color: #0073BC !important;
  font-weight: bold;
  font-size: 14px;
  padding: 6px 5px;
  border-bottom: 1px solid #cce7ff !important;
}
.panel.weight_body_panel, .panel.body_measure_panel
{
  border:1px solid #cce7ff !important;
  border-radius: 0;
}
.title_head_line
{
   border-bottom: 5px solid #E50000;
}
.body_weight_goal_table
{
  height: 100%;
  border: none !important;
}
.body_weight_goal_table.not-full_tbl_height
{
  height: auto;
}
.table.body_weight_goal_table tbody tr th
{
  border-top: none !important;
}
.table.body_weight_goal_table tbody tr td
{
  border-top: 1px solid #cce7ff !important;
}
.table.w_goal_m_othertable
{
  /*height: 100%;*/
}
.table.w_goal_m_othertable tbody tr td
{
  border: none !important;
}
.table.history_table
{
  height: 95%;
}
.table.history_table thead tr th, .table.history_table tbody tr td
{
  border: 1px solid #cce7ff !important;
  text-align: center;
  color: #777;
}
.weight_body_part2, .body_meausre_part2
{
  padding-left: 0px;
  padding-right: 0px;
}
.weight_mesaure_redlabel
{
  color: #E5232D;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  vertical-align: middle !important;
}
.last_btnbottom
{
  vertical-align: middle;
  text-align: center;
}
.last_btnbottom.history_btn
{

  vertical-align: middle;
}
.saperator
{
  height: 15px;
  background: transparent;
  display: block;
}

.tab_chart_row input.form-control
{
  font-size: 13px;
  padding: 6px 4px;
}
.tab_chart_row .form-control,
.add_custom_food_form .form-control
{
  border-radius: 0px !important;
}
.tab_chart_row .input-group-addon,
.add_custom_food_form .input-group-addon
{
  border-radius: 0px !important;
}

table, th, td {
            /*border: 1px solid black;*/
            }
            .leftspan{
              margin-left:60px;
            }
            .leftsmall{
             margin-left:20px;
            }
            .leftavg{
               margin-left:50px;
            }
            .majorleft{
              margin-left:180px;
            }
            .secondiv{
             width: 100%;
             height: 300px;
             background: transparent;
             /*background-color: #FFFFFF;*/
            }
            .firstdiv{
              width: 100%;
              height: 300px;
              background: transparent;
              /*background-color: #FFFFFF;*/
            }
            .panel-body.panel-container
            {
              padding-bottom:0px;
              padding-top: 0px;
            }
            .goal_date_table
            {
              margin-bottom:0px;
            }
            .datebox
            {
              padding-bottom:10px;
            }

            .weight_body_part1, .weight_body_part2
            {
              border-right: 1px solid #cce7ff;
            }
            .body_meausre_part1, .body_meausre_part2
            {
              border-right: 1px solid #cce7ff;
            }

            /*Media Query*/
            @media(min-width: 1024px) and (max-width: 1490px){
              .wight_body_portion, .body_measure_portion
              {
                padding-left:10px;
                padding-right:10px;
              }
              .wight_body_portion .panel, .body_measure_portion .panel
              {
                /*min-height: 410px;*/

              }
              .body_meausre_part1
              {
                padding: 0px !important;
                /*width:24% !important;*/
              }
              .body_meausre_part2
              {
                padding-left: 0px;
                padding-right: 0px;
                /*width:24% !important;*/
              }

              .body_meausre_part3, .weight_body_part3
              {
                padding: 0px !important;

              }
              .body_meausre_part3 table.table tr td, .body_meausre_part3 table.table tr th,
              .weight_body_part3 table.table tr td, .weight_body_part3 table.table tr th
              {
                padding:8px;
              }

              .datepicker_box input.form-control
              {
                padding: 6px 1px;
              }
              .weight_body_part1
              {
                padding: 0px !important;
              }
            }

              .title_head_line_pulse_bp
               {
                  border-bottom: 5px solid #E50000;
               }
               .btndesign2{
                  font-size: 16px;
                  margin-top: -6px;
                  border-radius: 0px;
                  height: 42px;
               }

               .chartleft_contain .chart_contain_part_bp {
                padding: 10px;
                height: 360px;
               }
               .table.history_table
               {
                 font-weight: normal;
               }



            /* end weight page css*/
/* header sub menu */
@media screen and (min-width: 1200px){
  #menu-main-menu > .patient-login{
    background-color: #f3f3f3 !important;
  }
  #menu-main-menu .patient-login {
    background-color: #f3f3f3 !important;
  }
}


/* end header sub menu */

/* loaders */
.log_food_loader{
  width:96%;
  height:36%;
  position:absolute;
  z-index:1000;
  background-size: 100px 100px;
  background:  rgba( 255, 255, 255, .8 ) url('/img/small-loader.gif') center content-box no-repeat;
}
.search_food_loader{
  width:90%;
  height:64px;
  position:absolute;
  z-index:1000;
  background-size: 100px 100px;
  background:  rgba( 255, 255, 255, .8 ) url('/img/small-loader.gif') center content-box no-repeat;
}
.custom_food_loader{

  width:93%;
  height:83%;
  position:absolute;
  z-index:10;
  background-size: 100px 100px;
  background:  rgba( 255, 255, 255, .8 ) url('/img/small-loader.gif') center content-box no-repeat;
}
.custom_food_grid_loader{

  width:90%;
  height:45%;
  position:absolute;
  z-index:10;
  background-size: 100px 100px;
  background:  rgba( 255, 255, 255, .8 ) url('/img/small-loader.gif') center content-box no-repeat;
}
.diary_summary_loader{

  width:60%;
  height:95%;
  position:absolute;
  z-index:10;
  background-size: 100px 100px;
  background:  rgba( 255, 255, 255, .8 ) url('/img/small-loader.gif') center content-box no-repeat;
}
/* end loaders*/

/* dd-menu */

.dd-dataset {
  width: 100% !important;
  margin-top: 0px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.dd-dataset li{
  list-style: none;
}
.dd-dataset p{
  margin-bottom: 4px !important;
}
.dd-suggestion{
  width: 100% !important;
  padding: 2px 10px;
  font-size: 12px;
  line-height: 14px;
  background-color: #ffffff;
  cursor: pointer;
}
.dd-suggestion:hover {
  background-color: #1bbae1!important;
  border-radius: 4px;
  color: #FFFFFF !important;
}

.dd-menu{
  width: 91% !important;
}
/* end dd-menu  */

button.btndesign-default{
  border-radius : 0;
   padding: 10px 20px;
}
table, th, td {
    border: medium none;
}
.add_food_modal_body{
  height: 500px;
  overflow-y: scroll;
}

.datepicker_box input.form-control
{
  padding: 1px 6px;
}
.saperator-50
{
  height: 50px;
  background: transparent;
  display: block;
}

.footnoterow h4 a
{
  font-size: small;
}
.section-page{
    padding: 30px 15px 40px 15px;
     color: #0073BC;

}
.text-light-blue{

  color: #337ab7;
}
.section-panel{
  padding: 30px 15px 40px 15px;
}

@-moz-document url-prefix() {
    .sync-moz{
    float: right;
    margin-top: -15px !important;
    }
}

.sync {
    float: right;
    }

.nobottom-margin{
      margin-bottom: 0;
    }
    .exercise-goal-text{
      color: #E64366;
    }

    .red-text{
      color: #e5232d;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
    }
    .edit-link{
      font-size: small;
    }
    .no-border-radius{
      border-radius: 0px;
    }
    .sidebar-select-box{
      width: 100%;
      background: #61befd;
    }

    .monthly-exercise-summary .list-inline > li{
      padding-left: 0;
      padding-right: 0;
    }

    .text-success{

      color: #33CC33 !important;
    }
    .text-adjusted{
      color: #FDE674 !important;
    }
    .text-missed{

      color: #FF1A1A !important;
    }


   .title_head_line_pulse_bp
   {
      border-bottom: 5px solid #E50000;
   }
   .btndesign2{
      font-size: 16px;
      margin-top: -6px;
      border-radius: 0px;
      height: 42px;
   }


   .chartleft_contain .chart_contain_part_bp {
    padding: 10px;
    height: 360px;
   }
   .table.history_table
   {
     height: auto;
     font-weight: normal;
   }
  @media(min-width: 1024px) and (max-width: 1490px){
              .wight_body_portion_bp, .body_measure_portion_bp
              {
                padding-left:10px;
                padding-right:21px;
                margin-top: -11px;
              }
   }
   .green{
      color:#6CC969 !important;
   }
   .yellow{
      color:#cccc00 !important;
   }
   .red{
      color:#ff6666 !important;
   }
   .font_left{
    float: right;
   }


   #food_meal_tabs_fav .nav.nav-tabs,
   #food_meal_tabs_foods .nav.nav-tabs
   {
    border-bottom: none;
   }
   .footercal_side
   {
    padding: 0px;
    /*background: #fff;*/
    padding-left: 15px;
   }
   .footercal_side.footercal_side_right
   {
    padding-left: 0px;
    padding-right: 15px;
   }
   .row.datepicker_contain_row
   {
    padding-top: 10px;
   }

   .datepicker_box.g_dp_box
   {
      width: auto;
   }

   .pb_pulse_row_position
   {
    position: relative;
    left: 12%;
   }
   .fromto_input_bp_contain
   {
    width: 30%;
   }
   .from_lbl_pb
   {
    width: 15%;
   }
   .to_lbl_pb
   {
    width: 10%;
   }

   .from_bp_input
   {
    width: 75% !important;
   }
   .recom_lbl
   {
    padding-left: 10px !important;
   }

   .header-top-fixed-menu{
      top:-122px !important;
    }
    .mainpanel-scroll{
      margin-top: 62px !important;
    }
    .mainpanel-scroll-0{
      margin-top: 0px !important;
    }
    .content-start-after-scroll{
      margin-top: 110px !important;
    }
    .mainpanel-scroll-other{
      margin-top: 160px !important;
    }
    #menu-main-menu .sub-menu li a{
      /*padding: 26px;*/
    }
    #menu-main-menu .sub-menu li{
      padding: 0;
    }


      #glass {
             position: relative;
          }
      #water_intake {
         position: absolute;
         top: 60px;
         left: 56px;
         z-index: 1;
      }

    .panel_head_log_food
    {
      padding: 6px 12px;
    }
    .panel-body.panel-contain_div_logfood
    {
      border:1px solid #cce7ff;
      border-left: none;
      border-right: none;
      border-top: none;
    }
    p.theme_text_p_lg
    {
      color: #0073BC;
      font-family: "roboto_condensedregular";
      font-size: 20px;
    }
    p.theme_text_p_lg_md
    {
      color: #0073BC;
      font-family: "roboto_condensedregular";
      font-size: 16px;
    }
    p.theme_text_p_mideum
    {
      color: #0073BC;
      font-family: "roboto_condensedregular";
      font-size: 15px;
    }
    p.theme_text_p_small
    {
      color: #0073BC;
      font-family: "roboto_condensedregular";
      font-size: 14px;
    }
    p.food_log_normalbold
    {
      font-size: 14px;
      font-weight: bold;
      font-family: "roboto_condensedregular";
    }
    p.tag_text_normal
    {
      font-size: 13px;
      font-weight: bold;
      font-family: "roboto_condensedregular";
    }
    a.text-red_food
    {
      color: #E5232C;
      font-size: 14px;
    }
    .btn-space-contain
    {
      padding: 10px 5px;
    }
    .btn_group_search
    {
      border-radius: 0px;
    }
    .btn_group_search .form-control
    {
      border-radius: 0px;
      border: 1px solid #cce7ff;
    }
    .btn_group_search .input-group-addon
    {
      border-radius: 0px;
      /*background: #019BFF;*/
      /*color: #fff;*/
      border: 1px solid #cce7ff;
    }
    #tabs_logfood
    {
      border-bottom: none;
    }
    .logfood_tab_details
    {
      background: #F0F8FF;
      border: 1px solid #cce7ff;
      padding: 8px;
      min-height :100px;
    }
    .tbl_tab_food_log table.table.tbl_log_food
    {
      background: #fff;
    }
    table.tbl_log_food
    {
      margin-bottom: 0px;
    }
    .tbl_tab_food_log table.table.tbl_log_food thead tr th
    {
      text-align: center;
    }
    .tbl_tab_food_log table.table.tbl_log_food tbody tr td
    {
      border: 1px solid #cce7ff;
      vertical-align: middle;
    }
    .tbl_tab_food_log table.table.tbl_log_food thead tr th
    {
      border: 1px solid #cce7ff !important;
      vertical-align: middle;
    }
    .tbl_tab_food_log table.table.tbl_log_food thead tr th:first-child
    {
      /*border-right: none !important;*/
    }
    .tbl_tab_food_log table.table.tbl_log_food thead tr th:nth-child(2)
    {
      border-left: none !important;
    }
    .datepicker_new_design input.form-control
    {
      background: #fff;
      border-right: none;
    }

    .main_title_all_row
    {
      padding: 10px 0px;
    }
    .white_datepickterbox input.form-control
    {
      background: #fff;
      border-right: none;
    }
    td.inner-table_td
    {
      padding: 0px !important;
    }
    td.inner-table_td table
    {
      margin-bottom: 5px;
    }
    .logdate_btn
    {
      margin-left: 0px !important;
    }


    /*===========For Responsive Table=========================*/
    @media only screen and (max-width: 800px)  {
        .reponsive_table_structure table,
        .reponsive_table_structure thead,
        .reponsive_table_structure tbody,
        .reponsive_table_structure th,
        .reponsive_table_structure td,
        .reponsive_table_structure tr,

        #responsive_food_table table,
        #responsive_food_table thead,
        #responsive_food_table tbody,
        #responsive_food_table th,
        #responsive_food_table td,
        #responsive_food_table tr
        {
          display: block;
        }
      .reponsive_table_structure thead tr,
      #responsive_food_table thead tr
      {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      .reponsive_table_structure tr
      { border: none; }


      .reponsive_table_structure td,
      #responsive_food_table td
      {
      /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
        white-space: normal;
        text-align:left;
        border: none !important;
      }
      .reponsive_table_structure td:before,
      #responsive_food_table td:before
      {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: right;
        font-weight: bold;
      }
      #responsive_food_table td:before
      {
        color: #868080;
      }
      .reponsive_table_structure td:before,
      #responsive_food_table td:before
      { content: attr(data-title); }

      #responsive_food_table tbody tr.toptr-border.last_tr
      {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }

      /*#responsive_food_table tr td.head_slide_foodtbl_td
      {
        border-bottom : 1px solid #cce7ff !important;
      }*/
      .first-td-border{
        width:auto;
      }
      #responsive_food_table .table-bordered
      {
        border: 1px solid #cce7ff;
      }

      /*#responsive_food_table tr.toptr-border
      {
        border:1px solid #cce7ff;
      }*/
      #responsive_food_table tr
      {
        border: 1px solid #e6e6e6;
        /*border:1px solid #cce7ff;*/
        border-bottom: none;
      }

      #responsive_food_table tr.toptr-border:not(:first-child)
      {
        /*border-top: none;*/
      }
      .custom_food_dairy_block table tr.toptr-border
      {
        background: #f2f2f2;
      }
      .custom_food_dairy_block table tr.total_tr:last-child
      {
        border-bottom: 1px solid #e6e6e6 !important;
      }
  }

  @media only screen and (max-width: 1200px) {
        #reponsive_table_structure table,
        #reponsive_table_structure thead,
        #reponsive_table_structure tbody,
        #reponsive_table_structure th,
        #reponsive_table_structure td,
        #reponsive_table_structure tr {
        display: block;
      }
      #reponsive_table_structure thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      #reponsive_table_structure tr { border: 1px solid #ccc; }
      #reponsive_table_structure td {
      /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
      }
      #reponsive_table_structure table tbody tr td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
      }
      #reponsive_table_structure td:before { content: attr(data-title); }
      #reponsive_table_structure tr td.head_slide_click
      {
        background: #F0F8FF;
        border : 1px solid #cce7ff;
        font-weight: bold;
        color: #0073BC;
        font-size: 130%;
      }

  }
  @media only screen and (max-width: 720px) {
    #reponsive_table_structure td
    {
      padding-left: 60%;
    }
    #reponsive_table_structure td.last_sleep_small_chart_td
    {
      padding-left: 15%;
    }

  }

  @media only screen and (max-width: 520px) {
    #history_table_bodymeasure table,
    #history_table_bodymeasure thead,
    #history_table_bodymeasure tbody,
    #history_table_bodymeasure th,
    #history_table_bodymeasure td,
    #history_table_bodymeasure tr
    {
      display: block;
    }
    #history_table_bodymeasure thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #history_table_bodymeasure tr { border: 1px solid #ccc; }
      #history_table_bodymeasure td {
      /* Behave like a "row" */
        border: none !important;
        /*border-bottom: 1px solid #eee;*/
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
      }
      #history_table_bodymeasure table tbody tr td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
      }
      #history_table_bodymeasure td:before { content: attr(data-title); }
  }


ul.btn-ul-date li{
  vertical-align: middle;
  padding:0px;
  margin:0px;
}
ul.btn-ul-date
{
  margin-bottom: 0px !important;
}
ul.btn-ul-date input.form-control {
  border-radius: none;
}
.btn-arrow{
  padding:5px 7px !important;
}
.date-width{
  width: 130px;
}
.big-date-width
{
  width: 150px;
}
.total_tr
{
  background: #FAFAFA;
  /*border: 1px solid #cce7ff !important;*/
}
.total_tr .first_td
{
  background: #fff;
  color: #898989;
  font-size: 14px;
  border: none;
}

.food_notes{
  height: 100px;
  border-radius: 0px;
  border: 1px solid #9FB4c6 !important;

}

.editable-controls textarea{
  height:100px;
  width: 150px;
  font-size: 13px;
  color:#333;
  margin-bottom: 8px !important;

}

.back_link{
  font-size: 20px;
  margin-top: 18px;
}
.select_box{
  width: 120px;
}

.formcontrol_height
{
  height: 38px;
}
.inputgroup_btnheight .input-group-addon
{
  height: 38px;
}
.no_margin
{
  margin: 0px !important;
}
.space_between
{
  display: block;
  height: 10px;
}
.search_button{
  width: auto !important;
  background: #019bff none repeat scroll 0 0 !important;
  border: 1px solid #cce7ff !important;
  border-radius: 0 !important;
  color: #fff !important;
}
.search_button_textBox{
  width: 80% !important;
}
.margin_bottom_zero ul
{
  margin-bottom: 0px;
}
.td_fixed_width{
  width: 20%;
  word-wrap: break-word;
}
.content_fixed_width{
  /*width: 8em; */
  width: auto;
  word-wrap: break-word;
}

.td_width_30
{
  width: 30%;
}
.td_width_20
{
  width: 20%;
}
.td_width_50
{
  width: 50%;
}
.td_width_12_5
{
  width: 12.5%;
}
.text_font_size
{
   font-size: 13px;
}


@media(max-width: 800px) {
  .td_width_30,.td_width_20,.td_width_50,.td_width_12_5
  {
    width: 100%;
  }
  h4
  {
    font-size: 100%;
  }
  #exercise_1st_table_responsive tr td.head_slide_exec_tbl_td, #exercise_2st_table_responsive tr td.head_slide2_exec2_tbl_td
  {
    font-size: 100% !important;
  }
}

@media(min-width: 768px) and (max-width: 800px) {
  .table_column_colorie.exelog_cal
  {
    top: 43px !important;
  }
  .calendar_week_avg.exe_top_cal
  {
    top: 43px;
  }
  #Refer_friend .modal-dialog
  {
    margin: auto;
    width: 80% !important;
  }
}
@media(min-width: 768px) and (max-width: 830px) {
  #diary_cal_part .food_monthly_calandar.angular-calender .fc-row.fc-week.ui-widget-content
  {
    height: 240px !important;
  }
  #diary_cal_part_tbl table.calendar_table_side tbody tr
  {
    height: 240px !important;
  }
  #diary_cal_part2 .monthly_calendar_footer.columnfooterdiv,
  #diary_cal_part_tbl2 .monthly_calendar_footer.monthly_rightside.columnfooterdiv
  {
    height: 240px !important;

  }
}

@media(max-width: 920px){
  .search_button_textBox{
    width: 74% !important;
  }
  .table_column_colorie
  {
    top: 42px;
  }
  .table_head_colorie .caloriehead
  {
    padding: 10px 0px 15px 3px;
    font-size: 11px;
    text-align: center;
  }
  #scroll_tabs_dash ul.main_tabs li a
  {
    font-size: 12px;
  }
  #scroll_tabs_dash ul.main_tabs
  {
    height: 51px;
  }
}

  /*====================End of Responsive Table====================*/

  form .control-label{
    color: #000;
    font-size: 12px;
  }


    .time_bottom{
        margin-top: 35px;
     }

    .text_left_total_sleep{
      text-align: left;
     }

    .hr_color{
      border-color: #CCE7FF;
      margin-top: 2px;
      margin-bottom: 1px;
    }
    .hr_line
    {
      border-color: #CCE7FF;
    }
    .hr_medium
    {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .margin_bot{
      margin-bottom: 0px;
    }
   .title_head_line_pulse_bp
   {
      border-bottom: 5px solid #E50000;
   }
   .btndesign2{
      font-size: 16px;
      margin-top: -6px;
      border-radius: 0px;
      height: 42px;
   }

   .chartleft_contain .chart_contain_part_bp {
    padding: 10px;
    height: 360px;
   }
   .table.history_table
   {
     font-weight: normal;
   }
   .last-sleep .table tr{
      /*border-top: 1px solid red !important;     */
   }

   .last-sleep .table tr td{
      border-right: 1px solid #cce7ff;
   }
   .last-sleep .table tr td{
      border-right: 1px solid #cce7ff;
   }
   .last-sleep .table tr td:last-child{
      border-right: none;
   }

   .last-sleep-graph{
      background-color:#F0F8FF;width: auto; height: 280px; margin:15px 0;
      border: 1px solid #cce7ff;
   }

   .sleep-bad{
      margin-bottom: 10px;
      padding-top: 65px;
   }
   .sleep-table-textbox{
      width: 108px
   }
   .sleep-table-textbox-small{
      width: 50px
   }

   .sleep-second-table{
      vertical-align: middle !important;
   }

   .v-align-center{
      vertical-align: middle;
   }
   .sleep-third-table{
      height: 212px !important;
   }
   .sleep-third-main-table{
      height: auto !important;
   }
   .last-sleep-small{
      height: 150px;
      width: auto;

   }
   .weekly_sleep_row table tr td
   {
      vertical-align: middle;
   }
   .l-r-padding-none{
      padding-right: 0;
      padding-left: 0;
   }
   .report_btn_div ul > li{
      padding-bottom: 16px;
   }
   .hrs_min_box{
      width: 110px;
   }
/* start favourite button star css */
.notfavourite-star{
  color: #C1C1C1;
}
.notfavourite-star:hover{
  color: yellow;
}
.favourite-star{
  color: yellow;
}
.favourite-star:hover{
  color: #C1C1C1;
}
/* end favourite button star */

.fa-caret-up-down-disable{
  color: #C1C1C1;
}
.theme_blue_color
{
  color: #0073BC !important;
}

.sub_head_blue
{
  color: #0c598d;
  font-size: 15px;
}
.new_sleepbox tr td p
{
  padding: 2px;
  font-size: 14px;
  color: #777;
  margin-bottom: 2px;
}
.new_sleepbox tr td,
.new_sleepbox tr th
{
  text-align: center;
}
.box_border_noradius
{
  border:1px solid #cce7ff !important;
  border-radius: 0;
}
.box_head_background
{
  background: #F0F8FF !important;
  color: #0073BC !important;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
.new_sleepbox > thead > tr > th
{
  border-bottom: none;
  padding: 5px;
}
.box_body_details
{
  font-size: 16px;
  color: #0073BC;
}.custom_class{
  margin-top: 42px ! important;
}

.no_padding_top_lbl label.control-label
{
  padding-top: 0px;
}
.table.new_sleepbox th,
.table.new_sleepbox td
{
  border-left: 1px solid #cce7ff;
}
.table.new_sleepbox th:nth-child(1),
.table.new_sleepbox td:nth-child(1)
{
  border-left: none;
}

#logfood_tbl_responsive table.tbl_log_food
{
  background: red !important;
}



/*=================================================================
Media query for Repsonsive table for food page and Exercise Page in Log Food table
=================================================================*/
@media(max-width: 992px) {
      .td_fixed_width
      {
        width: auto;
      }

      #searched_food_tab table,
       #searched_food_tab thead,
       #searched_food_tab tbody,
       #searched_food_tab th,
       #searched_food_tab td,
       #searched_food_tab tr,

       #searched_exercise_tab table,
       #searched_exercise_tab thead,
       #searched_exercise_tab tbody,
       #searched_exercise_tab th,
       #searched_exercise_tab td,
       #searched_exercise_tab tr,

       #fav_log_tab table,
       #fav_log_tab thead,
       #fav_log_tab tbody,
       #fav_log_tab th,
       #fav_log_tab td,
       #fav_log_tab tr,

       #fre_log_tab table,
       #fre_log_tab thead,
       #fre_log_tab tbody,
       #fre_log_tab th,
       #fre_log_tab td,
       #fre_log_tab tr,

       #rec_log_tab table,
       #rec_log_tab thead,
       #rec_log_tab tbody,
       #rec_log_tab th,
       #rec_log_tab td,
       #rec_log_tab tr,

       #cust_log_tab table,
       #cust_log_tab thead,
       #cust_log_tab tbody,
       #cust_log_tab th,
       #cust_log_tab td,
       #cust_log_tab tr,

       #meal_food_tab table,
       #meal_food_tab thead,
       #meal_food_tab tbody,
       #meal_food_tab th,
       #meal_food_tab td,
       #meal_food_tab tr,

       #md_recfood_tab table,
       #md_recfood_tab thead,
       #md_recfood_tab tbody,
       #md_recfood_tab th,
       #md_recfood_tab td,
       #md_recfood_tab tr,

       #md_rec_table1 table,
       #md_rec_table1 thead,
       #md_rec_table1 tbody,
       #md_rec_table1 th,
       #md_rec_table1 td,
       #md_rec_table1 tr,

       #md_rec_table2 table,
       #md_rec_table2 thead,
       #md_rec_table2 tbody,
       #md_rec_table2 th,
       #md_rec_table2 td,
       #md_rec_table2 tr,

       #md_rec_table3 table,
       #md_rec_table3 thead,
       #md_rec_table3 tbody,
       #md_rec_table3 th,
       #md_rec_table3 td,
       #md_rec_table3 tr,

       #md_rec_table4 table,
       #md_rec_table4 thead,
       #md_rec_table4 tbody,
       #md_rec_table4 th,
       #md_rec_table4 td,
       #md_rec_table4 tr
       {
         display: block;
       }
       #searched_food_tab thead tr,
       #searched_exercise_tab thead tr,

       #fav_log_tab thead tr,
       #fre_log_tab thead tr,
       #rec_log_tab thead tr,
       #cust_log_tab thead tr,
       #meal_food_tab thead tr,
       #md_recfood_tab thead tr,
       #md_rec_table1 thead tr,
       #md_rec_table2 thead tr,
       #md_rec_table3 thead tr,
       #md_rec_table4 thead tr
       {
          position: absolute;
          top: -9999px;
          left: -9999px;
       }
       #searched_food_tab tr,
       #searched_exercise_tab tr,

       #fav_log_tab tr,
       #fre_log_tab tr,
       #rec_log_tab tr,
       #cust_log_tab tr,
       #meal_food_tab tr,
       #md_recfood_tab tr,
       #md_rec_table1 tr,
       #md_rec_table2 tr,
       #md_rec_table3 tr,
       #md_rec_table4 tr
       {
          border: none;
          border-bottom: 1px solid #cce7ff;
       }
       #searched_food_tab td,
       #searched_exercise_tab td,

       #fav_log_tab tr td,
       #fre_log_tab tr td,
       #rec_log_tab tr td,
       #cust_log_tab tr td,
       #meal_food_tab tr td,
       #md_recfood_tab tr td,
       #md_rec_table1 tr td,
       #md_rec_table2 tr td,
       #md_rec_table3 tr td,
       #md_rec_table4 tr td
       {
          border: none !important;
          position: relative;
          padding-left: 35%;
          white-space: normal;
          text-align:left;

       }
       #searched_food_tab table tbody tr td:before,
       #searched_exercise_tab table tbody tr td:before,

       #fav_log_tab table tbody tr td:before,
       #fre_log_tab table tbody tr td:before,
       #rec_log_tab table tbody tr td:before,
       #cust_log_tab table tbody tr td:before,
       #meal_food_tab table tbody tr td:before,
       #md_recfood_tab table tbody tr td:before,
       #md_rec_table1 table tbody tr td:before,
       #md_rec_table2 table tbody tr td:before,
       #md_rec_table3 table tbody tr td:before,
       #md_rec_table4 table tbody tr td:before
       {
         position: absolute;
         top: 6px;
         left: 6px;
         width: 30%;
         padding-right: 10px;
         white-space: normal;
         text-align:left;
         font-weight: bold;
         padding-top: 7px;
         color: #0073BC;
         text-align: right;
         text-transform: uppercase;
        }
        #searched_food_tab td:before,
        #searched_exercise_tab td:before,

        #fav_log_tab td:before,
        #fre_log_tab td:before,
        #rec_log_tab td:before,
        #cust_log_tab td:before,
        #meal_food_tab td:before,
        #md_recfood_tab td:before,
        #md_rec_table1 td:before,
        #md_rec_table2 td:before,
        #md_rec_table3 td:before,
        #md_rec_table4 td:before
        { content: attr(data-title); }

        #searched_food_tab table.table-bordered,
        #searched_exercise_tab table.table-bordered,

        #fav_log_tab table.table-bordered,
        #fre_log_tab table.table-bordered,
        #rec_log_tab table.table-bordered,
        #cust_log_tab table.table-bordered,
        #meal_food_tab table.table-bordered,
        #md_recfood_tab table.table-bordered,
        #md_rec_table1 table.table-bordered,
        #md_rec_table2 table.table-bordered,
        #md_rec_table3 table.table-bordered,
        #md_rec_table4 table.table-bordered
        {
          border :1px solid #cce7ff;
        }

        .tbl_tab_food_log select,
        .tbl_tab_food_log textarea
        {
          width: 170px;
        }
        .tbl_tab_food_log .tbl_log_food select,
        .tbl_tab_food_log .tbl_log_food textarea
        {
          width: 100%;
        }
        .tbl_tab_food_log .tbl_log_food tr.top_head_subtitle td
        {
          padding-left: 10px !important;
        }

        .content_fixed_width
        {
          width: auto;
        }
        .width_100
        {
          width: 100% !important;
        }
        .tbl_tab_food_log .width_25,
        .tbl_tab_food_log .width_20,
        .tbl_tab_food_log .width_17,
        .tbl_tab_food_log .width_13
        {
          width: auto !important;
        }

}

@media(max-width: 480px) {
    #searched_food_tab td,
    #searched_exercise_tab td,
    #fav_log_tab tr td,
    #fre_log_tab tr td,
    #rec_log_tab tr td,
    #cust_log_tab tr td,
    #meal_food_tab tr td,
    #md_recfood_tab tr td,
    #md_rec_table1 tr td,
    #md_rec_table2 tr td,
    #md_rec_table3 tr td,
    #md_rec_table4 tr td
    {
      padding-left: 50%;
      white-space: normal;
    }
    #searched_food_tab table tbody tr td:before,
    #searched_exercise_tab table tbody tr td:before,
    #fav_log_tab table tbody tr td:before,
    #fre_log_tab table tbody tr td:before,
    #rec_log_tab table tbody tr td:before,
    #cust_log_tab table tbody tr td:before,
    #meal_food_tab table tbody tr td:before,
    #md_recfood_tab table tbody tr td:before,
    #md_rec_table1 table tbody tr td:before,
    #md_rec_table2 table tbody tr td:before,
    #md_rec_table3 table tbody tr td:before,
    #md_rec_table4 table tbody tr td:before
    {
      width: 45%;
      font-size: 13px;
      white-space: normal;
    }

    .tbl_tab_food_log select,
    .tbl_tab_food_log textarea
    {
      width: 100% !important;
    }
    .logfood_tab_details
    {
      padding: 0px;
      border : none;
    }
}
/*=======================================================================
End of Media query for Repsonsive table for food page and Exercise Page in Log Food table
=======================================================================*/



/*Fodd and Exercise page right side table part*/
table.right_tbl_partlist
{
  /*background: #CFEAFF;*/
  background: #fafafa;
}
table.right_tbl_partlist tr td,
table.right_tbl_partlist tr th
{
  border:2px solid #f2f2f2;
}
table.right_tbl_partlist tr:hover
{

  background: #e6e6e6;

}
table.table-bordered.right_tbl_partlist
{
  border : 2px solid #f2f2f2;
}
/*End of Fodd and Exercise page right side table part*/



.tbl_tab_food_log .panel h5
{
  color: #0071BE;
}
.tbl_tab_food_log .panel .panel-body
{
  color: #4d4d4d;
}
.tbl_tab_food_log .panel .panel-heading
{
  background: none;
  border-color: #CFEAFF;
}
.tbl_tab_food_log .panel.panel-default
{
  border-color: #CFEAFF;
}
#md_recfood_tab select optgroup:before
{
  content: attr(label);
  color: #0073BC;
}
#md_recmeal_tab .panel .panel-body
{
  padding: 5px;
}


/*  css for Report Page */
section.calorie_report_section
{
  padding-top: 125px;
  padding-bottom: 10px;
}
.report_data_block
{
  padding-top: 15px;
  padding-right: 0px;
  padding-left: 0px;
  color: #666666;
}
.chart_block
{
  background: #F0F8FF;
  border:1px solid #cce7ff;
}
.tabs_contain_report
{
  margin: 8px 15px 10px;
}
.tabs_contain_report ul.nav.nav-tabs
{
  border-bottom: none;
}
.tabs_contain_report .nav-tabs > li.active > a,
.tabs_contain_report .nav-tabs > li.active > a:focus,
.tabs_contain_report .nav-tabs > li.active > a:hover
{
  /*background: #E5232D;*/
  background: #e6f3ff;
  color: #0073bc;
}

.tabs_contain_report .nav-tabs > li > a
{
  /*background: #0071BE;*/
  background: #fff;
  color: #fff;
  border-radius: 0px;
  border: 1px solid #cce7ff;
  color: #666;
  font-size: 13px;
  padding: 4px 12px;
}
.chart_reports_height{
  height: 400px;
}
#md_recmeal_tab input[type="checkbox"], input[type="radio"]
{
  transform:scale(1.3,1.3);
  -ms-transform: scale(1.3,1.3);
 -moz-transform: scale(1.3,1.3);
 -webkit-transform: scale(1.3,1.3);
 -o-transform: scale(1.3,1.3);
}



/* change the color of <a> tag when hover td in food and exercise page */
#food_meal_tabs_foods tr:hover a, #food_meal_tabs_fav tr:hover a {

}

.top_border
{
  border-top: 1px solid #ccc;
}
.padding-8
{
  padding: 8px !important;
}
.medium_font
{
  font-size: 14px;
}
.list-group.no-shadow
{
  box-shadow: none;
}
.list-group.no-shadow .list-group-item
{
  border: none;
  padding: 0px;
}


/* Angualar Candar */
.exericse_celendar_angular.angular-calender .fc-toolbar
{
  left: 7%;
}
.exericse_celendar_angular.angular-calender .fc-prev-button.ui-button.ui-state-default.ui-corner-left
{
  left: 76%;
}
.calorie_celendar_angular.angular-calender .fc-toolbar
{
  left: 7%;
}
.calorie_celendar_angular.angular-calender .fc-prev-button.ui-button.ui-state-default.ui-corner-left
{
  left: 76%;
}

.exericse_celendar_angular.angular-calender .fc-prev-button,
.exericse_celendar_angular.angular-calender .fc-next-button,
.calorie_celendar_angular.angular-calender .fc-prev-button,
.calorie_celendar_angular.angular-calender .fc-next-button,
.food_monthly_calandar.angular-calender .fc-prev-button,
.food_monthly_calandar.angular-calender .fc-next-button,
.exercise_monthly_calender.angular-calender .fc-prev-button,
.exercise_monthly_calender.angular-calender .fc-next-button,
.bp_pulse_calender.angular-calender .fc-prev-button,
.bp_pulse_calender.angular-calender .fc-next-button
{
  padding: 5px 3px !important;
}

.flat_inputbox .form-control
{
  border-radius: 0px;
}
.flat_inputbox .input-group-addon
{
  border-radius: 0px;
}
.flat_modalbox .panel
{
  border-radius: 0px;
  border:2px solid #cce7ff;
}
.flat_modalbox .panel .box_head_background
{
  border-bottom: 1px solid #cce7ff;
}
.flat_modalbox .panel label
{
  color: #333333 !important;
}
.report_chart_loader{
  width:96%;
  height:64px;
  position:absolute;
  background-size: 100px 100px;
  background:  rgba( 255, 255, 255, .8 ) url('/img/small-loader.gif') center content-box no-repeat;
}
.ul_borderBott_meter
{
  border-bottom: 1px solid #e6e6e6;
}
.btndesign_red
{
  background: red !important;
  padding: 10px !important;
  width: auto !important;
  color: #fff !important;
}
.margin_top
{
  margin-top: 10px !important;
}

.sleep_weekly_table tr th
{
  border: 1px solid #cce7ff !important;
}
.sleep_weekly_table tr td
{
  border: 1px solid #cce7ff !important;
}

.tbl_noborder_wrap table.table-bordered
{
  border: none !important;
}
.no_padding
{
  padding: 0px !important;
}

.tbl_tab_food_log .tbl_noborder_wrap table.table.tbl_log_food thead tr th,
.tbl_tab_food_log .tbl_noborder_wrap table.table.tbl_log_food tbody tr td
{
  border-top: none !important;
  border-left: none !important;
}
.tbl_tab_food_log .tbl_noborder_wrap table.table.tbl_log_food tbody tr:last-child td
{
  /*border-bottom: none !important;*/
}
.tbl_tab_food_log .tbl_noborder_wrap table.table.tbl_log_food thead tr th:last-child,
.tbl_tab_food_log .tbl_noborder_wrap table.table.tbl_log_food tbody tr td:last-child
{
  border-right: none !important;
}

.tbl_tab_food_log .panel
{
  border-radius: 0px;
}
.tbl_tab_food_log .tbl_noborder_wrap table .form-control
{
  border-radius: 0px;
}
.no-radius
{
  border-radius: 0px;
}

.table.table-bordered.calendar_blockequal
{
  border: none !important;
}
.table.table-bordered.calendar_blockequal tr th
{
  border-bottom-width: 0px !important;
  border: 1px solid #b3dfff;
  border-top: 1px solid #b3dfff !important;
}
.table.table-bordered.calendar_blockequal tr td
{
  border-color: #b3dfff;
}
.table.table-bordered.right_side_table_cale tr th
{
  border-left: none;
}

.padding_no_side
{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.padding_noleft_side
{
  padding-left: 0px !important;
}
.padding_noright_side
{
  padding-right: 0px !important;
}

.lbl-meal
{
  font-size: 14px !important;
  color: #0071BE !important;
  margin-top: 5px;
}

/*  patient dashboard Page styles  */
section.forms_pdash__section
{
  padding-top: 80px !important;
}
.text_red
{
  color: #ff0000 !important;
}
section.forms_pdash__section,
section.healthrecords_pdash__section,
section.appointment_pdash__section,
section.messages_pdash__section
{
  padding: 10px 15px;
}
section.healthrecords_pdash__section,
section.messages_pdash__section
{
  background: #F8FCFF;
}
.pdash_tbl_head
{
  background: #F0F8FF;
  color: #0073BC;
  text-align: center;
}
.pdash_tbl_subhead
{
  color: #0073BC;
}
.patients_table_container table
{
  background: #fff;
}
.patients_table_container table.table-bordered
{
  border-color: #cce7ff;
}
.patients_table_container table tr th,
.patients_table_container table tr td
{
  border-color: #cce7ff;
  text-align: center;
}
.patients_table_container table tr td p
{
  color: #666666;
  margin-bottom: 3px;
}
.patients_table_container table tr th
{
  border-bottom-width: 1px;
}
.pending_status
{
  background: #ffff66 !important;
}
.error_status
{
  color: #ff0000 !important;
  background :#FFE0E0;
}
.p_icon_text
{
  display: inline-block;
  height: 37px;
}
.p_icotext
{
  font-size: 14px;
  vertical-align: middle;
}
.p_icon
{
  font-size: 110%;
  vertical-align: middle;
}
@media(max-width: 800px) {
  div[id*=patients_dash] table,
  div[id*=patients_dash] thead,
  div[id*=patients_dash] tbody,
  div[id*=patients_dash] th,
  div[id*=patients_dash] td,
  div[id*=patients_dash] tr
  {
    display: block;
  }
  div[id*=patients_dash] thead tr
  {
    display: none;
    /*position: absolute;*/
    /*top: -9999px;
    left: -9999px;*/
  }
  div[id*=patients_dash] thead tr.pdash_tbl_head
  {
    display: block !important;
  }
  div[id*=patients_dash] thead tr.pdash_tbl_head th
  {
    border-width: 0px;
    padding: 0px;
  }
  div[id*=patients_dash] table tr td
  {
  /* Behave like a "row" */
    border: none;
    /*border-bottom: 1px solid #cce7ff;*/
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align:left;
  }
  div[id*=patients_dash] table tr
  {
    border-bottom: 1px solid #cce7ff;
    padding: 6px;
  }
  div[id*=patients_dash] table tr:last-child
  {
    border-bottom:none;
  }
  div[id*=patients_dash] td:before
  {
    content: attr(data-title);
    position: absolute;
    top: 8px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
    color: #1272BC;
    text-align: right;
    font-size: 90%;
    white-space: normal;
  }

  div[id*=patients_dash] h4
  {
    font-size: 135%;
  }
}
@media(max-width: 480px) {
  div[id*=patients_dash] h4
  {
    font-size: 110%;
  }
}

#mainpanel.no_margin_top_all
{
  margin-top: 0px;
}
#mainpanel.margin_top_120
{
  margin-top: 120px;
}
.text_no_space
{
  white-space: nowrap;
}

.calendar_week_avg table tbody tr
{
  height: 160px;
}

.food_dairy_block table .table.table-bordered thead th
{
  border-bottom-width: 1px !important;
}
.food_dairy_block table thead th, .food_dairy_block table th
{
  /*border: 1px solid #fff !important;*/
}
.food_dairy_block table.table.table-bordered
{
  border: none !important;
}

.table.last_sleep_tast_tbl thead tr th, .table.last_sleep_tast_tbl tbody tr td
{
  border: 1px solid #cce7ff !important;
  text-align: center;
}
.table.last_sleep_tast_tbl thead tr th:first-child,
.table.last_sleep_tast_tbl tbody tr td:first-child
{
  border-left: none !important;
}
.table.last_sleep_tast_tbl thead tr th:last-child,
.table.last_sleep_tast_tbl tbody tr td:last-child
{
  border-right: none !important;
}
.back_btn
{
  text-align: center;
}
a.logo.adminlogocustom
{
  float: left !important;
}
.width_100
{
  width: 100% !important;
}
.width_25
{
  width:25%;
}
.width_20
{
  width: 20%;
}
#md_rec_table1 table.tbl_log_food thead th
{
  color: #0073BC;
}
.text-side
{
  text-align: right;
}
.top_head_subtitle
{
  background: #F4FFF0;
}
table.tbl_log_food thead tr th
{
  border: none !important;
}
.tbl_log_food .checkbox
{
  padding-left: 30px;
}
select.fixed_select_option
{
  /*width: 300px !important;*/
}
select.fixed_select_option option
{
  /*white-space: normal;
  min-height: 30px;
  height: auto;*/
}
.logfood_tab_details th h4
{
  font-size: 14px;
  color: #0073BC;
}


/* Custom Select box in food Meal page */
.selectric-customselect_meal .selectric
{
  background: #fff;
}
.selectric-customselect_meal .selectric-items
{
  background: #fff;
}
.selectric-customselect_meal .selectric-items li.selected,
.selectric-customselect_meal .selectric-items li:hover
{
  background: #3399FF;
  color: #fff;
}
.selectric-customselect_meal .selectric-items li
{
  border-bottom: 1px solid #e6e6e6;
}
.selectric-customselect_meal .selectric .label
{
  height: 32px;
  line-height: 28px;
  text-align: left;
}
/* End of Custom Select box in food Meal page */

.form-horizontal .control-label.cust-label-meal
{
  padding-right: 0px !important;
}
table.inner_tableinTable
{
  margin-bottom: 0px;
}
table.inner_tableinTable tr td
{
  border-top: none !important;
  border-left: none !important;
}
table.inner_tableinTable tr td:last-child
{
  border-right: none !important;
}
table.inner_tableinTable tr:last-child td
{
  border-bottom: none !important;
}
.width_13
{
  width: 13%;
}
.width_17
{
  width: 17%;
}
.food_dairy_block h4
{
  font-size: 14px;
  font-weight: 600;
}
.food_dairy_block table td
{
  padding: 5px 8px !important;
}
.food_last_row h4
{
  font-size: 18px;
}
.head_title_main
{
  font-size: 26px !important;
  line-height: 1em;
}
.subhead_title_main
{
  font-size: 22px !important;
}
.custom-section-page
{
  padding-top: 0px;
}
ul.foodExe_diayUL
{
  margin-bottom: 5px;
  margin-top: 8px;
}
.foodExe_diayUL li
{
  vertical-align: top;
}
.foodExe_diayUL li h1,
.foodExe_diayUL li h2,
.foodExe_diayUL li h3,
.foodExe_diayUL li h4,
.foodExe_diayUL li h5,
.foodExe_diayUL li h6
{
  line-height: 1em;
  text-align: center;
}
.foodExe_diayUL h5
{
  font-size: 18px;
}
.clearboth
{
  clear: both;
}
.small-separator
{
  display: block;
  height: 8px;
  background: transparent;
}
.food_sidedropdown
{
  border-radius: 0px;
  /*border:1px solid #1272BC;*/
  /*background: #f0f8ff;*/
  background: #168EE9;
  margin-bottom: 1px;
  color: #fff;
}
select.food_sidedropdown option
{
  color: #666;
}
select.food_sidedropdown option.list-group-item
{
  padding: 10px 15px;
  position: relative;
  display: block;
}
select.food_sidedropdown:focus
{
  box-shadow: none;
}
.custom_food_dairy_block table td,
.custom_food_dairy_block table th
{
  font-size: 12px;
}
.custom_food_dairy_block tr.total_tr .first_td
{
  font-size: 12px !important;
}
.plain-select
{
  display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 65%;
}
.plain-select:after
{
    content: "";
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 50%;
    margin-top: -3px;
    height: 0;
    width: 0;
    border-top: 6px solid #0071BE;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    pointer-events: none;
}
.plain-select select {
  -webkit-appearance: none;
  appearance : none;
  -moz-appearance : none;
}
.row.row_flex_disp
{
  display: flex;
  -webkit-display:flex;
  -moz-display:flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}
.align_Vend
{
  align-self: center;
}
.row.food_exe_stick
{
  padding: 2px 15px;
  border-bottom: 3px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 10px;
  background: #fff;
  z-index: 9;
}
.food_exe_stick_fixed
{
  position: fixed;
  right: 0;
  left: 0;
  top: 64px;
}
.custom_food_dairy_block table tr td,
.custom_food_dairy_block table tr th
{
  /*border: 1px solid #cce7ff;*/
  border: 1px solid #e6e6e6;
}


/*probally css for Goals, Weight, Sleep, and BP & Pulse pages*/
.custom-section-panel
{
  padding: 15px;
}
.custom-section-panel .weight_body_panel
{
  margin-bottom: 1px !important;
  box-shadow: none;
  border: none !important;
}
.custom-section-panel .weight_body_panel .panel-heading
{
  /*border: 1px solid #cce7ff;*/
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: none !important;

  /*background: #1272BC !important;
  color: #fff !important;*/
  background: #fff !important;
  color: #0c598d !important;
  text-align: left;
}
.custom-section-panel .weight_body_panel .panel-body,
.custom-section-panel .weight_body_panel .panel-body p
{
  color: #777;
}
.custom-section-panel .weight_body_panel .panel_Bodypart
{
    border: 1px solid #cce7ff;
}
.custom-section-panel .table.table_fixed_height tr td,
.custom-section-panel .table_fixed_height_water tr td
{
  /*border: 1px solid #f0f8ff !important;*/
  border: 1px solid #cce7ff;
}
.custom-section-panel table.rightSide_tbl_tbl_fixed_height.table-bordered
{
  border: none !important;
}
.custom-section-panel table.rightSide_tbl_tbl_fixed_height tr td:first-child
{
  border-left: none;
}
.custom-section-panel table.rightSide_tbl_tbl_fixed_height .uib-timepicker td
{
  border: none;
}
.custom-section-panel .table.table_fixed_height .form-group
{
  margin-bottom: 10px;
}
.custom-section-panel .input-group-addon
{
  padding: 6px 7px;
  border-left: 1px solid #ccc;
}
.custom-section-panel table.rightSide_tbl_tbl_fixed_height td label
{
  color: #777;
}
.custom-section-panel .weight_body_panel .panel-heading.bp_pulse_panelHead
{
  background: #F7FBFF !important;
}
.custom-section-panel .weight_body_panel p
{
  margin-bottom: 3px;
}
.custom-section-panel table
{
  margin-bottom: 5px;
}
.custom-section-panel table.sleep_weekly_table
{
  font-size: 13px;
}
.custom-section-panel table.sleep_weekly_table .panel_head_background
{
  font-size: 12px;
}
.custom-section-panel table.new_sleepbox thead.box_head_background
{
  background: #fff !important;
  font-size: 13px;
}
.custom-section-panel h1,
.custom-section-panel h2,
.custom-section-panel h3,
.custom-section-panel h4,
.custom-section-panel h5,
.custom-section-panel h6
{
  line-height: 1.4;
}
.datepicker_ul .form-group
{
  margin-bottom: 5px;
}
.exe_synbtn_contain ul.list-inline
{
  padding-right: 2px;
}
.custom-section-page .calorie-subhead-td
{
  background: transparent;
  color: #0c598d;
  border: none;
}
.food_monthly_calandar.angular-calender p
{
  margin-bottom: 1px;
}
table.calendar_blockequal.right_side_table_cale p
{
  margin-bottom: 3px;
}
.footercal_side p,
.monthly_calendar_footer.monthly_rightside.columnfooterdiv p
{
  margin-bottom: 3px;
}
.custom-section-page .logfood_tab_continer p
{
  margin-bottom: 2px;
}
.log_search_box .padd_side
{
  padding-left: 4px;
  padding-right: 4px;
}
form.log_search_box .control-label
{
  font-size: 14px;
}
.weight_body_panel .panel_Bodypart div[class*='col-md'],
.weight_body_panel .panel_Bodypart div[class*='col-lg'],
.weight_body_panel .panel_Bodypart div[class*='col-sm']
{
  padding-left: 7px;
  padding-right: 7px;
}
#footer .custom-footer-wrapper .footer-content .left-col,
#footer .custom-footer-wrapper .footer-content .right-col
{
  padding: 1px;
}
#footer .custom-footer-wrapper .footer-menu h4,
#footer .custom-footer-wrapper .footer-content h4
{
  text-align: left;
  margin-top: 2px;
  margin-bottom: 2px;
}


#footer_copyright .copyright {
    background-color: #4aa6ed;
}
#footer_copyright .copyright .custom-footer-wrapper
{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  color: #fff;
  text-align: center;
}
.footer-top-menu .footer-top-wrap
{
  padding: 6px 1px !important;
}
.footer-top-menu .medias li .fa
{
  font-size: 15px;
  line-height: 30px;
  width: 30px;
}
.inner_diady_pages_panel
{
  font-size: 13px;
}
.inner_diady_pages_panel .total_tr .first_td
{
  font-size: 13px;
}
#calorie_log_div.panel,
#calorie_log_div .panel,
#exercise_log_div.panel,
#exercise_log_div .panel,
#health_goal_div.panel,
#health_goal_div .panel
{
  box-shadow: none;
}
#calorie_log_div h1, #calorie_log_div h2, #calorie_log_div h3, #calorie_log_div h4, #calorie_log_div h5, #calorie_log_div h6,
#exercise_log_div h1, #exercise_log_div h2, #exercise_log_div h3, #exercise_log_div h4, #exercise_log_div h5, #exercise_log_div h6,
#health_goal_div h1, #health_goal_div h2, #health_goal_div h3, #health_goal_div h4, #health_goal_div h5, #health_goal_div h6,
.custom-section-panel h1, .custom-section-panel h2, .custom-section-panel h3, .custom-section-panel h4, .custom-section-panel h5,
.custom-section-panel h6
{
  margin-top: 0px;
}

.deal_img_box img.img_deal
{
  margin: auto;
  max-width: 250px;
  max-height: auto;
  border: 1px solid #e6e6e6;
  padding: 6px;
  box-shadow: 0px 0px 5px 0px #ccc;
}
.deals_details p.deals_descrpt
{
  font-size: 16px;
}
.deals_tbl table
{
  color: #595959;
}
.deals_tbl table thead th
{
  border-bottom: 1px dashed #e6e6e6;
}
.deals_tbl table tbody td
{
  border-top: none;
}
.last_workout_box_tbl table thead th
{
  /*border-bottom: 1px dashed #e6e6e6;  */
  color: #337AB7;
  border-bottom: none;
}
.last_workout_box_tbl table tbody td
{
  border-top: 1px solid #f2f2f2;
  vertical-align: middle;
}
hr.hr_lightgray
{
  border-color: #cce7ff;
  border-style: dashed;
  border-width: 1px;
}
hr.hr_deal_chall
{
  border-color: #e6e6e6;
  border-style: dashed;
  border-width: 1px;
  margin-bottom: 10px;
  margin-top: 10px;
}
p.chalanges_device
{
  font-size: 18px;
  color: #337AB7 !important;
}
.chalanges_device_name
{
  display: inline-block;
  background: #f2f2f2;
  color: #595959;
  border: 1px solid #e6e6e6;
  padding: 5px 15px;
  font-size: 15px;
  border-radius: 17px;
  margin: 1px 2px 3px;
  white-space: nowrap;
}
.red_font
{
  color: #b30000;
}
.btn.btn-logn
{
  width: 170px;
}
ul.track_workout_ul li
{
  margin: 5px auto;
}
.workout_histo_track_row
{
}
.workout_histo_track_row .workout_histo_track_col
{
  display: table;
}
.last_workout_box_tbl
{

}
.panel.work_track_panel
{

  display: table-cell;
  text-align: center;
  box-shadow: none;
  border: 1px solid #d9d9d9;
  border-radius: 1px;
}
.verti_align_middle
{
  vertical-align: middle;
}
.panel.work_track_panel:hover
{
  background: #fafafa;
}
.btn.btn_success_text
{
  border: 1px solid #449D44;
  color: #449D44;
  background: #fff;
}
.btn.btn_primary_text
{
  background: #fff;
  color: #0071BE;
  border: 1px solid #0071BE;
}
.font_light_blue
{
  color: #00ccff;
}
.font_green
{
  color: #39ac39;
}
.btn.succes_btn
{
  border: 1px solid #47d147;
  background: #85e085;
  color: #1f7a1f;
}
.font_orange
{
  color: #ffa64d;
}
.font_gray
{
  color: #595959;
}
.display_inline_block
{
  display: inline-block;
}
.custom-hr
{
  display: block;
  height: 1px;
  border-bottom: 1px solid #f2f2f2;
  width: 100%;
  margin: 6px auto;
  padding-left: 10px;
  padding-right: 10px;
}
.subhead_panel_inner
{
  font-size: 14px;
  font-weight: bold;
  color: #0073bc !important;
}
.myroutiens_workout_box .panel-group .panel-heading
{
  background: #f2f2f2 !important;
  color: #595959 !important;
  padding: 7px 15px;
}
.myroutiens_workout_box .panel-group .panel-heading
{
  cursor: pointer;
}
.custom_food_dairy_block
{
  color: #777;
}
.workout_routiens_details
{
  display: inline-block;
  width: 260px;
  border-right: 1px dotted #d9d9d9;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 15px;
  vertical-align: top;
}
.btn.btnborder_blue
{
  background: #fff;
  color: #0073bc;
  border: 1px solid #0073bc;
  padding: 5px 12px;
  font-size: 12px;
}
.workout_details_panel .workout_panelBody1
{
  border-bottom: none !important;
  padding: 10px;
  background: #fbfbfb;
}
.workout_img_box img.work_img
{
  /*border: 1px solid #f2f2f2;*/
  /*box-shadow: 0px 0px 3px 0px #ccc;*/
  margin: auto;
}
.workout_detail_tbl table thead th
{
 /* border-bottom: 1px solid #f2f2f2;*/
  border-top: 1px solid #f2f2f2 !important;
  background: #fafafa;
}
.workout_detail_tbl table tbody tr:first-child td
{
  border-top: none;
}
.workout_detail_tbl table tbody td
{
  border-top: 1px dotted #e6e6e6;
}
.row.workout_details_first
{
  display: flex;
  -webkit-display:flex;
  -moz-display:flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}
.row.workout_details_first div[class*=col]
{
  border-right: 1px dotted #cccccc;
}
.row.workout_details_first div[class*=col]:last-child
{
  border-right: none;
}
table.set_tbl_workout thead tr th
{
  text-align: center;
  background: #fff;
  border-bottom: none;
  padding-bottom: 15px;
}
table.set_tbl_workout td
{
  text-align: center;
  padding-bottom: 15px !important;
  border-top: none !important;
}
table.set_tbl_workout td input.form-control
{
  width: 60px;
  display: inline;
  border-radius: 0px;
  text-align: center;
}
.work_pay_pausebtn_row
{
  color: #777;
  display: flex;
  align-items: flex-end;
}
.last_workout_box_tbl table ul.list-inline li
{
  vertical-align: middle;
}
p.panel_head_text
{
  font-size: 14px;
  color: #0c598d;
  font-weight: bold;
  margin-bottom: 5px;
}
.topNoBorder
{
  border-top: none !important;
}
.padding_top_0
{
  padding-top: 0px;
}

.setting_btn, .add_plus_btn {
  font-size: 17px;
}

.subhead_title_main_sidebar{
  width: 35% !important;
  float: left  !important;
  padding-top: 2px;
}

.food_sidedropdown_side_bar
{
  background: #fff;
  color: #0071BE;
}

.diary_sidebar_tabs_container{
  margin-top: 5px;
}
.center_align_refere{
  text-align: center;
}
.margin_left_refer{
  margin-right: -22px;
}
.margin_left_friend{
  margin-left: -18px;
}
.refer_freid_btn{
 position: relative;
 top:5px;
}
@media(min-width: 556px) and (max-width: 1080px){
  .sub-menu, .patient-login, .text-uppercase li{
       /*margin-top: -36px;*/
  }
  .sub-menu, .patient-login li{
       /*margin-top: -36px;*/
  }
  .margin_left_refer_friend{
   margin-left: 10px;
  }
}

.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-2240{
    /*margin-bottom: 14px;*/
  }
.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-1736{
    margin-top: -22px;
 }
 .menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-2240{
   /*margin-top: -15px;*/
 }
#sidepanel .main-menu
{
  padding: 5px 0px;
}
.recommended_workout_img{
  height: 180px;
  object-fit: fill;
}


#Refer_friend .modal-dialog label.control-label
{
  text-align: right;
}

#sidepanel
{
  overflow: auto;
}
.workout-next-prev-div
{
  text-align: right;
}
.paddingSide_15
{
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.myroutine_p{
  margin-top: 10px;
}

.cursor_pointer{
  cursor: pointer;
}
.font_15
{
  font-size: 15px;
}
.workout_routine_modal{
  width: 70%;
}
.modal-footer.content-center{
  text-align: center;
}
.routine_workouts_thumb{
  height: 130px;
  width: 160px;
  float: left;
}

.header-panel-background-color{
  background-color: #0D6DC6 !important;
}

.footer-panel-background-color{
  background-color: #1974BA !important;
}

#menu-main-menu > li > a{
  text-transform: capitalize;
  text-shadow: none;
  font-size: 12px;
}

/* switch UI */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
