
/*
=================================================================
(#m01mls) HEALTH GOALS DESIGN - CALORIE LOG SUMMARY
=================================================================
*/
.mainheading-form
{
    color: #0071BE;
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}   
.mainheading-form-subhead
{
    color: #0071BE;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}
 .form-control.input-datepicker-first.firstblock-date
 {
    width: 60%; 
    display: inline;"
    padding: 15px;
    border: none;
    font-size: 16px;
    color: #0071BE;
    text-align: center;
    text-transform: uppercase;
 }
 .block.exerciselogbackground
 {
    background: #DAEFFF;
 }
.block-title.block-heading-health.calorie-log-heading-first.fa-iconcolor span.fa
{
    color: #0071BE;
    font-size: 18px;
}  
.healthbox.calender-right
{
    padding-top: 0px;
}
#calendar h2, #calendar-exerciselog h2
{
    font-size: 18px;
    color: #0071BE;
    text-transform: uppercase;
}
#calendar .fc-state-default, #calendar-exerciselog .fc-state-default
{
    background: none;
    color: #0071BE;
    font-weight: bold;
    border: none;
}
#calendar .fc-row .fc-content-skeleton, #calendar-exerciselog .fc-row .fc-content-skeleton
{
    padding-top: 10px;
}
#calendar .fc-toolbar, #calendar-exerciselog .fc-toolbar
{
    position: relative;
    margin-bottom: 0px;
    margin-top: 15px;
    padding-bottom: 15px;
}
#calendar .fc-toolbar .fc-left, #calendar-exerciselog .fc-toolbar .fc-left
{
    display: inline-block;
    float: none;
    margin-left: 20%;
}

#calendar .fc-toolbar button.fc-prev-button.fc-corner-left, #calendar-exerciselog .fc-toolbar button.fc-prev-button.fc-corner-left
{
    position: absolute;
    left: 40%;
    top: -20%;
    font-size: 18px;
}
#calendar .fc-toolbar button.fc-next-button.fc-corner-right, #calendar-exerciselog .fc-toolbar button.fc-next-button.fc-corner-right
{
    position: absolute;
    right: 16%;
    top: -20%;
    font-size: 18px;
}
#calendar .fc-row.fc-widget-header thead, #calendar-exerciselog .fc-row.fc-widget-header thead
{
    background-color: #E0F2FF;
    color: #0071BE;
}
#calendar thead th.fc-widget-header, #calendar-exerciselog thead th.fc-widget-header
{
    font-size: 16px;
}

.block.healthbox
{
    border-radius: 10px;
}
.block.healthbox.heightExe-daily-log
{
    min-height: 800px;
}
.padd-bottom-exelog
{
    /*padding-bottom: 265px !important;*/
    padding-bottom: 235px !important;
}

.healthbox .block-content
{margin: 0px -20px;}

.block-title.block-heading-health
{
    background-color: #E0F2FF;
    margin-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
}
.block-title.block-heading-health h3
{
    font-size: 14px;
    font-weight: bold;
    color: #0071BE;
    padding-top: 8px;
    padding-bottom: 10px;
}
.block-title.block-heading-health.calorie-log-heading-first
{
    background-color: #FFFFFF;    
    text-align: center;
    padding: 8px;
}
.block-content.calorie-log-heading.exerciselog-secondhead
{
    background-color: #EFEFEF;
    margin-bottom: 0px;
    border-radius: 0px;
}
.block-content.calorie-log-heading.exerciselog-secondhead.exerciselog-secondhead-second
{
    margin-left: 0px;
    margin-right: 0px;
}
.block-content.calorie-log-heading.exerciselog-secondhead h3
{
    color: #000;
}
.block-content.calorie-log-heading
{
    background-color: #E0F2FF;
    margin-bottom: 0px;
    border-radius: 0px;
}
.block-content.calorie-log-heading h3.fristhead
{
    color: #000;
    padding-left: 25px;  
}
.block-content.calorie-log-heading h3
{
    font-size: 14px;
    font-weight: bold;
    color: #0071BE;
    padding-top: 8px;
    padding-bottom: 10px;  
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;  
}
.block-content.calorie-log-heading-footer
{
    background-color: #F6FBFF;
    border-radius: 0px 0px 10px 10px;
}
.block-content.calorie-log-heading-footer.calorilog-footer-hieght
{
    /*min-height: 120px;*/
}
.row.health-body-row
{
    margin-left: -20px;
    margin-right: -20px;
}

.row.headrow-samecolumnheight
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:  flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: nowrap; /* Safari 6.1+ */
}

.health-contain
{
    /*background-color: red;*/
    border-radius: 0px 0px 10px 10px;
}
small.dataside
{
    float: right;
    font-weight: bold;
}
span.caret.tranformcaret
{
    transform: rotate(-90deg);
}
.btn-group a.butttonfont 
{
    font-size: 10px !important;
    font-weight: 900;
}
.lastline
{
    position: absolute;
    display: block;
    width: 90%;
    left: 5%;
    background-color: #ccc;
    height: 1px;
    bottom: 0;
}

.lastline.left
{
    width: 85%;
    left: 10%;
}
.lastline.right
{
    width: 93%;
    right: 2%;
    left: 2%;
}
.lastline.calorielog-last
{
    position: absolute;
    display: block;
    width: 77%;
    left: 5%;
    background-color: #ccc;
    height: 1px;
    bottom: 0;
}
.health-sub-heading
{
    border-right: 1px solid #ccc;    
    padding-left: 10px;
}
.health-sub-contain
{
    padding-bottom: 0px;
    padding-left: 10px;
    border-right: 1px solid #ccc;
}
.health-sub-contain:first-child
{
    padding-left: 25px;
}
.health-sub-contain:last-child
{
    border-right: none;
}
.health-sub-contain.forcalender
{
    padding-right: 0px;
    padding-left: 15px;
    border-right: none;
    line-height: 100%;
}
.health-sub-contain.weekavg
{
    margin-top: 52px;
    border-left: 2px solid #ccc;
    /*border-top: 1px solid #ccc;*/
    padding-right: 15px;
    padding-left: 0px;
}
.health-sub-contain.weekavg.left-weekavg
{
    padding-left: 15px;
    padding-right: 0px;
    border-left: none;
}
.health-sub-contain h5
{
    margin-top: 8px;
}
.health-sub-contain.weekavg table.table.avgpart
{
    height:94.2%; 
    margin-bottom:0px;
}
.health-sub-contain.weekavg table.table.avgpart p
{
    margin-bottom: 0px;
    font-size: 14px;
}
.health-sub-contain.lastrow-monthavg
{
    border-top: 1px solid #ccc;
    width: 23.3%;
    border-left: 1px solid #ccc;
    position: relative;
    top:-1px;
    border-right: none !important;
}
.health-sub-contain.lastrow-monthavg.forcalorilog-footer-avg
{
    padding-bottom: 10px;
}
.health-sub-contain.lastrow-monthavg p
{
    margin-bottom: 0px;
    font-size: 14px;
}
.health-sub-contain.weekavg h5
{
    background-color: #E0F2FF;
    /*display: block;*/
    border: 1px solid #ccc;
    border-right: none;
    border-left: none;
    margin: 0px;
    padding: 10px 12px 9px 12px;
    font-weight: bold;
    color: #0071BE;
}
.borderrightnone
{
    border-right: none;
}
.health-sub-heading:last-child
{
    border-right: none;    
}
.goal-margin
{
    margin-top: 15px !important;
}
.guagemetercontain
{
    /*background: red;   */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: auto;
    text-align: center;
}
.guagemeterdemo {
    position: relative;
    width:12vw;
    height: 6vw;
    box-sizing: border-box;
    float:left;
    margin:5px auto;
    /*background-color: red;*/
}
.guagemetercontain ul li
{
    vertical-align: bottom;
}
svg:not(:root) {
    overflow: visible;
}

.body-measure-labels
{
    /*background: red;*/
    float: left;
    line-height: 25px;
    position: absolute;
    left: 10px;
    top: 10px;
    /*bottom: 0;*/
    right: 20px;
    margin-bottom: 10px;
}
.body-measurelast-labels
{
    float: left;
    line-height: 25px;
    font-weight: bold;
    position: absolute;
    left: 70px;
    top: 10px;
    /*bottom: 0;*/
    margin-bottom: 10px;
}
.body-measurelast-labels-goal
{
    float: left;
    line-height: 25px;
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: 10px;
    /*bottom: 0;*/
    margin-bottom: 10px;
}

h5.textcolor
{
    padding-left: 0px;
    color: #0071BE;
    margin: 20px auto;
}
h5.textcolorlast
{
/*    padding-left: 10px;
    width: 70px;
    display: block;
    color: #0071BE;*/
}
span.colorblue
{
    color: #0071BE;    
    font-weight: bold;
}
span.textfont
{
    font-size: 36px;
}
a.buttonwidth
{
    width: 120px !important;
    padding: 5px;
    background: #fff !important;
    margin: 5px 0px;
}
a.buttonwidth.exe-button
{
    width: 135px !important;
    padding: 8px;
}

p.ormargin
{
    margin-bottom: 5px;
}

/*This is for Chart*/
#chartdiv1, #chartdiv2, #chartdiv3, #chartdiv2-1, #chartdiv2-2, #chartdiv2-3
{
    width   : 100%;
    height  : 145px;
    /*background: red;*/
}   
#chartdiv3
{
    height: 280px;
}
#chartdiv2-1
{
    height: 145px;
}   

#datepickerto, #datepickerto2, #datepickerto3, #datepickerto2-1, #datepickerto2-2, #datepickerto2-3
{width:150px; margin: 0px 10px 5px 10px;}

#datepickerfrom, #datepickerfrom2, #datepickerfrom3, #datepickerfrom2-1, #datepickerfrom2-2, #datepickerfrom2-3
{width:150px; margin: 0px 10px 5px 10px;}

#datepickerto > span:hover, #datepickerto2 > span:hover, #datepickerto3 > span:hover,
#datepickerto2-1 > span:hover, #datepickerto2-2 > span:hover, #datepickerto2-3 > span:hover
{cursor: pointer;}


#datepickerfrom > span:hover, #datepickerfrom2 > span:hover, #datepickerfrom3 > span:hover,
#datepickerfrom2-1 > span:hover,#datepickerfrom2-2 > span:hover,#datepickerfrom2-3 > span:hover,
{cursor: pointer;}

.dateformatecontain
{
    margin-top: 15px;
    /*text-align: center;*/
}
.form-control.calanderinputcolor
{
    background-color: #fff;
}
.fa.calandarcolor
{
    color: #0073DB;
}
.list-inline li.verticaltext
{
    vertical-align: top;
    padding-left: 0px;
    padding-right: 0px;
}

ul.genemedicsul
{
    padding-right: 0px;
    box-shadow: none;
    margin-bottom: 2px !important;
}
ul.list-group.mygenemedics-exerciselog
{
    margin-bottom: 5px;
}
ul.genemedicsul li.list-group-item
{
    border: none;
    padding: 4px 5px 4px 0px;
    font-size: 14px;
}
ul.genemedicsul li.list-group-item span.badge.noback
{
    background: none;
    color: #000;
}
.block-content.health-contain.health-body-row ul li
{
    font-size: 12px;
}
.healthbox .block-content.calorielog-row-minus-20
{
        margin : 0 -20px;
}
.healthbox .block-content.calorielog-row-minus-20-table, .healthbox .block-content.calorielog-row-minus-20-table-exe
{
        margin : 0 -20px;
}
.exe-logbutton
{
    float: right;
}
/*End of Chart*/

/*
=================================================================
END OF HEALTH GOALS DESIGN -
=================================================================
*/
