body{
  font-size: 14px !important;
}
/* Vital tab css  start*/
@media only screen and (max-width : 767px) {
  .navbar-header{
    float: left;
  }
  #horizontal-menu-collapse{
    clear: both;
  }
}
@media only screen and (max-width: 360px){
  .vitals-width{
    width:54% !important;
  }
}
@media only screen and (min-width : 361px) and (max-width : 767px) {
  .vitals-width{
      width:41%;
  }
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .vitals-width{
      width:41%;
  }
}
@media only screen and (min-width: 1025px){
  .vitals-width{
      width:22%;
  }
}


.contain-block-goal table label.control-label
{
  font-size: 10px;
  padding: 8px 0px 0px 0px;
}
.contain-block-goal h4
{
  margin-bottom: 0px;
  font-size: 16px;
}
.contain-block-goal .gauge-subtitle
{
  color: #0071BE;
  margin: 10px auto;
  padding: 10px auto;
}
.contain-block-goal .goal-text
{
  font-size: 12px;
}



.nav.nav-tabs.logfood-tab
{
  /*margin-right: px;
  margin-left:  0px;*/
}


.vitals-width-btn{
    width:100%;
    text-align: left;
}
.vitals_text{
    padding-left: 5px !important;
    vertical-align: super;
}
.vitals_icon{
    font-size: 20px;
}
.log_weight{
  margin-right: 22% !important;
}
/* vital tab css end*/

/* medication tab typeahead css  start*/
span.twitter-typeahead {
  width: 100%;
}
.tt-suggestion {
  width: 100% !important;
  padding: 3px 20px;
  font-size: 15px;
  line-height: 24px;
  background-color: #ffffff;
  cursor:pointer;
}
.typeahead.tt-menu {
    padding: 0;
    font-size: 13px;
    border-color: #dbe1e8;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}
.tt-dataset{
  width: 852px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
    background-color: #1bbae1!important;
    border-radius: 4px;
    color: #FFFFFF !important;
}
/* medication tab typeahead css end*/
/* general */
.text-left_align{
  text-align: left !important;
}
.space-top{
    margin-top: 10px;
}

.sleeplog-ul
{
  list-style-type: none;
  margin: 10px 0;
  padding: 10px 0;
}
.sleeplog-li
{
  float: left;
}
ul.sleeplog-ul li.sleeplog-li .sleep
{
  width: 90px;
  margin: 0 10px;
}
.sleep_h5{
   margin-bottom: -13px;
   margin-left: 9px;
}
.on_date_left{
  margin-left: -7px;
}
.mark { 
    background-color:#3D97DC;
    color: white;
}
.color_hr{
  color:#3D97DC;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out; 
  -moz-transition: all 0.15s ease-out; 
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;

}
.mfp-bg, .mfp-fade{
  z-index:9999 !important;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out; 
  -moz-transition: all 0.15s ease-out; 
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}


.whiteOpcacity50{
  background-color:white;
  opacity: 0.7;  /* Opacity for Modern Browsers */
  filter: alpha(opacity=70);  /* Opacity for IE8 and lower */
  zoom: 1;  /* Fix for IE7 */

}


.ellipsisThis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.selected-border{
  border:1px solid red;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    margin-left: 0px !important;
}

.tillana-font{
  cursor:pointer; 
  font-family: 'Tillana', cursive;
  font-weight: 800;
  font-size: 18px;
}

.experience > legend {
  padding: 0.2em 0.5em !important;
  border:1px solid green !important;
  color:green !important;
  font-size:100% !important;
  border-bottom: 0px !important;
  border: 0px !important;
  width:100% !important;
  margin-bottom: 0px !important;
}

.edit_template .widget-icon {
  display: inline-block;
  line-height: 31px;
  text-align: center;
  font-size: 28px;
  color: #ffffff;
  border-radius: 32px;
}

.edit_template .widget-image, .edit_template .widget-icon {
  width: 40px;
  height: 40px;
}

.gallery > .row > div.edit_widget {
   margin-bottom: 0px !important;
}

.edit_widget .widget-simple .widget-icon {
  margin: 0 0px !important;
}

.edit_widget .tillana-font {
    font-size: 14px !important;
}

.text-warning, .text-warning:hover, a.text-warning, a.text-warning:hover, a.text-warning:focus {
    color: #e67e22 !important;
}
.table_list{
  font-weight:300;
  font-size:16px;
}
.cursor{
  cursor:pointer;
}
tags-input .tags .tag-item {
    margin: 2px;
    padding: 2px 5px !important; 
    display: inline-block;
    float: left;
    font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 31px !important; 
    line-height: 26px !important; 
    border: 1px solid #cccccc !important; 
    border-radius: 3px;
    background: none !important; 
    /* background: linear-gradient(to bottom,#f0f9ff 0,#cbebff 47%,#a1dbff 100%); */
}

tags-input .tags {
  border: 1px solid rgba(144,176,249,0.57) !important; 
  box-shadow: none; 
}

.alt{
    background: #6ad2eb;
    color: #fff;
    padding: 5px 10px 5px 10px !important;
    border: 1px solid #fff;
    font-size: 12px;
    font-weight: normal;
    text-align: center !important;
    text-transform: capitalize;
    vertical-align: middle !important;
}

.first_alt{
  background: 0;
  border: 0;
  color: #0a5282;
  font-size: 18px;
  font-weight: bold;
  padding-left: 0;
  text-transform: capitalize;
  text-align: left;
  padding: 6px 0 6px 0;
}
.delete{
    color: red;
    font-size: 15px;
}

.font_table{
    font-weight: bold;
    font-size: 14px;
}

@media only screen and (max-width: 1000px) {
        /* Force table to not be like tables anymore */
        #no-more-tables table,
        #no-more-tables thead,
        #no-more-tables tbody,
        #no-more-tables th,
        #no-more-tables td,
        #no-more-tables tr {
        display: block;
        }
         
        /* Hide table headers (but not display: none;, for accessibility) */
        #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
        }
         
        #no-more-tables tr { border: 1px solid #ccc; }
          
        #no-more-tables td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
        /*word-wrap: break-word;*/
        box-sizing: unset;
        width: 49.5%;
        }
         
        #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
       }
         
        /*
        Label the data
        */
         #no-more-tables td:before { content: attr(data-title); }
        }

#waterIndicator #waterLevel {
    background: url('/img/water_glass_wet.gif') no-repeat left top;
    height: 136px;
    left: 0;
}

.uppercase { text-transform: uppercase; }

.dd-dataset {
  width: 100% !important;
  margin-top: 0px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.dd-dataset li{
  list-style: none;
}
.dd-dataset p{
  margin-bottom: 4px !important;
}
.dd-suggestion{
  width: 100% !important;
  padding: 2px 10px;
  font-size: 12px;
  line-height: 14px;
  background-color: #ffffff;
  cursor: pointer;
}
.dd-suggestion:hover {
  background-color: #1bbae1!important;
  border-radius: 4px;
  color: #FFFFFF !important;
}
/* .dd-menu{
  max-height: 250px;
  overflow-y: auto;
} */

.dd-menu{
  width: 91% !important;
}
.nav-tabs > li.frequent
{
  margin-left: -3px;
}
#freq_rec_tabs .table tr:first-child td:first-child{
  border-top:0px;
}
#favourite_logged_food{
  margin-left:0px; margin-right:0px; border-right:1px solid #dddddd; border-left:1px solid #dddddd;
}
#frequently_logged_food{
  margin-left:0px; margin-right:0px; border-right:1px solid #dddddd; border-left:1px solid #dddddd;
}
#recently_logged_food{
  margin-left:0px; margin-right:0px; border-right:1px solid #dddddd; border-left:1px solid #dddddd;
}
#custom_logged_food{
  margin-left:0px; margin-right:0px; border-right:1px solid #dddddd; border-left:1px solid #dddddd;
}
#frequently_exercise{
  margin-left:3px; margin-right:3px; border-right:1px solid #dddddd; border-left:1px solid #dddddd;
}
#recently_exercise{
  margin-left:3px; margin-right:1px; border-right:1px solid #dddddd; border-left:1px solid #dddddd;
}

.loading {
  background: transparent url('/img/loading.gif') no-repeat scroll right center content-box !important;
}

.log_exercise_loader{
  width:96%;
  height:72%;
  position:absolute;
  z-index:1000;
  background-size: 100px 100px;
  background:  rgba( 255, 255, 255, .8 ) url('/img/small-loader.gif') center content-box no-repeat; 
}
.log_food_loader{
  width:96%;
  height:36%;
  position:absolute;
  z-index:1000;
  background-size: 100px 100px;
  background:  rgba( 255, 255, 255, .8 ) url('/img/small-loader.gif') center content-box no-repeat; 
}
.log_weight_loader{
  width:72%;
  height:72%;
  position:absolute;
  z-index:1000;
  background-size: 100px 100px;
  background:  rgba( 255, 255, 255, .8 ) url('/img/small-loader.gif') center content-box no-repeat; 
}
.loader{
  width:482px;
  height:71%;
  position:absolute;
  z-index:1000;
  background-size: 100px 100px;
  background:  rgba( 255, 255, 255, .8 ) url('/img/ajax-loader.gif') center content-box no-repeat; 

  border:#999 thin solid;
}
.loader_about{
  width:482px;
  height:73.3%;
  position:absolute;
  z-index:1000;
  background:  rgba( 255, 255, 255, .8 ) url('/img/ajax-loader.gif') center content-box no-repeat; 

  border:#999 thin solid;
}
.log_newfood_loader{
  width:100%;
  height:100%;
  position:absolute;
  z-index:1000;
  background:  rgba( 255, 255, 255, .8 ) url('/img/ajax-loader.gif') center content-box no-repeat; 

  border:#999 thin solid;
}

.patient_weight_container .log_weight_loader{
  height: 76% !important;
  width: 81% !important;
}
.sub_header_dairy {
    border-bottom: 1px dotted #dddddd;
    margin: 10px 0 10px;
    padding: 5px 0;
  }

.total{
  font-weight: bold;
}

.diary_loader{
  width:96%;
  height:50%;
  position:absolute;
  z-index:1000;
  background-size: 100px 100px;
  background:  rgba( 255, 255, 255, .8 ) url('/img/small-loader.gif') center content-box no-repeat; 
}
.logo_div {
    background: #337ab7; 
    padding: 10px 0 10px 10px;
}
.genemedics-content-header{
   background: rgba(0, 0, 0, 0.15) none repeat scroll 0 0 !important;

}
.genemedics-content-header h1{
  color: #6D6E70 !important;  
}
.genemedics-content-header h1 small{
  color: #6D6E70 !important;  
}
.genemedics-content-header-border{
  border: 1px solid #D9D9D9 !important;
  
}
.sidebar-partial #main-container {
    margin-left: 0 !important;
}
.themed-background-dark-blue {
  background-color: #337AB7;
}
/*.themed-background-light-blue {
  background-color: #0076f2;
}*/

/* Navs */

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus{
  color: #000 !important;
  background-color: #dddddd !important;
}

.nav.navbar-nav-custom > li.open > a,
.nav.navbar-nav-custom > li > a:hover,
.nav.navbar-nav-custom > li > a:focus {
  /*background-color: #337ab7 !important;
  color: #ffffff !important;*/
   background-color: #d8e1e9;    
    color: #337ab7;
}
/*
.navbar-default .navbar-nav > li > a:focus {
  color: inherit !important;
  background-color: inherit !important;
}
*/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  /*background-color: #337AB7 !important;*/
  background-color: #d8e1e9 !important;    
    color: #337ab7 !important;
}

.nav.navbar-nav-custom {
  /*margin: 8px !important;*/
}

.nav.navbar-nav-custom > li.open > a,
.nav.navbar-nav-custom > li > a:hover,
.nav.navbar-nav-custom > li > a:focus {
  /*background-color: #337ab7 !important;*/
}
@media (min-width: 768px) {
    .navbar-nav {
    }

    .navbar-nav > li {
      display: inline-block;
      float: none;
      /*margin-left: 5px !important;*/
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navbar-nav > li:last-child
    {
      border: none !important;
    }


}


.navbar-nav {
  /*margin: 7.5px 0px !important;*/
  width: 100%;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #e7e7e7;
  color: #555555 !important;
}


.widget-extra-full .input-group {
  width: 200px;
}

.logWeightChart{
  
  height: 250px;
  margin:6% 2% 1% 2%;
}

.log-weight-form{
  margin-left:6%;
}

.vertical-text {
  transform: rotate(90deg);
  transform-origin: left top 0;
  float: left;
}

.chart-days{
  padding-bottom: 1%;
}

#chartdiv {
  width : 100%;
  height  : 350px;
}
#log_weight_confirmation .custom_alert{
  background:#f7be64; color:#FFF;
  border-radius: 0 !important;
  font-size: medium !important;
}
#log_weight_confirmation .custom-modal-header{
  padding: 0 !important;
  text-align: left;
  border-radius: 6px !important;
}
#log_weight_confirmation .custom-modal-body{
  padding: 0 20px !important;
}
#log_weight_confirmation .custom-warning-text{
  text-align: left;
  font-size: 15px;
}
#log_weight_confirmation button{
  margin-right: 10px;
  width: 50px;
}
.user-loggedin-name{
  padding: 10px !important;
  background-color: #337AB7;
  color: #FFF;
  font-weight: bold;
}
.user-loggedin-name a{
  text-decoration: none;
}

@media only screen and (width : 1280px) {
  .log-weight-lbl-doctor{
    padding-left: 2px !important;
  }
}
.div-separator {
  height: 50px;
  display: block;
}

.navbar {
  margin-bottom: 0px !important;
}

.container-fluid{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.nav.navbar-nav-custom > li {

    min-height: 35px !important;
}
.dropdown-menu.dropdown-custom {
    min-width: 184px !important;

}
.dropdown-menu.dropdown-custom li a {
    color: #000 !important;
}

/*@media only screen and (max-width : 1280px) {
  .divice_last_li{
    display: inline-block;
  }
}*/

  header.nav > li {
    float: left;
  }

  .dropdown-toggle{
    /*font-size: medium !important;*/
    text-decoration:none !important;
  }

/*  .form-control, .input-group {
    z-index: 1 !important;
  }*/
  footer{
    padding: 0 !important;
  }
  .uperheaderlogin, .menuborder{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .log_it_button_Waterintake{
     vertical-align: 14px;
   }

   .col-lg-7.diffetwidth
   {
    width: 50%;
    padding-right: 0px;
    padding-left: 0px;
   }
   .col-lg-3.differewidthfirst
   {
    width: 25%;
   }
   .col-lg-2.differewidthlast
   {
      padding-right: 0px;
      padding-left: 0px;
      width: 25%;
   }

  .login_user_dropdown {
    margin: 8px 8px 0 0 !important;
   
  }

  .clear-search-btn{
    font-weight: bold; font-size: 15px; margin-bottom:7px;
  }

  .custom-innerpage{
    padding-top:120px !important; 
    padding-bottom: 0 !important;
  }

@media only screen and (min-width : 320px) and (max-width : 640px) {
  .custom-innerpage{
    padding-top:72px !important; 
 
  }
}

@media only screen and (min-width : 640px) and (max-width : 1200px) {
  .custom-innerpage{
    padding-top:65px !important; 
 
  }
}
@media only screen and (min-width : 1200px) and (max-width : 1280px) {
  .custom-innerpage{
    padding-top:120px !important; 
 
  }
}

h5.bodyweight-head
{
  margin:3px auto;
}
h6.bodyweight-head
{
  font-weight: normal !important;
  margin: 3px auto;
  text-align: left;
  margin-left: 3px;
}
span.bodywieghtspace
{
  float: right;
  left: 30px;
  position: relative;
}

.custom-scroll{
  max-height: 450px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.btnspacemove
{
  margin-top: 2px;
  padding-left: 0;
}
/*@media only screen and (min-width : 1200px) {
  #page-content{
    padding-left:50px !important;
  }
}*/
/* calendar css  */
.cal_sammary_date_next{
  color: #C4C7D1 !important;
}

.cal_sammary_date_input{
  width: 60%;
  display: inline;
  border: none;
  font-size: 16px;
  color: #0071BE;
  text-align: center;
  text-transform: uppercase;
}

.cal_sammary_data p {
  margin:0; 
  font-size: 11px;
  padding: 0 4px;
}

@media only screen and (min-width : 992px) {
  .cal_sammary_data p {
    font-size: 12px;
  }
}
@media only screen and (min-width : 1024px) {
  .cal_sammary_data p {
    font-size: 12px;
  }
}
@media only screen and (min-width : 1200px) {
  .cal_sammary_data p {
    font-size: 12px;
  }
}
@media only screen and (min-width : 1280px) {
  .cal_sammary_data p {
    font-size: 11px;
  }
}

@media only screen and (min-width : 1400px) {
  .cal_sammary_data p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .email-resend{float:left;}
  .alert.alert-success {
    display: inline-block;
  }
  .msg-body {padding-bottom:12px;}
  .white_back a
  {
    font-size: 13px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){ 
  .email-resend{position:relative;bottom:28px;}
}
@media only screen and (min-width: 1024px) {
  .email-resend{position:relative;bottom:28px;}
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a{
    background-image: none !important;
    background-color: #d8e1e9 !important;    
    color: #337ab7 !important;
}

.text-excess{
  color: #FF1A1A !important;
}
.text-deficit{
  color: #33CC33 !important;
}
.text-neutral{
  color: #FDE674 !important;
}

.calendar-week-cell{
  height: 40px !important;
}

@media only screen and (min-width: 767px) {
#page-content{
   /*padding-top:90px !important;*/
 }
 .navbar{
 /*position: fixed !important;*/
    width: 100% !important;
   z-index: 10 !important;
 }
}

.breadcrumb-top{
  padding: 14px !important;
}
#header .list-item {
  padding: 0 15px !important;
}


/*style for Recommened food and meal*/

/*changes in basic them of proui default class*/
.md_recommended_proui h4
{
  font-size: 18px;
}
.md_recommended_proui .form-control
{
  border-radius: 0px;
}
.md_recommended_proui .input-group-addon
{
  border-radius: 0px;
}
.md_recommended_proui button
{
  border-radius: 1px;
}
.md_recommended_proui a.btn
{
  border-radius: 1px;  
}
.md_recommended_proui a.btn.btn-round
{
  border-radius: 50% !important;
}
/*End of changes in basic them of proui default class*/

.recommeded_table .margin_bottm_0 th
{
  border-bottom: none !important;
}
.recommeded_table table.no_border tr td
{
  border-top: none !important;
  border-left: none !important;
}
.recommeded_table table.no_border tr:last-child td
{
  border-bottom: none !important;
}
.recommeded_table table.no_border tr td:last-child
{
  border-right: none !important;
}
.margin_bottm_0
{
  margin-bottom: 0px !important;
}
.no_border th
{
  border: none !important;
}
.no_padding {
  padding: 0px !important;  
}
.btn
{
  padding: 6px 12px !important;
}
.no_col_padding
{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.space_col_right_8
{
  padding-right: 8px !important;
}
.text-white
{
  color: #fff !important;
}
.title_blue
{
  color: #337AB7;
}
.md_rec_food_class h4
{
  margin-bottom: 7px;
}
.md_rec_food_class ul
{
  margin-bottom: 5px;
}
.md_rec_food_class .facolor
{
  color: #e60000;
}
.recommeded_table thead th
{
  border-bottom: 1px solid #cce6ff !important;
  border-right: 1px solid #cce6ff !important;
  text-transform: uppercase;
}
.recommeded_table td
{
  border: 1px solid #cce6ff !important;
}
.recommeded_table.table-bordered
{
  border:none;
}
.subhead-mdrec
{
  background: #f4fff0;
  /*color: #337AB7;*/
}
.width_11
{
  width: 9%;
}
.width_34
{
  width: 18%;
}
.width_10
{
  width: 8.88%;
}
.width_30
{
  width: 19%;
}
p.theme_text_p_lg_md
{
  font-size: 18px;
  color: #0073bc; 
}
p.tag_text_normal
{
  font-weight: bold;
}
.notfavourite-star
{
  color: #c1c1c1;
}
.notfavourite-star:hover
{
  color: yellow;
}
th.width_35
{
  width: 35%;
}
a.link_clor
{
  color: #E5232D;
} 

.close.white_close
{
  color: #fff !important;
  opacity: 0.9 !important;
}
.width_50
{
  width: 50% !important;
}


/*Responsive Table For MD Recommened*/
@media(max-width: 1023px) {
  #mdrecommeded_food_table table,
  #mdrecommeded_food_table thead,   
  #mdrecommeded_food_table tbody,
  #mdrecommeded_food_table th,
  #mdrecommeded_food_table td,
  #mdrecommeded_food_table tr,

  #mdrecommeded_meal_table table,
  #mdrecommeded_meal_table thead,   
  #mdrecommeded_meal_table tbody,
  #mdrecommeded_meal_table th,
  #mdrecommeded_meal_table td,
  #mdrecommeded_meal_table tr,

  #addrecommeded_food_table table,
  #addrecommeded_food_table thead,   
  #addrecommeded_food_table tbody,
  #addrecommeded_food_table th,
  #addrecommeded_food_table td,
  #addrecommeded_food_table tr      
  {
    display: block;
  }
  #mdrecommeded_food_table thead tr,
  #mdrecommeded_meal_table thead tr,
  #addrecommeded_food_table thead tr
  {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #mdrecommeded_food_table tr,
  #mdrecommeded_meal_table tr,
  #addrecommeded_food_table tr
  {
    border: 1px solid #cce6ff;
  }
  #mdrecommeded_food_table tr,
  #mdrecommeded_meal_table tr,
  #addrecommeded_food_table tr
  {
    border-bottom: none;
  }
  #mdrecommeded_food_table tr:last-child,
  #mdrecommeded_meal_table tr:last-child,
  #addrecommeded_food_table tr:last-child
  {
    border-bottom: 1px solid #cce6ff;
  }
  #mdrecommeded_food_table tr.subhead-mdrec,
  #mdrecommeded_meal_table tr.subhead-mdrec
  {
     box-shadow: none;
  }
  #mdrecommeded_food_table td,
  #mdrecommeded_meal_table td,
  #addrecommeded_food_table td
  {
    position: relative;
    padding-left: 35%;
    white-space: normal;
    text-align:left;
    border: none !important;
  }
  #mdrecommeded_food_table table tbody tr td:before,
  #mdrecommeded_meal_table table tbody tr td:before,
  #addrecommeded_food_table table tbody tr td:before
  {
    content: attr(data-title);
    position: absolute;
     top: 6px;
     left: 6px;
     width: 30%;
     padding-right: 10px;
     white-space: normal;
     text-align:left;
     font-weight: bold;
     padding-top: 7px;
     color: #0073BC;
     text-align: right;
     text-transform: uppercase;
  }
  #mdrecommeded_food_table tr.subhead-mdrec td,
  #mdrecommeded_meal_table tr.subhead-mdrec td
  {
    padding-left: 15px;
  }

  .recommeded_table tbody tr.tr_no_border
  {
    border: none !important;
  }
  
  .width_11
  {
    width: auto;
  }
  .width_34
  {
    width: auto;
  }
}

@media(max-width: 480px) {
  #mdrecommeded_food_table table h4,
  #mdrecommeded_meal_table table h4
  {
    font-size: 18px;
  }
  #mdrecommeded_food_table td,
  #mdrecommeded_meal_table td,
  #addrecommeded_food_table td
  {
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align:left;
  }
  #mdrecommeded_food_table table tbody tr td:before,
  #mdrecommeded_meal_table table tbody tr td:before,
  #addrecommeded_food_table table tbody tr td:before
  {
    width: 45%;
    font-size: 14px;
  }
}
@media(max-width: 360px) {
  .width_25
  {
    width: 30% !important;
  }
  .add_break_contain ul li
  {
    padding-left: 1px;
    padding-right: 1px; 
  }
  .add_break_contain ul li select
  {
    padding: 6px 2px;
  }
}

/*End of Responsive Table For MD Recommened*/

@media(max-width: 767px) {
  .no_col_padding
  {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .margin_top_10
  {
    margin-top: 10px;
  }
  .space_col_right_8
  {
    padding-right: 15px !important;
  }
  .col_xsmalldiv
  {
    border-bottom:1px solid #f2f2f2;
    padding: 15px 10px;
  }
  .col_xsmalldiv:last-child
  {
    border-bottom: none;
  }
  .block_row_admin
  {
    border-bottom: 2px solid #e6e6e6;
  }
  .block_row_admin:last-of-type
  {
    border-bottom: none !important;
  }
  .text-alignRight
  {
    text-align: left !important;
  }
  .text-alignCenter
  {
    text-align: left !important;
  }
  .patient_title
  {
    margin: 0px !important;
    display: block !important;
  }
}

.search_food_loader{
  width:96%;
  height:64px;
  position:absolute;
  z-index:1000;
  background-size: 100px 100px;
  background:  rgba( 255, 255, 255, .8 ) url('/img/small-loader.gif') center content-box no-repeat; 
}
.form_custom
{
  display: inline !important;
  width: 30% !important;
}
.padding_top_bottom
{
  padding-top: 5px;
  padding-bottom: 5px;
}
.margin_top_no
{
  margin-top: 5px !important;
  margin-bottom: 0px !important;
}
.details-exec h5 span
{
  font-size:14px; 
  font-weight:normal;
}
.exe_details_bot h5
{
  margin-bottom: 7px;
}
.display_inline{
  display: inline !important;
  width: 80% !important;
}
.width_100
{
  width: 100%;
}
.padding_headlogo
{
  padding: 15px;
}

table.add_food_tbl thead tr th,
table.add_food_tbl tbody tr td
{
  padding: 8px !important;
}
table.add_food_tbl thead tr th
{
  font-size: 13px !important;
  font-weight: bold;
}
.white_back
{
  background: transparent;
  border-radius: 2px;
}
.white_back a
{
  color: #fff !important;
  font-size: 16px;
}
.white_back a:hover,
.white_back a:focus,
.white_back a:active
{
  background: transparent !important;
  color: #fff !important;
}

.patients-head.header-section.genemedics-content-header{
 z-index: 1;
}
.font_14
{
  font-size: 14px !important;
}
[class^="font_14"]::before, [class*="font_14"]::before, [class^="font_14"]::after, [class*="font_14"]::after
{
  font-size: 14px !important;
}

ul.navbar-nav.admin_nav_horiz > li
{
  margin-left: -4px !important;
}
.form-control.top_space
{
  top: 1px;
}
.btn-class-custom
{
  border-radius: 0px;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.fa.facolor_blue
{
  color: #3BBCDA;
}
.admin_side_custom p
{
  margin-bottom: 5px;
}
.circle_block
{
  background: #FCAC6F;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  vertical-align: baseline;
}
.btn_cross
{
  background: #ABBAC3;
  border:1px solid #97a9b5;
  border-radius: 0px;
  padding: 3px 10px !important;
}
.fa.fa_white
{
  color: #fff;
}
hr.last_white_hr:last-child
{
  margin-top: 0px;
  border-color: transparent;
}
.width_25
{
  width: 25%;
}
.ul_block_bottomline
{
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 15px;
}
.ul_block_bottomline:last-child
{
  border-bottom: none;
}
.admin_modal_addbreak .modal-dialog
{
  width: 320px;
  margin: auto;
}
.admin_modal_addbreak .modal-footer
{
  background: transparent;
}
.no_radius
{
  border-radius: 0px;
}
.admin_modal_addbreak hr
{
  margin-bottom: 15px;
  margin-top: 15px;
}
.admin_modal_addbreak .modal-body
{
  padding: 5px 15px !important;
}
input.input_occur
{
  width: 70px;
}
.no_margin
{
  margin: 0 !important;
}
.text-alignRight
{
  text-align: right;
}
.text-alignCenter
{
  text-align: center;
}
.display_inlineblock
{
  display: inline-block;
}
.patient_title h3
{
  padding-right: 5px;
  padding-left: 5px;
}
.font_14
{
  font-size: 14px !important;
}
.custom_pager li a
{
  color: #666666;
}
.custom_pager li a:hover
{
  background: #fff;
  color: #666666;
  border-color: #ccc;
}
.patient_title
{
  display: flex;
  -webkit-display:flex;
  align-items: center;
  -webkit-align-items: center;
}
.pagination-sm.margin_top_no.pagination.ng-isolate-scope.ng-valid{
    margin-bottom: -7px !important;
}
.margin_bot_0
{
  margin-bottom: 0px;
}.fa-gray{
  color:#b3b3b3;
}
.meal_food_name{
  color:#696969 !important;
  text-decoration: none !important;
}
.width_60{
  width: 60% !important;
}
.width_15{
  width: 15% !important;
}
.recommeded_table thead th 
{
  font-size: 14px !important;
}
.block_option_titlehead_height
{
  line-height: 34px
}
.subdomain_input
{
  display: inline-block;
  width: 40%;
  margin-bottom: 5px;
}
.font_12
{
  font-size: 12px;
}
.saperator_5
{
  display: block;
  height: 10px;
  background: transparent;
}
.center_text_for_line{
  width: 100%; 
  height: 14px; 
  border-bottom: 1px solid #dbe1e8; 
  text-align: center
}
.centered_text_of_line{
  font-size: 18px; background-color: #fff; padding: 0 10px;
}
.red_font
{
  color: #b30000;
}

/*.gallery-image .no-image{
  border: 1px solid #7782bc;
}*/

/* Complete plan templates switch color on/off */
#daysTimeModal  .switch input:checked + span {
  background-color: #27ae60 !important;
}