.login_loader{
  width:395px;
  height:38%;
  position:absolute;
  z-index:899;
  background-size: 100px 100px;
  background:  rgba( 255, 255, 255, .8 ) url('/img/ajax-loader.gif') center content-box no-repeat;

  /*border:#999 thin solid;*/
}

.signup_loader{
  width:418px;
  height:40%;
  position:absolute;
  z-index:1000;
  background-size: 100px 100px;
  background:  rgba( 255, 255, 255, .8 ) url('/img/ajax-loader.gif') center content-box no-repeat;
  /*border:#999 thin solid;*/
}
.profile_loader {
  width:418px;
  height:50%;
  position:absolute;
  z-index:1000;
  background-size: 100px 100px;
  background:  rgba( 255, 255, 255, .8 ) url('/img/ajax-loader.gif') center content-box no-repeat;
}

#page-wrapper.page-loading {
  overflow: hidden;
}
#page-wrapper.page-loading .preloader {
  display: block;
}
#page-wrapper.page-loading #page-container {
  opacity: 0;
}
.preloader {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  z-index: 99999;
}
.preloader .inner {
  position: fixed;
  top: 20%;
  left: 50%;
  margin: 0 0 0 -50px;
  width: 100px;
  height: 100px;
  text-align: center;
}
.preloader-spinner {
  width: 24px;
  height: 24px;
  border: 3px solid transparent;
  border-left-color: #ffffff;
  border-right-color: #ffffff;
  border-top-color: #ffffff;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 0.4s linear infinite;
  animation: nprogress-spinner 0.4s linear infinite;
}
.preloader-spinner {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-width: 3px;
}

.themed-color {
  color: #1bbae1;
}
.themed-border {
  border-color: #1bbae1;
}
.themed-background {
  background-color: #1bbae1;
}
.text-light,
.text-light:hover,
a.text-light,
a.text-light:hover,
a.text-light:focus {
  color: #ffffff;
}

.btndesign1:disabled
{
  background: #e6e6e6 !important;
  color:#1a1a1a !important;
  border-color: #666666 !important;;
}
