body
{
	 
}
.container-fluid.headimage
{
	background-image: url('../images/bg_images.png');
	background-repeat: no-repeat;
	background-size: 100%;
    background-size: cover;
	color: #fff;
    padding-bottom: 20px;
    background-position: top left;
    /*background-position: center;*/
    /*background-attachment: fixed;*/
}
.grandientheader
{
    background-image: url('../images/900.png');
    background-repeat: no-repeat;
    margin: 10px 0px;
    padding-right: 80px;
}

.grandientheader p{
    margin: 0px;
}

/*This is for Header for Stiky Effect*/
header
{
            z-index: 1;
            color: #fff;
            font-family: 'PT Sans', sans-serif;
            width: 100%;
            /*set animation
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;*/
}
header.sticky {
            position: fixed;
            width: 100%;
            background: #0073BC;
            left: 0px;
            top:0px;
            /*padding: 0px 15px;*/
              /*font-size: 24px;*/
            /*line-height: 48px;
            height: 48px; */
}
header div.head.stickytop
{
    background: #e6f3fb;
    margin: 0;
    padding: 5px 0px;
    color: #0073BC;
}

/*End of Header for Stiky Effect*/

.freeconsult
{
    background-color: #DB2429;
    color: #fff;
    font-weight: bold;
}
.btn.freeconsult:hover
{
    background-color: #DB2429;
    color: #fff;
}

.phonetext
{
    font-size: 22px;
    vertical-align: middle;
    font-weight: bold;
}
ul.headfirst
{
    margin-top: 2%;
    margin-bottom: 0px;
}
.space_search_login
{
    margin-top: 2%;
}

.fluidpadd
{
	/*padding:0% 5% 0% 5%;*/
}
sup.cartbackground
{
    background:red; padding:1px 4px; border-radius:2px;
}
a.loginjoin
{
    /*color: #0172BF;*/
    color: #0073BC;
}
a:hover.loginjoin
{   
    text-decoration: none;
}

.arrow-petientlogin-signup
{
    position: relative;
    bottom: 2px;
}

.menuborder
{
    padding-top:10px; 
    border-top:2px solid #ccc;
    /*margin-bottom: 5px;*/
}
.btnspace
{
    padding-top: 2%;
    padding-bottom: 4%;
}

.menuline
{
    /*font-size: x-large;*/
    vertical-align: text-bottom;
    position: relative;
    top: -5px;
    font-size: 28px;
    vertical-align: text-bottom;
    font-weight: lighter;
}

.row.head
{
    margin: 5px 0px;
} 
.row.hrheight
{
    margin-top: -22px;
}
ul li.backimgmenu
{
    background-image: url('../images/Breadcrumb-trail1.png');
    background-repeat: no-repeat;
    padding: 5px 48px 5px 10px;
    margin: 0px;
}
ul li.backimgmenu1
{
    background-image: url('../images/Breadcrumb-trail-copy-2.png');
    background-repeat: no-repeat;
    padding: 5px 48px 5px 25px;
    margin: -10px;
}
.btn.background
{
    border:2px solid #ff0000;
    background-color: #fff;
    color: #ff0000;
    width: 229px;
    height: 66px;
    font-weight: bold;
}
.backslideimg
{
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
}
.feedbackimg
{
    background-image: url('../images/questions.png');
    background-repeat: no-repeat;
    height: 520px;
}

.mapbackimg
{
    background-image: url('../images/mapbg.png');
    background-repeat: no-repeat;
    color: #fff;
    height: 520px;
}

input.transparent-input, textarea.transparent-input,button.transparent-input{
    background-color: #003d66 !important;
    opacity: 0.6;
    border:3px solid #fff !important;
}

.well.backgroundcl
{
    background-color: #fff;
}
.readmoreimg
{
    background-image: url('../images/Read-More-CTA-.png');
    padding: 10px;
    color: #fff;
}
.textunderline
{
    text-decoration: underline;
}
h4
{
    font-size: 15px;
}

.footer-subbox
{
    padding: 2%;
    padding-left: 3%;
}
p.footerparagraph
{
    margin: 0px;
    padding: 7px;
}
.form-control.fontcolor
{
    color: #fff;
}
.row.tab-health-goalrow
{
    margin-top: 10px;
    margin-bottom: 30px;
}
.table.table-health
{
    border-radius: 15px;
    border: 1px solid #ccc;
}
.btn.btndesign
{
    border: 1px solid #0071BE;
    color: #0071BE;
    font-weight: bold;
    width: 152px;
    padding: 5px 0px;
} 
tr td.health-border:first-child,tr th.health-border:first-child,
{
    border-left: none;
}
small.smalltext-date
{
    float: right;
}
span.btn-orcolor
{
    color: #0071BE;
    font-weight: bold;
}
span.caret.btncaret
{
    transform: rotate(-90deg);
}
td.column-width-body-weight, th.column-width-body-weight
{
    width: 30%;
    border-right: 1px solid #ccc;
}
td.column-width-last, th.column-width-last
{
    width: 25%;
    border-right: 1px solid #ccc;
}
td.column-width-goal, th.column-width-goal
{
    width: 15%;
    border-right: 1px solid #ccc;
}
td.column-width-trend, th.column-width-trend
{
    width: 30%;
    border-right: 1px solid #ccc;
}

.subheader-health
{
    background :#E0F2FF;
    color: #0071BE;
}



/*for Text Slider*/
.textslider
{
    border:2px solid #fff; 
    margin:4%;
    padding: 3%;
    border-radius: 2%;
    background-color: rgba(255, 255, 255,.6);
}
.carousel-indicators {
  bottom:-6%;
}
/*End of Text Slider*/


/*This is for change color of carousel-indicators */
.lSSlideOuter .lSPager.lSpg > li a {
    background-color: #AED8F2;
    z-index: -99;
}
.lSSlideOuter .lSPager.lSpg > li.active a{
    background-color: red;
}

.carousel-indicators li{
    /*text-indent:99;*/
    background-color : #AED8F2;
}

.carousel-indicators li.active{
    background-color: red;   
}

.carousel-indicators{
    z-index: 0 !important;
}
/*End of carousel-indicators*/


/*Start The Media Query*/
@media(max-width: 2400px) {
    .titletext
    {
        font-size: 40px;
        text-decoration: underline;
    }   
    
}

@media only screen and (min-width : 1200px) {

    .fluidpadd
    {
        /*padding: 0px;*/
    }
}
@media only screen and (min-width : 1360px) {

    .fluidpadd
    {
    /*    padding:0% 5% 0% 5%;*/
    }
}



@media(max-width: 1199px) {
    header.sticky {
            padding: 0px 15px;
    }
    .titletext
    {
        font-size: 22px;
        vertical-align: middle;
    }
    .menuborder
    {
        border-top:none;
        margin-bottom: 5px;
    }
    .container-fluid.headimage
    {
        background: #0073BC;
    }
    .carousel-indicators {
        bottom:-2%;
    }

    .glyphicon.petientlogin
    {
        top: 0px;
        position: absolute;
        color: #000;
        float: left;
        padding-right: 10px;
        margin-top: 0px;    
    }

    .glyphicon.formenudownicon
    {
        top: 0px;
        position: relative;
        color: #000;
        float: right;
        padding-right: 10px;
        margin-top: -25px;
    }
    .glyphicon.for-submenudownicon
    {
        top: 0px;
        position: relative;
        color: #808080;
        float: right;
        padding-right: 25px;
        margin-top: -25px;
    }
    ul li ul li:hover .glyphicon.for-submenudownicon
    {
        color: #000;
    }

    .glyphicon-chevron-down
    {
        position: relative;
        top: -10px;
    }

    .glyphicon-chevron-down.normalglyphiconlogin
    {
        position: relative;
        /*top: 15px;   */
    }

    .inner-addon .glyphicon {
        position: absolute;
        padding: 400px;
        pointer-events: none;
    }

    span img.icondown
    {
        display: none;
    }
    span img.submenu-icondown
    {
        display: none;
    }

}

@media(max-width: 991px) {
    .titletext 
    {
        font-size: 18px;
        vertical-align: middle;
    }
    .feedbackimg
    {
        /*background: none;
        height: 100%;*/
    }
    .mapbackimg
    {
        /*background: none;   */
        background-size: 100%;
        height: auto;
    }
    .container-fluid.headimage
    {
        /*background: #0076F2;*/
        background: #0073BC;
    }
    .menuborder
    {
        border-top:none;
        margin-bottom: 5px;
    }
    h4
    {
        font-size: 14px;
    }
    .footer-subbox
    {
        padding: 1%;
        padding-right: 0%;
    }
    .footer-subbox.aboutgenbox
    {
        width: 25%;
        /*background-color: red;*/
    }
    .footer-subbox.onlineorderbox
    {
        width: 18%;
        /*background-color: red;*/
    }
    .footer-subbox.contactbox
    {
        width: 25%;
        /*background-color: green;*/
    }
    .footer-subbox.connectwith
    {
        width: 32%;
        /*background-color: pink;*/
    }
}

@media(max-width: 768px){
    .titletext 
    {
        font-size: 10px;
    }
    .feedbackimg
    {
        background-image: url('../images/questions.png');
    background-repeat: no-repeat;
        /*background: #D9EDF7;*/
        height: 100%;
    }
    .mapbackimg
    {
        background: #D9EDF7;
        height: 100%;
        color: #000;
    }
    .container-fluid.headimage
    {
        /*background: #0076F2;*/
        background: #0073BC;
    }
    .menuborder
    {
        border-top: none;
        margin-bottom: 5px;
    }
    .backslideimg
    {
        background: none;
        background-color: #D9EDF7;
    }
    .textslider
    {
        border:2px solid #fff; 
        margin:1%;
        border-radius: 2%;
        background-color: rgba(255, 255, 255,.5);
    }
    .carousel-indicators {
        bottom:-4%;
    }

    .footer-subbox
    {
        float: left;
        /*background-color: red;*/
    }
    .footer-subbox.aboutgenbox
    {
        width: 100%;
        /*background-color: red;*/
    }
    .footer-subbox.onlineorderbox
    {
        width: 38%;
        /*background-color: red;*/
    }
    .footer-subbox.contactbox
    {
        width: 50%;
        /*background-color: green;*/
    }
    .footer-subbox.connectwith
    {
        width: 100%;
        /*background-color: pink;*/
    }
}
@media (min-width: 480px) and (max-width: 768px){
    .backgroundcl img.recentimage
    {
       /* width: 50%;
        background-color: blue;*/
    }
}
/*Here End of Media Query*/









/*This is for Login page css*/
.backimage-wall
{
    background: url('../images/wall.jpg');
    /*background-position: 100% 100%;*/
    background-size: cover;
   background-position: center bottom;
    /*min-height: 1000px;*/
}
.row.none-marginleftright
{
    margin-left: 0px;
    margin-right: 0px;
}
.uperheaderlogin
{
    background: #E6F3FB;
    padding: 5px 0px;
    color: #0073BC;
}
.uperheaderlogin .form-control.search, .form-control.search, .head .form-control.search
{
    border-radius: 0px;
    width: 250px;
}

.form-control.search::-moz-placeholder {
    color: #8DB6D9;
}
.uperheaderlogin .input-group.search, .input-group.search
{
    border: 2px solid #199BFF;
    
}
.uperheaderlogin button.go, button.go
{
    background: #229FFF;
    color: #fff;
    border-radius: 0;
}
.uperheaderlogin button:hover, button.go:hover
{
    background: #C7E6FF;
    color: #000;
}
.headerlogin
{
    /*background: red;*/
    background: #0073BC;
    padding: 0px;
}

.liveimage
{
    margin: auto;
}
.headlogo
{
    background: #0073BC;
    border-radius: 12px 12px 0px 0px;
}
.innerpage
{
    margin-top: 40px;
    margin-bottom: 60px;
    /*background: red;*/
    max-width: 450px;
    border-radius: 10px;
}
.innerpage form button
{
    margin: 10px;
    background: #0073BC;
    color: #fff;
    font-weight: bold;    
}
.innerpage form button.savebtn
{
    margin: 0px;
}
.innerpage form button:hover
{
    background-color: #E05D60;
    color: #fff;
}
.table{
    margin-bottom: 0px;
}
.table th, .table td { 
    border-top: none !important;
    border-left: none !important;
}
.innerpage input
{
    width: 320px;
    height: 40px;
    border-radius: 0px;
    border: 1px solid #ccc;
}
.innerpage input.noborderleft
{
 /*   border-left: none;*/
}
.innerpage label.leftborder
{
  /*  border-left: none;*/
}
.innerpage input.lastname-inch
{
    border-left: 1px solid #ccc; 
}
.input-group .form-control.indexset
{
    z-index: 0;
}
.form-control.gendermarginmale
{
    padding-top: 7px;
    padding-left: 0px;
    border: none;
    background : none;
    box-shadow: none;
}
.form-control.gendermarginfemale
{
    padding: 6px 0px;
    border: none;
    background : none;
    box-shadow: none;
    padding-left: 5px;

}
.col-xs-6.topbotspace,.col-xs-12.topbotspace,.col-xs-3.topbotspace,.col-xs-5.topbotspace
{
    margin-top: 10px;
    margin-bottom: 10px;
}
.innerpage input.regsecond
{
    width: 100%;
    border-right: none;
    /*border: none;    */
}
.input-group-addon.icon-aewfont
{
    display: none;
}
.input-group-addon.backcolor
{
    background: none;
    border: none;

}

.innerpage input.feetinch
{
    margin-left: 20px;
    width: 80%;  
} 
.input-group-addon.feetinchlbl
{
    border: 1px solid #ccc;
    padding: 10px;
}
.inner-addon .glyphicon.reguserglyphicon
{
    padding: 12px 5px;
    z-index: 2;
}
.inner-addon.radiospace
{
    text-align: left;
    padding-left: 30px;
}
.innerpage input[type="checkbox"]
{
    width: auto;
    height: auto;
}

.innerpage input[type="radio"]
{
    width: auto;
    height: auto;
    margin-left: 10px;
}
.input-group-addon.checkboxthem
{
    width: 7%;
    text-align: left;
    background : none;
    border: none;
    vertical-align: baseline;
    padding: 0px;
}
.input-group-addon.male
{
    padding-right: 5px;
}
.input-group-addon.female
{
    padding: 0px;
    padding-left: 5px;
}
.col-sm-10.checkboxitemspace
{
    margin-top: 10px;
    margin-bottom: 10px;
    /*font-size: 12px;*/
}

.input-group.continuebtn
{
    float: right;

}
.divider {
  height: 2px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.innerpage p.petient
{
    color: #0073BC;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    margin-top: 10px;
}
.innerpage a.account
{
    color: red;
    width: 50%;
}
.innerpage table.innertable
{
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ccc;
    border: 5px solid #fff;
}


/*This is for menu icon arrow down*/
span img.icondown
{
    position: relative;
    bottom: 10px;
}
span img.submenu-icondown
{
    position: absolute;
    top: 20px;
    right: 10px;
    transform: rotate(-90deg);
}

.glyphicon
{
    top: 0px;
}

.glyphicon-chevron-down
{
    position: relative;
    top: -10px;
}
.glyphicon-chevron-down.normalglyphicon
{
    position: relative;
    top: 3px;
}
.glyphicon-chevron-down.normalglyphiconlogin
{
    position: relative;
    top: 0px;   
}
.inner-addon { 
    position: relative; 
    margin-top: 5px;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 13px;
  pointer-events: none;
  color: #6B6B6B;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }

/*td.petientlogin-head
{
    padding-top: 0px;
    background-color: red;
}
*/
.headlogo img{width: 70%; margin-top: 10px; margin-bottom: 10px;}

.phoneiconmsg
{
    margin-top: -2%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    left: 10px;
    padding: 5px 0px;
    text-align: left;
    font-family: Helvetica (TT);
}
span.fa.fa-phone.positiionphone
{
    transform: rotate(90deg);
}
span.glyphicon.glyphicon-envelope.positiionphone
{
        vertical-align: text-top;
}

.backimage-wall form div.input-group
{
    margin: 5px 0px;
}

.footerback{
    background: #0073BC;
    color: #fff;
    font-family: Helvetica (TT);
    font-size: 13px;
}
.footerback p.copyright{
    margin-top: 3%;
    font-size: 100%;
}
.footerback img
{
    width: 6%;
}
.footerback p.imgspace
{
    margin: 10px 0px;
}
.account
{
    font-size: 12px;
}

span.stay-connect-footer
{
    padding-right: 10px;
    letter-spacing: 2px;
}


@media screen and (max-device-width : 1200px)  {


   /* #login-page{background-color: rgb(249,249,249);}
    #login-page .footerback
    {
        position: absolute;
        width: 100%;
        bottom: 0px;
    }*/
}

@media screen and (min-device-width : 320px) and (max-device-width : 420px)  {

    .backimage-wall
    {
        background: url('../images/wall.jpg');
        background-size: auto;
        /*background-size: 200% 100%;*/
    }

    ul li.backimgmenu
    {
        background-image: url('../images/Breadcrumb-trail1.png');
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0px;
        padding: 2px 18px 20px 20px;
        font-size: 11px;
    }
    ul li.backimgmenu1
    {
        background-image: url('../images/Breadcrumb-trail-copy-2.png');
        background-repeat: no-repeat;
        background-size: contain;
        padding: 2px 18px 20px 20px;
        font-size: 11px;
        margin: 0;
    }

    .liveimage
    {
        margin: 0 auto;
        width: 70%;
    }
    .innerpage
    {
        margin-top: 20px;
        margin-bottom: 50px;
        /*background: red;*/
        width: 70%
        border-radius: 10px;
    }
    .innerpage input
    {
        height: 40px;
        width: 100%;
        border-radius: 0px;
        border: 1px solid #ccc; 
    }
    .table.table td.innertablepad
    {
        padding: 8px 0px;
    }
    a.account
    {
        font-size: 10px;
    }
    .dot
    {
        display: none;
    }
    .dividephon-envelope
    {
        display: none;
    }
    .innerpage p.petient
    {
        color: #0073BC;
        font-size: 20px;
        font-weight: bold;
    }
    .headlogo img{width: 50%;}

    .input-group-addon.male
    {
        padding-right: 5px;
    }
    .input-group-addon.female
    {
        padding: 0px;
        padding-left: 25px;
    }
}
/*End of Media Query for petent Login box*/

@media screen and (min-device-width : 320px) and (max-device-width : 480px)  {

    .backimage-wall
    {
        background: url('../images/wall.jpg');
        background-size: auto;
    }

    .phoneiconmsg
    {
       /* background-color: yellow;*/
        font-size: 12px;
        margin: 2% 0%;
        margin-right: 5%;
        position: relative;
        left: 10px;
        padding: 5px 0px;
        text-align: left;
    }
    .col-xs-6.feetbox,.col-xs-6.firstlast-name
    {
        width: 100%;
    }
    .input-group-addon.icon-aewfont
    {
        display: table-cell;
    }

    span.glyphicon.glyphicon-earphone.positiionphone
    {
        transform: rotate(90deg);
    }
    span.glyphicon.glyphicon-envelope.positiionphone
    {
        vertical-align: baseline;
    }
    .innerpage p.petient
    {
        color: #0073BC;
        font-size: 20px;
        font-weight: bold;
    }

    h1
    {
        font-size: 24px;
    }
    h2
    {
        font-size: 22px;
    }
    h3
    {
        font-size: 18px;
    }
}

@media screen and (min-device-width : 420px) and (max-device-width : 480px)  {
    .phoneiconmsg
    {
        font-size: 14px;
    }
    .dividephon-envelope
    {
        display: none;
    }
}
@media screen and (min-device-width : 420px) and (max-device-width : 768px)  {
    img.recent-artical
    {
        float: left;
        margin-right: 10px;
    }
}

