
/*
=================================================================
(#m01mls) HEALTH GOALS DESIGN - Media Query
=================================================================
*/

/*This is only for Crome Browser*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
 .health-sub-contain.weekavg
    { 
        margin-left: -1px;
        border-left: none;
        padding-right: 14px;
        margin-top: 51px;
    }
    .health-sub-contain.weekavg table.table.avgpart tr td
    {
        height: 112px;
    }
    .health-sub-contain.lastrow-monthavg
    {
        border-top: 1px solid #ccc;
        width: 23.4%;
        left: -2px;
    }
    .health-sub-contain.weekavg
    {
        margin-top: 51px;
        border-left: 1px solid #ccc;
        /*border-top: 1px solid #ccc;*/
        padding-right: 15px;
        padding-left: 0px;
    }
    .padd-bottom-exelog
    {
        padding-bottom: 240px !important;
    }
}
@media (min-width: 1920px)
{
    .padd-bottom-exelog
    {
        padding-bottom: 282px !important;
    }    
    .health-sub-contain.lastrow-monthavg.forcalorilog-footer-avg
    {
        padding-bottom: 35px;
    }
}
@media (min-width: 1720px)
{
    .health-sub-contain.lastrow-monthavg.forcalorilog-footer-avg
    {
        padding-bottom: 20px;
    }
}
@media (min-width: 1680px)
{
    #calendar .fc-toolbar, #calendar-exerciselog .fc-toolbar
    {
        left: 5%;
    }    
    #calendar .fc-toolbar button.fc-prev-button.fc-corner-left, #calendar-exerciselog .fc-toolbar button.fc-prev-button.fc-corner-left
    {
        left: 45%;
    }
    #calendar .fc-toolbar button.fc-next-button.fc-corner-right, #calendar-exerciselog .fc-toolbar button.fc-next-button.fc-corner-right
    {
        right: 21%;
    }
    .block-content.calorie-log-heading h3
    {
        padding-right: 10px;
    }
    .form-control.input-datepicker-first.firstblock-date
    {
        width: 45%;
    }
    .healthbox.watercupboxheight
    {
        /*height: 65px;*/
    }
    .health-sub-contain.lastrow-monthavg
    {
        width: 23.7%;
    }
}

@media (min-width: 1280px)
{
    .healthbox.watercupboxheight 
    {
        padding:20px 5px !important;
        /*height: 70px;*/
    }
    .health-sub-contain > h5.watercup-cup
    {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .guagemeterdemo {
        position: relative;
        width:9vw;
        height: 4.5vw;
        box-sizing: border-box;
        float:left;
        margin:5px auto;
        /*background-color: red;*/
    }

    .health-sub-heading
    {
        padding: 0px;
    }
    .block-title h3
    {
        padding-left: 10px;
    }
    .health-sub-contain.goal124
    {
        padding-left: 5px;
    }
    .health-sub-contain.lastchartcontain
    {
        height: 390px;    
    }
    #calendar .fc-toolbar, #calendar-exerciselog .fc-toolbar
    {
        left: 3.5%;
    }
}
@media (max-width: 1279px)
{
    #calendar .fc-toolbar, #calendar-exerciselog .fc-toolbar
    {
        left: 5%;
    }
    #calendar .fc-toolbar button.fc-prev-button.fc-corner-left, #calendar-exerciselog .fc-toolbar button.fc-prev-button.fc-corner-left
    {
        left: 44%;
    }
    #calendar .fc-toolbar button.fc-next-button.fc-corner-right, #calendar-exerciselog .fc-toolbar button.fc-next-button.fc-corner-right
    {
        right: 20%;
    }
    .form-control.input-datepicker-first.firstblock-date
    {
        width: 24%;
    }
    .health-sub-contain.lastrow-monthavg
    {
        width: 23.8%;
    }
    .block-content.health-contain.health-body-row ul li
    {
        font-size: 14px;
    }
    .block.healthbox.heightExe-daily-log
    {
        min-height: auto !important;
    }
    .padd-bottom-exelog
    {
        padding-bottom: 20px !important;
    }
}
@media (max-width: 1200px)
{
    .lastline.left.calorielog-left
    {
        width: 93%;
        left: 5%;
    }
    .mainheading-form
    {
        font-size: 36px;
        margin-bottom: 15px;
    }   
    .mainheading-form-subhead
    {
        font-size: 24px;
    }

}
@media (max-width: 1024px)
{
    .form-control.input-datepicker-first.firstblock-date
    {
        width: 33%;
    }
    #calendar .fc-toolbar button.fc-prev-button.fc-corner-left, #calendar-exerciselog .fc-toolbar button.fc-prev-button.fc-corner-left
    {
        left: 40%;
    }
    #calendar .fc-toolbar button.fc-next-button.fc-corner-right, #calendar-exerciselog .fc-toolbar button.fc-next-button.fc-corner-right
    {
        right: 16%;
    }
}


@media (min-width: 768px) and (max-width: 1024px)
{
    a.buttonwidth
    {
        width: 105px !important;
        padding: 5px;
        margin: auto;
    }     
    #datepickerto, #datepickerto2, #datepickerto3, #datepickerto2-1, #datepickerto2-2, #datepickerto2-3
    {width:130px; margin: 0 10px 10px 10px;}

    #datepickerfrom, #datepickerfrom2, #datepickerfrom3, #datepickerfrom2-1, #datepickerfrom2-2, #datepickerfrom2-3
    {width:130px; margin: 0 10px 10px 10px;}

    small.dataside
    {
        margin-bottom: 10px;
    }
}
@media (max-width: 768px)
{
    #calendar .fc-toolbar button.fc-prev-button.fc-corner-left, #calendar-exerciselog .fc-toolbar button.fc-prev-button.fc-corner-left
    {
        left: 37%;
    }
    #calendar .fc-toolbar button.fc-next-button.fc-corner-right, #calendar-exerciselog .fc-toolbar button.fc-next-button.fc-corner-right
    {
        right: 13%;
    }
}
@media (max-width: 767px)
{

    .block-content.block-heading-health.calorie-log-heading-footer,
    .block-content.block-heading-health.calorie-log-heading
    {
        margin-left: -15px;
        margin-right: -15px;   
    }
    .health-sub-contain.lastrow-monthavg
    {
        width: 48.1%;
    }
    #calendar.fc.fc-ltr.fc-unthemed
    {
        margin-left: 5px;
    }
    .health-sub-contain.weekavg
    {
        margin-top: 0px;
        padding-right: 20px;
    }

    .health-sub-contain:nth-child(2)
    {
        border-right: 1px solid #ccc;
    }
    .health-sub-heading:nth-child(2)
    {
        border-right: 1px solid #ccc;
    }
    .health-sub-heading.monthavgpart
    {
        position: relative;
        left: 5px;
    }
    .mainheading-form
    {
        font-size: 28px;
        margin-bottom: 15px;
    }
    #datepickerto, #datepickerto2, #datepickerto3, #datepickerto2-1, #datepickerto2-2, #datepickerto2-3
    {width:135px; margin: 0 5px 5px 22px;}

    #datepickerfrom, #datepickerfrom2, #datepickerfrom3, #datepickerfrom2-1, #datepickerfrom2-2, #datepickerfrom2-3
    {width:135px; margin: 0 4px 4px 5px;}

    .guagemeterdemo {
        position: relative;
        width:18vw;
        height: 9vw;
        box-sizing: border-box;
        float:left;
        margin:5px auto; 
    }  
    h5 span.textfont
    {
        font-size: 24px;
    }
    .guagemetercontain.lastguage
    {
        text-align: center;
        padding-left: 10px;
    }
    .subheading-minhead
    {
        margin-left: 20px;
        background: #E0F2FF;
        width: 95%;
        margin-right: 20px;
        border-right: none;
    }
    .subheading-minhead h3{
        font-size: 14px;
        font-weight: bold;
        color: #0073BD;
    }
    .subheading-minhead-meter
    {
        border-right: 1px solid #ccc;
        margin-left: 19px;
        background: #E0F2FF;
        width: 47.5%;
    }
    .subheading-minhead-chart
    {
        background: #E0F2FF;
        width: 47.5%;
    }
    .subheading-minhead-meter h3, .subheading-minhead-chart h3{
        font-size: 14px;
        font-weight: bold;
        color: #0073BD;
    }
    .subheading-minhead-chart h3, .subheading-minhead-meter h3, .subheading-minhead h3
    {
        margin: 0px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    h3.displayline-side
    {
        display: inline-block;
        margin-right: 10px;
    }
    .lastline
    {
        display: none;
    }
    .lastline.calorieline
    {
        display: block;
    }
    small.dataside
    {
        padding-right: 10px;
    }
    .tabletd-div
    {
        min-height: 90px;
    }
    .block-content.calorie-log-heading-footer
    {
        border-top: 1px solid #ccc;
    }
    .healthbox .block-content.calorielog-row-minus-20-table
    {
        margin-right: -20px;
        margin-left: -15px;
    }
    .healthbox .block-content.calorielog-row-minus-20
    {
        margin : 0 -15px;
    }
    .block-content.calorie-log-heading h3.fristhead
    {
        padding-left: 10px;
    }
    .block-content.calorie-log-heading h3
    {
        font-size: 12px;
        word-wrap: break-word;
    }
    .health-sub-contain.weekavg h5
    {
        border-top: none;
        background: #fff;
    }
    .health-goal.health-sub-heading:nth-child(2), .health-goal.health-sub-contain:nth-child(2)
    {
        border-right: none;
    }
    .health-sub-contain.weekavg.left-weekavg h5
    {
        border-radius: 10px 0px 0px 0px;
    }
    .health-sub-contain.weekavg.right-weekavg h5
    {
        border-radius: 0px 10px 0px 0px;
    }

 }
@media (max-width: 720px)
{
    .subheading-minhead-meter
    {
        margin-left: 19px;
        width: 47.3%;
    }
    .subheading-minhead-chart
    {
        background: #E0F2FF;
        width: 47.3%;
    }

    
    #calendar .fc-toolbar button.fc-prev-button.fc-corner-left
    {
        position: absolute;
        left: 37%;
        top: -20%;
        font-size: 18px;
    }
    #calendar .fc-toolbar button.fc-next-button.fc-corner-right
    {
        position: absolute;
        right: 13%;
        top: -20%;
        font-size: 18px;
    }
    .form-control.input-datepicker-first.firstblock-date
    {
        width: 40%;
    }
}
@media (max-width: 640px)
{
    .subheading-minhead-meter
    {
        margin-left: 19px;
        width: 47%;
    }
    .subheading-minhead-chart
    {
        background: #E0F2FF;
        width: 47%;
    }

    #calendar .fc-toolbar button.fc-prev-button.fc-corner-left
    {
        position: absolute;
        left: 35%;
        top: -20%;
        font-size: 18px;
    }
    #calendar .fc-toolbar button.fc-next-button.fc-corner-right
    {
        position: absolute;
        right: 10%;
        top: -20%;
        font-size: 18px;
    }
}
@media (max-width: 580px)
{
    .subheading-minhead-meter
    {
        margin-left: 19px;
        width: 46.7%;
    }
    .subheading-minhead-chart
    {
        background: #E0F2FF;
        width: 46.7%;
    }

    #calendar .fc-toolbar button.fc-prev-button.fc-corner-left
    {
        position: absolute;
        left: 30%;
        top: -20%;
        font-size: 18px;
    }
    #calendar .fc-toolbar button.fc-next-button.fc-corner-right
    {
        position: absolute;
        right: 5%;
        top: -20%;
        font-size: 18px;
    }
    a.buttonwidth
    {
        width: auto !important;
        padding: 3px;
    }
    .lastline.left.calorielog-left
    {
        left: 10%;
        width: 85%;
    }
    .lastline.calorielog-last
    {
        width: 70%;
    }
    .health-sub-contain.lastrow-monthavg
    {
        width: 45%;
    }
}
@media (max-width: 520px)
{
    .subheading-minhead-meter
    {
        margin-left: 19px;
        width: 46.3%;
    }
    .subheading-minhead-chart
    {
        background: #E0F2FF;
        width: 46.4%;
    }

    #calendar .fc-toolbar button.fc-prev-button.fc-corner-left
    {
        position: absolute;
        left: 30%;
        top: -20%;
        font-size: 18px;
    }
    #calendar .fc-toolbar button.fc-next-button.fc-corner-right
    {
        position: absolute;
        right: 5%;
        top: -20%;
        font-size: 18px;
    }
    #calendar .fc-toolbar button.fc-prev-button.fc-corner-left
    {
        left: 25%;
    }
    #calendar .fc-toolbar button.fc-next-button.fc-corner-right
    {
        right: 0px;
    }
}
@media (max-width: 480px)
{
    .subheading-minhead-meter
    {
        margin-left: 19px;
        width: 46%;
    }
    .subheading-minhead-chart
    {
        background: #E0F2FF;
        width: 46.2%;
    }

    #calendar .fc-toolbar button.fc-prev-button.fc-corner-left
    {
        position: absolute;
        left: 30%;
        top: -20%;
        font-size: 18px;
    }
    #calendar .fc-toolbar button.fc-next-button.fc-corner-right
    {
        position: absolute;
        right: 3%;
        top: -20%;
        font-size: 18px;
    }
    .health-sub-contain.weekavg.left-weekavg > h5, .health-sub-contain.weekavg > h5
    {
        font-size: 10px;
    }
}
@media (max-width: 420px)
{
    .subheading-minhead-meter
    {
        margin-left: 19px;
        width: 45.5%;
    }
    .subheading-minhead-chart
    {
        background: #E0F2FF;
        width: 45.5%;
    }

    #calendar .fc-toolbar button.fc-prev-button.fc-corner-left
    {
        position: absolute;
        left: 25%;
        top: -20%;
        font-size: 18px;
    }
    #calendar .fc-toolbar button.fc-next-button.fc-corner-right
    {
        position: absolute;
        right: 0%;
        top: -20%;
        font-size: 18px;
    }
    .block-content.calorie-log-heading h3
    {
        padding-left: 0px;
    }
    .health-sub-heading
    {
        padding-left: 5px;
    }
    .health-sub-contain
    {
        padding-left: 2px;
    }
    .block-content.health-contain.health-body-row ul li, .block-content.calorie-log-heading-footer ul li
    {
        font-size: 12px;
    }
}
@media (max-width: 360px)
{
    .subheading-minhead-meter
    {
        margin-left: 18px;
        width: 44.9%;
    }
    .subheading-minhead-chart
    {
        background: #E0F2FF;
        width: 44.9%;
    }
    .health-sub-contain.weekavg h5
    {
        padding : 10px 5px;
    }
    .lastline.left.calorielog-left
    {
        left: 15%;
        width: 80%;
    }
    .lastline.calorielog-last
    {
        width: 60%;
    }
    #datepickerto, #datepickerto2, #datepickerto3, #datepickerto2-1, #datepickerto2-2, #datepickerto2-3
    {width:125px; margin: 0 0 5px 22px;}

    #datepickerfrom, #datepickerfrom2, #datepickerfrom3, #datepickerfrom2-1, #datepickerfrom2-2, #datepickerfrom2-3
    {width:125px; margin: 0 0 4px 0px;}

    .input-group-addon.addonwidth
    {
        min-width: 35px;
    }
}
@media (width: 320px)
{
    .health-sub-contain.weekavg.left-weekavg > h5, .health-sub-contain.weekavg > h5
    {
        font-size: 9px;
    }

}
@media (max-width: 320px)
{
    .subheading-minhead-meter
    {
        margin-left: 18px;
        width: 44.2%;
    }
    .subheading-minhead-chart
    {
        background: #E0F2FF;
        width: 44.2%;
    }

}
@media (min-width: 320px) and (max-width: 480px)
{
    .datepickerno-320
    {
        padding : 0px !important;
    }

    /*This is for calendar in Calorie Log*/
    .form-control.input-datepicker-first.firstblock-date
    {
        width: 60%; 
        font-size: 13px;
        text-transform: capitalize;
    }
    .guagemeterdemo {
        position: relative;
        width:28vw;
        height: 14vw;
        box-sizing: border-box;
        float:left;
        margin:5px auto; 
    }
    h5 span.textfont
    {
        font-size: 24px;
    }


    .body-measure-labels
    {
        float: right;
        line-height: 25px;
        position: absolute;
        bottom: 0;
        right: 5px;
        margin-bottom: 10px;
    }
    .body-measurelast-labels
    {
        float: left;
        line-height: 25px;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        margin-bottom: 10px;
    }

    .guagemetercontain.lastguage
    {
        text-align: center;
        padding-left: 5px;
    }
}


/*
=================================================================
END OF HEALTH GOALS DESIGN - Media Query
=================================================================
*/ 








