* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

a { text-decoration: none; }

.navigation {
  display: block;
  border-radius: 3px;
  z-index: 9;
  text-align: center;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}

.navigation li {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  position: relative;
  font-size: 12px;
  vertical-align: text-top;
}
.navigation li a.homemenu
{
  padding-top: 8px;
  padding-left: 20px;
  display: inline-block;
  font-weight: 400;
  outline: 0;
  font-size: 12px;
}
.navigation li a.contactmenu
{
  padding-top: 0px;
  padding-left: 5px;
  display: inline-block;
  font-weight: 400;
  outline: 0;
  font-size: 12px;
}

.navigation li a {
  font-size: 12px;
  color: #fff;
  display: inline-block;
  outline: 0;
  font-weight: 400;
  width: 80px;
  height: 50px;
}

.navigation li:hover ul.dropdown { 
  display: block; 
}

.navigation li ul.dropdown {
  position: absolute;
  display: none;
  width: 200px;
  background: #333333;
  color: #fff;
  opacity: 0.9;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding-top: 0;
  z-index: 99;
}

.navigation li ul.dropdown li {
  display: block;
  list-style-type: none;
}

.navigation li ul.dropdown li a {
  padding: 10px;
  font-size: 15px;
  color: #ccc !important;
  background: #333333 !important;
  display: block;
  font-weight: 400;
  width: 200px;
  height: auto;
  text-align: left;
}


/* For submenu  */
.navigation li ul.dropdown li ul.sub-dropdown {
  position: absolute;
  display: none;
  width: 200px;
  background: #fff;
  color: #000;
  left: 200px;
  top: 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding-top: 110;
  z-index: 99;
}
.navigation li ul li:hover ul.sub-dropdown { 
  display: block; 
}
.navigation li ul.dropdown li ul.sub-dropdown li a {
  padding: 10px;
  font-size: 13px;
  color: #ccc !important;
  background: #000 !important;
  display: block;
  opacity: 0.8;
  font-weight: 400;
  width: 200px;
  height: auto;
  text-align: left;
}
.navigation li ul.dropdown li ul.sub-dropdown li:hover a { 
  background: #000 !important; 
  color: #fff !important;
  opacity: 1.0;
}
/*  End of submenu item css   */



.navigation li ul.dropdown li:last-child a { border-bottom: none; }

.navigation li:hover a {
  color: #fff !important;
  text-decoration: none;
  opacity: 0.9;
}

.navigation li:first-child:hover a { border-radius: 3px 0 0 3px; }

.navigation li ul.dropdown li:hover a { 
  background: #000 !important; 
  color: #fff !important;
}

.navigation li ul.dropdown li:first-child:hover a { border-radius: 0; }

.navigation li:hover .arrow-down { border-top: 5px solid #fff; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #def1f0;
  position: relative;
  top: 0px;
  content: '';
}

.menuline-img
{
  /*background-color: red;*/
  padding: 0px 4px;
}


@media only screen and (max-width:1199px) {

.navigation {
  background: #f2f2f2;
  width: 200px;
  height: 100%;
  display: block;
  position: fixed;
  left: -200px;
  top: 0px;
  transition: left 0.3s linear;
  margin: 0;
  border: 0;
  border-radius: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  text-align: left;
  color: #fff;
}
.col-sm-2, .col-xs-2, .col-md-9
{
  text-align: right;
}

.navigation.visible {
  left: 0px;
  transition: left 0.3s linear;
}

.nav_bg {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 50px;
  margin: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px 0px 0px 10px;
  /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
  z-index: 12;
}

.nav_bar {
  display: inline-block;
  vertical-align: middle;
  height: auto;
  cursor: pointer;
  margin: 0;
  position: relative;
  top: 5%;
  right: 2%;
  /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
}

.nav_bar span {
  height: 4px;
  background: #fff;
  margin: 5px;
  display: block;
  width: 30px;
}

.navigation li:hover ul.dropdown { 
  display: none; 
}

.navigation li ul.dropdown {
  background: #e6e6e6;
}

.nav_bar span:nth-child(4) { width: 30px; }

.nav_bar span:nth-child(4) { width: 30px; }

.navigation ul { padding-top: 0px; }

.navigation li { display: block; }


.navigation li ul li:hover ul.sub-dropdown { 
  display: none; 
}

.navigation li ul.dropdown li { display: block; }

.navigation li a, .navigation li a.homemenu,.navigation li a.contactmenu {
  display: block;
  color: #000;
  font-weight: 500;
  width: auto;
  padding: 10px;
  height: auto;
}

.navigation li:first-child:hover a { border-radius: 0; }

.navigation li ul.dropdown { position: relative; }

.navigation li ul.dropdown li a {
  background: #ccc !important;
  border-bottom: none;
  color: #000 !important;
  height: auto;
}
 
.navigation li:hover a {
  background: lightgray !important;
  color: #000 !important;
}

.navigation li ul.dropdown li:hover a {
  background: #ccc !important;
  color: #000 !important;
  font-weight: bold;
}

.navigation li ul.dropdown li a { padding: 10px 10px 10px 30px; }

.navigation li:hover .arrow-down { border-top: 5px solid #000; }

.arrow-down {
  border-top: 5px solid #505050;
  position: absolute;
  top: 15px;
  right: 10px;
}

  .opacity
  {
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  /* For submenu  */
.navigation li ul.dropdown li ul.sub-dropdown {
  position: absolute;
  display: none;
  width: 200px;
  /*background: red !important;*/
  opacity: 0.8;
  /*color: #000;*/
  left: 0px;
  top: 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding-top: 10;
  z-index: 99;
}
.navigation li ul li:hover ul.sub-dropdown { 
/*  display: none; 
  position: relative;
  padding-top: 0px;*/
}
.relative
{
  position: relative !important;
}
.absolute
{
  position: absolute !important;
}

.navigation li ul.dropdown li ul.sub-dropdown li a {
  padding: 10px;
  font-size: 13px;
  color: #000 !important;
  background: #ddd !important;
  padding-left: 45px;
  display: block;
  opacity: 0.8;
  font-weight: 400;
  width: 200px;
  height: auto;
  text-align: left;
}
.navigation li ul.dropdown li ul.sub-dropdown li:hover a { 
  background: #bfbfbf !important; 
  color: #000 !important;
  opacity: 1.0;
}
/*  End of submenu item css   */



}

@media only screen and (max-width:992px) {
  .nav_bar 
  {
    right: 10%;
  }
}
@media only screen and (width:992px) {
  .nav_bar 
  {
    top: -1%;
    right: 1%;
  }
}


@media only screen and (max-width:320px) {

  .navigation li ul.dropdown {
    background: #e6e6e6;
  }

  .nav_bg {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: auto;
  margin: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px 0px 0px 10px;
  /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
  z-index: 12;
}

.nav_bar {
  display: inline-block;
  vertical-align: middle;
  height: auto;
  cursor: pointer;
  margin: 0;
  position: relative;
  top: 0;
  /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
}

.nav_bar span {
  height: 3px;
  background: #fff;
  margin: 5px;
  display: block;
  width: 27px;
}

.nav_bar span:nth-child(3) { width: 27px; }

.nav_bar span:nth-child(3) { width: 27px; }

}