﻿@charset "utf-8";


section {
    width: 100%;
    margin: 0 auto;
}



/**********************NUTRITION & EXERCISE***************************/
.wapper-sub {
      background: url(../images/top-bg.jpg) no-repeat center;
    border-bottom: solid 1px #d8d8d8;
    height: 60px;
}

.select-create-plan {
   
    padding: 10px 20px;
   margin:0px;
    color: #6f6f6f;
    font-size: 20px;
    /*font-family: montserrat-regular;*/
    text-transform: capitalize;
    letter-spacing: 1px;
}
.preview{
    padding: 15px 20px;
    color: #6f6f6f;
    font-size: 20px;
    /*font-family: montserrat-regular;*/
    text-transform: capitalize;
    letter-spacing: 1px;
}
.calendar_view{
    padding: 15px 20px;
    text-transform: capitalize; 
}
.b-r{
    border-right:solid 1px #d2d2d2;
}
.sub-title{
    color: #116db2;
    font-size: 18px;
    /*font-family: montserrat-regular;*/
    text-transform: uppercase;
    text-align:left;
    padding-top:10px;
}

.plan-tem-bg{
    background:#fff;
    border:solid 1px #d7d7d7;
    padding: 10px 0px;
}
.choose-plan
{
    color:#6f6f6f;
    font-size: 16px;
    /*font-family: montserrat-regular;*/
    text-align:left;
    margin: 10px 0px 18px 0px;
}
.blue-btn {
    color: #fff;
    position: relative;
    font-size: 12px;
    background: #116db2;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 6px 20px;
    text-decoration: none;
    border: solid 2px #0a5892;
    width: 165px;
    transition: all 0.5s;
    cursor: pointer;
    font-weight: 500;
    border-radius: 3px;
   /* font-family: montserrat-regular;*/
    
}

.blue-btn:hover {
    color: #fff;
    background-color: #003366;
    border-color: #003366;
    letter-spacing: 1px;
 }

 .blue-btn span {
     cursor: pointer;
     display: inline-block;
     position: relative;
     transition: 0.8s;
 }

 .blue-btn span:after {
     content: '\00bb';
     position: absolute;
     opacity: 0;
     bottom: -6px;
     transition: 0.5s;
     font-size: 24px;
 }

 .blue-btn:hover span {
     padding-right: 15px;
 }

 .blue-btn:hover span:after {
     opacity: 1;
     right: 0;
 }

 .mrg-top-10{
     margin-top:10px;
 }
 .select-day{
    color:#6f6f6f;
    font-size: 16px;
    /*font-family: montserrat-regular;*/
    text-align:left;
    background:#f9fafc;
    border-top:solid 1px #d3d3d3;
    border-bottom:solid 1px #d3d3d3;
    float:left;
    padding: 10px 15px;
 }
 .pad-top-10
 {
    padding-top: 10px;
}

 .checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 4px;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 1px solid #c5c5c5;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 0px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: #FFF;
    color: #116db2;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #bbb;
}

.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd; /* focus style */
}
.sel-btn
{
        width: 270px;
}

table caption {
	padding: .5em 0;
}

@media screen and (max-width: 767px) {
  table caption {
    border-bottom: 1px solid #ddd;
  }
}

.table-title
{
    color: #717171;
    font-size: 16px;
    font-weight: normal;
    background:#f9fafc;
    /*font-family: montserrat-regular;*/
        padding: 8px 10px !important;
}
.table-sub
{
    color:#106cb1;
    font-size: 15px;
    font-weight: normal;
    background:#fff;
   /* font-family: montserrat-regular;*/
    border:none !important;
        padding: 15px 10px !important;
    text-align: left;
}
.table-sub a:hover{
    color:#003366 !important;
    text-decoration:none !important;
}
.plan-tem-bg1{
    padding: 10px 0px 0px 0px;
}
.plan-tem-bg2{
    padding: 0px 0px 0px 0px;
    margin-bottom:40px;
}
.table-mrg{
    margin-bottom:0px;
    border:none;
}
.table-sub1{
        padding: 15px 0px !important;
}
.max-img{
    max-width:100%;
}
.fc-event-container  a {
    bottom: auto !important;
    left: 0% !important;
    padding: 4px !important;
}
.fc-time-grid .fc-slats td {
    height: 3em !important;
}
.font-calendar {
    font-size: 14px;
}

thead th.fc-widget-header {
    color: #1bbae1;
    font-size: 14px !important;
}


