﻿@charset "utf-8";
/* CSS Document */


/* Responsive start here*/
@media (min-width:320px) and (max-width: 500px) {
    .container {
        width: 100%;
    }

    .wapper-sub {
        border-bottom: solid 1px #d8d8d8;
        height: 60px;
        background: #f4f4f4;
    }

    .sub-title {
        padding: 15px 5px 0px 5px;
        font-size: 18px;
    }
    .select-day{
        margin: 20px 0px 10px 0px;
    }
}

@media (min-width:375px) and (max-width: 667px) {
    .container {
        width: 100%;
    }
}

@media (min-width:414px) and (max-width: 736px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 501px) and (max-width: 767px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1280px) {
    .container {
        width: 100%;
    }
    .wapper-sub {
        border-bottom: solid 1px #d8d8d8;
        height: 60px;
        background: #f4f4f4;
    }

    .sub-title {
        padding: 15px 5px 0px 5px;
        font-size: 18px;
    }
    .select-day{
        margin: 20px 0px 10px 0px;
    }
    .sel-btn {
    width: 270px;
       margin: 2% 30%;
    float: left !important;
}
}

@media (min-width: 1024px) and (max-width: 1366px) {
    .container {
        width: 100%;
    }
    .nav-tabs > li {
  
    padding: 10px 30px;
}
}

@media (min-width: 976px) and (max-width: 1199px) {
    .container {
        width: 100%;
    }
}

@media (min-width:1200px) {
}
