/*========== Nav ==========*/

.logo-nav{
	float:left;
	margin-top: 10px;
}
.main-header{
	position:fixed;z-index:100;width:100%
}
#primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
	z-index:1000;
}
.email-password{
	width:50%;
	margin:0 auto;
	padding:30px;
	border:2px solid #c1e2ff;
}
#primary_nav_wrap ul a
{
	display:block;
	color:#333 !important;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}
.products-list .reg-price-text ~ .price-box{
	float:right;
}
.blank-nav{
	width:58%;
	background:none !important;
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}
.products-list #watch-me{
	float:left;
	margin-top:20px;
	margin-right: 5px;
}
.footer-mem{
	background:url(../images/member-bg.jpg) left bottom no-repeat #fff;
	display:inline-block;
	width:100%;
	background-size:100% 100%;
	text-align:center;
}
.footer-mem .first{
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	width:30%;
	float:left;
	font-size:50px;
	line-height:1;
	text-transform:uppercase;
	color:#fff;
	text-align:left;
	font-stretch: condensed;

}
.footer-mem .first span{
	font-size:30px;
}
.footer-mem .first hr{
	border:none;
	height:3px;
	background:#ff0e1e;
	width:290px;
}
.footer-mem .first .receive{
	font-size:18px;
	width:300px;
}
.footer-mem .second{
	width:50%;
	float:left;
}
.footer-mem .inside-mem{
background:url(../images/couple-bottom-mem.png) right bottom no-repeat ;
	width:90%;
	display:inline-block;
	margin:0 auto;
	padding-top:80px;
	padding-bottom:80px;
}
#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	
}
.sidebar .product-details{
	float:right;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	right:0;
	background:url(../images/couple-login.png) left bottom no-repeat #fff;
	padding:10px;
	border:5px solid #1f7bc1;
	height:350px;
	box-shadow: 0 0 8px 5px #909092;
}

#primary_nav_wrap ul ul p{
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	font-size:18px;
	color:#166099;
	display:inline-block;
}	

#primary_nav_wrap ul ul li
{
	float:none;
	width:160px;
	display: inline-block;
	text-align: left;

}
#primary_nav_wrap ul ul li:hover{
	background:#229efd;
	display:inline-block;
	
}

#primary_nav_wrap ul ul li a{
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	color:#000;
	font-size:14px;
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}

.arrow-log:after{
	 font-family: FontAwesome;
    content: "\f107";
	padding-left: 10px;

}
video#bgvid { 
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    z-index: -100;
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}
.vid-banner{
	position: absolute;
    top: 220px;
    text-align: center;
	width:100%;
}
.vid-banner p{
	font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
	text-transform:uppercase;
	color:#fff;
	font-size:47px;
	font-stretch:condensed;
	font-weight:700;
	
}
.package-home .std ul ul li{
	font-size: 11px;
    margin-left: 45px;
    padding-left: 25px;
	width: 70%;
}
.view-f{
	margin-left: 40px;
	padding: 3px 5px;
	border-radius: 5px;
	font-weight: 700;
	color: #fff;
	background:#16a3e5;
	font-size:11px;
	text-transform:uppercase;
	border: 1px solid #16a3e5;
}
.view-f:hover{
	background:#fff;
	color:#005ca2;
	border:1px solid #005ca2;
}
.view-f a{
	color:#fff;
}
.view-f a:hover{
	color:#005ca2;
}
.vid-banner p span{
	color:#003560;
	
}
._toler-box .second{
	width:90%;
	display: inline-block;margin: 0 auto; text-align:left;
}
._toler-box .third{
	width:90%;
	display: inline-block;margin: 0 auto; text-align:left;
}
._toler-box .third .review{
text-align:left; font-size:15px;
}
._toler-box .second img{
	width:100%;
}
.h-bullet{
	background:url(../images/home/h-check.png) no-repeat left;
	margin: 10px;
	font-size: 12px;
    text-align: left;
}
.banner-dashboard{
	display:inline-block;
	width:100%;
	height:300px;
	background:url(../images/banner-dashboard.jpg) no-repeat left;
	background-size:100% 100%;
}
.bottom-save{
	position:fixed;
	top: 250px;
    left: 0;
	z-index: 100;
}
.top-banner-all{
	background:url(../images/banner-dashboard.jpg) no-repeat top left;
	background-size: 100% 100%;
	display:inline-block;
	width: 100%;
}
.top-banner-all .top-banner-img{
	background:url(../images/dashboard-couple.png) no-repeat bottom left;
	width:85%;
	margin:0 auto;
	padding-top: 220px;
	text-align: center;
}
.top-banner-all .box-banner .top{
	font-size: 38px;
	max-width: 1100px;
	float:left;
	margin-top:50px;
    text-transform: uppercase;
	font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
}
.login-banner-top{
	background:url(../images/login-banner.jpg) no-repeat top left;
	background-size:cover;
	display:inline-block;
	width: 100%;
}
.ver-nav{
	position: absolute;
	top: 65px;
	left: 0;
	width: 100%;
	z-index:90
}
.ver-nav .menu-content{
	margin-top: 0;
	background: #fff;
    text-align: center;
	overflow:hidden;
}
.ver-nav .menu-content .inside{
	
}
.ver-nav .menu-content .inside .last{
	background:none;
}
.ver-nav .menu-content .inside li{
	float:left;
	width: 14.2%;
	padding: 20px 0px;
    background: url(../images/s-nav-sep.png) no-repeat center right;
}
.ver-nav .menu-content .inside li:hover{
	background:#d8e1e9;
}
.ver-nav .menu-content .inside li a{
	color:#1272bc;
	font-family:helvetica;
	font-weight:700;

}
.top-banner-all .box-banner{
	background-size: 100% 100%;
}
.login-banner-top .box-banner{
	background:url(../images/home/box-banner.png) no-repeat top left;
	background-size: 100% 100%;
}
.top-banner-all .box-banner{
    margin: 0 auto;
    font-size: 16px;
	padding-bottom: 70px;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color:#fff;
	margin-right: 350px;
	display:inline-block;
	
}
.top-banner-all .box-banner img{
	float:left;
}
.login-banner-top p{
	width: 800px;
	padding: 20px 30px;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color:#fff;
	margin-left: 350px;
}
.top-banner-all p span{
	font-size:30px;
	font-stretch: condensed;
	 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight:700;
	line-height: 1;

}
.login-banner-top p span{
	font-size:30px;
	font-stretch: condensed;
	 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight:700;
	line-height: 1;

}
.latest-news{
	text-align:center;
	margin-bottom: 50px
}
.blog_post{
	width:85%;
	margin:0 auto;
	display: inline-block;
}
.blog_post h2 span{
	 font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;	
font-weight: 700;
font-stretch: condensed;
font-size: 50px;
color: #1974BA;
text-align: center;
text-transform: uppercase;
}
.p-strok{
	font-size:16px;
	color:#064b84;
	font-weight:700;
}
.blog_post ul h2{
	font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
font-weight: 700;
font-stretch: condensed;
font-size: 24px;
color: #293945;
text-align: left;
    min-height: 60px;
	line-height:1.2em;
}
.blog_post li{
	width: 30%;
    float: left;
    border: 1px solid #B8D4E8;
    border-radius: 5px;
    margin-left: 17px;
    padding: 20px 5px;
}
.blog_post hr{
	width:50px;
	float:left;
	height:4px;
	border:none;
	background:#f40000;
}
.blog_post .b-cate{
	text-align: left;
	width:95%;
	float:left;
	text-transform: uppercase;
	font-style: italic;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-weight: 700;
	
}
.package-home{
	/*background:#E6F4FF;*/
	padding-bottom: 400px;

}
.featured-home{
	    padding-bottom: 390px;
}
.package-home .bg-feature{
	margin-top: 0;
border-top: none;
width: 100%;
background:none;
}
.owl-item .item{
	height: 490px;
}
.blog_post .b-date{
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-weight: 300;
	font-size:16px;
	font-stretch: condensed;
	color:#4f4f4f;
	text-align:left;
	margin-bottom:20px;
}
.blog_post .read{
width: 115px;float: left;padding-left: 5px;    display: inline-block;
}
.blog_post .b-date span{
	color:#1f7dc3;
	font-weight: 700;
}
.blog_post .s-des{
	margin: 0 5px 15px 5px;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 12px;
    text-align: left;
    padding-bottom: 0px;
}
.blog_post li img{
	width:100%;
	height:100%;
}
.product-bullet{
	min-height:100px;
}


section .inside-featured .bg-feature .r-p{
	font-size:19px;
}
.login-banner-top p .top{
	font-size: 40px;
    text-transform: uppercase;
}
.top-banner-all p .middle{
	font-size:26px;
	border-bottom:2px solid #fff;
	padding-bottom:10px;
	font-stretch: normal;
}
.login-banner-top p .middle{
	font-size:26px;
	border-bottom:2px solid #fff;
	padding-bottom:10px;
	font-stretch: normal;
}
.q-form input[type="text"]{
	color:#fff !important;
}
.products-list .c-delivery{
	margin-left: 5px;color:#1974ba;display:inline-block; vertical-align: top;position: relative;margin-top: 3px;
	font-size:12px;
}
.product-view .n-ship {
    background: #f3faff;
}
.products-list .no-rv{
	top: -5px;position: relative;color:#1974ba;font-weight: 700;font-size:12px;
}
.tandem {
	background:url(../images/new/vip-bg.jpg) no-repeat top left;
	background-size: 100% 100%;
}
.tandem .vip-tandem{
float:right;
margin-top: -450px;
width:100%
}
.login-banner-top p .bottom{
	font-size: 16px;
    font-weight: 300;
    width: 800px;
    display: inline-block;
    margin-top: 15px;
    font-stretch: normal;
    font-family: arial;
}
.top-banner-all p .bottom{
	font-size: 16px;
font-weight: 300;
width: 800px;
display: inline-block;
margin-top: 15px;
font-stretch: normal;
font-family: arial;
}
#p_method_cashondelivery{
	display:none;
}
/*nav {
	margin: auto;
	width:100%;
	background:none;
	height:60px;
	padding-bottom: 5px;
}*/
.nav-inner {
	margin:auto;
	height:80px;
	text-align:center;
	width:100%;
	position:relative;
}
.nav-affiliate{
	margin:auto;
	height:80px;
	text-align:center;
	width:90%;
	position:relative;
}
.navbar {
	background: none;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	margin: 0;
	position: static;
}
/*.navbar-nav > li > a {
	text-shadow: 1px 0 0 #000;
	font-size: 12px;
	line-height: 15px;
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
	text-align:center;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	transition: all 200ms ease-in-out;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	display: inline;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
}*/
.navbar-nav > li:hover   {
	background: none repeat scroll 0 0 #fff;
	border-radius: 2px;
	color:#1272bc;
}
.navbar-nav > li:hover > a {
	color:#fff;
}
.navbar-nav > li > a .sf-sub-indicator {
	background: #ccc;
	background: rgba(255, 255, 255, .4);
	height: 1px;
	width: 7px;
	left: 17px;
	top: auto;
	bottom: -3px;
	position: absolute;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
}
.navbar-nav > li:hover > a .sf-sub-indicator {
	display: none;
}
.navbar-collapse {
	margin: 0;
}
/*span.plus {
    display: none;
}*/

#nav li.drop-menu ul {
	display: none;
}
#nav li.active  {
	background: none repeat scroll 0 0 #fff;
	border-radius: 2px;
	color: #FFFFFF;
}

#nav li.active a {
	color:#b10106;
}

.cms-index-index #nav li.home-active  {
        background:url(../images/home-hov.png) center no-repeat #fff;
         border-radius: 2px;
        color: #b10106;
}

#nav li.home-active  {
        background:url(../images/home.png) center no-repeat ;
         border-radius: 2px;
        color: #b10106;
}

#nav li.custom-menu {
        background:url(../images/m-search.png) center no-repeat ;
         border-radius: 2px;
        color: #b10106;
}

#nav li.home-active:hover  {
        background:url(../images/home-hov.png) center no-repeat #fff;
         border-radius: 2px;
        color: #b10106;
}
.cms-index-index #nav li.home-active:hover  {
        background:url(../images/home-hov.png) center no-repeat #fff;
         border-radius: 2px;
        color: #b10106;
}
.cms-index-index #nav li.home-active  a{
	color: #b10106;
}
#nav > li.custom-menu.full-menu {
	width:50px;
}
/*#nav.drop-menu li.custom-menu.full-menu { display: none; }*/
.custom-box{}
.custom-block{padding-bottom: 10px; border-bottom: 1px solid #444; margin-bottom: 20px; color:#FFFFFF}
.custom-block a{float: right; color: #999; font-style: italic;}
#nav li.drop-menu ul {
	position: absolute;
	top: 30px;
	left: 0;
	background: #222;
	padding: 6px 0;
	border-top:19px #2FDAB8 solid;
	/*border: 1px solid #fff;
    border: 1px solid rgba(255,255,255,0.8);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.4);
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;*/
    width: 160px;
	text-align: left;
	z-index: 1;
}
#nav > li.drop-menu ul li ul {
	border-top:none;
}
/*#nav li.drop-menu ul:before {
    content: "";
    width: 174px;
    height: 100%;
    position: absolute;
    left: -8px;
}

#nav li.drop-menu ul:after {
    content: "";
    top: -10px;
    position: absolute;
    left: 14px;
    border: 6px solid transparent;
    border-bottom-width: 5px;
    border-bottom-color: #222;
}
*/
#nav li.drop-menu ul.right-sub:after {
	content: "";
	top: 6px;
	position: absolute;
	left: -11px;
	border: 6px solid transparent;
	border-bottom-width: 5px;
	border-bottom-color: transparent;
	border-right-width: 5px;
	border-right-color: #222;
}
#nav li.drop-menu ul.left-sub:after {
	content: "";
	top: 6px;
	position: absolute;
	left: auto;
	right: -10px;
	border: 6px solid transparent;
	border-bottom-width: 5px;
	border-bottom-color: transparent;
	border-right-width: 5px;
	border-right-color: transparent;
	border-left-width: 5px;
	border-left-color: #222;
}
#nav > li.drop-menu {
	position: relative;
}
#nav li.drop-menu ul li {
	position: relative;
}
#nav li.drop-menu ul li a {
	color: #fff;
	line-height: 30px;
	font-size: 14px;
	padding: 0 12px;
	display:block;
	transition: all 200ms ease-in-out;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out; border:none; 
}
#nav li.drop-menu ul li:hover > a {
	color: #fff;
	background: #2FDAB8;
	padding: 0 12px 0 14px; border:none; border-radius:0;
}
#nav li.drop-menu ul li span.plus {
	display: block;
	position: absolute;
	right: 7px;
	top: 50%;
	margin-top: -1px;
	height: 1px;
	width: 7px;
	background: #535353;
}
#nav > li.full-menu {
	position: static;
    height: 50px;

    padding-left: 1px;
    padding-right: 13px;
	background:url(../images/nav-border-1.png) no-repeat center right;
	padding-top: 15px;
}

.nav-affiliate #nav > li.full-menu {
	position: static;
    width: 100px;
    height: 40px;
    border-right: 1px solid #fff;
    padding-left: 1px;
    padding-right: 1px;
	background:none;;
}
#nav li.full-menu div.level1 {

	top: 65px;
	display: none;
	z-index:1000;
	position:absolute;
}

#nav li.full-menu div.level1 a {
	color:#fff;
}
#nav li.full-menu div.level1 .menu-content {
	margin-top: 0;
	
	background: rgba(0, 0, 0, .5);
	/*    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.4);*/
    text-align: left;
	overflow:visible;
	
width: 100%;
}
#nav li.full-menu div.level1 .menu-content .inside {
	
}
#nav li.full-menu div.level1 .menu-content .inside ul li {
	
	position:relative;
	text-align:left;
	padding: 5px 20px;
}
#nav li.full-menu div.level1 .menu-content .inside ul li:hover{
	background:rgba(0, 0, 0, .7);
}
#nav li.full-menu div.level1 .menu-content .inside ul .last{
	
	border-right:none;
}
#nav li.full-menu div.level1 .menu-content .inside ul li a{
	text-align:center;
	color:#fff;
	padding-left: 4px;
	font-size: 10.5px;
	font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
}
#nav li.full-menu li.level1, #nav li.full-menu li.level2 {
	position: relative;
}
#nav > li.full-menu:hover{
	
}
#nav > li.full-menu > a {
	position: relative;
}
#nav li.full-menu .bottom-block {
	clear: both;
}
#nav li.full-menu .top-block {
	font-size: 14px;
	font-weight: normal;
	padding: 0 0 15px;
	margin: 0 0 20px;
	border-bottom: 1px solid #d2d2d2;
	text-align: left;
	color: #535353;
}
#nav li.full-menu .bottom-block {
	font-size: 14px;
	font-weight: normal;
	padding: 15px 0 0;
	margin: 20px 0 0;
	border-top: 1px solid #d2d2d2;
	text-align: left;
	color: #535353;
}
#nav li.full-menu .content-block {
	border-right: 0px solid #d2d2d2;
	padding-left: 0;
	padding-right: 0px;
}
#nav li.full-menu .right-block {
	font-size: 14px;
	font-weight: normal;
	padding:15px 5px 15px;
	text-align: left;
	color: #535353;
	height: 100%;
	margin-left: -1px;
	background-color:#fff;
	margin-top:30px;
	border:8px #ffe51e solid
}
#nav li.full-menu ul.level1 {
	margin: 0 -15px;
}
#nav li.full-menu ul.level2 {
	margin-bottom: 5px;
}
#nav li.full-menu li.level1 > a {
	display:inline-block;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase; border:none; padding:0;
}
#nav li.full-menu li.level1 a > span {
	padding: 4px;
	display: block;
	color: #eee;
	font-size: 16px;
	font-weight:300;
	letter-spacing:0.5px
}

#nav li.full-menu li.level2 a > span {
	transition: all 200ms ease-in-out;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 4px 4px 4px 18px;
	font-size:15px;
	letter-spacing:normal
}
#nav li.level1 a > span > span {
	position: relative;
}
#nav li.full-menu div.level1 .menu-content .inside ul li:hover > div{
	visibility: visible;
	
}
#nav li.full-menu div.level1 .menu-content .inside ul li.down:after{
	    content: '\f107';
    font-family: FontAwesome;
    font-size: 20px;
    color: #fff;
	float:right;
	padding-left:10px;
}
#nav .level1 .mini-sub{
 left: 100%;
    top: 0;
	position:absolute;
	visibility: hidden;
	width: 100%;
}
#nav .level1 .mini-sub-r{
	right: 100%;
	left: auto;
    top: 0;
	position:absolute;
	visibility: hidden;
	width: 100%;
}
#nav li.full-menu li.level2 a > span:after {
	color: #999;
	content: "\203A";
	position: absolute;
	left: 7px;
	top: 4px;
	font-size: 18px;
	line-height: 1;
	width: 4px;
	height: 4px;
	font-family: "Lato", sans-serif;
}
#nav li.full-menu li.level2 a:hover > span:after {
	color: #fff;
}
#nav li.full-menu li.level2 a:hover > span {
	background-color: #2FDAB8;
	color: #fff;
}
#nav li.full-menu li.level2 a {
	font-size: 13px;
	color: #535353; border:none; padding:0;
}
.row:before, .row:after {
	display: table;
	content: " ";
}
.row:after {
	clear: both;
}
.row:before, .row:after {
	display: table;
	content: " ";
}
.row:after {
	clear: both;
}
.grid3, .grid_3, .grid4, .grid_4, .grid_8, .grid8, .grid5, .grid12, .grid_12 {
	position: relative;
	min-height: 1px;
	padding-right: 18px;
	padding-left: 18px;
	padding-bottom:10px;
	padding-top:10px
}

.grid6 {
	width: 45%;
	float: left; text-align:left; padding:0px 9px;
}
.navbar-nav .pr-title{font-size: 16px; font-weight: 400; margin-bottom: 10px; margin-top: 0px; text-transform:uppercase;}
.navbar-nav .pr-price{font-size: 20px; font-weight: bold; margin-bottom: 10px;}

.grid12 .pr-title{font-size: 14px; font-weight: 400; margin-bottom: 5px; margin-top: 0px; text-transform:uppercase; text-align:center;color:#fff;}
.grid12 .pr-price{font-size: 18px; font-weight:400; margin-bottom: 12px; text-align:center;color:#f52020;}
.grid12 .button-buy{color:#000; background:#FFE51E; text-align:center; margin-left:75px;}

.grid5 img{ width:100%;}
.grid6 img{ width:100%;}
.grid12 img{ width:100%;}
.grid6.last {
	width: 45%;
	float: left;
}
.grid6 p{ padding:0 0 0px; margin:0 0 6px 0}
.thumbnail-img {
	margin-bottom:15px;
	margin-top:10px; width:205px;
}
.category-label {
	position:absolute;
	z-index:1000;
	background:#fc9a1c;
	font-style:normal;
	font-size:13px;
	padding:0px 8px;
	margin-top:-35px;
	margin-left:-35px;
	color:#fff;
	height:22px;
	line-height:20px;
	text-transform:none;
	display:none;
}
.category-label:before {
	border-color: transparent;
	border-style: solid;
	border-width: 5px;
	height: 0;
	position: absolute;
	transition: border-color 450ms ease-in-out 0s;
	width: 0;
	content: "";
}
.category-label:before {
	border-top-color: #fc9a1c;
	left: 6px;
	top: 22px;
}
.category-label-hot {
	position:absolute;
	z-index:1000;
	background:#E74C3C;
	font-style:normal;
	font-size:13px;
	padding:0px 8px;
	margin-top:-35px;
	margin-left:-65px;
	color:#fff;
	height:22px;
	line-height:20px;
	text-transform:none;
	display:none;
}
.category-label-hot:before {
	border-color: transparent;
	border-style: solid;
	border-width: 5px;
	height: 0;
	position: absolute;
	transition: border-color 450ms ease-in-out 0s;
	width: 0;
	content: "";
}
.category-label-hot:before {
	border-top-color: #E74C3C;
	left: 6px;
	top: 22px;
}
 @media(min-width:768px) {
.grid3, .grid4, .grid_8 {
 float: left;
}
.grid5{ float:left;  width: 25%; padding:0;}
.grid5.last {
 width: 25%;
}

 .grid4.last {
 width: 25%;
}
}
 @media(min-width:992px) {
 .grid_3, .grid_4, .grid8, .grid_5 {
 float: left;
}
.grid_4 {
 width: 35%;
}
 .grid8 {
 width: 62%;
}
 .grid_3 {
 width: 28%;
}
 .grid_5 {
  padding-left: 1.7%;
    width: 18%;
}
 .grid4 {
 width:305px;
 float: left;
 border:8px #ffe51e solid;
 background:#fff;
 margin-right:12px;
 min-height:200px;
 margin-bottom:15px;
 margin-left:10px
}
}
 @media(min-width:1200px) {
 .container {
 width: 1170px;
}
}
 @media(min-width:768px) {
 .navbar-nav {
 float: left;
 /*padding-top:15px;*/
}
/* .navbar-nav>li {
float: left;
}*/
}
 @media(min-width:768px) {
 .navbar-left {
 float: left!important;
}
 .navbar-right {
 float: right!important;
}
}
.button-buy {
	background: none repeat scroll 0 0 #222;
	border: 0 none;
	border-radius: 0;
	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: normal;
	outline: medium none;
	overflow: visible;
	padding: 8px 14px;
	text-align: center;
	transition: all 0.3s linear 0s;
	vertical-align: top;
	white-space: nowrap;
	width: auto;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
}
