﻿61
@charset "utf-8";
/* CSS Document */


/* Responsive start here*/
@media (min-width:320px) and (max-width: 500px) {
    .container {
        width: 100%;
    }
	.title-ani  .foot-bot-link ul li {padding-left: 40px;}
    div .top-banner.hidden-lg img{display:block}
    .top-banner {
        padding: 20px 0px 20px 0px;
    }

    .padd-top-20 {
        padding-top: 20px;
    }

    .nav-btn1 {
        margin-top: 2px;
    }

        .nav-btn1 a {
            padding: 6px 9px;
        }

    .title-ani {
        font-size: 22px;
        line-height: 30px;
    }

    .men-title {
        font-size: 26px;
    }

    .women-title {
        font-size: 26px;
    }

    .top {
        padding-bottom: 10px;
    }

    .padd-10 {
        padding: 5px 0px;
    }

    .tel-top {
        padding: 0px 0px 0px 10px;
    }

    .tel-email {
        font-size: 14px;
    }

    .black {
        margin-top: 10px;
        width: 54%;
    }

    .styled-select select {
        padding: 3px 5px;
    }

    .navbar-toggle {
        margin-right: 0px;
    }

    .black1 {
        margin-top: 10px;
        z-index: 999;
    }

    .styled-select select {
        font-size: 9px;
        height: 25px;
    }

    .foot-bot-link ul {
        padding-left: 0px;
	padding-top: 20px;
    }
    .img-thumb .footer-link,.img-thumb .col-xs-9{width:100%}

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #e7e7e7;
        background: #415e9d;
        position: absolute;
        top: 52px;
        left: -220px;
        width: 280px;
        z-index: 999;
    }

    .navbar-nav {
        margin: 7.5px 21px;
    }

    h2 {
        font-size: 20px;
    }

    .leader ul li {
        margin: 0px 0px;
        font-size: 12px;
    }

    .thum-detail {
        font-size: 12px;
    }

    .thum-caption {
        color: #333;
        height: 100px;
        padding: 18px 15px !important;
    }

    .thum-title {
        margin-bottom: 0px;
    }

    .top-btn li {
        margin: 20px 0px;
        padding: 0px;
        list-style: none;
        display: block;
        width: 100%;
    }
    /*content*/
    .wel-section {
        padding: 0px 0px 30px 0px;
    }

    .wel-title {
        font-size: 26px;
        margin: 20px 0px 0px 0px;
    }

    .testi-detail {
        padding: 0px 0px 20px 0px;
    }

    .mar-viewall {
        margin-bottom: 15px;
        text-align: center;
    }

    .mar-tb {
        padding: 30px 0px !important;
    }

    .addre-cmp {
        color: #1a1a1a;
        font-size: 12px;
        font-family: montserrat-regular;
        margin: 0 0 0px;
        line-height: 16px;
        padding: 5px 0 0 0;
        text-align: center;
    }

        .addre-cmp a {
            font-size: 12px;
        }

    .foot-bot-link ul li {
        margin: 0px;
        list-style: none;
        font-size: 12px;
        font-family: montserrat-regular;
        font-weight: normal;
        padding: 0px 80px;
        line-height: 16px;
    }

        .foot-bot-link ul li:before {
            margin: 0px 10px 0 -15px;
        }
.footer-bottom .col-xs-8,.footer-bottom .col-xs-4{width:100%}
.footer-bottom .addre-cmp:first-child{padding:5px 0 0}

    .social-circle li a {
        display: inline-block;
        position: relative;
        margin: 0 auto 0 auto;
        text-align: center;
        width: 25px;
        height: 25px;
        font-size: 12px;
    }

    .copy-right {
        color: #999999;
        font-size: 11px;
        font-family: montserrat-regular;
        line-height: 18px;
        text-align: center;
    }
    #cmplogo-one:after {
    content: url(../images/mob-arrow.png);
    position: absolute;
    top: 300px;
    right: 125px;
}
    .wel-text {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
    }

    .why-us-sub-title {
        padding: 0px 15px;
    }

    .help-dr {
        font-size: 18px;
        padding: 0px 0px 0px 0px;
    }

    .help-btn {
        font-size: 14px;
    }

    .learn_more {
        font-size: 14px;
    }

    .cont-padd {
        padding: 0px;
    }

    .con-title {
        margin-bottom: 0px;
    }

    .con-sub {
        font-size: 14px;
    }

    .con-title-sub {
        font-size: 16px;
        line-height: 24px;
    }

    .con-title-number {
        font-size: 24px;
    }

    .line-b {
        padding: 45px 0px;
    }

    .line-ver1 {
        border-right: none;
    }

    .consulation-sub {
        font-size: 12px;
        color: #fff;
        font-weight: bold;
    }

    .consulation ul {
        padding-top: 10px;
    }

        .consulation ul li {
            padding: 2px 0px;
            font-size: 12px;
        }

    .comment {
        font-size: 10px;
    }

    .contact-bg {
        padding-bottom: 20px;
    }

    .panel-title {
        font-size: 16px;
        line-height: 28px;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        font-size: 14px;
        line-height: 18px;
    }

    .line-ver {
        border-right: none;
    }

    ul.social-network {
        margin-left: 0px !important;
    }

    .pad-top-header {
        padding: 10px 10px;
    }

    .leader {
        padding: 0px 0px;
    }

    .panel-group {
        margin-left: 0px;
    }

    .no-paddl {
        padding-right: 15px;
    }

    .no-paddr {
        padding-left: 15px;
    }



    .padd-50 {
        padding: 0px 0px 20px 0px;
    }

    .contact-bg .contact-text {
        float: left;
    }

    .find-loction {
        font-size: 11px;
        height: 25px;
        margin: 0px 10px 10px 10px;
        padding: 0px 10px;
    }

    .free-consultation-main1 {
        top: 0px;
        background: #ffffff;
        z-index: 101;
        margin-bottom: 0px;
    }

    .free-consultation-main {
        top: 0px;
        background: none;
    }
    /********************************************************** Free Consultaion ******************************************************************/
    .paddlg {
        padding: 50px 20px 0px 20px !important;
    }

    .free-consultation-title {
        padding: 20px 0px 0px 0px;
    }
    /********************************************************** Free Consultaion ******************************************************************/
    /********************************************************** why us ******************************************************************/
    .side-menu {
        margin: 35px 25px;
        padding: 0px;
    }
    /********************************************************** why us ******************************************************************/
    /********************************************************** blog-individual ******************************************************************/
    .container1 {
        width: 100%;
        margin: 0 auto;
    }

    .free-consultation-main2 {
        top: -30px;
    }

    .health-restoration {
        font-size: 12px;
    }

    .title-sub-blog-individual
{
        top:0px;
    }
    /********************************************************** blog-individual ******************************************************************/

    /********************************************************** blog-main ******************************************************************/
    /*.side-top {
        top: 0;
        width: 78%;
    }*/

    .side-top1 {
        top: -30px;
    }

    .side-menu-bg {
        background-size: contain;
        padding: 0px 20px;
        left: 0;
        top: -10px;
    }

    .why-us-title {
        font-size: 18px;
        line-height: 22px;
    }
    
    .wel-section h3,wel-section .h3{
        font-size: 16px;
        line-height: 18px;

    }
    .wel-section h4,.wel-section h4{
        font-size: 15px;
        line-height: 17px;
    }
    .padd-btm-blog {
        padding-bottom: 10px;
    }

    .title-blog-individual {
        text-align: left;
        padding-top: 15px !important;
    }
    /********************************************************** blog-main ******************************************************************/

    /**********************************************************arizona **********************************************************/
    .map-con {
        width: 100%;
        height: 350px !important;
    }

    .leader ul {
        margin: 0px;
        padding: 0px 10px;
    }

    .the-sol-mrg-btn {
        margin: 10px 0px !important;
    }


    .arison-sub-con {
        font-size: 12px;
        line-height: 18px;
    }

    .side-btn1 {
        background: #209608;
        border-radius: 3px;
        padding: 5px 20px !important;
        margin: 20px 0px !important;
        width: 80%;
    }
    div.margin-sec .free-consultation-main {
       margin-top: 0px;
       top: 0;
    }
.top-banner {background-image:none;background-color:#fff}
	.page-template-template_men .margin-sec .side-menu-bg,.page-template-template_women .margin-sec .side-menu-bg,.page-template-template_blog .side-menu-bg,.category .side-menu-bg,.single .side-menu-bg{background-image:url("../images/side-meny-bg.png");}
    .page-template-template_free_consultion .free-consultation-main{min-height:0}
/*mycss*/
    div #header,div #header.sticky #trueHeader{
        background-color:#fff;
    }
    .margin-sec .side-menu-bg,.single-post .side-top{
        margin-top: -130px;
    }

/*mycss*/
    /**********************************************************arizona **********************************************************/
}

@media (min-width: 501px) and (max-width: 767px) {
    .container {
        width: 100%;
    }
	.tab-content .margin-sec .free-consultation-main {
		margin-top: 0;
		padding: 0 30px
	}
.side-menu-bg{width:85%}

	
	.page-template-template_men .margin-sec .side-menu-bg,.page-template-template_women .margin-sec .side-menu-bg,.page-template-template_blog .side-menu-bg,.category .side-menu-bg,.single .side-menu-bg,.page-template-template_location_single .side-menu-bg,.page-template-template_location .side-menu-bg{margin-top: 0;background-image:none}
/*mycss*/
    div #header,div #header.sticky #trueHeader{
        background-color:#fff;
    }
	.top-banner.hidden-lg img{display:none}
/*mycss*/

}


@media (min-width: 768px) and (max-width: 1280px) {
    .container {
        width: 100%;
    }
	.page-template-template_blog .side-menu-bg{margin-top:0}
.margin-sec .free-consultation-main {
   left:-25px
}
    .find-loction {
        font-size: 11px;
        height: 25px;
        margin: 0px 10px 10px 20px;
        padding: 0px 10px;
    }

    .nav-btn1 a {
        background: #209608;
        border-radius: 3px;
        padding: 5px 110px;
        font-size: 11px;
        color: #fff;
        margin-right: 10px;
    }

    .nav-link-num {
        text-align: center;
    }

    .nav-link-num1 {
        text-align: center !important;
        padding-right: 240px;
    }

    .tel-email {
        font-size: 14px;
        padding-left: 210px;
    }

    .banner_animate h2 {
        font-size: 30px;
        line-height: 38px;
        padding: 0px 20px;
    }

    .top-banner {
        padding: 50px 0px 50px 0px;
    }

    .wel-title {
        color: #003366;
        padding: 0px 0px 0px 0px;
        font-size: 26px;
    }

    .men-title {
        font-size: 26px;
        padding: 0px 0px 0px 0px;
    }

    .women-title {
        font-size: 26px;
        padding: 0px 0px 0px 0px;
    }

    .logo {
        padding: 7px 0px 7px 0px;
        text-align: left;
    }

    .pad-top-header {
        padding: 0px 10px;
    }

    .no-paddl {
        padding-right: 15px;
    }

    .no-paddr {
        padding-left: 15px;
    }

    .line-b {
        border-bottom: none;
    }

    .line-ver1 {
        border-right: none;
    }

    .footer-bg {
        background: none;
        background-size: cover;
        background-color: #f8f8f8;
        padding-bottom: 30px;
    }
#cmplogo-one:after {
    content: url(../images/arrow.png);
    position: absolute;
       top: 25px;
    right: -20px;
}
  
    /********************************************************** Free Consultaion ******************************************************************/
    .free-consultation-main {
        top: -178px;
        padding: 0px 20px 0px 20px;
    }
    /********************************************************** Free Consultaion ******************************************************************/

    /********************************************************** Why us ******************************************************************/
    .side-menu-bg {
        top: -182px;
  	margin-top: -132px;
        left: 40px;
    }

    .why-choose-con-main {
        top: -175px;
        padding: 0px 20px 0px 50px;
    }

    .side-menu {
        margin: 35px 25px;
        padding: 0px;
    }
    /********************************************************** Why us ******************************************************************/
    /********************************************************** blog-individual ******************************************************************/
    .container1 {
        width: 100%;
        margin: 0 auto;
    }
    /********************************************************** blog-individual ******************************************************************/
    /********************************************************** blog-main ******************************************************************/
    .side-menu1 {
        top: -90px;
        left: 40px;
    }

    .blog-tab-main {
        top: -60px;
        padding: 0px 20px 0px 50px;
    }

    .img-main-blog {
        padding: 0px;
        margin-bottom: 20px;
    }

    .why-us-title {
        font-size: 22px;
        line-height: 26px;
    }
    .wel-section h3,wel-section .h3{
        font-size: 18px;
        line-height: 21px;

    }
    .wel-section h4,.wel-section h4{
        font-size: 16px;
        line-height: 18px;
    }
    .title-blog-individual {
        text-align: left;
        padding-top: 15px !important;
    }

    .side-top {
        top: -65px !important;
    }

    .side-top1 {
        top: -63px !important;
    }
     .single-post .side-top1 {
        top: -210px !important;
    }

    .img-main-blog {
        margin: 15px 0px;
    }
    /********************************************************** blog-main ******************************************************************/

    /********************************************************** arizona ******************************************************************/
    .map-con {
        width: 100%;
    }

    .the-sol-mrg-btn {
        margin: 10px 0px !important;
    }
    /********************************************************** arizona ******************************************************************/
    /********************************************************** for men ******************************************************************/
    .formen-side-menu {
        top: -217px;
    }
    /********************************************************** for men ******************************************************************/
	.tel-email{padding-left:0}
	header .wrapper-nav .container{width:1170px}
}

@media (min-width: 976px) and (max-width: 1199px) {
    .container {
        width: 100%;
    }
	header .wrapper-nav .container{
		width:960px;
	}
	.navbar-nav > li {
		margin: 15px 15px;
	}
	.styledSelect{padding: 7px 15px;}
	ul.social-network {margin-left:0}

}
@media (min-width: 768px) and (max-width: 976px) {
	header .wrapper-nav .container{
		width:768px;
	}
	.container .navbar-default .navbar-nav > li > a {
		letter-spacing: 0px;
	}
	.navbar-nav > li {
		margin: 16px 8px;
	}
	.styledSelect {
		padding: 7px 15px;
	}
    .contact-menu {
    margin: 16px 8px !important;
}
	
}
/* Responsive over here*/
@media (max-width: 1000px) {
   .footer-bottom .col-sm-12 img{padding:30px 0}
.contact-bg .cont-padd{
	padding: 20px 30px;
    }
}
@media (max-width: 992px) {
.margin-sec .free-consultation-main{margin-top: -254px;}
.app_section {
    padding: 0px 15px 30px;
}
.smsform .form-control {
    height: 45px;
}
.app_section .send-btn {
    font-size: 15px;
}
}
@media (max-width: 767px){ .side-menu-bg{z-index: 999;}.before-mw-after {right: 33%;bottom: -255px;}.before-mw {left: 33%;bottom: -255px;}}


/*testimonial page*/
@media (min-width:320px) and (max-width: 500px) {
    .before-mw-testimonial {
        left: 70px;
        top: 0px;
    }
    .before-mw-after-testimonial {
        right: 70px;
        top: 0px;
    }
    .test-women-first {
        margin-top: 0px;
    }
.contact-bg .cont-padd{
	padding: 0px;
    }
    
}
@media (min-width: 768px) and (max-width: 790px) {
    .before-mw-after-testimonial {
        right: 85px;
        top: 2px;
    }
    .before-mw-testimonial {
        left: 115px;
        top: 255px;
    }
    .women-top {
        top: 275px;
    }
    .women-top-after {
        right: 80px;       
    }
}
@media (min-width: 791px) and (max-width: 1366px) {
    .before-mw-after-testimonial {
            right: 180px;
            bottom: 2px;
    }
    .before-mw-testimonial {
        left: 180px;
        top: 255px;
    }
    .women-top {
        top: 275px;
    }
    .women-top-after {
        right: 185px;       
    }
}
@media (max-width: 768px){
.contact-bg .col-md-offset-1,.contact-bg .contact-text{float:left;width:100%;padding-top:0}
.success-story-det{float:left;padding-top:20px}
.wrapper.hidden-lg.hidden-md.hidden-sm {box-shadow: 0 4px 10px 0 rgba(165, 165, 165, 0.2), 0 5px 15px 0 rgba(220, 220, 220, 0.19);}
.options li:hover{border-radius:0;}
.options li{border-bottom-width: 1px;border-top-width: 0;}
.options li:hover{padding: 5px 10px;}
.before-men{left:31%}
.before-men-after{left:53%}


}
@media (min-width:375px) and (max-width: 396px){
.cmplogo-one::after {
    content: url(../images/mob-arrow.png);
    position: absolute;
       top: 290px;
    right: 155px;
}


}

@media (min-width:397px) and (max-width: 508px){
.cmplogo-one::after {
    content: url(../images/mob-arrow.png);
    position: absolute;
    top: 265px;
    right: 175px;
}
.before-mw-after {right: 25%;bottom: 0px;}.before-mw {left: 25%;bottom: -255px;}
.div-center{
        text-align:center !important;
        padding: 20px 85px;
    }
}


@media (min-width:509px) and (max-width: 600px){
.cmplogo-one::after {
    content: url(../images/mob-arrow.png);
    position: absolute;
    top: 240px;
    right: 230px;
}
.before-mw-after {right: 25%;bottom: 0px;}.before-mw {left: 25%;bottom: -255px;}
.before-men {left: 28%;}
}
@media (min-width:532px) and (max-width: 600px){
.before-mw-after {right: 25%;bottom: -255px;}.before-mw {left: 25%;bottom: -255px;}
.before-men {left: 23%;}
}
@media (min-width:600px) and (max-width: 735px){
.cmplogo-one::after {
    content: url(../images/mob-arrow.png);
    position: absolute;
    top: 235px;
    right: 300px;
}
}
@media (min-width:736px) and (max-width: 768px){
.cmplogo-one::after {
    content: url(../images/mob-arrow.png);
    position: absolute;
    right: 345px;
    top: 205px;
}
}
@media (min-width: 1000px) and (max-width: 1199px) {
.how-it-work .div-ani2{padding:0 30px}
}
@media (max-width: 420px) {
.before-mw-after {right: 20%;bottom: 0px;}.before-mw {left: 20%;bottom: 0px;}
.before-men{left:15%}
.smsform .form-control {
    width: 100%;
}
.app_section .send-btn {
    width: 100%;
    margin-top: 10px;
}
}