
#menu .toggle:before {
    content: "\f0c9";
    /*color: #2273ba;*/
    font-family: FontAwesome;
    font-size: 22px;
    line-height: 50px;
    margin: 5px 0;
    padding: 20px 10px;
}

#menu ul.navmenu ul.submenu {
    padding: 2px 0 0;
    border-top: 1px solid #222;
    background: #222;
    border: 1px solid #222;
    width: 99.5%;
    position: fixed;
    top: 0;
    width: 75%;
}

ul.topnav {
    width: 100%;
    margin: auto;
	overflow-y: scroll;
	overflow-x: hidden;
   
}

ul.topnav li {
    position: relative;
    float: none !important;
    box-shadow: 0 1px 0 #111, 0 2px 0 #333;
    width: 91%;
    margin-left: 3%;
}

ul.topnav li a.level-top{
	font-weight:bold;
}

ul.topnav em {
    width: auto;
    height: 8px;
}


#sidepanel { 
    background-color: #212121;
    height: 100%;
    position: fixed;
    width: 280px;
    z-index: 1000;
    left: -280px;
    top: 0;
	overflow:hidden;
    box-shadow: -3px -2px 6px #FF9E9E; 
	-webkit-backface-visibility:hidden; /*Most Important*/
}

.sub_body{
	position:relative;
	width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
	top:0;
}

 .hide-navmenu:before{
    font-family: FontAwesome;
    content: "\f105";
    color: #FFF;
    font-size: 20px;
    right: 20px;
    position: absolute;
    display: inline-block;
    line-height: 25px;
	 
 }
 .hide-navmenu {padding: 15px 10px;}
 .hide-navmenu img{width:230px;}
 
body {
    min-width: 320px;
    font-family: 'HelveticaNeue';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-size: 14px;
}


#product-filter-data li {
    margin-bottom: 5px;
}


._ft_o_s .links{display: inline-block; width: 48%; vertical-align: top; margin-right:8%}


@media only screen and (min-width: 170px) and (max-width: 319px) {
}


/* ########################################### */
/*  (min-width: 320px) and (max-width: 479px) */
/* ###########################################*/
@media only screen and (min-width: 320px) and (max-width: 479px) {
	
	/* ###### Header ############ */
	header {
		width: 100%;
		margin: auto;
		height: auto; 
	}

	header .header-search {
		padding: 0;
		margin-top: 0;
		display: inline-block;
		width: 100%;
	}
	
	header .top-links .inner {
    width: 96%;
    margin: auto;
    position: relative;
	}
	
	
	.search-box {
		margin-top: 0;
		width: 100%;
	}
	
	.search-btn-bg {
		right: auto;
		width: 13%;
		height: auto;
		top: 0;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	}

	#search {
		color: #1272bc;
		font-style: italic;
		border: 1px solid #1272bc !important;
		width: 85% !important;
		display: inline-block;
		vertical-align: middle;
		padding: 0 !important;
		text-indent: 5px;
	}
	
	.toplinks .mob-links div .click-nav ul .clicker {
    background: none;
    color: #002766;
    text-shadow: none!important;
    font-size: 20px;
    padding: 0px;
    padding-left: 0px;
    line-height: 19px;
    width: auto;
    border-bottom: none;
    padding-bottom: 0;
	}
	
	
	.toplinks .mob-links div .click-nav ul li a:hover {
		color: #002766 !important;
	}
	
	.toplinks .mob-links div .click-nav .no-js:hover ul {
		display: block;
		background: white;
		border: 1px #2273ba solid;
		border-top: 2px #2273ba solid;
		padding: 10px 0px;
		width: 140px;
		border-bottom: 4px #2273ba solid;
		margin-left: 0px;
		top: 25px;
		box-shadow: 0px 2px 5px gray;
	}
	
	
	.toplinks .mob-links div .click-nav .no-js:hover ul li a {
		color: #2273ba;
		padding: 0;
		margin: 6px 15px;
		border-bottom: 1px solid #e9e9e9;
	}
	
	.toplinks {
    float: right;
    margin-right: 18%;
    margin-top: 6px;
    vertical-align: middle;
	position: absolute;
    top: 5px;
    right: 5px;
	}
	
	header .header {
		width: 100%;
	}
		
	.nav-inner {
		height: auto;
		width: 100% !important;
	}	
		
		
	.logo-nav {
		float: left;
		margin-top: 5px;
		margin-bottom: 3px;
		width: 80%;
	}	
	.logo-nav img{
		width:100%;
		max-width:280px;
	}	
		
	.top-cart-contain .mini-cart .basket a	{
		padding: 0;
		margin-right: 10px;
		
	}	
	
	.top-cart-contain {
		margin: 0 !important;
			padding: 0 !important;
			top: -82px !important;
			right: 0 !important;
	}
	
	.menutop h2{
		color: #2273ba !important;
		font-weight: bold !important;
		
	}
	
	
	
	.hidden-desktop {
    display: inline-block !important;
    background: transparent;
    border: 0 !important;
    width: auto !important;
    float: right !important;
	    margin-right: 2%;
	}
	
	.slider-intro {
		padding-top: 133px;
	}
	
	#menu ul.navmenu .menutop {
		width: 98%;
		margin: auto;
	}
	
	.clicker:before{
		content: '\f007';
		font-family: FontAwesome;
		font-size: 18px;
		padding-right: 6px;
		
	}
	
	ul.topnav li a {
    line-height: 1;
	}
	
	/* ################### Content ########################## */
	
	.sub_body{
		position:relative;
		width: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		margin-right: 280px;
		top:0;
	}
	
	.main-container{width: 96%;}
	.main-container-inner{width: 100%;}
	
	.main-col {
		width: 96%;
	}
	
	.col3-left-layout{ width: 96% !important;}
	
	.col3-left-layout .col-main {
		width: 100% !important;
		display: inline-block;
		margin: 0 !important;
		padding: 0;
	}	
		
	#sort-by {
		padding: 5px 0 5px 0px;
		float: none;
		display: inline-block;
		vertical-align: middle;
	}
	#sort-by ul ul{display:none;}
	
	
	.pager .amount, .sorter .amount {
		display: inline-block;
		padding: 5px 0px;
		float: none;
		vertical-align: middle;
		margin: 5px 0 0 5px;
	}
	
	.top-banner-all {
   
    width: 100%;
    padding-top: 150px;
	content:'';
	}
	.top-banner-all .top-banner-img{display:none}
	
	
	
	/* product view */
	/*
	.product-essential {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  .product-essential .view-top-left{
          -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;  
    }


  .product-essential  .p-cart {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
	
	
	.cart-floating-div{position:relative !important; top:auto;}
	.sidebarview{display:none}
	.product-view .cart-product-name{ font-size: 24px; }
	
	.product-essential .view-top-left .product-image img {
		width: 100%;
	}
	
	.product-view .product-img-box {
		width: 90%;
		margin-bottom: 22px;
		margin: 0 auto;
		display: block;
		float: none;
	}
	
	*/
	/**/
	
	/*  login */
	
	.log-in-width {
		width: 100%;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	
	.login-bg {
		background: none;
		width: 100%;
		padding: 0;
	}
	.login-bg > div:first-child{
		width:100% !important;
	}
	.login-bg > div:first-child img{
		    float: none !important;
			display: inline-block;
			width: 20%;
			vertical-align: middle;
			margin:0 2%;
	}
	
	.login-bg > div:first-child p{
		line-height: 1.1;
		padding: 0 !important;
		display: inline-block;
		width: 76%;
		vertical-align: middle;
		margin: 0 !important;
	}
	
	.login-c{
		font-size: 16px;
	}
	.login-b{
		font-size: 16px;
	}
	.new-users{
		    width: 100% !important;
			height: auto !important;
			min-height: auto !important;
			padding-bottom: 10px !important;
	}
	.buttons-set {
		clear: both;
		display: inline-block;
		margin: 0;
	}
	
	.new-users .buttons-set {
		clear: both;
		display: block;
		margin: 0; 
		 text-align: center;

	}
	
	.new-users .reg-now, .new-users .reg-offer{display:none;}
	.login_page .login-bg .col2-set .col-2.registered-users {
		width: 100%;
		padding: 0px;
		margin: 0px;
	}
	
	.login_page .content {
		border-top: 0;
		margin: 0;
		padding: 2% !important;
	}
	
	.login-bg .log-now {
		line-height: 1.4;
		font-size: 18px !important;
	}
	
	.login-bg .log-now span {
		font-size: 30px;
		text-transform: uppercase;
	}
	a.forgot-word {
		display: inline-block;
	}
	.view-bottom-bg {
		padding: 0;
		background-size: 100% 100%;
		margin-bottom: 25px;
	}
	.view-bottom-bg img {
		width: 90%;
		padding: 0;
	}
	
	/* create */
	
	.register {width: 100%; }
	
	.new-user .content{
		padding: 0;
	}
	
	.register .log-now{ display:none;}
	
	.login_page  .login-bg .register .col2-set .col-2.registered-users
	{
		background: #0A66AD;
		padding-top: 0;
		margin-top: -10px;
		min-height: auto !important;
		 padding-bottom: 10px;
	}
	.login_page  .login-bg .register .col2-set .col-2.registered-users label{
		color:white;
	}	
	
	.login-bg .form-list input.input-text, .login-bg .form-list input.input-text:hover, .login-bg .form-list input.input-text:focus {
		padding: 10px 0;
		width: 100%;
	}
	
	.buttons-set p.required {
    margin: 0 0 5px;
		/* display: none; */ 
		float: none;
		text-align: left !important;
	}
	
	/* all product */
	
	.mobile-action{display:block !important;}
	
	
	
	/* My account Left Nav */
	
	.maffa_item{display:none}
	.macc_item{display:none}
	
	.dashboard > .page-title {
		position: relative;
		height: auto;
	}
	.dashboard > .page-title  h1{
		font-size: 18px;
		height: auto;
		float: none;
		display: inline-block;
		padding: 10px 0;
		text-indent: 30px;
		margin-left: 4%;
		width: 96%;
	}
	.dashboard > .page-title:before{display:none;}
	.dashboard > .page-title:after{display:none;}
	
	.my-vip-img{ display:none;}
	
	/* hrt */
	.ins_text {
		font-size: 12px;
		font-weight: bold;
		color: #323233;
		text-align: center;
	}
	
	#add_referral_form label{
		width: 100% !important;
		font-size: 14px !important;
	}
	#add_referral_form input{
		width: 99.5% !important;
		padding: 5px 0px !important;
		text-indent: 10px;
		margin-left: 0px !important;
	}
	#add_referral_form textarea{
	    width: 99.5% !important;
		border: 1px solid #1290e3;
		margin-left: 0 !important;
		padding: 5px 0px !important;
		text-indent: 10px;
	}
	
	/* trans */
	
	.data-table tbody th, .data-table tbody td {
		font-size: 11px;
		padding: 5px 1% !important;
	}
	
	.dashboard .data-table thead th {
		font-size: 10px;
		padding: 5px 1% !important;
	}
	.data-table .price {
		font-size: 11px;
		font-weight: 900;
	}
	
	
	.dashboard .limiter {
		width: 50%;
	}	
	.dashboard .pager .limiter select {
		width: 50% !important;
	}
	
	.dashboard .pager .amount, .dashboard .sorter .amount {
		margin:0 !important;
	}
	
	/* comm */
	
	#my-credits-table th:nth-child(4){display:none;}
	#my-credits-table th:nth-child(5){display:none;}
	#my-credits-table th:nth-child(6){display:none;}
	
	#my-credits-table td:nth-child(4){display:none;}
	#my-credits-table td:nth-child(5){display:none;}
	#my-credits-table td:nth-child(6){display:none;}
	
	.box-head{
		margin-top: 10px;
	}
	
	/* invite */
	
	#my-credits-table3 th{width:24%;
		word-break: break-word;
		word-wrap: break-word;
	}
	#my-credits-table3 td{width:24%;
		word-break: break-word;
		word-wrap: break-word;
	}
	#my-credits-table3 th:nth-child(1){ width:20%;}
	#my-credits-table3 th:nth-child(2){ width:26%;}
	
	.aff_referral_link .div_share {
		float: none;
		width: 100%;
	}
	.aff_referral_link .legend {
		float: none;
		width: 100%;
		border-bottom: none;
		font-size: 16px;
	}
	
	/* websites */
	#mw-my-website th{     width: 18%;
    word-break: break-word;}
	#mw-my-website td{    width: 18%;
    word-break: break-word;}
	#mw-my-website th:nth-child(1){ width:10% }
	#mw-my-website td:nth-child(1){ width:10% }
	#mw-my-website th:nth-child(4){ display:none }
	#mw-my-website td:nth-child(4){ display:none }
	#mw-my-website td textarea , #mw-my-website td input{width: 96% !important;
    padding: 5px 0px;}
	
	/* network */
	
	#mw-my-network th{ width:24%; word-break:break-all;}
	#mw-my-network td{ width:24%; word-break:break-all;}
	#mw-my-network td{
		word-wrap: break-word;
		word-break: break-word;
	}
	#mw-my-network th:nth-child(1){
	width: 12%;
	}
	
	/* patient list */
	#mw-my-patientlist th{word-wrap:break-word;}
	#mw-my-patientlist td{word-wrap:break-word;}
	#mw-my-patientlist td:nth-child(3){word-break:break-word;}
	
	/* medical/program */
	
	#tosearchfor{    
		width: 99.5% !important;
		padding: 5px 0px !important;
		text-indent: 10px;
	}
	
	._tosearchfor_item .product-shop {
		width: 96% !important;
		float: none;
		margin: 0 2% !important;
		padding-right: 0;
	}
	._tosearchfor_item .option-controller{
		width: 96% !important;
		margin: 0 2% !important;
	}

	
	/* product sum */
	._box-contact{
		display:none;
	}
	
	
	
	/* my-profiles-table  autoship */

	#my-profiles-table th:nth-child(3){display:none;}	
	#my-profiles-table th:nth-child(4){display:none;}
	#my-profiles-table td:nth-child(3){display:none;}	
	#my-profiles-table td:nth-child(4){display:none;}	
	
	#my-profiles-table th{width:23%}
	#my-profiles-table td{width:23%; word-break:break-all;}
	#my-profiles-table th span{ white-space: normal !important; }
	
	.aw-recurring-customer-index .main-container-inner .pager p{float: left;}
	.aw-recurring-customer-index .main-container-inner .pager .limiter select{
		float: none;
		vertical-align: middle;
		margin: 0;
		padding: 3px;
		width:auto !important;
	}
	.aw-recurring-customer-index .main-container-inner .limiter {
		float: left;
		margin-top: 10px;
	}
	.aw-recurring-customer-index .main-container-inner .pager .pages {
		float: left;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.aw-recurring-customer-index .buttons-set {
		clear: both;
		display: block;
    }
	
	.aw-recurring-customer-view .my-account > .page-title{height:auto !important;}
	.aw-recurring-customer-view .my-account > .page-title h1{
	    font-size: 24px;
	}
	
	/*  personal info */'
	
	.customer-account-edit .email-password { 
		width: 95% !important;
		margin: 0 auto !important;
		padding: 0 2% !important;
		border: 2px solid #c1e2ff;
	}
	 
	.email-password { 
		width: 95% !important;
		margin: 0 auto !important;
		padding: 0 2% !important;
		border: 2px solid #c1e2ff;
	}
	.customer-account-edit .buttons-set {
		clear: both;
		display: block;
		margin: 10px 0px;
	}
	

	.customer-account-edit .my-account form h2 {
		color: #216091;
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
	}
	
	/* address */
	
	.customer-address-index .col2-set .col-1 {
		width: 100% !important;
		margin-bottom: 10px;
	}
	.customer-address-index .col2-set .col2 {
		width: 100% !important;
		margin-bottom: 10px;
	}	
	.customer-address-index .bookedit .page-title > h2 {margin:0 !important }
	.customer-address-index .mini-form-address .fieldset{margin:0 !important}
	.customer-address-index .mini-form-address .fieldset .input-text{margin-left:0 !important; }
	.customer-address-index .buttons-set{margin:0 !important}
	
	.customer-address-index .box-title {
		background: #1272bc;
		position: relative;
		right: 0;
		border: 0;
		height: 30px; 
		top: 0;
		width: 100%;
		border-radius: 0;
		background-size: cover;
	}
	
	.customer-address-index .alt-box-title {
		position: relative;
		right: 0;
		margin-right: 25px;
		margin-left: 25px;
		top: 0;
	}
	
	
	.customer-address-index div.input-box[style="  margin-left: 122px;"]{
		margin-left:0 !important;
	}
	
	
	.customer-address-index  .mini-form-address label{
		width:auto !important;
	}
	
	.customer-address-index .mini-form-address .input-box {
		padding: 0;
		width: 100% !important;
		display: inline-block;
	}
	
	.customer-address-index  .mini-form-address .input-box select {
		width: 100% !important;
		display: inline-block;
		margin: 0 !important;
		padding: 9px 0 !important;
	}
	
	
	.customer-address-index .mini-form-address .input-box input, .customer-address-index .mini-form-address .input-box input:focus, .customer-address-index .mini-form-address .input-box input:hover {
		padding: 0;
		width: 100% !important;
		padding: 10px 0 !important;
		text-indent: 10px;
		display: inline-block;
		margin: 2px 0px;
	}
	
	
	
	
	.customer-address-form .bookedit .page-title > h2 {margin:0 !important }
	.customer-address-form .mini-form-address .fieldset{margin:0 !important}
	.customer-address-form .mini-form-address .fieldset .input-text{margin-left:0 !important; }
	.customer-address-form .buttons-set{margin: 20px 0 0 0 !important;
    display: block;}
	
	.customer-address-form .box-title {
		background: #1272bc;
		position: relative;
		right: 0;
		border: 0;
		height: 30px; 
		top: 0;
		width: 100%;
		border-radius: 0;
		background-size: cover;
	}
	
	.customer-address-form .alt-box-title {
		position: relative;
		right: 0;
		margin-right: 25px;
		margin-left: 25px;
		top: 0;
	}
	
	
	.customer-address-form div.input-box[style="  margin-left: 122px;"]{
		margin-left:0 !important;
	}
	
	
	.customer-address-form .mini-form-address label{
		width:auto !important;
	}
	
	.customer-address-form .mini-form-address .input-box {
		padding: 0;
		width: 100% !important;
		display: inline-block;
	}
	
	.customer-address-form .mini-form-address .input-box select {
		width: 100% !important;
		display: inline-block;
		margin: 0 !important;
		padding: 9px 0 !important;
	}
	
	
	.customer-address-form .mini-form-address .input-box input, .customer-address-form .mini-form-address .input-box input:focus, .customer-address-form .mini-form-address .input-box input:hover {
		padding: 0;
		width: 100% !important;
		padding: 10px 0 !important;
		text-indent: 10px;
		display: inline-block;
		margin: 2px 0px;
	}
	
	
	
	
	
	
	
	/* newsletter */
	
	.newsletter-manage-index .my-account > div:nth-child(1){
		width: 95% !important;
		margin: 0 auto !important;
		padding: 0 2% !important;
		border: 2px solid #c1e2ff;
	}
	
	.newsletter-manage-index .buttons-set {
		clear: both;
		display: block;
		margin: 10px 0px;
	}
	
	
	
	/** order sheet **/
	
	.ordersheet_web{display:none !important; }
	
	.ordersheet-index-index .col-main{width:100% !important;}
	.ordersheet-index-index .col-right{display:none !important;}
	
	
	._os_item_ctn{border-bottom:2px solid gray; padding:5px 0px !important; padding-left:2% !important; width:97% !important; display:inline-block !important;}
	
	.orderitem_price{display:inline-block !important;     float: right;     min-width: 100px;}
	.orderitem_price .price {display:inline-block !important; width:auto !important; padding:0px 1% !important;}
	.form-item-unc{ width:100% !important; }
	.product-option-action{width:100% !important;}
	
	.ordersheet-index-index .mobile_product_type{
		font-size: 24px;
		background: #2273ba;
		color: white;
		width: 100%;
		display: block;
		text-align: center;
		padding: 3px 0px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	
	.ordersheet-index-index #shipping-choices{width: 100%;}
	
	.table-container{margin-bottom:15px !important;}
	.ordersheet_mobile{display:block !important;} 
	.mobile_print{display:inline-block !important;    margin-bottom: 5px;}
	
	
	/* Shopping Cart */
	.cart {width:96%; }
	.cart-collaterals {width:96%; }
	.cart-collaterals .totals {width:96%; }
	
	button.button.btn-proceed-checkout span {
		font-size: 15px;
	}
	
	
	/* ################ Footer ######################*/
	 
	.questions { 
		width: 100%;
		display: block;
		margin: auto;
	}
	
	.questions .q-form {
		width: 96%;
		float: none;
		padding-top: 30px;
		padding-bottom: 30px;
		display: inline-block;
		
		padding: 0 2%;
	}

	.questions .q-form .middle-form {
		width: 95%;
		margin: 0 auto;
		margin-top: -20px;
	}
	
	.group-select li input.input-text, .group-select li textarea, .group-select li input.input-text:active, .group-select li textarea:active, .group-select li input.input-text:hover, .group-select li textarea:hover, .group-select li input.input-text:focus, .group-select li textarea:focus {
		width: 100% !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-indent: 10px;
		color:white;
	}
	
	.questions .q-form .group-select li .input-box {
		float: none;
		width: 100% !important;
		display: inline-block;
	}
	
	.map-inner {
		float: right;
		margin-top: -600px;
		display: none;
	}
	.questions button.button.submit {
		width:100%;	
	}	
	/* */
	
	.cms-page-view .blog_fix.latest-news {
		
	}
	
	.blog_post .blog-img-ct img {
    width: 100% !important;
	}
	/* */
	.prom-section{
		width:100%;
	}
	
	.prom-section .inner {
		width: 100%;
	}
	
	.prom-section .inner > div {
		width: 96% !important;
		text-align: center;
	}
	
	
	.prom-section .f-link {
		float: none;
		display: inline-block;
		padding: 5px 5px 5px 0px;
		border-right: 1px solid #fff;
		font-size: 10px !important;
	}
	
	.prom-section .f-link-last {
		float: none;
		display: inline-block;
		padding: 5px 5px 5px 0px;
		font-size: 10px !important;
	}
	

}



/* ########################################### */
/*  (min-width: 480px) and (max-width:  700px) */
/* ###########################################*/
@media only screen and (min-width: 480px) and (max-width: 699px) {
	
	/* ###### Header ############ */
	header {
		width: 100%;
		margin: auto;
		height: auto; 
	}

	header .header-search {
		display: inline-block;
		padding: 0;
		width: auto;
		float: right;
		margin-right: 22%;
	}
	
	header .header-search:before{
		content: '\f002';
		font-family: FontAwesome;
		font-size: 18px;
		float: right;
		color: #002766;
	}
	
	header .header-search .search-box{
		display:none;
		position: absolute;
		top: 60px;
		
		max-width:520px;
	}
	
	
	header .top-links .inner {
    width: 96%;
    margin: auto;
    position: relative;
	}
	
	header .phone {
		margin:0;
		display: none !important;
	}
	
	
	.search-box {
		margin-top: 0;
		width: 100%;
	}
	
	.search-btn-bg {
		right: auto;
		width: 20%;
		height: auto;
		top: 0;
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		
	}
	.search-btn-bg img{height:32px}

	#search {
		color: #1272bc;
		font-style: italic;
		border: 1px solid #1272bc !important;
		width: 76% !important;
		display: inline-block;
		vertical-align: middle;
		padding: 0 !important;
		text-indent: 5px;
		float: none;
	}
	
	header .top-links {
		height: 0;
		padding-top: 0;
		border: 0 !important;
		background: transparent !important;
		width: 100%;
		padding-bottom: 0;
		border-bottom: 0;
	}
	
	
	.toplinks .mob-links div .click-nav ul .clicker {
    background: none;
    color: #002766;
    text-shadow: none!important;
    font-size: 20px;
    padding: 0px;
    padding-left: 0px;
    line-height: 19px;
    width: auto;
    border-bottom: none;
    padding-bottom: 0;
	}
	
	
	.toplinks .mob-links div .click-nav ul li a:hover {
		color: #002766 !important;
	}
	
	.toplinks .mob-links div .click-nav .no-js:hover ul {
		display: block;
		background: white;
		border: 1px #2273ba solid;
		border-top: 2px #2273ba solid;
		padding: 10px 0px;
		width: 140px;
		border-bottom: 4px #2273ba solid;
		margin-left: 0px;
		top: 25px;
		box-shadow: 0px 2px 5px gray;
	}
	
	
	.toplinks .mob-links div .click-nav .no-js:hover ul li a {
		color: #2273ba;
		padding: 0;
		margin: 6px 15px;
		border-bottom: 1px solid #e9e9e9;
	}
	
	.toplinks {
		float: none;
		margin-right: 0;
		margin-top: 16px;
		vertical-align: middle;
		position: absolute;
		right: 33%;
	}
	
	nav {
		border-bottom: none;
		height: 50px;
		margin: 0 !important;
	}
	
	
	header .header {
		width: 100%;
	}
		
	.nav-inner {
		height: auto;
		width: 100% !important;
	}	
		
		
	.logo-nav {
		width: 60%;
		margin-top: 5px;
	}
		
	.logo-nav a{
	    float: left;
		margin-left: 15px;
	}
	
	.logo-nav img{
		width:100%;
		max-width:280px;
	}	
		
	.top-cart-contain .mini-cart .basket a	{
		padding: 0;
		margin-right: 10px;
		
	}	
	
	.top-cart-contain {
		margin: 0 !important;
		padding: 0 !important;
		top: -3px !important;
		right: 10% !important;
	}
	
	.menutop h2{
		color: #2273ba !important;
		font-weight: bold !important;
		
	}
	
	
	
	.hidden-desktop {
    display: inline-block !important;
    background: transparent;
    border: 0 !important;
    width: auto !important;
    float: right !important;
	    margin-right: 2%;
	}
	
	.slider-intro {
		padding-top: 55px;
	}
	
	#menu ul.navmenu .menutop {
		width: 98%;
		margin: auto;
	}
	
	.clicker:before{
		content: '\f007';
		font-family: FontAwesome;
		font-size: 18px;
		padding-right: 6px;
		
	}
	
	ul.topnav li a {
    line-height: 1;
	}
	
	/* ################### Content ########################## */
	
	.sub_body{
		position:relative;
		width: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		margin-right: 280px;
		top:0;
	}
	
	.main-container{width: 96%;}
	.main-container-inner{width: 100%;}
	
	.col3-left-layout{ width: 96% !important;}
	
	.col3-left-layout .col-main {
		width: 100% !important;
		display: inline-block;
		margin: 0 !important;
		padding: 0;
	}	
		
	.col-right.sidebar{ display:none !important }	
	/*.col-left.sidebar{ display:none !important }	*/ 
	
	#sort-by {
		padding: 5px 0 5px 0px;
		float: none;
		display: inline-block;
		vertical-align: middle;
	}
	#sort-by ul ul{display:none;}
	
	
	.pager .amount, .sorter .amount {
		display: inline-block;
		padding: 5px 0px;
		float: none;
		vertical-align: middle;
		margin: 5px 0 0 5px;
	}
	
	.top-banner-all {
   
    width: 100%;
    padding-top: 150px;
	content:'';
	}
	.top-banner-all .top-banner-img{display:none}
	
	
	
	
	/*  login */
	
	.log-in-width {
		width: 460px;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	
	.login-bg {
		background: none;
		width: 100%;
		padding: 0;
	}
	.login-bg > div:first-child{
		width:100% !important;
	}
	.login-bg > div:first-child img{
		    float: none !important;
			display: inline-block;
			width: 20%;
			vertical-align: middle;
			margin:0 2%;
			max-width: 100px;
	}
	
	.login-bg > div:first-child p{
		line-height: 1.1;
		padding: 0 !important;
		display: inline-block;
		width: 76%;
		vertical-align: middle;
		margin: 0 !important;
	}
	
	.login-c{
		font-size: 16px;
	}
	.login-b{
		font-size: 16px;
	}
	.new-users{
		    width: 100% !important;
			height: auto !important;
			min-height: auto !important;
			padding-bottom: 10px !important;
	}
	.buttons-set {
		clear: both;
		display: inline-block;
		margin: 0;
	}
	
	.new-users .buttons-set {
		clear: both;
		display: block;
		margin: 0; 
		 text-align: center;

	}
	
	.new-users .reg-now, .new-users .reg-offer{display:none;}
	.login_page .login-bg .col2-set .col-2.registered-users {
		width: 100%;
		padding: 0px;
		margin: 0px;
	}
	
	.login_page .content {
		border-top: 0;
		margin: 0;
		padding: 2% !important;
	}
	
	.login-bg .log-now {
		line-height: 1.4;
		font-size: 18px !important;
	}
	
	.login-bg .log-now span {
		font-size: 30px;
		text-transform: uppercase;
	}
	a.forgot-word {
		display: inline-block;
	}
	.view-bottom-bg {
		padding: 0;
		background-size: 100% 100%;
		margin-bottom: 25px;
	}
	.view-bottom-bg img {
		width: auto;
		padding: 0;
	}
	
	/* create */
	
	.register {width: 100%; }
	
	.new-user .content{
		padding: 0;
	}
	
	.register .log-now{ display:none;}
	
	.login_page  .login-bg .register .col2-set .col-2.registered-users
	{
		background: #0A66AD;
		padding-top: 0;
		margin-top: -10px;
		min-height: auto !important;
		 padding-bottom: 10px;
	}
	.login_page  .login-bg .register .col2-set .col-2.registered-users label{
		color:white;
	}	
	
	.login-bg .form-list input.input-text, .login-bg .form-list input.input-text:hover, .login-bg .form-list input.input-text:focus {
		padding: 10px 0;
		width: 100%;
	}
	
	.buttons-set p.required {
    margin: 0 0 5px;
		/* display: none; */ 
		float: none;
		text-align: left !important;
	}
	
	/* all product */
	
	.mobile-action{display:block !important; top: 55px !important;}
	
	
	
	/* My account Left Nav */
	
	.maffa_item{display:none}
	.macc_item{display:none}
	
	.dashboard > .page-title {
		position: relative;
		height: auto;
	}
	.dashboard > .page-title  h1{
		font-size: 18px;
		height: auto;
		float: none;
		display: inline-block;
		padding: 10px 0;
		text-indent: 30px;
		margin-left: 4%;
		width: 96%;
	}
	.dashboard > .page-title:before{display:none;}
	.dashboard > .page-title:after{display:none;}
	
	.my-vip-img{ display:none;}
	
	/* hrt */
	.ins_text {
		font-size: 12px;
		font-weight: bold;
		color: #323233;
		text-align: center;
	}
	
	#add_referral_form label{
		width: 100% !important;
		font-size: 14px !important;
	}
	#add_referral_form input{
		width: 99.5% !important;
		padding: 5px 0px !important;
		text-indent: 10px;
		margin-left: 0px !important;
	}
	#add_referral_form textarea{
	    width: 99.5% !important;
		border: 1px solid #1290e3;
		margin-left: 0 !important;
		padding: 5px 0px !important;
		text-indent: 10px;
	}
	
	/* trans */
	
	.data-table tbody th, .data-table tbody td {
		font-size: 11px;
		padding: 5px 1% !important;
	}
	
	.dashboard .data-table thead th {
		font-size: 10px;
		padding: 5px 1% !important;
	}
	.data-table .price {
		font-size: 11px;
		font-weight: 900;
	}
	
	
	.dashboard .limiter {
		width: 50%;
	}	
	.dashboard .pager .limiter select {
		width: 50% !important;
	}
	
	.dashboard .pager .amount, .dashboard .sorter .amount {
		margin:0 !important;
	}
	
	/* comm */
	
	#my-credits-table th:nth-child(4){display:none;}
	#my-credits-table th:nth-child(5){display:none;}
	#my-credits-table th:nth-child(6){display:none;}
	
	#my-credits-table td:nth-child(4){display:none;}
	#my-credits-table td:nth-child(5){display:none;}
	#my-credits-table td:nth-child(6){display:none;}
	
	.box-head{
		margin-top: 10px;
	}
	
	/* invite */
	
	#my-credits-table3 th{width:24%;
		word-break: break-word;
		word-wrap: break-word;
	}
	#my-credits-table3 td{width:24%;
		word-break: break-word;
		word-wrap: break-word;
	}
	#my-credits-table3 th:nth-child(1){ width:20%;}
	#my-credits-table3 th:nth-child(2){ width:26%;}
	
	.aff_referral_link .div_share {
		float: none;
		width: 100%;
	}
	.aff_referral_link .legend {
		float: none;
		width: 100%;
		border-bottom: none;
		font-size: 16px;
	}
	
	/* websites */
	#mw-my-website th{     width: 18%;
    word-break: break-word;}
	#mw-my-website td{    width: 18%;
    word-break: break-word;}
	#mw-my-website th:nth-child(1){ width:10% }
	#mw-my-website td:nth-child(1){ width:10% }
	#mw-my-website th:nth-child(4){ display:none }
	#mw-my-website td:nth-child(4){ display:none }
	#mw-my-website td textarea , #mw-my-website td input{width: 96% !important;
    padding: 5px 0px;}
	
	/* network */
	
	#mw-my-network th{ width:24%; word-break:break-all;}
	#mw-my-network td{ width:24%; word-break:break-all;}
	#mw-my-network td{
		word-wrap: break-word;
		word-break: break-word;
	}
	#mw-my-network th:nth-child(1){
	width: 12%;
	}
	
	/* patient list */
	#mw-my-patientlist th{word-wrap:break-word;}
	#mw-my-patientlist td{word-wrap:break-word;}
	#mw-my-patientlist td:nth-child(3){word-break:break-word;}
	
	/* medical/program */
	
	#tosearchfor{    
		width: 99.5% !important;
		padding: 5px 0px !important;
		text-indent: 10px;
	}
	
	._tosearchfor_item .product-shop {
		width: 96% !important;
		float: none;
		margin: 0 2% !important;
		padding-right: 0;
	}
	._tosearchfor_item .option-controller{
		width: 96% !important;
		margin: 0 2% !important;
	}

	
	/* product sum */
	._box-contact{
		display:none;
	}
	
	
	
	/* my-profiles-table  autoship */

	#my-profiles-table th:nth-child(3){display:none;}	
	#my-profiles-table th:nth-child(4){display:none;}
	#my-profiles-table td:nth-child(3){display:none;}	
	#my-profiles-table td:nth-child(4){display:none;}	
	
	#my-profiles-table th{width:23%}
	#my-profiles-table td{width:23%; word-break:break-all;}
	#my-profiles-table th span{ white-space: normal !important; }
	
	.aw-recurring-customer-index .main-container-inner .pager p{float: left;}
	.aw-recurring-customer-index .main-container-inner .pager .limiter select{
		float: none;
		vertical-align: middle;
		margin: 0;
		padding: 3px;
		width:auto !important;
	}
	.aw-recurring-customer-index .main-container-inner .limiter {
		float: left;
		margin-top: 10px;
	}
	.aw-recurring-customer-index .main-container-inner .pager .pages {
		float: left;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.aw-recurring-customer-index .buttons-set {
		clear: both;
		display: block;
    }
	
	.aw-recurring-customer-view .my-account > .page-title{height:auto !important;}
	.aw-recurring-customer-view .my-account > .page-title h1{
	    font-size: 24px;
	}
	
	/*  personal info */'
	
	.customer-account-edit .email-password { 
		width: 95% !important;
		margin: 0 auto !important;
		padding: 0 2% !important;
		border: 2px solid #c1e2ff;
	}
	 
	.email-password { 
		width: 95% !important;
		margin: 0 auto !important;
		padding: 0 2% !important;
		border: 2px solid #c1e2ff;
	}
	.customer-account-edit .buttons-set {
		clear: both;
		display: block;
		margin: 10px 0px;
	}
	

	.customer-account-edit .my-account form h2 {
		color: #216091;
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
	}
	
	/* address */
	
	.customer-address-index .col2-set .col-1 {
		width: 100% !important;
		margin-bottom: 10px;
	}
	.customer-address-index .col2-set .col2 {
		width: 100% !important;
		margin-bottom: 10px;
	}	
	.customer-address-index .bookedit .page-title > h2 {margin:0 !important }
	.customer-address-index .mini-form-address .fieldset{margin:0 !important}
	.customer-address-index .mini-form-address .fieldset .input-text{margin-left:0 !important; }
	.customer-address-index .buttons-set{margin:0 !important}
	
	.customer-address-index .box-title {
		background: #1272bc;
		position: relative;
		right: 0;
		border: 0;
		height: 30px; 
		top: 0;
		width: 100%;
		border-radius: 0;
		background-size: cover;
	}
	
	.customer-address-index .alt-box-title {
		position: relative;
		right: 0;
		margin-right: 25px;
		margin-left: 25px;
		top: 0;
	}
	
	
	.customer-address-index div.input-box[style="  margin-left: 122px;"]{
		margin-left:0 !important;
	}
	
	
	.customer-address-index  .mini-form-address label{
		width:auto !important;
	}
	
	.customer-address-index .mini-form-address .input-box {
		padding: 0;
		width: 100% !important;
		display: inline-block;
	}
	
	.customer-address-index  .mini-form-address .input-box select {
		width: 100% !important;
		display: inline-block;
		margin: 0 !important;
		padding: 9px 0 !important;
	}
	
	
	.customer-address-index .mini-form-address .input-box input, .customer-address-index .mini-form-address .input-box input:focus, .customer-address-index .mini-form-address .input-box input:hover {
		padding: 0;
		width: 100% !important;
		padding: 10px 0 !important;
		text-indent: 10px;
		display: inline-block;
		margin: 2px 0px;
	}
	
	
	
	
	.customer-address-form .bookedit .page-title > h2 {margin:0 !important }
	.customer-address-form .mini-form-address .fieldset{margin:0 !important}
	.customer-address-form .mini-form-address .fieldset .input-text{margin-left:0 !important; }
	.customer-address-form .buttons-set{margin: 20px 0 0 0 !important;
    display: block;}
	
	.customer-address-form .box-title {
		background: #1272bc;
		position: relative;
		right: 0;
		border: 0;
		height: 30px; 
		top: 0;
		width: 100%;
		border-radius: 0;
		background-size: cover;
	}
	
	.customer-address-form .alt-box-title {
		position: relative;
		right: 0;
		margin-right: 25px;
		margin-left: 25px;
		top: 0;
	}
	
	
	.customer-address-form div.input-box[style="  margin-left: 122px;"]{
		margin-left:0 !important;
	}
	
	
	.customer-address-form .mini-form-address label{
		width:auto !important;
	}
	
	.customer-address-form .mini-form-address .input-box {
		padding: 0;
		width: 100% !important;
		display: inline-block;
	}
	
	.customer-address-form .mini-form-address .input-box select {
		width: 100% !important;
		display: inline-block;
		margin: 0 !important;
		padding: 9px 0 !important;
	}
	
	
	.customer-address-form .mini-form-address .input-box input, .customer-address-form .mini-form-address .input-box input:focus, .customer-address-form .mini-form-address .input-box input:hover {
		padding: 0;
		width: 100% !important;
		padding: 10px 0 !important;
		text-indent: 10px;
		display: inline-block;
		margin: 2px 0px;
	}
	
	
	
	
	
	
	
	/* newsletter */
	
	.newsletter-manage-index .my-account > div:nth-child(1){
		width: 95% !important;
		margin: 0 auto !important;
		padding: 0 2% !important;
		border: 2px solid #c1e2ff;
	}
	
	.newsletter-manage-index .buttons-set {
		clear: both;
		display: block;
		margin: 10px 0px;
	}
	
	
	
	/** order sheet **/
	
	.ordersheet_web{display:none !important; }
	
	.ordersheet-index-index .col-main{width:100% !important;}
	.ordersheet-index-index .col-right{display:none !important;}
	
	
	._os_item_ctn{border-bottom:2px solid gray; padding:5px 0px !important; padding-left:2% !important; width:97% !important; display:inline-block !important;}
	
	.orderitem_price{display:inline-block !important;     float: right;     min-width: 100px;}
	.orderitem_price .price {display:inline-block !important; width:auto !important; padding:0px 1% !important;}
	.form-item-unc{ width:100% !important; }
	.product-option-action{width:100% !important;}
	
	.ordersheet-index-index .mobile_product_type{
		font-size: 24px;
		background: #2273ba;
		color: white;
		width: 100%;
		display: block;
		text-align: center;
		padding: 3px 0px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	
	.ordersheet-index-index #shipping-choices{width: 100%;}
	
	.table-container{margin-bottom:15px !important;}
	.ordersheet_mobile{display:block !important;} 
	.mobile_print{display:inline-block !important;    margin-bottom: 5px;}
	
		/** My cart */
	
	.main-container-inner > .cart {
		width: 100%;
	}
	
	
	
	
	/* ################ Footer ######################*/
	 
	.questions { 
		width: 100%;
		display: block;
		margin: auto;
	}
	
	.questions .q-form {
		width: 96%;
		float: none;
		padding-top: 30px;
		padding-bottom: 30px;
		display: inline-block;
		background: #60dbeb;
		padding: 0 2%;
	}

	.questions .q-form .middle-form {
		width: 100%;
		margin: 0 auto;
	}
	
	.group-select li input.input-text, .group-select li textarea, .group-select li input.input-text:active, .group-select li textarea:active, .group-select li input.input-text:hover, .group-select li textarea:hover, .group-select li input.input-text:focus, .group-select li textarea:focus {
		width: 100% !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-indent: 10px;
		color:white;
	}
	
	.questions .q-form .group-select li .input-box {
		float: none;
		width: 100% !important;
		display: inline-block;
	}
	
	.map-inner {
		float: right;
		margin-top: -600px;
		display: none;
	}
	.questions button.button.submit {
		width:100%;	
	}	
	/* */
	
	.cms-page-view .blog_fix.latest-news {
		
	}
	.blog_post ul h2 { font-size: 16px !important; }
	
	.blog-img-ct{ width:100% !important;}
	.blog-text-ct{ width:100% !important;}
	
	.blog_post .blog-img-ct img {
    width: 100% !important;
	    max-width: 200px;
	}
	
	
	/* */
	.prom-section{
		width:100%;
	}
	
	.prom-section .inner {
		width: 100%;
	}
	
	.prom-section .inner > div {
		width: 96% !important;
		text-align: center;
	}
	
	
	.prom-section .f-link {
		float: none;
		display: inline-block;
		padding: 5px 5px 5px 0px;
		border-right: 1px solid #fff;
		font-size: 10px !important;
	}
	
	.prom-section .f-link-last {
		float: none;
		display: inline-block;
		padding: 5px 5px 5px 0px;
		font-size: 10px !important;
	}
	
	
}	


/* ########################################### */
/*  (min-width: 701px) and (max-width:  900px) */
/* ###########################################*/
@media only screen and (min-width: 700px) and (max-width: 899px) {
	 
	/* ###### Header ############ */
	header {
		width: 100%;
		margin: auto;
		height: auto; 
	}

	header .header-search {
		display: inline-block;
		padding: 0;
		width: auto;
		float: right;
		margin-right: 22%;
	}
	
	header .header-search:before{
		content: '\f002';
		font-family: FontAwesome;
		font-size: 18px;
		float: right;
		color: #002766;
	}
	
	header .header-search .search-box{
		display:none;
		position: absolute;
		top: 60px;
		max-width:520px;
	}
	
	
	header .top-links .inner {
    width: 96%;
    margin: auto;
    position: relative;
	}
	
	header .phone {
		margin:0;
		display: none !important;
	}
	
	
	.search-box {
		margin-top: 0;
		width: 100%;
	}
	
	.search-btn-bg {
		right: auto;
		width: 20%;
		height: auto;
		top: 0;
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		
	}
	.search-btn-bg img{height:32px}

	#search {
		color: #1272bc;
		font-style: italic;
		border: 1px solid #1272bc !important;
		width: 76% !important;
		display: inline-block;
		vertical-align: middle;
		padding: 0 !important;
		text-indent: 5px;
		float: none;
	}
	
	header .top-links {
		height: 0;
		padding-top: 0;
		border: 0 !important;
		background: transparent !important;
		width: 100%;
		padding-bottom: 0;
		border-bottom: 0;
	}
	
	
	.toplinks .mob-links div .click-nav ul .clicker {
    background: none;
    color: #002766;
    text-shadow: none!important;
    font-size: 20px;
    padding: 0px;
    padding-left: 0px;
    line-height: 19px;
    width: auto;
    border-bottom: none;
    padding-bottom: 0;
	}
	
	
	.toplinks .mob-links div .click-nav ul li a:hover {
		color: #002766 !important;
	}
	
	.toplinks .mob-links div .click-nav .no-js:hover ul {
		display: block;
		background: white;
		border: 1px #2273ba solid;
		border-top: 2px #2273ba solid;
		padding: 10px 0px;
		width: 140px;
		border-bottom: 4px #2273ba solid;
		margin-left: 0px;
		top: 25px;
		box-shadow: 0px 2px 5px gray;
	}
	
	
	.toplinks .mob-links div .click-nav .no-js:hover ul li a {
		color: #2273ba;
		padding: 0;
		margin: 6px 15px;
		border-bottom: 1px solid #e9e9e9;
	}
	
	.toplinks {
		float: none;
		margin-right: 0;
		margin-top: 16px;
		vertical-align: middle;
		position: absolute;
		right: 33%;
	}
	
	.toplinks div.links div.login a {
		padding-top: 0 !important;
	}
	
	#primary_nav_wrap.drop2 .arrow-log {
		padding: 0 !important;
		margin-top: -6px !important;
	}
	
	#primary_nav_wrap ul ul {
		right: -268px;
	}
	#primary_nav_wrap.drop2 .inner-drop:before {
		right: 240px !important;
	} 
	
	
	nav {
		border-bottom: none;
		height: 50px;
		margin: 0 !important;
	}
	
	
	header .header {
		width: 100%;
	}
		
	.nav-inner {
		height: auto;
		width: 100% !important;
	}	
		
		
	.logo-nav {
		width: 60%;
		margin-top: 5px;
	}
		
	.logo-nav a{
	    float: left;
		margin-left: 15px;
	}
	
	.logo-nav img{
		width:100%;
		max-width:280px;
	}	
		
	.top-cart-contain .mini-cart .basket a	{
		padding: 0;
		margin-right: 10px;
		
	}	
	
	.top-cart-contain {
		margin: 0 !important;
		padding: 0 !important;
		top: -3px !important;
		right: 10% !important;
	}
	
	.menutop h2{
		color: #2273ba !important;
		font-weight: bold !important;
		
	}
	
	
	
	.hidden-desktop {
    display: inline-block !important;
    background: transparent;
    border: 0 !important;
    width: auto !important;
    float: right !important;
	    margin-right: 2%;
	}
	
	.slider-intro {
		padding-top: 55px;
	}
	
	#menu ul.navmenu .menutop {
		width: 98%;
		margin: auto;
	}
	
	.clicker:before{
		content: '\f007';
		font-family: FontAwesome;
		font-size: 18px;
		padding-right: 6px;
		
	}
	
	ul.topnav li a {
    line-height: 1;
	}
	
	/* ################### Content ########################## */
	
	.sub_body{
		position:relative;
		width: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		margin-right: 280px;
		top:0;
	}
	
	.main-container{width: 96%;}
	.main-container-inner{width: 100%;}
	
	.col3-left-layout{ width: 96% !important;}
	
	.col3-left-layout .col-main {
		width: 100% !important;
		display: inline-block;
		margin: 0 !important;
		padding: 0;
	}	
		
	.col-right.sidebar{ display:none !important }	
	/*.col-left.sidebar{ display:none !important }	*/
	
	
	
	#sort-by {
		padding: 5px 0 5px 0px;
		float: none;
		display: inline-block;
		vertical-align: middle;
	}
	#sort-by ul ul{display:none;}
	
	
	.pager .amount, .sorter .amount {
		display: inline-block;
		padding: 5px 0px;
		float: none;
		vertical-align: middle;
		margin: 5px 0 0 5px;
	}
	
	.top-banner-all {
   
    width: 100%;
    padding-top: 150px;
	content:'';
	}
	.top-banner-all .top-banner-img{display:none}
	
	
	
	
	/*  login */
	
	.log-in-width {
		width: 460px;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	
	.login-bg {
		background: none;
		width: 100%;
		padding: 0;
	}
	.login-bg > div:first-child{
		width:100% !important;
	}
	.login-bg > div:first-child img{
		    float: none !important;
			display: inline-block;
			width: 20%;
			vertical-align: middle;
			margin:0 2%;
			max-width: 100px;
	}
	
	.login-bg > div:first-child p{
		line-height: 1.1;
		padding: 0 !important;
		display: inline-block;
		width: 76%;
		vertical-align: middle;
		margin: 0 !important;
	}
	
	.login-c{
		font-size: 16px;
	}
	.login-b{
		font-size: 16px;
	}
	.new-users{
		    width: 100% !important;
			height: auto !important;
			min-height: auto !important;
			padding-bottom: 10px !important;
	}
	.buttons-set {
		clear: both;
		display: inline-block;
		margin: 0;
	}
	
	.new-users .buttons-set {
		clear: both;
		display: block;
		margin: 0; 
		 text-align: center;

	}
	
	.new-users .reg-now, .new-users .reg-offer{display:none;}
	.login_page .login-bg .col2-set .col-2.registered-users {
		width: 100%;
		padding: 0px;
		margin: 0px;
	}
	
	.login_page .content {
		border-top: 0;
		margin: 0;
		padding: 2% !important;
	}
	
	.login-bg .log-now {
		line-height: 1.4;
		font-size: 18px !important;
	}
	
	.login-bg .log-now span {
		font-size: 30px;
		text-transform: uppercase;
	}
	a.forgot-word {
		display: inline-block;
	}
	.view-bottom-bg {
		padding: 0;
		background-size: 100% 100%;
		margin-bottom: 25px;
	}
	.view-bottom-bg img {
		width: auto;
		padding: 0;
	}
	
	/* create */
	
	.register {width: 100%; }
	
	.new-user .content{
		padding: 0;
	}
	
	.register .log-now{ display:none;}
	
	.login_page  .login-bg .register .col2-set .col-2.registered-users
	{
		background: #0A66AD;
		padding-top: 0;
		margin-top: -10px;
		min-height: auto !important;
		 padding-bottom: 10px;
	}
	.login_page  .login-bg .register .col2-set .col-2.registered-users label{
		color:white;
	}	
	
	.login-bg .form-list input.input-text, .login-bg .form-list input.input-text:hover, .login-bg .form-list input.input-text:focus {
		padding: 10px 0;
		width: 100%;
	}
	
	.buttons-set p.required {
    margin: 0 0 5px;
		/* display: none; */ 
		float: none;
		text-align: left !important;
	}
	
	/* all product */
	
	.mobile-action{display:block !important; top: 55px !important;}
	
	
	
	/* My account Left Nav */
	
	.maffa_item{display:none}
	.macc_item{display:none}
	
	.dashboard > .page-title {
		position: relative;
		height: auto;
	}
	.dashboard > .page-title  h1{
		font-size: 18px;
		height: auto;
		float: none;
		display: inline-block;
		padding: 10px 0;
		text-indent: 30px;
		margin-left: 4%;
		width: 96%;
	}
	.dashboard > .page-title:before{display:none;}
	.dashboard > .page-title:after{display:none;}
	
	.my-vip-img{ display:none;}
	
	/* hrt */
	.ins_text {
		font-size: 12px;
		font-weight: bold;
		color: #323233;
		text-align: center;
	}
	
	#add_referral_form label{
		width: 100% !important;
		font-size: 14px !important;
	}
	#add_referral_form input{
		width: 99.5% !important;
		padding: 5px 0px !important;
		text-indent: 10px;
		margin-left: 0px !important;
	}
	#add_referral_form textarea{
	    width: 99.5% !important;
		border: 1px solid #1290e3;
		margin-left: 0 !important;
		padding: 5px 0px !important;
		text-indent: 10px;
	}
	
	/* trans */
	
	.data-table tbody th, .data-table tbody td {
		font-size: 11px;
		padding: 5px 1% !important;
	}
	
	.dashboard .data-table thead th {
		font-size: 10px;
		padding: 5px 1% !important;
	}
	.data-table .price {
		font-size: 11px;
		font-weight: 900;
	}
	
	
	.dashboard .limiter {
		width: 50%;
	}	
	.dashboard .pager .limiter select {
		width: 50% !important;
	}
	
	.dashboard .pager .amount, .dashboard .sorter .amount {
		margin:0 !important;
	}
	
	/* comm */
	
	#my-credits-table th:nth-child(4){display:none;}
	#my-credits-table th:nth-child(5){display:none;}
	#my-credits-table th:nth-child(6){display:none;}
	
	#my-credits-table td:nth-child(4){display:none;}
	#my-credits-table td:nth-child(5){display:none;}
	#my-credits-table td:nth-child(6){display:none;}
	
	.box-head{
		margin-top: 10px;
	}
	
	/* invite */
	
	#my-credits-table3 th{width:24%;
		word-break: break-word;
		word-wrap: break-word;
	}
	#my-credits-table3 td{width:24%;
		word-break: break-word;
		word-wrap: break-word;
	}
	#my-credits-table3 th:nth-child(1){ width:20%;}
	#my-credits-table3 th:nth-child(2){ width:26%;}
	
	.aff_referral_link .div_share {
		float: none;
		width: 100%;
	}
	.aff_referral_link .legend {
		float: none;
		width: 100%;
		border-bottom: none;
		font-size: 16px;
	}
	
	/* websites */
	#mw-my-website th{     width: 18%;
    word-break: break-word;}
	#mw-my-website td{    width: 18%;
    word-break: break-word;}
	#mw-my-website th:nth-child(1){ width:10% }
	#mw-my-website td:nth-child(1){ width:10% }
	#mw-my-website th:nth-child(4){ display:none }
	#mw-my-website td:nth-child(4){ display:none }
	#mw-my-website td textarea , #mw-my-website td input{width: 96% !important;
    padding: 5px 0px;}
	
	/* network */
	
	#mw-my-network th{ width:24%; word-break:break-all;}
	#mw-my-network td{ width:24%; word-break:break-all;}
	#mw-my-network td{
		word-wrap: break-word;
		word-break: break-word;
	}
	#mw-my-network th:nth-child(1){
	width: 12%;
	}
	
	/* patient list */
	#mw-my-patientlist th{word-wrap:break-word;}
	#mw-my-patientlist td{word-wrap:break-word;}
	#mw-my-patientlist td:nth-child(3){word-break:break-word;}
	
	/* medical/program */
	
	#tosearchfor{    
		width: 99.5% !important;
		padding: 5px 0px !important;
		text-indent: 10px;
	}
	
	._tosearchfor_item .product-shop {
		width: 96% !important;
		float: none;
		margin: 0 2% !important;
		padding-right: 0;
	}
	._tosearchfor_item .option-controller{
		width: 96% !important;
		margin: 0 2% !important;
	}

	
	/* product sum */
	._box-contact{
		display:none;
	}
	
	
	
	/* my-profiles-table  autoship */

	#my-profiles-table th:nth-child(3){display:none;}	
	#my-profiles-table th:nth-child(4){display:none;}
	#my-profiles-table td:nth-child(3){display:none;}	
	#my-profiles-table td:nth-child(4){display:none;}	
	
	#my-profiles-table th{width:23%}
	#my-profiles-table td{width:23%; word-break:break-all;}
	#my-profiles-table th span{ white-space: normal !important; }
	
	.aw-recurring-customer-index .main-container-inner .pager p{float: left;}
	.aw-recurring-customer-index .main-container-inner .pager .limiter select{
		float: none;
		vertical-align: middle;
		margin: 0;
		padding: 3px;
		width:auto !important;
	}
	.aw-recurring-customer-index .main-container-inner .limiter {
		float: left;
		margin-top: 10px;
	}
	.aw-recurring-customer-index .main-container-inner .pager .pages {
		float: left;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.aw-recurring-customer-index .buttons-set {
		clear: both;
		display: block;
    }
	
	.aw-recurring-customer-view .my-account > .page-title{height:auto !important;}
	.aw-recurring-customer-view .my-account > .page-title h1{
	    font-size: 24px;
	}
	
	/*  personal info */'
	
	.customer-account-edit .email-password { 
		width: 95% !important;
		margin: 0 auto !important;
		padding: 0 2% !important;
		border: 2px solid #c1e2ff;
	}
	 
	.email-password { 
		width: 95% !important;
		margin: 0 auto !important;
		padding: 0 2% !important;
		border: 2px solid #c1e2ff;
	}
	.customer-account-edit .buttons-set {
		clear: both;
		display: block;
		margin: 10px 0px;
	}
	

	.customer-account-edit .my-account form h2 {
		color: #216091;
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
	}
	
	/* address */
	
	.customer-address-index .col2-set .col-1 {
		width: 100% !important;
		margin-bottom: 10px;
	}
	.customer-address-index .col2-set .col2 {
		width: 100% !important;
		margin-bottom: 10px;
	}	
	.customer-address-index .bookedit .page-title > h2 {margin:0 !important }
	.customer-address-index .mini-form-address .fieldset{margin:0 !important}
	.customer-address-index .mini-form-address .fieldset .input-text{margin-left:0 !important; }
	.customer-address-index .buttons-set{margin:0 !important}
	
	.customer-address-index .box-title {
		background: #1272bc;
		position: relative;
		right: 0;
		border: 0;
		height: 30px; 
		top: 0;
		width: 100%;
		border-radius: 0;
		background-size: cover;
	}
	
	.customer-address-index .alt-box-title {
		position: relative;
		right: 0;
		margin-right: 25px;
		margin-left: 25px;
		top: 0;
	}
	
	
	.customer-address-index div.input-box[style="  margin-left: 122px;"]{
		margin-left:0 !important;
	}
	
	
	.customer-address-index  .mini-form-address label{
		width:auto !important;
	}
	
	.customer-address-index .mini-form-address .input-box {
		padding: 0;
		width: 100% !important;
		display: inline-block;
	}
	
	.customer-address-index  .mini-form-address .input-box select {
		width: 100% !important;
		display: inline-block;
		margin: 0 !important;
		padding: 9px 0 !important;
	}
	
	
	.customer-address-index .mini-form-address .input-box input, .customer-address-index .mini-form-address .input-box input:focus, .customer-address-index .mini-form-address .input-box input:hover {
		padding: 0;
		width: 100% !important;
		padding: 10px 0 !important;
		text-indent: 10px;
		display: inline-block;
		margin: 2px 0px;
	}
	
	
	
	
	.customer-address-form .bookedit .page-title > h2 {margin:0 !important }
	.customer-address-form .mini-form-address .fieldset{margin:0 !important}
	.customer-address-form .mini-form-address .fieldset .input-text{margin-left:0 !important; }
	.customer-address-form .buttons-set{margin: 20px 0 0 0 !important;
    display: block;}
	
	.customer-address-form .box-title {
		background: #1272bc;
		position: relative;
		right: 0;
		border: 0;
		height: 30px; 
		top: 0;
		width: 100%;
		border-radius: 0;
		background-size: cover;
	}
	
	.customer-address-form .alt-box-title {
		position: relative;
		right: 0;
		margin-right: 25px;
		margin-left: 25px;
		top: 0;
	}
	
	
	.customer-address-form div.input-box[style="  margin-left: 122px;"]{
		margin-left:0 !important;
	}
	
	
	.customer-address-form .mini-form-address label{
		width:auto !important;
	}
	
	.customer-address-form .mini-form-address .input-box {
		padding: 0;
		width: 100% !important;
		display: inline-block;
	}
	
	.customer-address-form .mini-form-address .input-box select {
		width: 100% !important;
		display: inline-block;
		margin: 0 !important;
		padding: 9px 0 !important;
	}
	
	
	.customer-address-form .mini-form-address .input-box input, .customer-address-form .mini-form-address .input-box input:focus, .customer-address-form .mini-form-address .input-box input:hover {
		padding: 0;
		width: 100% !important;
		padding: 10px 0 !important;
		text-indent: 10px;
		display: inline-block;
		margin: 2px 0px;
	}
	
	
	
	
	
	
	
	/* newsletter */
	
	.newsletter-manage-index .my-account > div:nth-child(1){
		width: 95% !important;
		margin: 0 auto !important;
		padding: 0 2% !important;
		border: 2px solid #c1e2ff;
	}
	
	.newsletter-manage-index .buttons-set {
		clear: both;
		display: block;
		margin: 10px 0px;
	}
	
	
	
	/** order sheet **/
	
	.ordersheet_web{display:none !important; }
	
	.ordersheet-index-index .col-main{width:100% !important;}
	.ordersheet-index-index .col-right{display:none !important;}
	
	
	._os_item_ctn{border-bottom:2px solid gray; padding:5px 0px !important; padding-left:2% !important; width:97% !important; display:inline-block !important;}
	
	.orderitem_price{display:inline-block !important;     float: right;     min-width: 100px;}
	.orderitem_price .price {display:inline-block !important; width:auto !important; padding:0px 1% !important;}
	.form-item-unc{ width:100% !important; }
	.product-option-action{width:100% !important;}
	
	.ordersheet-index-index .mobile_product_type{
		font-size: 24px;
		background: #2273ba;
		color: white;
		width: 100%;
		display: block;
		text-align: center;
		padding: 3px 0px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	
	.ordersheet-index-index #shipping-choices{width: 100%;}
	
	.table-container{margin-bottom:15px !important;}
	.ordersheet_mobile{display:block !important;} 
	.mobile_print{display:inline-block !important;    margin-bottom: 5px;}
	
	
	
	/** My cart */
	
	.cart-wrapper form{overflow-x:scroll;}
	.cart-wrapper .select_-5071 { width:auto !important; }
	
	
	.main-container-inner > .cart {
		width: 100%;
	}
	
	/* ################ Footer ######################*/
	 
	.questions { 
		width: 100%;
		display: block;
		margin: auto;
	}
	
	.questions .q-form {
		width: 96%;
		float: none;
		padding-top: 30px;
		padding-bottom: 30px;
		display: inline-block;
		background: #60dbeb;
		padding: 0 2%;
	}

	.questions .q-form .middle-form {
		width: 100%;
		margin: 0 auto;
	}
	
	.group-select li input.input-text, .group-select li textarea, .group-select li input.input-text:active, .group-select li textarea:active, .group-select li input.input-text:hover, .group-select li textarea:hover, .group-select li input.input-text:focus, .group-select li textarea:focus {
		width: 100% !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-indent: 10px;
		color:white;
	}
	
	.questions .q-form .group-select li .input-box {
		float: none;
		width: 100% !important;
		display: inline-block;
	}
	
	.map-inner {
		float: right;
		margin-top: -600px;
		display: none;
	}
	.questions button.button.submit {
		width:100%;	
	}	
	/* */
	
	.cms-page-view .blog_fix.latest-news {
		
	}

	.blog_post ul h2 { font-size: 16px !important; }
	
	.blog-img-ct{ width:100% !important;}
	.blog-text-ct{ width:100% !important;}
	
	
	/* */
	.prom-section{
		width:100%;
	}
	
	.prom-section .inner {
		width: 100%;
	}
	
	.prom-section .inner > div {
		width: 96% !important;
		text-align: center;
	}
	
	
	.prom-section .f-link {
		float: none;
		display: inline-block;
		padding: 5px 5px 5px 0px;
		border-right: 1px solid #fff;
		font-size: 10px !important;
	}
	
	.prom-section .f-link-last {
		float: none;
		display: inline-block;
		padding: 5px 5px 5px 0px;
		font-size: 10px !important;
	}
	
	
}


@media only screen and (max-width: 768px) {

	/* */
	.footer_inner{
		width: 96%;
		display: block;
		margin: auto;
	}
	.footer_inner .inner{
		width: 100% !important;
		display: inline-block !important;
		padding: 0 !important;
		margin: 0 !important;
	}
	.footer_inner .inner .footer-column-1 {
    margin: auto;
    float: none;
	}
	
	
	.footer_inner .inner .footer-column-last{
		width: 100% !important;
		float: none;
		display: block;
		text-align: center;
		padding: 0;
	}
	/*.footer_inner .inner ._ft_ghi{ display:none !important; }*/
	
	.footer_inner .inner ul{
		width: 100% !important;
	}
	
	
	
	
	/*.footer_inner .inner ._ft_cat{ display:none !important; }*/
	
	
	.footer_inner .inner > div{
		display: list-item !important;
		width: 100%
		
	}
	.footer_inner .inner > div h4{ text-align:left !important; font-size: 16px;} 
	
	.footer_inner .social-div h4{ text-align:left !important;} 
	.footer_inner .inner > div h4:after{
			content: "\f107";
		display: inline-block;
		vertical-align: top;
		float:right;
		margin: 1px 0px 0 4px;
		font-family: 'FontAwesome';
	}
	
	.footer_inner ._ft_divider{  display:none !important; } 
	
	.footer_inner .inner > div > p{
		display: none;
		width: 85%;
		text-align: left;
		margin-left: 10%;
		  margin-right: 5%;
	}
	
	.footer_inner .inner > div > ul{
		display: none;
		width: 85%;
		text-align: left;
		margin-left: 10%;
		 margin-right: 5%;
	}


}




@media only screen and (min-width: 768px) and (max-width: 1129px) {
	.product-view .p-cart{
		width: 100% !important;
		max-width: 860px;
		display: block;
		margin: auto;
		float: none !important;
	}
	.product-view .p-cart .cart-border {
		width: 48% !important;
		display: inline-block !important;
		vertical-align: top;
	}
	.product-view .p-cart .view-sidecart{
		width: 48% !important;
		display: inline-block !important; 
		margin: 0 0 0 2%;
	}
	
	
	.footer-column-1 {
		width: 100%;
		margin-right: 35px;
	}
	
	.footer-column-last {
		width: 48%;
	}
	
	.footer_inner .inner ._ft_o_s {
		width: 100% !important;
	}
	
	.footer_inner .inner{
		display: inline-block !important;
		width: 47% !important;
		vertical-align: top !important;
		padding-left: 1% !important;
		padding-right: 1% !important;
		
	}
	.footer_inner .inner > div > p{
		display:block !important;
	}	
	.footer_inner .inner > div > ul{
		display:block !important;
	}	
	
	._ft_divider{
	   display:none !important;
	}
	
	
}	


@media only screen and (min-width: 1131px) and (max-width: 1200px) {
.view-top-left {width: 65%;}
}

/* ########################################### */
/*  (min-width: 901px) and (max-width:  1130px) */
/* ###########################################*/
@media only screen and (min-width: 900px) and (max-width: 1145px) {
	
	/* ###### Header ############ */
	header {
		width: 100%;
		margin: auto;
		height: auto; 
	}

	header .header-search {
		display: inline-block;
		padding: 0;
		width: auto;
		float: right;
		margin-right: 22%;
	}
	
	header .header-search:before{
		content: '\f002';
		font-family: FontAwesome;
		font-size: 18px;
		float: right;
		color: #002766;
	}
	
	header .header-search .search-box{
		display:none;
		position: absolute;
		top: 60px;
		max-width:520px;
	}
	
	
	header .top-links .inner {
    width: 96%;
    margin: auto;
    position: relative;
	}
	
	header .phone {
		margin:0;
		display: none !important;
	}
	
	
	.search-box {
		margin-top: 0;
		width: 100%;
	}
	
	.search-btn-bg {
		right: auto;
		width: 20%;
		height: auto;
		top: 0;
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		
	}
	.search-btn-bg img{height:32px}
	
	#search {
		color: #1272bc;
		font-style: italic;
		border: 1px solid #1272bc !important;
		width: 76% !important;
		display: inline-block;
		vertical-align: middle;
		padding: 0 !important;
		text-indent: 5px;
		float: none;
	}
	
	header .top-links {
		height: 0;
		padding-top: 0;
		border: 0 !important;
		background: transparent !important;
		width: 100%;
		padding-bottom: 0;
		border-bottom: 0;
	}
	
	
	.toplinks .mob-links div .click-nav ul .clicker {
		background: none;
		color: #002766;
		text-shadow: none!important;
		font-size: 20px;
		padding: 0px;
		padding-left: 0px;
		line-height: 19px;
		width: auto;
		border-bottom: none;
		padding-bottom: 0;
	}
	
	
	.toplinks .mob-links div .click-nav ul li a:hover {
		color: #002766 !important;
	}
	
	.toplinks .mob-links div .click-nav .no-js:hover ul {
		display: block;
		background: white;
		border: 1px #2273ba solid;
		border-top: 2px #2273ba solid;
		padding: 10px 0px;
		width: 140px;
		border-bottom: 4px #2273ba solid;
		margin-left: 0px;
		top: 25px;
		box-shadow: 0px 2px 5px gray;
	}
	
	
	.toplinks .mob-links div .click-nav .no-js:hover ul li a {
		color: #2273ba;
		padding: 0;
		margin: 6px 15px;
		border-bottom: 1px solid #e9e9e9;
	}
	
	.toplinks {
		float: none;
		margin-right: 0;
		margin-top: 16px;
		vertical-align: middle;
		position: absolute;
		right: 33%;
	}
	
	.toplinks div.links div.login a {
		padding-top: 0 !important;
	}
	
	#primary_nav_wrap.drop2 .arrow-log { 
		padding: 0 !important;
		margin-top: -6px !important;
	}
	
	#primary_nav_wrap ul ul { 
		right: -268px;
	}
	#primary_nav_wrap.drop2 .inner-drop:before {
		right: 240px !important;
	} 
	
	
	nav {
		border-bottom: none;
		height: 50px;
		margin: 0 !important;
	}
	
	#nav{
		display:none;
	}
	
	
	header .header {
		width: 100%;
	}
		
	.nav-inner {
		height: auto;
		width: 100% !important;
	}	
		
		
	.logo-nav {
		width: 60%;
		margin-top: 5px;
	}
		
	.logo-nav a{
	    float: left;
		margin-left: 15px;
	}
	
	.logo-nav img{
		width:100%;
		max-width:280px;
	}	
		
	.top-cart-contain .mini-cart .basket a	{
		padding: 0;
		margin-right: 10px;
		
	}	
	
	.top-cart-contain {
		margin: 0 !important;
		padding: 0 !important;
		top: -3px !important;
		right: 10% !important;
	}
	
	.menutop h2{
		color: #2273ba !important;
		font-weight: bold !important;
		
	}
	
	
	
	.hidden-desktop {
    display: inline-block !important;
    background: transparent;
    border: 0 !important;
    width: auto !important;
    float: right !important;
	    margin-right: 2%;
	}
	
	.slider-intro {
		padding-top: 55px;
	}
	
	#menu ul.navmenu .menutop {
		width: 98%;
		margin: auto;
	}
	
	.clicker:before{
		content: '\f007';
		font-family: FontAwesome;
		font-size: 18px;
		padding-right: 6px;
		
	}
	
	ul.topnav li a {
    line-height: 1;
	}
	
	/* ################### Content ########################## */
	
	.sub_body{
		position:relative;
		width: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		margin-right: 280px;
		top:0;
	}
	
	.main-container{width: 96%;}
	.main-container-inner{width: 100%;}
	
	.col3-left-layout{ width: 96% !important;}
	
	.col3-left-layout .col-main {
		display: inline-block;
		margin: 0 !important;
		padding: 0;
	}	
	
	.account-programfees-index .col3-left-layout .col-main {
		margin: 0 1% !important;  
		float: right;
	}
	
	.sidebar {
		width: 28% !important;
		min-width: 250px;
		float: none;
		display: inline-block;
		vertical-align: top;
	}
	
	.col2-left-layout .col-main {
		width: 68%;
		margin-left: 2%;
		float: none;
		display: inline-block;
	}
	
	
	
		
	#sort-by {
		padding: 5px 0 5px 0px;
		float: none;
		display: inline-block;
		vertical-align: middle;
	}
	#sort-by ul ul{display:none;}
	
	
	.pager .amount, .sorter .amount {
		display: inline-block;
		padding: 5px 0px;
		float: none;
		vertical-align: middle;
		margin: 5px 0 0 5px;
	}
	
	.top-banner-all {
   
    width: 100%;
    padding-top: 150px;
	content:'';
	}
	.top-banner-all .top-banner-img{display:none}
	

	/* all product */
	
	.products-list .product-shop {
		width: 400px;
		float: left;
		margin-left: 15px;
		padding-right: 0;
		margin-top: 12px;
	}
	
	.l-action {
		width: 100% !important;
	}
	
	.l-shop {
		width: 70% !important;
	}
	
	/*  login */
	
	.log-in-width {
		width: 460px;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	
	.login-bg {
		background: none;
		width: 100%;
		padding: 0;
	}
	.login-bg > div:first-child{
		width:100% !important;
	}
	.login-bg > div:first-child img{
		    float: none !important;
			display: inline-block;
			width: 20%;
			vertical-align: middle;
			margin:0 2%;
			max-width: 100px;
	} 
	
	.login-bg > div:first-child p{
		line-height: 1.1;
		padding: 0 !important;
		display: inline-block;
		width: 76%;
		vertical-align: middle;
		margin: 0 !important;
	}
	
	.login-c{
		font-size: 16px;
	}
	.login-b{
		font-size: 16px;
	}
	.new-users{
		    width: 100% !important;
			height: auto !important;
			min-height: auto !important;
			padding-bottom: 10px !important;
	}
	.buttons-set {
		clear: both;
		display: inline-block;
		margin: 0;
	}
	
	.new-users .buttons-set {
		clear: both;
		display: block;
		margin: 0; 
		 text-align: center;

	}
	
	.new-users .reg-now, .new-users .reg-offer{display:none;}
	.login_page .login-bg .col2-set .col-2.registered-users {
		width: 100%;
		padding: 0px;
		margin: 0px;
	}
	
	.login_page .content {
		border-top: 0;
		margin: 0;
		padding: 2% !important;
	}
	
	.login-bg .log-now {
		line-height: 1.4;
		font-size: 18px !important;
	}
	
	.login-bg .log-now span {
		font-size: 30px;
		text-transform: uppercase;
	}
	a.forgot-word {
		display: inline-block;
	}
	.view-bottom-bg {
		padding: 0;
		background-size: 100% 100%;
		margin-bottom: 25px;
	}
	.view-bottom-bg img {
		width: auto;
		padding: 0;
	}
	
	/* create */
	
	.register {width: 100%; }
	
	.new-user .content{
		padding: 0;
	}
	
	.register .log-now{ display:none;}
	
	.login_page  .login-bg .register .col2-set .col-2.registered-users
	{
		background: #0A66AD;
		padding-top: 0;
		margin-top: -10px;
		min-height: auto !important;
		 padding-bottom: 10px;
	}
	.login_page  .login-bg .register .col2-set .col-2.registered-users label{
		color:white;
	}	
	
	.login-bg .form-list input.input-text, .login-bg .form-list input.input-text:hover, .login-bg .form-list input.input-text:focus {
		padding: 10px 0;
		width: 100%;
	}
	
	.buttons-set p.required {
    margin: 0 0 5px;
		/* display: none; */ 
		float: none;
		text-align: left !important;
	}
	
	/* all product */
	
	.mobile-action{display:none !important; top: 55px !important;}
	
	.col-right.sidebar{ display:none !important }
	
	/* My account Left Nav */
	

	.dashboard > .page-title {
		position: relative;
		height: auto;
	}
	.dashboard > .page-title  h1{
		font-size: 18px;
		height: auto;
		float: none;
		display: inline-block;
		padding: 10px 0;
		text-indent: 30px;
		margin-left: 4%;
		width: 96%;
	}
	.dashboard > .page-title:before{display:none;}
	.dashboard > .page-title:after{display:none;}
	
	.my-vip-img{ display:none;}
	
	/* hrt */
	.ins_text {
		font-size: 12px;
		font-weight: bold;
		color: #323233;
		text-align: center;
	}
	
	#add_referral_form label{
		width: 100% !important;
		font-size: 14px !important;
	}
	#add_referral_form input{
		width: 99.5% !important;
		padding: 5px 0px !important;
		text-indent: 10px;
		margin-left: 0px !important;
	}
	#add_referral_form textarea{
	    width: 99.5% !important;
		border: 1px solid #1290e3;
		margin-left: 0 !important;
		padding: 5px 0px !important;
		text-indent: 10px;
	}
	
	/* trans */
	
	.data-table tbody th, .data-table tbody td {
		font-size: 11px;
		padding: 5px 1% !important;
	}
	
	.dashboard .data-table thead th {
		font-size: 10px;
		padding: 5px 1% !important;
	}
	.data-table .price {
		font-size: 11px;
		font-weight: 900;
	}
	
	
	.dashboard .limiter {
		width: 50%;
	}	
	.dashboard .pager .limiter select {
		width: 50% !important;
	}
	
	.dashboard .pager .amount, .dashboard .sorter .amount {
		margin:0 !important;
	}
	
	/* comm */
	
	#my-credits-table th:nth-child(4){display:none;}
	#my-credits-table th:nth-child(5){display:none;}
	#my-credits-table th:nth-child(6){display:none;}
	
	#my-credits-table td:nth-child(4){display:none;}
	#my-credits-table td:nth-child(5){display:none;}
	#my-credits-table td:nth-child(6){display:none;}
	
	.box-head{
		margin-top: 10px;
	}
	
	/* invite */
	
	#my-credits-table3 th{width:24%;
		word-break: break-word;
		word-wrap: break-word;
	}
	#my-credits-table3 td{width:24%;
		word-break: break-word;
		word-wrap: break-word;
	}
	#my-credits-table3 th:nth-child(1){ width:20%;}
	#my-credits-table3 th:nth-child(2){ width:26%;}
	
	.aff_referral_link .div_share {
		float: none;
		width: 100%;
	}
	.aff_referral_link .legend {
		float: none;
		width: 100%;
		border-bottom: none;
		font-size: 16px;
	}
	
	/* websites */
	#mw-my-website th{     width: 18%;
    word-break: break-word;}
	#mw-my-website td{    width: 18%;
    word-break: break-word;}
	#mw-my-website th:nth-child(1){ width:10% }
	#mw-my-website td:nth-child(1){ width:10% }
	#mw-my-website th:nth-child(4){ display:none }
	#mw-my-website td:nth-child(4){ display:none }
	#mw-my-website td textarea , #mw-my-website td input{width: 96% !important;
    padding: 5px 0px;}
	
	/* network */
	
	#mw-my-network th{ width:24%; word-break:break-all;}
	#mw-my-network td{ width:24%; word-break:break-all;}
	#mw-my-network td{
		word-wrap: break-word;
		word-break: break-word;
	}
	#mw-my-network th:nth-child(1){
	width: 12%;
	}
	
	/* patient list */
	#mw-my-patientlist th{word-wrap:break-word;}
	#mw-my-patientlist td{word-wrap:break-word;}
	#mw-my-patientlist td:nth-child(3){word-break:break-word;}
	
	/* medical/program */
	
	#tosearchfor{    
		width: 99.5% !important;
		padding: 5px 0px !important;
		text-indent: 10px;
	}
	
	._tosearchfor_item .product-shop {
		width: 96% !important;
		float: none;
		margin: 0 2% !important;
		padding-right: 0;
	}
	._tosearchfor_item .option-controller{
		width: 96% !important;
		margin: 0 2% !important;
	}

	
	/* product sum */
	._box-contact{
		display:none;
	}
	
	
	
	/* my-profiles-table  autoship */

	#my-profiles-table th:nth-child(3){display:none;}	
	#my-profiles-table th:nth-child(4){display:none;}
	#my-profiles-table td:nth-child(3){display:none;}	
	#my-profiles-table td:nth-child(4){display:none;}	
	
	#my-profiles-table th{width:23%}
	#my-profiles-table td{width:23%; word-break:break-all;}
	#my-profiles-table th span{ white-space: normal !important; }
	
	.aw-recurring-customer-index .main-container-inner .pager p{float: left;}
	.aw-recurring-customer-index .main-container-inner .pager .limiter select{
		float: none;
		vertical-align: middle;
		margin: 0;
		padding: 3px;
		width:auto !important;
	}
	.aw-recurring-customer-index .main-container-inner .limiter {
		float: left;
		margin-top: 10px;
	}
	.aw-recurring-customer-index .main-container-inner .pager .pages {
		float: left;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.aw-recurring-customer-index .buttons-set {
		clear: both;
		display: block;
    }
	
	.aw-recurring-customer-view .my-account > .page-title{height:auto !important;}
	.aw-recurring-customer-view .my-account > .page-title h1{
	    font-size: 24px;
	}
	
	/*  personal info */'
	
	.customer-account-edit .email-password { 
		width: 95% !important;
		margin: 0 auto !important;
		padding: 0 2% !important;
		border: 2px solid #c1e2ff;
	}
	 
	.email-password { 
		width: 95% !important;
		margin: 0 auto !important;
		padding: 0 2% !important;
		border: 2px solid #c1e2ff;
	}
	.customer-account-edit .buttons-set {
		clear: both;
		display: block;
		margin: 10px 0px;
	}
	

	.customer-account-edit .my-account form h2 {
		color: #216091;
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
	}
	
	/* address */
	
	.customer-address-index .col2-set .col-1 {
		width: 100% !important;
		margin-bottom: 10px;
	}
	.customer-address-index .col2-set .col2 {
		width: 100% !important;
		margin-bottom: 10px;
	}	
	.customer-address-index .bookedit .page-title > h2 {margin:0 !important }
	.customer-address-index .mini-form-address .fieldset{margin:0 !important}
	.customer-address-index .mini-form-address .fieldset .input-text{margin-left:0 !important; }
	.customer-address-index .buttons-set{margin:0 !important}
	
	.customer-address-index .box-title {
		background: #1272bc;
		position: relative;
		right: 0;
		border: 0;
		height: 30px; 
		top: 0;
		width: 100%;
		border-radius: 0;
		background-size: cover;
	}
	
	.customer-address-index .alt-box-title {
		position: relative;
		right: 0;
		margin-right: 25px;
		margin-left: 25px;
		top: 0;
	}
	
	
	.customer-address-index div.input-box[style="  margin-left: 122px;"]{
		margin-left:0 !important;
	}
	
	
	.customer-address-index  .mini-form-address label{
		width:auto !important;
	}
	
	.customer-address-index .mini-form-address .input-box {
		padding: 0;
		width: 100% !important;
		display: inline-block;
	}
	
	.customer-address-index  .mini-form-address .input-box select {
		width: 100% !important;
		display: inline-block;
		margin: 0 !important;
		padding: 9px 0 !important;
	}
	
	
	.customer-address-index .mini-form-address .input-box input, .customer-address-index .mini-form-address .input-box input:focus, .customer-address-index .mini-form-address .input-box input:hover {
		padding: 0;
		width: 100% !important;
		padding: 10px 0 !important;
		text-indent: 10px;
		display: inline-block;
		margin: 2px 0px;
	}
	
	
	
	
	.customer-address-form .bookedit .page-title > h2 {margin:0 !important }
	.customer-address-form .mini-form-address .fieldset{margin:0 !important}
	.customer-address-form .mini-form-address .fieldset .input-text{margin-left:0 !important; }
	.customer-address-form .buttons-set{margin: 20px 0 0 0 !important;
    display: block;}
	
	.customer-address-form .box-title {
		background: #1272bc;
		position: relative;
		right: 0;
		border: 0;
		height: 30px; 
		top: 0;
		width: 100%;
		border-radius: 0;
		background-size: cover;
	}
	
	.customer-address-form .alt-box-title {
		position: relative;
		right: 0;
		margin-right: 25px;
		margin-left: 25px;
		top: 0;
	}
	
	
	.customer-address-form div.input-box[style="  margin-left: 122px;"]{
		margin-left:0 !important;
	}
	
	
	.customer-address-form .mini-form-address label{
		width:auto !important;
	}
	
	.customer-address-form .mini-form-address .input-box {
		padding: 0;
		width: 100% !important;
		display: inline-block;
	}
	
	.customer-address-form .mini-form-address .input-box select {
		width: 100% !important;
		display: inline-block;
		margin: 0 !important;
		padding: 9px 0 !important;
	}
	
	
	.customer-address-form .mini-form-address .input-box input, .customer-address-form .mini-form-address .input-box input:focus, .customer-address-form .mini-form-address .input-box input:hover {
		padding: 0;
		width: 100% !important;
		padding: 10px 0 !important;
		text-indent: 10px;
		display: inline-block;
		margin: 2px 0px;
	}
	
	
	
	
	
	
	
	/* newsletter */
	
	.newsletter-manage-index .my-account > div:nth-child(1){
		width: 95% !important;
		margin: 0 auto !important;
		padding: 0 2% !important;
		border: 2px solid #c1e2ff;
	}
	
	.newsletter-manage-index .buttons-set {
		clear: both;
		display: block;
		margin: 10px 0px;
	}
	
	
	/** My cart */
	
	.cart-wrapper form{overflow-x:scroll;}
	.cart-wrapper .select_-5071 { width:auto !important; }
	
	.main-container-inner > .cart {
		width: 100%;
	}
	
	/* ################ Footer ######################*/
	 
	.questions { 
		width: 100%;
		display: block;
		margin: auto;
		background-size: 100%;
	}
	
	.questions .q-form {
		width: 96%;
		float: none;
		padding-top: 30px;
		padding-bottom: 30px;
		display: inline-block;
		background: #60dbeb;
		padding: 0 2%;
		background: transparent;
	}

	.questions .q-form .middle-form {
		width: 100%;
		margin: 0 auto;
	}
	
	.group-select li input.input-text, .group-select li textarea, .group-select li input.input-text:active, .group-select li textarea:active, .group-select li input.input-text:hover, .group-select li textarea:hover, .group-select li input.input-text:focus, .group-select li textarea:focus {
		width: 100% !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-indent: 10px;
		color:white;
	}
	
	.questions .q-form .group-select li .input-box {
		float: none;
		width: 100% !important;
		display: inline-block;
	}
	
	.map-inner {
		float: right;
		margin-top: -600px;
		display: none;
	}
	.questions button.button.submit {
		width:100%;	
	}	
	/* */
	
	.cms-page-view .blog_fix.latest-news {
		
	}
	
	.blog_post ul h2 { font-size: 16px !important; }
	
	.blog-img-ct{ width:100% !important;}
	.blog-text-ct{ width:100% !important;}
	
	.blog-img-ct img{ width:auto !important;}
	
	.blog-img-ct a > img {
			
		
	}
	
	
	
	/* */
	.prom-section{
		width:100%;
	}
	
	.prom-section .inner {
		width: 100%;
	}
	
	.prom-section .inner > div {
		width: 96% !important;
		text-align: center;
	}
	
	
	.prom-section .f-link {
		float: none;
		display: inline-block;
		padding: 5px 5px 5px 0px;
		border-right: 1px solid #fff;
		font-size: 10px !important;
	}
	
	.prom-section .f-link-last {
		float: none;
		display: inline-block;
		padding: 5px 5px 5px 0px;
		font-size: 10px !important;
	}
	
	
	.footer-column-1 {
		width: 100%;
		margin-right: 35px;
	}
	
	.footer-column-last {
		width: 48%;
	}
	
	.footer_inner .inner ._ft_o_s {
		width: 100% !important;
	}
	
	.footer_inner .inner{
		display: inline-block !important;
		width: 47% !important;
		vertical-align: top !important;
		padding-left: 1% !important;
		padding-right: 1% !important;
		
	}
	._ft_divider{
	   display:none !important;
	}
	
	/* 
	
	
	
	
	
	.footer_inner .inner .footer-column-1 {
		width: 50%;
		margin: auto;
		float: none;
		display: inline-block;
		text-align: center;
	}
		
	
	.footer_inner .inner .footer-column-last {
		width: 48% !important;
		float: none;
		display: inline-block;
		text-align: center;
		padding: 0;
		vertical-align: top;
	}
	.footer_inner .inner ._ft_ghi{ display:none !important; }
	.footer_inner .inner ._ft_o_s {
		width: 100% !important;
		display: block;
		margin: auto;
		position: relative;
		float: none;
		text-align: center;
	}
	.footer_inner .inner ul {
		display: inline-block !important;
		width: 48% !important;
		vertical-align: top !important;
		margin-right: 0 !important;
	}
	
	.social-div {
		text-align: center;
		display: inline-block;
		float: right;
		margin-right: 10%;
		margin-top: -100px;
	}
	
	
	.footer_inner ._ft_divider{  display:none !important; }
	.footer_inner .inner ._ft_cat{ display:none !important; }
	*/
}

@media only screen and (min-width: 900px) and (max-width: 979px) {

/** order sheet **/
	
	.ordersheet_web{display:none !important; }
	
	.ordersheet-index-index .col-main{width:100% !important;}
	.ordersheet-index-index .col-right{display:none !important;}
	
	
	._os_item_ctn{border-bottom:2px solid gray; padding:5px 0px !important; padding-left:2% !important; width:97% !important; display:inline-block !important;}
	
	.orderitem_price{display:inline-block !important;     float: right;     min-width: 100px;}
	.orderitem_price .price {display:inline-block !important; width:auto !important; padding:0px 1% !important;}
	.form-item-unc{ width:100% !important; }
	.product-option-action{width:100% !important;}
	
	.ordersheet-index-index .mobile_product_type{
		font-size: 24px;
		background: #2273ba;
		color: white;
		width: 100%;
		display: block;
		text-align: center;
		padding: 3px 0px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	
	.ordersheet-index-index #shipping-choices{width: 100%;}
	
	.table-container{margin-bottom:15px !important;}
	.ordersheet_mobile{display:block !important;} 
	.mobile_print{display:inline-block !important;    margin-bottom: 5px;}
	
	.col3-left-layout .col-left.sidebar{    width: 26% !important; margin-left: 2%; display:inline-block !important; float: left;}
	.col3-left-layout .col-right.sidebar{display:none !important;}
	.col3-left-layout .col-main  {width:67% !important; margin:0 2% 0 1%!important; float:right; } 
	.col3-left-layout { width: 100% !important;}
	.promotext {
    margin-left: 15px;
	}
	
}



/* ########################################### */
/*  (min-width: 980px) and (max-width: 1299px) */
/* ###########################################*/



@media only screen and (min-width: 980px) and (max-width: 1299px) { 
	.ordersheet-index-index .col-main{
		width:100% !important;
	}

	.ordersheet-index-index .col-right.sidebar{
		display:none;
	}
	
	#nav > li.full-menu{
		    
	}
	
	/*.navbar-nav {
		float: left;
		min-width: 860px;
		width: 75%;
		max-width: 860px;
	}*/
	.ordersheet-index-index .main-container {
		width: 100%;
	}
	
	.ordersheet-index-index .main-container-inner {
		width: 96%;
		margin: auto;
	}
	 
	
	
	
	
	
	
	/* My Account */
	
	/* websites */
	#mw-my-website th{     width: 18%;
    word-break: break-word;}
	#mw-my-website td{    width: 18%;
    word-break: break-word;}
	#mw-my-website th:nth-child(1){ width:10% }
	#mw-my-website td:nth-child(1){ width:10% }
	#mw-my-website th:nth-child(4){ display:none }
	#mw-my-website td:nth-child(4){ display:none }
	#mw-my-website td textarea , #mw-my-website td input{width: 96% !important;
    padding: 5px 0px;}
	
	
	
	
	/* address */
	
	.main-container { width:100%; }
	.main-container-inner {width:100%;}
	
	.col2-left-layout .col-left.sidebar{    width: 26% !important; margin-left: 2%;}
	.col2-left-layout .col-main  {width:67%; margin: 0 2%; }
	
	
	.col2-left-layout .col-left.sidebar{    width: 26% !important; margin-left: 2%;}
	.col2-left-layout .col-main  {width:67%; margin: 0 2%; }
	
	
	.col3-left-layout .col-left.sidebar{    width: 26% !important; margin-left: 2%; display:inline-block !important;}
	.col3-left-layout .col-right.sidebar{display:none !important;}
	.col3-left-layout .col-main  {width:67% !important; margin: 0 2%!important; } 
	
	.customer-account .main-container , .account-productsummary-index .main-container { width:100%; }
	.customer-account .col2-left-layout .main-container-inner  , .account-productsummary-index .col2-left-layout .main-container-inner {width:100%;}
	.customer-account .col2-left-layout .col-main  , .account-productsummary-index .col2-left-layout .col-main  {width:67%; margin: 0 2%; }
	.customer-account .col2-left-layout .col-left.sidebar , .account-productsummary-index .col2-left-layout .col-left.sidebar{    width: 26% !important; margin-left: 2%;}
	
	.customer-address-form .main-container {  width:100%;  }
	.customer-address-form .col2-left-layout .main-container-inner{  width:100%;  }
	.customer-address-form .col2-left-layout .col-main{  width:67%;  margin: 0 2%; }
	
	._box-contact {
		display: none;
	}
	
	 
	.customer-address-index .col2-set .col-1 {
		width: 100% !important; 
		margin-bottom: 10px;
	}
	.customer-address-index .col2-set .col2 {
		width: 100% !important;
		margin-bottom: 10px;
	}	
	.customer-address-index .bookedit .page-title > h2 {margin:0 !important }
	.customer-address-index .mini-form-address .fieldset{margin:0 !important}
	.customer-address-index .mini-form-address .fieldset .input-text{margin-left:0 !important; }
	.customer-address-index .buttons-set{margin:0 !important}
	
	.customer-address-index .box-title {
		background: #1272bc;
		position: relative;
		right: 0;
		border: 0;
		height: 30px; 
		top: 0;
		width: 100%;
		border-radius: 0;
		background-size: cover;
	}
	
	.customer-address-index .alt-box-title {
		position: relative;
		right: 0;
		margin-right: 25px;
		margin-left: 25px;
		top: 0;
	}
	
	
	.customer-address-index div.input-box[style="  margin-left: 122px;"]{
		margin-left:0 !important;
	}
	
	
	.customer-address-index  .mini-form-address label{
		width:auto !important;
	}
	
	.customer-address-index .mini-form-address .input-box {
		padding: 0;
		width: 100% !important;
		display: inline-block;
	}
	
	.customer-address-index  .mini-form-address .input-box select {
		width: 100% !important;
		display: inline-block;
		margin: 0 !important;
		padding: 9px 0 !important;
	}
	
	
	.customer-address-index .mini-form-address .input-box input, .customer-address-index .mini-form-address .input-box input:focus, .customer-address-index .mini-form-address .input-box input:hover {
		padding: 0;
		width: 100% !important;
		padding: 10px 0 !important;
		text-indent: 10px;
		display: inline-block;
		margin: 2px 0px;
	}
	
	
	
	
	.customer-address-form .bookedit .page-title > h2 {margin:0 !important }
	.customer-address-form .mini-form-address .fieldset{margin:0 !important}
	.customer-address-form .mini-form-address .fieldset .input-text{margin-left:0 !important; }
	.customer-address-form .buttons-set{margin: 20px 0 0 0 !important;
    display: block;}
	
	.customer-address-form .box-title {
		background: #1272bc;
		position: relative;
		right: 0;
		border: 0;
		height: 30px; 
		top: 0;
		width: 100%;
		border-radius: 0;
		background-size: cover;
	}
	
	.customer-address-form .alt-box-title {
		position: relative;
		right: 0;
		margin-right: 25px;
		margin-left: 25px;
		top: 0;
	}
	
	
	.customer-address-form div.input-box[style="  margin-left: 122px;"]{
		margin-left:0 !important;
	}
	
	
	.customer-address-form .mini-form-address label{
		width:auto !important;
	}
	
	.customer-address-form .mini-form-address .input-box {
		padding: 0;
		width: 100% !important;
		display: inline-block;
	}
	
	.customer-address-form .mini-form-address .input-box select {
		width: 100% !important;
		display: inline-block;
		margin: 0 !important;
		padding: 9px 0 !important;
	}
	
	
	.customer-address-form .mini-form-address .input-box input, .customer-address-form .mini-form-address .input-box input:focus, .customer-address-form .mini-form-address .input-box input:hover {
		padding: 0;
		width: 100% !important;
		padding: 10px 0 !important;
		text-indent: 10px;
		display: inline-block;
		margin: 2px 0px;
	}
	

	
}



/*@media only screen and (min-width: 980px) and (max-width: 1200px) { 
	.navbar-nav > li > a {
		font-size: 11px;
	}

}*/

@media only screen and (min-width: 1300px) {
	.ordersheet-index-index .col-right.sidebar{ 
		display:inline-block;
	}
	
	.col-right.sidebar .block.block-cart{
		width:auto !important;
	}
}	


	
