.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/* New Css */
.home.content-10 h3 {
margin-bottom:10px;
font-size:35px;
}
.service.content-10 h1 {
font-size:20px;
}
.service.content-10 h3 {
font-size:18px;
margin-bottom: 12px;
}
.home.content-10 p{
margin-bottom:43px;
font-size:25px;
}
.service.content-10 p{
font-size:17px;
}
.info{
margin-bottom:20px;
}
.info h6 {
color:#e74c3c;
font-size:18px;
}
.inner.header-2 .navbar {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: absolute;
    top: 0;
    z-index: 2;
}
.inner-section.header-2-sub {
    color: white;
    left: 0;
    padding-bottom: 75px;
    padding-top: 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 50;
}
.first {
    list-style: outside none none;
    padding: 0;
}
.first h2{font-size:18px;font-weight:normal;margin-bottom:10px;}
.second h3 {font-size:18px;font-weight:normal;}
.terms {
    list-style: outside none none;
    margin-left: -39px;
}
.terms a {
    text-decoration: underline;
}
.login-btn{
padding:10px !important;
margin-top:19px;
}
.header-2 .btn.btn-inverse.login-btn:hover, .header-2 .btn.btn-inverse.login-btn:focus{
background-color:#33485e;
}
.anchor{
  display: block;
  height: 70px; /*same height as header*/
  margin-top: -70px; /*same height as header*/
  visibility: hidden;
}
.red{
  color:#e0171d;
}
.blue{
  color:#1272bc !important;
}
.footer-1 .form-control_height{
  height: 35px !important;
}
.social ul {
    float: left;
    margin: 0px 0 0 0;
    list-style: none;
    line-height: 18px;
}
.social ul li {
    float: left;
    margin-right: 7px;
}
.social .fb a {
    background: #0051a3;
    font-size: 26px;
    line-height: 39px;
    display: inline-block!important;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    padding: 0;
    border-radius: 5px;
}

.social .tw a {
    background: #0faced;
    font-size: 26px;
    line-height: 39px;
    display: inline-block!important;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    padding: 0;
    border-radius: 5px;
}

.googleplus a {
    background: #c40000;
    font-size: 26px;
    line-height: 39px;
    display: inline-block!important;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    padding: 0;
    border-radius: 5px;
}
.social .linkedin a {
    background: #027ba5;
    font-size: 26px;
    line-height: 39px;
    display: inline-block!important;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    padding: 0;
    border-radius: 5px;
}
.display_top{
  display: block;
  #height: 70px; /*same height as header*/
  margin-top: -70px; /*same height as header*/
  #visibility: hidden;
}
/* end new css */
/* styles from flat-ui-free2.0.0-fix.less files */
body {
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: none;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 48px /* 64px */;
}
h2,
.h2 {
  font-size: 41px /* 52px */;
}
h3,
.h3 {
  font-size: 32px /* 40px */;
}
h4,
.h4 {
  font-size: 23px /* 29px */;
}
h5,
.h5 {
  font-size: 21px /* 28px */;
}
h6,
.h6 {
  font-size: 19px /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */

  line-height: 1.722169;
  /* 31px */

}
.lead {
  font-size: 28px;
  /* 28px */

  line-height: 1.4642745000000001;
  /* 41px */

  font-weight: 300;
  margin-bottom: 20px;
}
small {
  font-size: 84%;
  /* 15px */

  line-height: 2.050846;
  /* 31px */

}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #1abc9c;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #15967d;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: #ffffff;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: transparent;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #cfeaff;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
li {
  line-height: 20px;
}
.btn {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 22px;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
.btn.btn-large {
  font-size: 17px;
  padding: 12px 18px;
}
.btn > [class^="fui-"] {
  margin-left: 4px;
  margin-right: 4px;
  line-height: inherit;
  display: inline-block;
  vertical-align: top;
}
.input-group-btn .btn {
  background: #bdc3c7;
  line-height: 9px 12px 10px;
  line-height: 22px;
  border: 0;
  margin: 0;
  color: #fff;
  margin-left: 0 !important;
  padding-left: 10px;
  padding-right: 12px;
}
.input-group-btn .btn:hover {
  background: #cacfd2;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
}
.form-group {
  margin-bottom: 10px;
}
label {
  line-height: 20px;
}
.carousel {
  line-height: 1;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}
.page-wrapper {
  position: relative;
  z-index: 2;
  background: #fff;
  overflow: hidden;
  min-height: 100%;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loaded .page-wrapper,
.loaded .header-antiflicker,
.loaded body > header .header-background {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
.loaded.nav-visible .page-wrapper,
.loaded.nav-visible .navbar.navbar-fixed-top,
.loaded.nav-visible .header-antiflicker,
.loaded.nav-visible body > header .header-background {
  -webkit-transform: translate3d(-230px, 0, 0);
  -moz-transform: translate3d(-230px, 0, 0);
  -o-transform: translate3d(-230px, 0, 0);
  transform: translate3d(-230px, 0, 0);
}
.loaded.no-csstransitions .page-wrapper,
.loaded.no-csstransitions .header-antiflicker {
  left: 0;
}
.loaded.no-csstransitions.nav-visible .page-wrapper,
.loaded.no-csstransitions.nav-visible .navbar.navbar-fixed-top,
.loaded.no-csstransitions.nav-visible .header-antiflicker {
  left: -230px !important;
  right: auto;
}
.carousel-indicators {
  width: 100%;
}
[class^="fui-"] {
  display: inline-block;
  vertical-align: middle;
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 5px;
    padding-left: 5px;
  }
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
#bgVideo {
  overflow: hidden;
}
#bgVideo > video {
  position: absolute !important;
}
.navbar {
  left: 0;
  right: 0;
}
.navbar .brand {
  padding: 23px 28px 24px 0;
  float: left;
}
.navbar .subnav {
  display: none;
}
.navbar a {
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
.navbar .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.navbar .nav > li {
  float: left;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background: none;
}
.navbar .navbar-toggle {
  margin: 26px 0 10px;
  color: white;
  background: none;
  padding: 0;
  width: 30px;
  height: 30px;
  background: url("../common-files/icons/menu-icon@2x.png") 50% no-repeat;
  -webkit-background-size: 17px 12px;
  -moz-background-size: 17px 12px;
  -o-background-size: 17px 12px;
  background-size: 17px 12px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar .navbar-toggle:before {
  display: none;
}
.navbar .navbar-form .btn {
  height: auto;
  line-height: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar .nav > li > a > [class*="fui-"] {
  font-size: 24px;
  margin: -10px 0 0;
  position: relative;
  top: 4px;
}
.navbar.navbar-fixed-top {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 1170px;
  margin: 0 auto;
}
.loaded .navbar.navbar-fixed-top {
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-header {
    float: none;
  }
}
.header-19 .navbar-collapse.collapse,
.header-16 .navbar-collapse.collapse {
  display: none !important;
}
@media (max-width: 991px) {
  body .navbar-collapse {
    width: 230px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100% !important;
    z-index: 1;
  }
}
@media (min-width: 992px) {
  body > .collapse.navbar-collapse {
    display: none !important;
  }
}
body .navbar-collapse#header-19,
body .navbar-collapse#header-16 {
  width: 230px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100% !important;
  z-index: 1;
}
body > .navbar-collapse {
  padding: 25px 0;
  overflow: auto;
  background: #222527;
  min-height: 100%;
}
body > .navbar-collapse::-webkit-scrollbar {
  display: none;
}
body > .navbar-collapse .pull-right,
body > .navbar-collapse .pull-left {
  float: none !important;
}
body > .navbar-collapse .nav {
  margin: 0 0 10px;
}
body > .navbar-collapse .nav > li {
  margin: 0;
}
body > .navbar-collapse .nav > li > a {
  display: block;
  padding: 12px 35px;
  border-bottom: 2px solid #24292d;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #5b5e61;
  text-transform: uppercase;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus,
body > .navbar-collapse .nav > li > a.active {
  color: #ffffff;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus {
  background: none;
}
body > .navbar-collapse .nav > li.active > a {
  color: #ffffff;
}
body > .navbar-collapse .nav > li.active > a:hover,
body > .navbar-collapse .nav > li.active > a:focus,
body > .navbar-collapse .nav > li.active > a.active {
  color: #ffffff;
}
body > .navbar-collapse .subnav {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
body > .navbar-collapse .subnav li > a {
  display: block;
  margin: 0;
  padding: 7px 35px;
  font-size: 13px;
  font-weight: normal;
  color: #5b5e61;
  text-transform: capitalize;
}
body > .navbar-collapse .subnav li > a:hover,
body > .navbar-collapse .subnav li > a:focus,
body > .navbar-collapse .subnav li > a.active {
  color: #ffffff;
}
body > .navbar-collapse .navbar-form,
body > .navbar-collapse .navbar-search {
  padding: 10px 35px;
  margin: 0;
  border-bottom: 0 none;
  border-top: 0 none;
  box-shadow: none;
}
body > .navbar-collapse .navbar-form:focus,
body > .navbar-collapse .navbar-search:focus {
  outline: 0 none;
}
body > .navbar-collapse .navbar-form .btn,
body > .navbar-collapse .navbar-search .btn,
body > .navbar-collapse .navbar-form .btn-primary,
body > .navbar-collapse .navbar-search .btn-primary {
  height: 30px;
  line-height: 20px;
  font-size: 15px;
  color: #5b5e61;
  background: none;
  padding: 0;
}
body > .navbar-collapse .navbar-form .btn:hover,
body > .navbar-collapse .navbar-search .btn:hover,
body > .navbar-collapse .navbar-form .btn-primary:hover,
body > .navbar-collapse .navbar-search .btn-primary:hover {
  color: #fff;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: url("../img_pages/new_bg.png") 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 20;
  filter: alpha(opacity=2000);
  opacity: 1;
  filter: alpha(opacity=20);
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* header */
/**
 * Header 2 stylesheet  
 * */
.header-2 {
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
.header-2 > .container {
  position: relative;
}
.header-2 .navbar {
  position: absolute;
  z-index: 2;
  top: 55px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header-2 .navbar.navbar-fixed-top {
  position: fixed;
}
.header-2 .navbar .brand {
  font-size: 25px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 800;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header-2 .navbar .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
.header-2 .navbar .nav > li {
  margin-left: 35px;
}
.header-2 .navbar .nav > li:first-child {
  margin-left: 0;
}
.header-2 .navbar .nav > li > a {
  padding: 32px 0 30px;
  font-size: 18px;
  font-weight: normal;
  font-weight: 500;
  letter-spacing: 1px;
  color: #ffffff;
}
.header-2 .navbar .nav > li > a:hover,
.header-2 .navbar .nav > li > a:focus,
.header-2 .navbar .nav > li > a.active {
  color: #FF0000;
}
.header-2 .navbar .nav > li.active > a {
  color: #FF0000;
}
.header-2 .navbar .nav > li.active > a:hover,
.header-2 .navbar .nav > li.active > a:focus,
.header-2 .navbar .nav > li.active > a.active {
  color: #405870;
}
.header-2-sub {
  z-index: 50;
  left: 0;
  width: 100%;
  position: relative;
  padding-top: 215px;
  padding-bottom: 115px;
  color: white;
  text-align: center;
}
@media (max-width: 991px) {
  .header-2-sub {
    padding-top: 165px;
  }
}
.header-2-sub .hero-unit {
  margin: 0;
  padding: 0;
  background: transparent;
}
.header-2-sub .hero-unit h1 {
  margin: 0 0 18px;
  font-size: 24px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 300;
  line-height: 40px;
}
.header-2-sub .hero-unit p {
  font-size: 13px;
  font-weight: normal;
  color: #506e8c;
  font-weight: 800;
  letter-spacing: 2px;
}
.header-2-sub .btns {
  display: inline-block;
  margin-top: 15px;
}
@media (max-width: 480px) {
  .header-2-sub .btns {
    margin-top: 48px;
    display: block;
  }
}
.header-2-sub .btns .btn {
  min-width: 160px;
  float: left;
}
@media (max-width: 480px) {
  .header-2-sub .btns .btn {
    float: none;
    display: block;
    margin-top: 10px;
  }
  .header-2-sub .btns .btn:first-child {
    margin-top: 0;
  }
}
.header-2-sub .btns .btn + .btn {
  margin-left: 20px;
}
@media (max-width: 480px) {
  .header-2-sub .btns .btn + .btn {
    margin-left: 0;
  }
}
.header-2-sub .btn.btn-inverse {
  background-color: #1272bc;
}
.header-2-sub .btn.btn-inverse:hover,
.header-2-sub .btn.btn-inverse:focus {
  background-color: #63778b;
}
.header-2-sub .btn.btn-inverse:active,
.header-2-sub .btn.btn-inverse.active {
  background-color: #33485e;
}
.header-2-sub .btn.btn-danger {
  background-color: #e0171d;
}
.header-2-sub .btn.btn-danger:hover,
.header-2-sub .btn.btn-danger:focus {
  background-color: #cd6155;
}
.header-2-sub .btn.btn-danger:active,
.header-2-sub .btn.btn-danger.active {
  background-color: #a33025;
}
/* content */
/**
 * Content 10 stylesheet  
 * */
.content-10 {
  padding-top: 130px;
  padding-bottom: 125px;
  position: relative;
}
.content-10 .carousel {
  margin-bottom: 0;
  display: inline-block;
  text-align: center;
}
@media (max-width: 767px) {
  .content-10 .carousel {
    margin-top: 80px;
  }
}
.content-10 .carousel .item img {
  margin: 0 auto;
}
.content-10 .carousel .carousel-indicators {
  position: static;
  text-align: center;
  margin: 0;
  padding-top: 40px;
}
.content-10 .carousel .carousel-indicators li {
  display: inline-block;
  float: none;
  width: 12px;
  height: 12px;
  margin-left: 7px;
  text-indent: -999px;
  background-color: #f1f1f1;
  border-radius: 50%;
  cursor: pointer;
}
.content-10 .carousel .carousel-indicators li:first-child {
  margin-left: 0;
}
.content-10 .carousel .carousel-indicators .active {
  background-color: #c0392b;
}
.content-10 .carousel .item {
  -webkit-transition: 0.6s ease-in-out opacity;
  -moz-transition: 0.6s ease-in-out opacity;
  -o-transition: 0.6s ease-in-out opacity;
  transition: 0.6s ease-in-out opacity;
  left: 0!important;
}
.content-10 .carousel .item.active.left,
.content-10 .carousel .item.active.right {
  opacity: 0;
  z-index: 2;
}
.content-10 .carousel .item.next {
  opacity: 1;
  z-index: 1;
}
.content-10 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 48px;
  font-weight: 300;
}
.content-10 p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
.content-10 .features .box {
  position: relative;
  padding-left: 140px;
  padding-top: 50px;
  margin-top: 50px;
  min-height: 100px;
  border-top: 2px solid #ecf0f1;
}
.content-10 .features .box.first,
.content-10 .features .box:first-child,
.content-10 .features .box:first-of-type {
  margin-top: 0;
  border-top: 0;
}
.content-10 .features .box > img {
  position: absolute;
  left: 0;
  top: 50px;
}
.content-10 .features h6 {
  text-transform: none;
  font-size: 22px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 1.3;
}
.content-10 .features p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
/* footer */
/**
 * Footer 1 stylesheet  
 * */
.footer-1 {
  padding-top: 85px;
  padding-bottom: 85px;
  font-size: 14px;
  color: #1272bc;
}
.footer-1 .lead {
  margin-bottom: 15px;
  margin-top: -10px;
  font-size: 22px;
  font-weight: normal;
  color: #1272bc;
  font-weight: 300;
  letter-spacing: -1px;
}
.footer-1 .lead b {
  font-weight: 500;
}
.footer-1 .social-btns {
  white-space: nowrap;
  margin-top: 15px;
  margin-bottom: 15px;
}
.footer-1 .social-btns > * {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  font-size: 20px;
  font-weight: normal;
  color: #1272bc;
  width: 40px;
  height: 40px;
  overflow: hidden;
  text-align: center;
}
.footer-1 .social-btns > *:first-child {
  margin-left: 0;
}
.footer-1 .social-btns > * > * {
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.footer-1 .social-btns > * > *:first-child {
  color: #1272bc;
}
.footer-1 .social-btns > *:hover > * {
  top: -100%;
}
.footer-1 .btn.btn-danger {
  background-color: #e0171d;
}
.footer-1 .btn.btn-danger:hover,
.footer-1 .btn.btn-danger:focus {
  background-color: #cd6155;
}
.footer-1 .btn.btn-danger:active,
.footer-1 .btn.btn-danger.active {
  background-color: #a33025;
}
.footer-1 a {
  color: #ffffff;
  font-weight: normal;
}
.footer-1 a:hover,
.footer-1 a:focus,
.footer-1 a.active {
  color: #0c3a5a;
}
.footer-1 nav h6 {
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: normal;
  color: #1272bc;
  line-height: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
}
.footer-1 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #bdc3c7;
}
.footer-1 nav ul li {
  margin-bottom: 5px;
}
.footer-1 .buy-btn {
  text-align: center;
}
.footer-1 .buy-btn a.btn {
  font-size: 15px;
  font-weight: normal;
  color: #ffffff;
}
.footer-1 .buy-btn .btn {
  margin-bottom: 17px;
}
.footer-1 .additional-links {
  border-top: 1px solid #374859;
  padding-top: 17px;
  font-size: 14px;
  font-weight: normal;
  color: #95a5a6;
}
@media (max-width: 767px) {
  .footer-1 .additional-links {
    margin-top: 17px;
    margin-bottom: 0;
  }
}
.footer-1 .additional-links a {
  margin-right: 10px;
  color: #1272bc;
}
.footer-1 .additional-links a:hover,
.footer-1 .additional-links a:focus,
.footer-1 .additional-links a.active {
  color: #0c3a5a;
}
@media (max-width: 767px) {
  .footer-1 .col-sm-6 {
    margin-bottom: 20px;
  }
  .footer-1 nav .col-sm-2,
  .footer-1 .buy-btn {
    float: left;
    width: 30%;
    margin-left: 5%;
  }
  .footer-1 nav .col-sm-2:first-child {
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .footer-1 {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .footer-1 .buy-btn {
    float: none;
    clear: both;
    width: auto;
    padding-top: 15px;
    margin: 0;
  }
  .footer-1 .buy-btn .btn {
    margin: 0 0 10px;
  }
  .footer-1 nav .col-sm-2 {
    width: 47%;
    margin-left: 6%;
  }
}
.footer-1 .fb_iframe_widget {
  vertical-align: top;
}
.content-10 {
  padding-top: 100px;
  padding-bottom: 80px;
}
.logos {
  background: #1272bc;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  .logos {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .logos {
    display: none;
  }
}
.logos > .container {
  display: table;
}
.logos > .container > div {
  display: table-cell;
  text-align: center;
}
