﻿@charset "utf-8";
/* CSS Document */

.before-mw-testimonial {
    color: #999999;
    font-size: 13px;
    font-family: montserrat-regular;
    position: relative;
    left: 165px;
    font-weight: normal;
    top: 255px;
    text-transform: capitalize;
}
.before-mw-after-testimonial {
    color: #999999;
    font-size: 13px;
    font-family: montserrat-regular;
    font-weight: normal;
    position: relative;
    right: 305px;
    top: 255px;
    text-transform: capitalize;
}
.test-women-first {
    margin-top: 60px;
}
.testi-women-detail {
    color: #666666;
    text-align: left;
    line-height: 22px;
    margin-bottom: 20px;
    font-family: montserrat-regular;
}
.img-test-women {
    padding-top: 20px;
}

.women-top {
    top: 275px;
}

.women-top-after {
    top: 275px;
}
.img-width{
    width:100% !important;
}
@media (min-width:320px) and (max-width: 500px) {
    .before-mw-testimonial {
        left: 70px;
        top: 0px;
    }
    .before-mw-after-testimonial {
        right: 70px;
        top: 0px;
    }
    .test-women-first {
        margin-top: 0px;
    }
}
@media (min-width: 768px) and (max-width: 790px) {
    .before-mw-after-testimonial {
        right: 85px;
        top: 2px;
    }
    .before-mw-testimonial {
        left: 115px;
        top: 255px;
    }
    .women-top {
        top: 275px;
    }
    .women-top-after {
        right: 80px;       
    }
}
@media (min-width: 791px) and (max-width: 1366px) {
    .before-mw-after-testimonial {
            right: 180px;
            bottom: 2px;
    }
    .before-mw-testimonial {
        left: 180px;
        top: 255px;
    }
    .women-top {
        top: 275px;
    }
    .women-top-after {
        right: 185px;       
    }
}




 