@charset "utf-8";
/* CSS Document */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #fff;
    color: #6a6a6a;
}

.padd-10 {
    padding: 20px 0px !important;
}

.padd {
    padding: 0px !important;
}

.marg {
    margin: 0px !important;
}

img {
    max-width: 100%;
}

/*font face*/

@font-face {
    font-family: montserrat-bold;
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: montserrat-extraLight;
    src: url("../fonts/Montserrat-ExtraLight.ttf");
}

@font-face {
    font-family: montserrat-regular;
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: montserrat-light;
    src: url("../fonts/Montserrat-Light.ttf");
}


/* top-tabs css */

@mixin ellipsis() {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    width: 100%;
}

@mixin icon-styles() {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

&.active,
&.prev,
&.next {
    display: block;
}

&.prev,
&.next {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

    &.next > a,
    &.prev > a {
        -webkit-transition: none;
        transition: none;
        .text;

{
    display: none;
}

&:after,
&:after {
    @include icon-styles();
}

}

&.prev > a:after {
    content: "\e079";
}

&.next > a:after {
    content: "\e080";
}

&.dropdown {
    > a > .caret;

{
    display: none;
}

> a:after {
    content: "\e114";
}

&.active > a {
    &:after;

{
    display: none;
}

> .caret {
    display: inline-block;
}

}

.dropdown-menu {
    &.pull-xs-left;

{
    left: 0;
    right: auto;
}

&.pull-xs-center {
    right: auto;
    left: 50%;
    @include transform(translateX(-50%));
}

&.pull-xs-right {
    left: auto;
    right: 0;
}

}
}
}
}
}


.nav-tabs > li {
    float: right;
    margin-bottom: -1px;
}

.top-tab {
    font-size: 9px;
    color: #b1b1b1 !important;
    letter-spacing: 1px;
}

.nav-tabs {
    border-bottom: none !important;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 2%, #ffffff 51%, #e2e2e2 98%);
    background: -webkit-linear-gradient(top, #ffffff 2%,#ffffff 51%,#e2e2e2 98%);
    background: linear-gradient(to bottom, #ffffff 2%,#ffffff 51%,#efefef 98%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=0 );
}

    .nav-tabs > li > a {
        border-radius: 0px;
        border: none !important;
        padding: 14px 20px;
    }

    .nav-tabs > li {
        float: right;
        margin-bottom: -2px;
    }

    .nav-tabs > li {
        border-left: 1px solid #ddd;
    }

        .nav-tabs > li:first-child {
            border-right: 1px solid #ddd;
        }

.top {
    border-bottom: 1px solid #ddd;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 2%, #ffffff 51%, #e2e2e2 98%);
    background: -webkit-linear-gradient(top, #ffffff 2%,#ffffff 51%,#e2e2e2 98%);
    background: linear-gradient(to bottom, #ffffff 2%,#ffffff 51%,#efefef 98%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=0 );
}

.menuactive {
    text-decoration: none;
    color: #003366 !important;
    border-bottom: 1px solid #003366;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    text-decoration: none;
    color: #003366 !important;
    background: #fff;
}

a.nav-btn-hover:hover {
    color: #003366 !important;
}

.nav > li > a:hover {
    color: #003366;
    background: #fff;
    border-bottom: 1px solid #003366;
}



@media (max-width: 479px) {
    #narrow-browser-alert {
        display: none;
    }
}

/* top-tabs css */

/*stiky header*/

#header {
    margin: 0px 0 0;
}

#trueHeader {
    z-index: 8000;
    left: 0;
    right: 0;
    /*padding: 10px 0;*/
    box-shadow: 0 1px 5px rgba(0,0,0,0);
    -khtml-box-shadow: 0 1px 5px rgba(0,0,0,0);
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0);
    -ms-box-shadow: 0 1px 5px rgba(0,0,0,0);
    -o-box-shadow: 0 1px 5px rgba(0,0,0,0);
    transition: padding 0.35s ease;
    -khtml-transition: padding 0.35s ease;
    -webkit-transition: padding 0.35s ease;
    -moz-transition: padding 0.35s ease;
    -ms-transition: padding 0.35s ease;
    -o-transition: padding 0.35s ease;
    background-color: transparent;
    zoom: 1;
}

#header.sticky #trueHeader {
    position: fixed;
    top: 0;
}

.wrapper, #page {
    zoom: 1;
    width: 100%;
    margin: 0 auto;
}

.pad-top-header {
    /*padding-top: 150px;*/
}

.stickyheader a {
    color: #2f4d91;
}

    .stickyheader a:hover {
        color: #000;
    }

.stickyheader .black {
    border: solid 2px #014986;
    background: #004986;
}

.stickyheader .black1 {
    border: solid 2px #014986;
    background: #004986;
}

.stickyheader .styled-select select {
    color: #fff;
    background: #004986;
    border-radius: 20px;
}

.stickyheader .navbar-default .navbar-nav > li > a {
    color: #000;
}


/* header start here */
.logo {
    padding: 7px 0px 7px 0px;
}

.s-hidden {
    visibility: hidden;
    padding-right: 10px;
    display: none;
}

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border: 2px solid #ddd;
    border-radius: 30px;
    outline: none;
    width: 80%;
    height: 40px;
    margin: 0px 25px;
}

.styledSelect {
    position: absolute;
    top: 0;
    right: 15;
    bottom: 0;
    left: 0;
    height: 40px;
    padding: 7px 32px;
    font-size: 15px;
    color: #999999;
    font-family: montserrat-regular;
    background: url(../images/nav-border-1.png) no-repeat center right;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 96%;
}

    .styledSelect:after {
        content: "";
        width: 0;
        height: 0;
        border: 5px solid transparent;
        position: absolute;
        top: 9px;
        right: 6px;
        border-radius: 30px;
        background: url(../images/nav-border-1.png) no-repeat center right;
        outline: none;
    }

.options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    background-color: white;
    border-radius: 20px;
    outline: none;
}

    .options li {
        border: 1px solid #dddddd;
        color: #003366 !important;
	background-color: white;
        border-radius: 30px;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        -khtml-border-radius: 30px;
        outline: none;
        padding: 5px 30px;
    }

        .options li:hover {
            border: 1px solid #0291f1;
            color: #fff !important;
            border-radius: 30px;
            -moz-border-radius: 30px;
            -webkit-border-radius: 30px;
            -khtml-border-radius: 30px;
            outline: none;
            padding: 5px 30px;
            background: #0099ff;
        }

.padd-30 {
    padding: 20px 15px 20px 0px;
}

.top-link {
    color: #003366 !important;
    font-size: 16px;
    line-height: 41px;
    font-weight: 500;
    font-family: montserrat-regular;
}

    .top-link:hover {
        color: #0099ff !important;
        ;
        text-decoration: none;
    }

.top-line-des {
    color: #cccccc;
}
/* header over here */

/* nav bar start here */
.wrapper-nav {
    border-top: solid 1px #dddddd;
    box-shadow: rgba(165, 165, 165, 0.2) 0px 4px 10px 0px, rgba(220, 220, 220, 0.19) 0px 5px 15px 0px;
    z-index: 110;
    position: relative;
}

.navbar-default {
    background-color: none !important;
    border-color: none !important;
}

    .navbar-default .navbar-nav > li > a {
        color: #999999;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
        font-family: montserrat-regular;
        padding: 0px 0px;
    }

.navbar-nav > li {
    float: left;
    margin: 16px 35px 16px 35px;
}



.nav-btn {
    background: #209608;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 14px 0px 11px 15px !important;
    float: right !important;
}

    .nav-btn:hover {
        background-color: #157202 !important;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
    }

    .nav-btn a:hover {
        color: #fff !important;
        text-decoration: none !important;
        border-bottom: none !important;
    }

    .nav-btn a {
        color: #fff !important;
    }

.navbar {
    margin-bottom: 0px;
}

.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.navbar-default .navbar-toggle {
    position: relative;
    padding-top: 10px;
    z-index: 100;
}

.navbar-toggle .top-bar {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform-origin: 10% 10%;
    -webkit-transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
    opacity: 0;
}

.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
    -webkit-transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
    -webkit-transform: rotate(0);
}

.navbar-nav > li > .dropdown-menu {
    margin: 19px 0px;
    border: none;
    left: -70px;
}

.navbar-nav > li > .sub-menu {display:none;}

.dropdown-menu {
    padding: 20px 5px;
}

    .dropdown-menu > li > a {
        color: #999999;
        font-size: 12px;
        letter-spacing: 1px;
        font-family: montserrat-regular;
    }

        .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
            color: #003366;
            text-decoration: none;
            background-color: #fff;
        }

.drop-sub-title {
    color: #003366 !important;
    font-weight: 500 !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background: none;
    color: #003366;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background: none;
    color: #003366;
}

.head-about {
    color: #003366;
    font-size: 30px;
    text-align: center;
    padding: 0px 0px 20px 0px;
    font-family: montserrat-extraLight;
    font-weight: 400;
}

/* nav bar over here */

/* banner start here */

.top-banner {
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    font-size: 12px;
    background-color: #cccccc;
    z-index: 100;
    padding: 50px 0px 130px 0px;
    box-shadow: rgba(165, 165, 165, 0.2) 0px 4px 10px 0px, rgba(220, 220, 220, 0.19) 0px 5px 15px 0px;
    background-attachment: fixed;
    position: relative;
}

.leader ul {
    margin: 30px 10px;
    padding: 0px 10px;
}

    .leader ul li {
        margin: 5px 0px;
        color: #003366;
        font-size: 15px;
        list-style: none;
        font-family: montserrat-regular;
        font-weight: bold;
        letter-spacing: 1px;
    }

        .leader ul li:before {
            content: '\f105';
            display: block;
            font-family: 'FontAwesome';
            color: #0099ff;
            font-size: 12px;
            margin: 3px 10px 0 -15px;
            font-weight: bold;
            float: left;
        }

.title-ani {
    color: #003366;
    font-size: 50px;
    text-transform: capitalize;
    font-family: montserrat-extraLight;
    font-weight: 100;
}

.top-btn ul {
    margin: 10px 0px;
    padding: 0px;
}

.top-btn li {
    margin: 0px;
    padding: 0px 10px;
    list-style: none;
    display: inline-block;
}

.blue-btn {
    color: #fff;
    position: relative;
    font-size: 12px;
    background: #0099ff;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 6px 20px;
    text-decoration: none;
    border: solid 2px #0390ef;
    width: 165px;
    transition: all 0.5s;
    cursor: pointer;
    font-weight: 500;
    border-radius: 3px;
    font-family: montserrat-regular;
}

    .blue-btn:hover {
        color: #fff;
        background-color: #003366;
        border-color: #003366;
        letter-spacing: 1px;
    }

    .blue-btn span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.8s;
    }

        .blue-btn span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            bottom: -6px;
            transition: 0.5s;
            font-size: 24px;
        }

    .blue-btn:hover span {
        padding-right: 25px;
    }

        .blue-btn:hover span:after {
            opacity: 1;
            right: 0;
        }

.blue-btn1 {
    color: #fff;
    position: relative;
    font-size: 12px;
    background: #0099ff;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 6px 20px;
    text-decoration: none;
    border: solid 2px #0390ef;
    width: 165px;
    transition: all 0.5s;
    cursor: pointer;
    font-weight: 500;
    border-radius: 3px;
    font-family: montserrat-regular;
}

    .blue-btn1:hover {
        color: #fff;
        background-color: rgba(230, 230, 230, 0);
        border-color: #fff;
        letter-spacing: 1px;
    }

    .blue-btn1 span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.8s;
    }

        .blue-btn1 span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            bottom: -6px;
            transition: 0.5s;
            font-size: 24px;
        }

    .blue-btn1:hover span {
        padding-right: 25px;
    }

        .blue-btn1:hover span:after {
            opacity: 1;
            right: 0;
        }

.green-btn {
    color: #fff;
    position: relative;
    font-size: 12px;
    background: #209608;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 6px 20px;
    border-radius: 3px;
    text-decoration: none;
    border: solid 2px #1b9004;
    width: 165px;
    transition: all 0.5s;
    cursor: pointer;
    font-weight: 500;
    font-family: montserrat-regular;
}

    .green-btn:hover {
        color: #fff;
        background-color: #157202;
        border-color: #157202;
    }

    .green-btn span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.8s;
    }

        .green-btn span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            bottom: -6px;
            transition: 0.5s;
            font-size: 24px;
        }

    .green-btn:hover span {
        padding-right: 25px;
    }

        .green-btn:hover span:after {
            opacity: 1;
            right: 0;
        }
/* banner over here */
/*content start here*/
/* about start here */
.wel-section {
    padding: 0px 0px 50px 0px;
}

.wel-title {
    color: #003366;
    font-size: 40px;
    text-align: center;
    padding: 0px 0px 20px 0px;
    font-family: montserrat-extraLight;
    font-weight: 400;
}

.wel-text {
    font-size: 15px;
    color: #666666;
    text-align: left;
    line-height: 22px;
    margin-bottom: 30px;
    font-family: montserrat-regular;
}

.padd-50 {
    padding: 50px 0px;
}
.padmapuy-10 {
    padding-bottom: 10px;
}

/* about over here */
/* Hormone Replacement for Men */
.men-hormone {
    background-image: url(../images/men-bg.jpg);
    background-size: cover;
    font-size: 12px;
    background-color: #cccccc;
    position: relative;
    overflow: hidden;
    z-index: 100;
    padding: 50px 0px 50px 0px;
    box-shadow: rgba(165, 165, 165, 0.2) 0px 4px 10px 0px, rgba(220, 220, 220, 0.19) 0px 5px 15px 0px;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.list-type ul {
    margin: 0px;
    padding: 0px;
}

    .list-type ul li {
        color: #fff;
        font-size: 15px;
        font-family: montserrat-regular;
        font-weight: normal;
        list-style: none;
        padding: 5px 0px !important;
    }

        .list-type ul li:first-child {
            padding-top: 10px !important;
        }

        .list-type ul li:before {
            content: '\f105';
            display: block;
            font-family: 'FontAwesome';
            color: #fff;
            font-size: 12px;
            margin: 2px 15px 0 5px;
            font-weight: bold;
            float: left;
        }

.men-title {
    color: #fff;
    font-size: 40px;
    text-align: left;
    padding: 0px 0px 20px 0px;
    font-family: montserrat-extraLight;
    font-weight: normal;
}

.men-bold {
    font-size: 40px;
    font-family: montserrat-bold;
}

.symptoms {
    color: #fff;
    font-size: 12px;
    font-family: montserrat-regular;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.padd-40 {
    padding: 30px 0px;
}
/* Hormone Replacement for Men */
/* Hormone Replacement for women */
.women-hormone {
    background-image: url(../images/women-bg.jpg);
    background-size: cover;
    font-size: 12px;
    background-color: #cccccc;
    position: relative;
    overflow: hidden;
    z-index: 100;
    padding: 50px 0px 50px 0px;
    box-shadow: rgba(165, 165, 165, 0.2) 0px 4px 10px 0px, rgba(220, 220, 220, 0.19) 0px 5px 15px 0px;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.list-type-women ul {
    margin: 0px;
    padding: 0px;
}

    .list-type-women ul li {
        color: #003366;
        font-size: 15px;
        font-family: montserrat-regular;
        font-weight: normal;
        list-style: none;
        padding: 5px 0px !important;
    }

        .list-type-women ul li:first-child {
            padding-top: 10px !important;
        }

        .list-type-women ul li:before {
            content: '\f105';
            display: block;
            font-family: 'FontAwesome';
            color: #003366;
            font-size: 12px;
            margin: 2px 15px 0 5px;
            font-weight: bold;
            float: left;
        }

.women-title {
    color: #003366;
    font-size: 40px;
    text-align: left;
    padding: 0px 0px 20px 0px;
    font-family: montserrat-extraLight;
    font-weight: normal;
}

.women-bold {
    color: #003366;
    font-size: 40px;
    font-family: montserrat-bold;
}

.symptoms-women {
    color: #003366;
    font-size: 12px;
    font-family: montserrat-regular;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/* Hormone Replacement for women */
/* How It Works */
.how-work-bg {
    background: #fff;
    /*border: solid 1px #e5e5e5;*/
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 20px 0px;
}

/*.how-work-bg:hover {
    background: #f8f8f8;
    border: solid 1px #f8f8f8;
    transition: 1s all;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.09);
}*/

.how-work {
    color: #003366;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    padding: 0px 5px;
    font-family: montserrat-bold;
    text-transform: uppercase;
}

    .how-work:hover {
        text-decoration: none;
    }

.padd-5 {
    padding: 10px 0px;
}

.how-workdetail {
    font-size: 15px;
    color: #999999;
    text-align: center;
    line-height: 28px;
    margin-bottom: 30px;
    font-family: montserrat-regular;
}

#cmplogo-one {
    /*float: none;
    display: inline-block;
    text-align: center;
    margin:0 auto;*/
}

    #cmplogo-one:after {
        content: url(../images/arrow.png);
        position: absolute;
        top: 25px;
    }

/* How It Works */
/*Success Stories*/
.line-ver {
    border-right: solid 1px #dddddd;
}

.white-bg {
    box-shadow: rgba(165, 165, 165, 0.2) 0px 4px 10px 0px, rgba(220, 220, 220, 0.19) 0px 5px 15px 0px;
}

.before-mw {
    color: #999999;
    font-size: 13px;
    font-family: montserrat-regular;
    position: relative;
    left: 15px;
    font-weight: normal;
    text-transform: capitalize;
}

.before-mw-after {
    color: #999999;
    font-size: 13px;
    font-family: montserrat-regular;
    font-weight: normal;
    position: relative;
    right: 160px;
    text-transform: capitalize;
}

.before-men {
    color: #fff;
    font-size: 13px;
    font-family: montserrat-regular;
    font-weight: normal;
    position: relative;
    top: 5px;
    left: 70px;
    text-transform: capitalize;
}

.before-men-after {
    color: #fff;
    font-size: 13px;
    font-family: montserrat-regular;
    font-weight: normal;
    position: relative;
    top: 5px;
    left: 285px;
    text-transform: capitalize;
}

.margin-sec .free-consultation-main {
    margin-top: -150px;
    top: 0;
}

.margin-sec .side-menu-bg {
    top: 0px;
    margin-top: -143px;
}

.testi-detail {
    color: #003366;
    font-size: 16px;
    font-family: montserrat-regular;
    text-align: center;
    line-height: 24px;
    font-weight: 600;
    padding: 20px 40px 0px 40px;
}

.testi-name {
    color: #999999;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: normal;
    line-height: 70px;
    text-transform: uppercase;
    font-family: montserrat-regular;
}
/*Success Stories*/
/*contact css*/
/*contact*/
.form-group {
    margin-bottom: 10px;
}

.form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #666666;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    font-family: montserrat-regular;
}

    .form-control::-webkit-input-placeholder { /* Chrome */
        color: #666666;
    }

    .form-control:-ms-input-placeholder { /* IE 10+ */
        color: #666666;
    }

    .form-control::-moz-placeholder { /* Firefox 19+ */
        color: #666666;
        opacity: 1;
    }

    .form-control:-moz-placeholder { /* Firefox 4 - 18 */
        color: #666666;
        opacity: 1;
    }

.age-input {
    padding-left: 0px;
}

.gender-input {
    padding-left: 0px;
    padding-right: 0px;
}

.contact-bg {
    background-image: url(../images/contact-bg.jpg);     -webkit-backface-visibility: hidden;
    background-size: cover;
    background-color: #cccccc;
    padding-bottom: 30px;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

    .contact-bg .contact-text {
        float: right;
    }

input[type=checkbox], input[type=radio] {
    margin: 10px 10px;
    margin-top: 1px\9;
    line-height: normal;
}

.check-text {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    font-family: montserrat-regular;
}

.send-btn {
    width: 100%;
    background: #0099ff;
    color: #fff;
    border-radius: 2px;
    padding: 12px;
    border: none;
    font-size: 12px;
    font-family: montserrat-regular;
    letter-spacing: 1px;
}

.con-title {
    color: #fff;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.con-title-sub {
    color: #fff;
    font-size: 30px;
    font-family: montserrat-extraLight;
    line-height: 40px;
    letter-spacing: 1px;
    margin-top: 15px;
    font-weight: 600;
}

.con-title-number {
    font-family: montserrat-regular;
    color: #ffffff;
    font-size: 30px;
}

.line-b {
    border-bottom: solid 1px #41a2db;
}

.consulation {
    margin: 0px;
    padding: 0px;
}

    .consulation ul {
        list-style-type: square;
        padding-top: 20px;
        padding-left: 10px;
    }

        .consulation ul li {
            margin: 0px;
            padding: 8px 0px;
            list-style: none;
            color: #fff;
            font-size: 15px;
            font-family: montserrat-regular;
            font-weight: normal;
        }

            .consulation ul li:before {
                content: '\f105';
                display: block;
                font-family: 'FontAwesome';
                color: #0099ff;
                font-size: 12px;
                margin: 3px 10px 0 -15px;
                font-weight: bold;
                float: left;
            }

.padd-30 {
    /*padding: 30px 0px 60px 0px;*/
}

.cont-padd {
    padding: 20px 55px;
}

.con-sub {
    font-size: 24px;
}

.consulation-sub {
    font-size: 12px;
    color: #fff;
    font-family: montserrat-regular;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/*contact css*/
/* content over here */
/*footer start here*/
.footer-title {
    color: #003366;
    font-size: 12px;
    line-height: 36px;
    font-family: montserrat-bold;
    letter-spacing: 1px;
    margin-top: 0px;
    text-transform: uppercase;
}

.footer-detail {
    color: #666666;
    font-size: 15px;
    line-height: 26px;
    font-family: montserrat-regular;
}

.footer-link ul {
    margin: 0px;
    padding: 0px;
}

.footer-link li {
    list-style: none;
    display: block;
    margin: 5px 0px;
}

.footer-link ul li a {
    color: #00a0fc;
    font-size: 15px;
    font-family: montserrat-regular;
    text-decoration: none;
    padding: 0px 7px 0px 3px;
}

    .footer-link ul li a:hover {
        color: #003366;
        -webkit-transition-duration: 1s; /* Safari */
        transition-duration: 1s;
        padding-left: 15px;
        display: block;
    }

/*footer over here*/
/*footer bottom start here*/
.addre-cmp-padd {
    padding: 0px 50px;
}

.addre-cmp {
    color: #1a1a1a;
    font-size: 15px;
    font-family: montserrat-regular;
    padding: 5px 0px 0px 0px;
    margin: 0 0 0px;
}

    .addre-cmp a {
        color: #1a1a1a;
        font-size: 15px;
        font-family: montserrat-regular;
        padding: 5px 0px;
        font-weight: 500;
    }

        .addre-cmp a:hover {
            color: #0099ff;
            text-decoration: none;
        }

.foot-bot-link {
    margin: 0px;
    padding: 0px;
}

    .foot-bot-link ul {
        list-style-type: square;
        padding-top: 20px;
        padding-left: 10px;
    }

        .foot-bot-link ul li {
            margin: 0px;
            padding: 2px 0px;
            list-style: none;
            font-size: 15px;
            font-family: montserrat-regular;
            font-weight: normal;
        }

.bottom-link {
    color: #00a0fc;
}

    .bottom-link:hover {
        color: #003366;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        padding-left: 10px;
        text-decoration: none;
    }

.foot-bot-link ul li:before {
    content: '\f105';
    display: block;
    font-family: 'FontAwesome';
    color: #0099ff;
    font-size: 12px;
    margin: 3px 10px 0 -15px;
    font-weight: bold;
    float: left;
}

.copy-right {
    color: #999999;
    font-size: 12px;
    font-family: montserrat-regular;
}

.line-full {
    border-bottom: 1px solid #cfcfcf;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 40px !important;
    padding: 0;
}

    ul.social-network li {
        display: inline;
    }

/* footer social icons */

.social-network a.icoRss {
    background-color: #F56505;
}

.social-network a.icoFacebook {
    background-color: #3B5998;
}

.social-network a.icoTwitter {
    background-color: #33ccff;
}

.social-network a.icoGoogle {
    background-color: #BD3518;
}

.social-network a.icoVimeo {
    background-color: #0590B8;
}

.social-network a.icoLinkedin {
    background-color: #007bb7;
}

.social-network a.icoRss:hover {
    background-color: #F56505;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

    .social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
    .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
        color: #fff;
    }

a.socialIcon:hover, .socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 16px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

#scroll {
    float: right;
    margin: 0px;
    padding: 0px;
    font-size: 0px;
}

    #scroll span {
        font-size: 12px;
        font-family: montserrat-regular;
        color: #0099ff;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-decoration: none;
    }

        #scroll span:hover {
            color: #003366;
            text-decoration: none;
        }

/*footer bottom over here*/

.banner_animate h1 {
    padding: 90px 0 0px 0;
    transform-origin: 50% 100%;
    animation-duration: 3s;
    animation-name: fade;
    animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
    color: #003366;
    font-size: 50px;
    text-transform: capitalize;
    font-family: montserrat-extraLight;
    font-weight: 100;
}

.banner_animate a {
    font-family: Cambria, Cochin, serif;
    font-size: 16px;
    color: #333;
    padding: 5px;
    border-radius: 5px;
    background-color: #A6D2FF;
    transition: background-color .2s ease-out;
}

    .banner_animate a:hover {
        background-color: #EEE;
    }

@keyframes fade {
    from {
        opacity: 0;
        transform: scale(.9, .9);
    }

    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

div .animated1 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

div .animated2 {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

div .animated3 {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

div .animated4 {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.find-loction {
    font-size: 11px;
    height: 25px;
    margin: 0px 10px 10px 10px;
}

.nav-btn1 a {
    background: #209608;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 11px;
    color: #fff;
}

    .nav-btn1 a:hover {
        background-color: #157202 !important;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        text-decoration: none;
        color: #fff;
    }

.men-hormone {
    padding: 20px 0px 20px 0px;
}

.women-hormone {
    padding: 20px 0px 20px 0px;
}

/*mob nav*/

.menu-toggle {
    position: absolute;
    padding: 0.8em;
    top: 2em;
    right: .5em;
    cursor: pointer;
}

/*.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: #003366;
    height: 3px;
    width: 2em;
    border-radius: 3px;
    -webkit-transition: all ease-in-out 350ms;
    transition: all ease-in-out 350ms;
}

    .hamburger::before {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
    }

    .hamburger::after {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }*/

.open .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

    .open .hamburger::before {
        display: none;
    }

    .open .hamburger::after {
        -webkit-transform: translateY(-1px) rotate(-90deg);
        transform: translateY(-1px) rotate(-90deg);
    }

@media (min-width: 240px) and (max-width:767px) {
	#menu-mobile-menu .dropdown-menu > li > a{font-size:12px}
    .nav li:last-child {
        border-bottom: none;
        box-shadow: rgba(165, 165, 165, 0.2) 0px 4px 10px 0px, rgba(220, 220, 220, 0.19) 0px 5px 15px 0px;
    }

    .maindiv {
        background-size: contain;
        padding: 20px !important;
        height: auto !important;
        background-repeat: no-repeat !important;
    }

    .app-dropdown {
        background: #fff;
        width: 100%;
        padding: 10px;
        border-radius: 3px;
        border: solid 1px #ddd;
    }
    /*dropdown*/
    .select {
        cursor: pointer;
        display: inline-block;
        position: relative;
        border: 2px solid #ddd;
        border-radius: 5px;
        outline: none;
        width: 100%;
        height: 26px;
        margin: 0px 15px 5px;
        background: #fff;
        padding: ;
    }

    .styledSelect {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 37px;
        font-size: 12px;
        color: #999999;
        font-family: montserrat-regular;
        background: none;
        padding: 2px 5px;
        margin: 2px 0px;
    }

    .options {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 999;
        margin: 0 0;
        padding: 0 0;
        list-style: none;
        background-color: white;
        border-radius: 5px;
        outline: none;
        font-size: 7px;
    }

        .options li {
            border: 2px solid #dddddd;
            color: #003366 !important;
            border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            -khtml-border-radius: 2px;
            outline: none;
            padding: 5px 10px;
            font-size: 10px;
        }

    #wrapper {
        padding-left: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

        #wrapper.toggled {
            padding-left: 220px;
        }

    #sidebar-wrapper {
        z-index: 1000;
        left: 220px;
        width: 0;
        height: 100%;
        margin-left: -220px;
        overflow-y: auto;
        overflow-x: hidden;
        background: rgba(255, 255, 255, 0);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

        #sidebar-wrapper::-webkit-scrollbar {
            display: none;
        }

    #wrapper.toggled #sidebar-wrapper {
        width: 95%;
    }

    #page-content-wrapper {
        width: 100%;
        padding-top: 70px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: absolute;
        margin-right: -220px;
    }

    /*-------------------------------*/
    /*     Sidebar nav styles        */
    /*-------------------------------*/

    .sidebar-nav {
        position: absolute;
        top: 0;
        width: 95%;
        margin: 0;
        padding: 0;
        list-style: none;
        background: #f9f9f9;
    }

        .sidebar-nav li {
            position: relative;
            line-height: 20px;
            display: inline-block;
            width: 100%;
            background: #f9f9f9;
        }

            .sidebar-nav li:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                height: 100%;
                width: 3px;
                background-color: #efefef;
                -webkit-transition: width .2s ease-in;
                -moz-transition: width .2s ease-in;
                -ms-transition: width .2s ease-in;
                transition: width .2s ease-in;
            }

            /*.sidebar-nav li:first-child a {
                    color: #999999;
                    background-color: #fff;
                }*/

            /*.sidebar-nav li:nth-child(2):before {
                    background-color: #fff;
                }

                .sidebar-nav li:nth-child(3):before {
                    background-color: #fff;
                }

                .sidebar-nav li:nth-child(4):before {
                    background-color: #fff;
                }

                .sidebar-nav li:nth-child(5):before {
                    background-color: #fff;
                }

                .sidebar-nav li:nth-child(6):before {
                    background-color: #fff;
                }

                .sidebar-nav li:nth-child(7):before {
                    background-color: #fff;
                }

                .sidebar-nav li:nth-child(8):before {
                    background-color: #fff;
                }

                .sidebar-nav li:nth-child(9):before {
                    background-color: #fff;
                }*/

            .sidebar-nav li:hover:before,
            .sidebar-nav li.open:hover:before {
                width: 100%;
                -webkit-transition: width .2s ease-in;
                -moz-transition: width .2s ease-in;
                -ms-transition: width .2s ease-in;
                transition: width .2s ease-in;
            }

            .sidebar-nav li a {
                display: block;
                color: #999;
                text-decoration: none;
                padding: 8px 15px 8px 30px;
                background: none;
            }

                .sidebar-nav li a:hover,
                .sidebar-nav li a:active,
                .sidebar-nav li a:focus,
                .sidebar-nav li.open a:hover,
                .sidebar-nav li.open a:active,
                .sidebar-nav li.open a:focus {
                    color: #003366;
                    text-decoration: none;
                    background-color: transparent;
                    border-color: #ddd !important;
                    padding-bottom: 35px;
                }

        .sidebar-nav > .sidebar-brand {
            height: 65px;
            font-size: 20px;
            line-height: 44px;
        }

        .sidebar-nav .dropdown-menu {
            position: relative;
            width: 100%;
            padding: 0;
            margin: 0;
            border-radius: 0;
            border: none;
            background-color: #fff;
            box-shadow: none;
        }

    /*-------------------------------*/
    /*       Hamburger-Cross         */
    /*-------------------------------*/

    .hamburger {
        position: fixed;
        top: 20px;
        z-index: 999;
        display: block;
        width: 32px;
        height: 32px;
        margin-left: 15px;
        background: transparent;
        border: none;
        right: 10px;
    }

        .hamburger:hover,
        .hamburger:focus,
        .hamburger:active {
            outline: none;
        }

        /*.hamburger.is-closed:before {
                content: '';
                display: block;
                width: 100px;
                font-size: 14px;
                color: #fff;
                line-height: 32px;
                text-align: center;
                opacity: 0;
                -webkit-transform: translate3d(0,0,0);
                -webkit-transition: all .35s ease-in-out;
            }

            .hamburger.is-closed:hover:before {
                opacity: 1;
                display: block;
                -webkit-transform: translate3d(-100px,0,0);
                -webkit-transition: all .35s ease-in-out;
            }*/

        .hamburger.is-closed .hamb-top,
        .hamburger.is-closed .hamb-middle,
        .hamburger.is-closed .hamb-bottom,
        .hamburger.is-open .hamb-top,
        .hamburger.is-open .hamb-middle,
        .hamburger.is-open .hamb-bottom {
            position: absolute;
            left: 0;
            height: 4px;
            width: 100%;
        }

        .hamburger.is-closed .hamb-top,
        .hamburger.is-closed .hamb-middle,
        .hamburger.is-closed .hamb-bottom {
            background-color: #1a1a1a;
        }

        .hamburger.is-closed .hamb-top {
            top: 5px;
            -webkit-transition: all .35s ease-in-out;
        }

        .hamburger.is-closed .hamb-middle {
            top: 50%;
            margin-top: -2px;
        }

        .hamburger.is-closed .hamb-bottom {
            bottom: 5px;
            -webkit-transition: all .35s ease-in-out;
        }

        .hamburger.is-closed:hover .hamb-top {
            top: 0;
            -webkit-transition: all .35s ease-in-out;
        }

        .hamburger.is-closed:hover .hamb-bottom {
            bottom: 0;
            -webkit-transition: all .35s ease-in-out;
        }

        .hamburger.is-open .hamb-top,
        .hamburger.is-open .hamb-middle,
        .hamburger.is-open .hamb-bottom {
            background-color: #1a1a1a;
        }

        .hamburger.is-open .hamb-top,
        .hamburger.is-open .hamb-bottom {
            top: 50%;
            margin-top: -2px;
        }

        .hamburger.is-open .hamb-top {
            -webkit-transform: rotate(45deg);
            -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
        }

        .hamburger.is-open .hamb-middle {
            display: none;
        }

        .hamburger.is-open .hamb-bottom {
            -webkit-transform: rotate(-45deg);
            -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
        }

    /*.hamburger.is-open:before {
                content: '';
                display: block;
                width: 100px;
                font-size: 14px;
                color: #fff;
                line-height: 32px;
                text-align: center;
                opacity: 0;
                -webkit-transform: translate3d(0,0,0);
                -webkit-transition: all .35s ease-in-out;
            }*/

    /*.hamburger.is-open:hover:before {
                opacity: 1;
                display: block;
                -webkit-transform: translate3d(-100px,0,0);
                -webkit-transition: all .35s ease-in-out;
            }*/

    /*-------------------------------*/
    /*            Overlay            */
    /*-------------------------------*/

    .overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(250,250,250,.8);
        z-index: 1;
    }

    .nav-link-num1 {
        padding: 0px 20px !important;
        background: #fff;
        z-index: 9999;
        border-bottom: solid 1px #ddd !important;
        border-top: solid 1px #ddd;
    }

        .nav-link-num1 a {
            display: inline-block !important;
            padding: 0 !important;
            font-family: 'Montserrat', sans-serif;
        }

    .sidebar-nav li :not(collapsed) .arrow:before {
        font-family: FontAwesome;
        content: "";
        background: url(../images/plus-sign.png) no-repeat;
        display: inline-block;
        width: 32px;
        height: 35px;
        vertical-align: middle;
        float: right;
    }

    .sidebar-nav li.open :not(collapsed) .arrow:before {
        font-family: FontAwesome;
        content: "";
        background: url(../images/minus.png) no-repeat;
        display: inline-block;
        width: 32px;
        height: 35px;
        vertical-align: middle;
        float: right;
    }

    .drop-sub {
        width: 80% !important;
        float: left;
        padding-top: 5px;
    }
}

.tab-mob-link {
    font-size: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 10px !important;
}

    .tab-mob-link:hover {
        font-size: 10px !important;
        color: #003366;
    }

.nav > a img {
    padding: 0.5em 5em 0.5em 3em;
}

a.nav-link {
    color: #999999;
    background: #fff;
    display: block;
    padding: 0.3em 5em 0.3em 3em;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0px 0px;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: montserrat-regular;
    text-align: left;
}

    a.nav-link:hover, a.nav-link:focus {
        background: #fff;
        border-bottom: 1px solid #003366;
        color: #003366;
    }

.nav-link-num {
    padding: 0px 20px;
    border-bottom: solid 1px #ddd;
    border-top: solid 1px #ddd;
    background: #fff;
    z-index: 9999;
}

.nav-l1 {
    font-size: 11px;
}

.nav {
    margin: 0;
    padding: 0;
}

    .nav > ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: none;
        position: absolute;
        width: 100%;
        z-index: 9999;
        margin-top: -1px;
    }

        .nav > ul.opening {
            display: block;
            height: 0px;
        }

    .nav > li {
        border-bottom: 1px solid #fff;
    }

.site-nav--icon {
    font-size: 1.4em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255,255,255,.4);
}



@media (min-width: 1000px) {

    .menu-toggle {
        display: none;
    }
}

/*** custom checkboxes ***/

input[type=checkbox] {
    display: none;
}
    /* to hide the checkbox itself */
    input[type=checkbox] + label:before {
        font-family: FontAwesome;
        display: inline-block;
    }

    input[type=checkbox] + label:before {
        content: "\f096";
    }
    /* unchecked icon */
    input[type=checkbox] + label:before {
        letter-spacing: 8px;
        border: 1px solid #cccccc;
        border-radius: 3px;
        background-color: #fff;
        margin-right: 7px;
        cursor: pointer;
        padding-left: 3px;
    }
    /* space between checkbox and label */

    input[type=checkbox]:checked + label:before {
        content: "\f00c";
    }
    /* checked icon */
    input[type=checkbox]:checked + label:before {
        letter-spacing: 5px;
        color: #003366;
    }
/* allow space for check mark */

/********************************************************** Free Consultaion ******************************************************************/
#contact-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 51, 102, 0.67);
    opacity: 0.6;
}

.free-consultation-bg {
    background-image: url(../images/free-consultation.jpg);
    background-size: cover;
    font-size: 12px;
    background-color: #cccccc;
    z-index: 100;
    padding: 250px 0px;
    box-shadow: rgba(165, 165, 165, 0.2) 0px 4px 10px 0px, rgba(220, 220, 220, 0.19) 0px 5px 15px 0px;
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat;
}

.free-consultation-title {
    color: #003366;
    font-size: 50px;
    text-align: center;
    padding: 0px 0px 20px 0px;
    font-family: montserrat-extraLight;
    font-weight: 400;
}

.free-consultation-main {
    position: relative;
    top: -150px;
    z-index: 101;
    background-image: url(../images/shadow-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    /*background: #ffffff;*/
    /*box-shadow: 6px 0 4px -4px #dddddd, -6px 0 4px -4px #dddddd;
    -moz-box-shadow: 6px 0 4px -4px #dddddd, -6px 0 4px -4px #dddddd;
    -webkit-box-shadow: 6px 0 4px -4px #dddddd, -6px 0 4px -4px #dddddd;*/
}

.why-choose-con-main {
    position: relative;
    top: -150px;
    z-index: 101;
    background-image: url(../images/shadow-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    /*background: #ffffff;*/
    /*box-shadow: 6px 0 4px -4px #dddddd, -6px 0 4px -4px #dddddd;
    -moz-box-shadow: 6px 0 4px -4px #dddddd, -6px 0 4px -4px #dddddd;
    -webkit-box-shadow: 6px 0 4px -4px #dddddd, -6px 0 4px -4px #dddddd;*/
}

.free-consultation-main1 {
    top: -185px;
    background: #ffffff;
    z-index: 101;
    margin-bottom: -150px;
}

.pad-btn {
    padding-bottom: 0px;
}

.mar-btn {
    margin-bottom: 0px;
}

.free-con-top-head {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #003366;
    font-family: montserrat-regular;
    font-weight: 600;
}

.success-story-det {
    font-size: 15px;
    color: #fff;
    font-family: montserrat-regular;
    text-align: left;
    line-height: 22px;
}

.consulation-sub {
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    padding-top: 15px;
}

.sub-link {
    font-size: 15px;
    color: #00a0fc;
    text-align: left;
    line-height: 28px;
    margin-bottom: 30px;
    font-family: montserrat-regular;
}

    .sub-link:hover {
        text-decoration: none;
        color: #003366;
    }

.side-btn1 {
    background: #209608;
    border-radius: 3px;
    padding: 5px 20px !important;
    margin: 20px 0px !important;
    width: 100%;
}

    .side-btn1 a {
        color: #fff !important;
    }
/********************************************************** Free Consultaion ******************************************************************/

/********************************************************** Why us ******************************************************************/
.why-us-bg {
    background-image: url(../images/why-us-bg.jpg);
    background-size: cover;
    font-size: 12px;
    background-color: #cccccc;
    z-index: 100;
    padding: 250px 0px;
    box-shadow: rgba(165, 165, 165, 0.2) 0px 4px 10px 0px, rgba(220, 220, 220, 0.19) 0px 5px 15px 0px;
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat;
}

.why-us-title {
    color: #003366;
    font-size: 30px;
    text-align: center;
    padding: 0px 0px 20px 0px;
    font-family: montserrat-regular;
}

    .why-us-title a {
        color: #003366;
        font-size: 30px;
        text-align: center;
        padding: 0px 0px 20px 0px;
        font-family: montserrat-regular;
        text-decoration: none;
    }

        .why-us-title a:hover {
            color: #00a0fc;
        }

.why-us-sub-title {
    color: #003366;
    font-size: 12px;
    text-align: left;
    padding: 0px 0px 5px 15px;
    font-family: montserrat-regular;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.the-solution-bg {
    background-image: url(../images/the-solution.jpg);
    background-size: cover;
    font-size: 12px;
    background-color: #cccccc;
    position: relative;
    overflow: hidden;
    z-index: 100;
    padding: 50px 0px 50px 0px;
    box-shadow: rgba(165, 165, 165, 0.2) 0px 4px 10px 0px, rgba(220, 220, 220, 0.19) 0px 5px 15px 0px;
}

.the-solution-men-bg {
    background-image: url(../images/the-solution-men.jpg);
    background-size: cover;
    font-size: 12px;
    background-color: #cccccc;
    position: relative;
    overflow: hidden;
    z-index: 100;
    padding: 50px 0px 50px 0px;
    box-shadow: rgba(165, 165, 165, 0.2) 0px 4px 10px 0px, rgba(220, 220, 220, 0.19) 0px 5px 15px 0px;
}

.the-sol-mrg-btn {
    margin: 25px 0px !important;
}

.ben-bio-hormone li {
    margin: 15px 0px !important;
}

.ben1 {
    text-align: center !important;
    font-weight: normal;
    padding-top: 20px;
}

.side-menu {
    margin: 45px 45px;
    padding: 0px;
}

    .side-menu ul {
        margin: 0px;
        padding: 0px;
    }

        .side-menu ul li {
            margin: 0px;
            padding: 7px 5px;
            list-style: none;
            display: block;
        }

            .side-menu ul li a {
                color: #00a0fc;
                font-size: 12px;
                text-align: left;
                text-decoration: none;
                text-transform: uppercase;
                line-height: 22px;
            }

                .side-menu ul li a:hover {
                    color: #003366;
                    -webkit-transition-duration: 1s;
                    transition-duration: 1s;
                    padding-left: 5px;
                    display: block;
                    line-height: 22px;
                    font-size: 12px;
                }

.side-active {
    color: #003366 !important;
}

.side-menu-bg {
    position: relative;
    top: -143px;
    z-index: 101;
    background-image: url(../images/side-meny-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    left: 60px;
}

.side-btn {
    background: #209608;
    border-radius: 3px;
    padding: 5px 20px !important;
    margin: 20px 0px !important;
    width: 92%;
}

    .side-btn a {
        color: #fff !important;
    }
/********************************************************** Why us ******************************************************************/

/**********************************************************blog-individual ******************************************************************/

.blog-individual-bg {
    background-image: url(../images/blog-individual-bg.jpg);
    background-size: cover;
    font-size: 12px;
    background-color: #cccccc;
    z-index: 100;
    padding: 250px 0px;
    box-shadow: rgba(165, 165, 165, 0.2) 0px 4px 10px 0px, rgba(220, 220, 220, 0.19) 0px 5px 15px 0px;
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat;
}

.title-sub-blog-individual {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: #666666;
    line-height: 22px;
    text-align: left;
    position: relative;
    top: -10px;
}

.title-blog-individual {
    text-align: left;
    padding-left: 15px;
    line-height: 40px;
}

.health-restoration {
    color: #003366;
    font-size: 15px;
    font-family: montserrat-regular;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.health-detail {
    color: #666666 !important;
    margin: 20px 0px !important;
    font-weight: normal !important;
}

.down-padd {
    padding: 0px 80px;
}

.font-color a {
    color: #00a0fc;
    text-decoration: none;
}

.blog-thum {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    transition: border .2s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0px;
    border: none;
}

.thum-caption {
    color: #333;
    height: 160px;
    padding: 18px 15px !important;
}

.thum-title {
    color: #999999;
    font-size: 12px;
    letter-spacing: 1px;
    padding-bottom: 20px;
    font-family: montserrat-regular;
}

.pad-bot {
    padding-bottom: 40px;
}

.thum-detail a {
    color: #00a0fc;
    font-size: 15px;
    letter-spacing: 1px;
    padding-bottom: 20px;
    font-family: montserrat-regular;
    text-decoration: none;
}

    .thum-detail a:hover {
        color: #003366;
    }

.container1 {
    width: 899px;
    margin: 0 auto;
}

.padd-btm-blog {
    padding-bottom: 50px;
}
/**********************************************************blog-individual ******************************************************************/

/**********************************************************blog-main ******************************************************************/
.side-top {
    top: -72px;
}

.side-top1 {
    top: -80px;
}

.sub-menu-main-blog {
    margin-top: 70px;
}

.btn-blog {
    padding-left: 30px;
}
/**********************************************************blog-main ******************************************************************/

/**********************************************************arizona******************************************************************/
.arison-sub-title {
    color: #003370;
    margin-bottom: 0px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    line-height: 25px;
}

.arison-sub-con {
    color: #666666 !important;
    text-align: left;
    /*font-weight: 500 !important;*/
    font-size: 15px;
    letter-spacing: 1px;
}

.arizona-li {
    margin: 15px 10px 30px 10px !important;
}

.arison-sub-detail {
    color: #666666 !important;
    text-align: left;
    font-weight: normal !important;
    font-size: 15px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.dig-num {
    color: #003366;
    font-size: 30px;
    text-align: center;
    padding: 20px 0px;
    font-family: montserrat-regular;
    font-weight: 600;
}

.our-service-detail a {
    color: #00a0fc !important;
    text-transform: uppercase;
    font-size: 12px !important;
    text-decoration: none;
}

.map-con {
    width: 570px;
}

.list-type-women ul li a {
    line-height: 22px;
    color: #003366;
    font-size: 12px;
    display: block;
}

    .list-type-women ul li a:hover
    {
        color: #00a0fc;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        line-height: 22px;
    }
/**********************************************************arizona******************************************************************/

/**********************************************************for men******************************************************************/
.for-men-bg {
    background-image: url(../images/for-men-bg.jpg);
    background-size: cover;
    font-size: 12px;
    background-color: #cccccc;
    z-index: 100;
    padding: 250px 0px;
    box-shadow: rgba(165, 165, 165, 0.2) 0px 4px 10px 0px, rgba(220, 220, 220, 0.19) 0px 5px 15px 0px;
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat;
}

.for-main-top {
    top: -172px;
}

.men-facts {
    color: #003366;
    font-size: 12px;
    text-align: center;
    font-family: montserrat-regular;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.men-facts-con {
    text-align: left;
    margin: 25px 0px !important;
    font-weight: normal !important;
}
/**********************************************************for men******************************************************************/

.line-vertical {
    border-left: solid 1px #dddddd;
    width: 1px;
    height: 100px;
    text-align: center;
    margin: 65px 25px 0px;
}


/*******************************/
.content1 {
    margin: 40px;
    width: 100%;
    height: 600px;
    padding: 20px;
    overflow: auto;
}

    .content1 p:nth-child(even) {
        font-size: 15px;
        color: #666666;
        text-align: left;
        line-height: 22px;
        margin-bottom: 30px;
        font-family: montserrat-regular;
    }

    .content1 .men-facts {
        color: #003366;
        font-size: 12px;
        text-align: center;
        font-family: montserrat-regular;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

#sidebar {
    float: left;
    color: #ffbdbd;
    will-change: min-height;
}

    #sidebar .sidebar__inner {
        padding: 10px;
        position: relative;
        transform: translate(0, 0);
        transform: translate3d(0, 0, 0);
    }

/*------------------*/
/*	MENU
/*------------------------------------------------------*/

#access .menu {
    list-style: none;
    font-weight: normal;
    position: relative;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0px;
    width: 100%;
}

    #access .menu select {
        border: 2px solid #eee;
        padding: 10px 10px 10px 10px;
        background-color: #f9f9f9;
        color: #333;
    }

    #access .menu ul {
        margin: 0px;
        list-style-type: none;
        position: relative;
        text-align: left;
        z-index: 1001;
        height: 58px;
        margin: 0;
        float: right;
    }

        #access .menu ul li {
            position: relative;
            display: inline-block;
            padding: 0;
            z-index: 101;
            margin: 0px 0px 0px 15px;
            float: left;
        }

            #access .menu ul li.last {
                background: none;
            }

            #access .menu ul li:last-child a {
            }

                #access .menu ul li:last-child a:hover {
                    border-radius: 26px;
                    background: #db2033;
                    border-bottom: 1px solid #909090;
                }

            #access .menu ul li a {
                display: inline-block;
                text-decoration: none;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                line-height: 1;
                color: #fff;
                margin: 0;
                padding: 13px 16px 13px 16px;
                text-align: center;
                border-radius: 25px;
                margin-top: 9px;
                cursor: pointer;
            }

                #access .menu ul li a:hover {
                    color: #fff;
                    padding: 13px 16px 13px 16px;
                    background-color: #444;
                    border-radius: 4px;
                    border-bottom-right-radius: 0px;
                    border-bottom-left-radius: 0px;
                }

                #access .menu ul li a.active {
                    color: #fff;
                    padding: 13px 16px 13px 16px;
                    background-color: #444;
                    border-radius: 4px;
                }

                #access .menu ul li a i {
                    margin-left: 3px;
                }

            #access .menu ul li ul {
                position: absolute;
                left: 0;
                height: auto;
                display: none;
                visibility: hidden;
                width: 194px;
                padding: 0;
                margin-top: 0px;
                text-align: left;
                background: #444;
                border-radius: 4px;
                border-top-left-radius: 0px;
                -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
                -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
            }

                #access .menu ul li ul li {
                    display: list-item;
                    float: none;
                    background: none;
                    padding: 0;
                    margin: 0;
                    height: auto;
                }

                    #access .menu ul li ul li ul {
                        top: 0;
                    }

                    #access .menu ul li ul li a {
                        margin: 0;
                        border: none;
                        display: block;
                        padding: 14px 17px 14px 17px;
                        font-size: 13px;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: normal;
                        color: #fff;
                        background: #444;
                        width: 159px;
                        text-align: left;
                        border-bottom: 1px solid #575757;
                        border-radius: 4px;
                        border-top-left-radius: 0px;
                    }

                        #access .menu ul li ul li a:hover,
                        #access .menu ul li ul li.active a,
                        #access .menu ul li ul li a.selected {
                            background: #df5e49;
                            border-bottom: 1px solid #575757;
                            color: #fff;
                            padding: 14px 17px 14px 17px;
                            border-radius: 0px;
                        }

                    #access .menu ul li ul li:last-child {
                        border: none;
                    }

* html #access .menu {
    height: 1%;
}

.selectnav {
    display: none;
    width: 440px;
}


@media only screen and (max-width: 479px) {
    /* Disable menu */
    #access .menu ul#tiny {
        display: none;
    }
    /* Enable dropdown menu */
    .selectnav {
        display: block;
    }

    .selectnav {
        display: inline;
    }

    #access .menu select {
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 1px solid #e3e3e3;
        padding: 10px 10px;
        background-color: #fff;
        color: #333639;
        width: 100%;
        float: left;
        background: url(../images/navigationicon.png) no-repeat right #fff;
        cursor: pointer;
    }

        #access .menu select:after {
            background: url(../images/navigationicon.png) no-repeat right;
        }
}



/************************************/

.helth-app-banner {
    background-image: url(../images/wellness-app.jpg);     -webkit-backface-visibility: hidden;
    background-size: cover;
    font-size: 12px;
    background-color: #cccccc;
    z-index: 100;
    padding: 50px 0px 130px 0px;
    box-shadow: rgba(165, 165, 165, 0.2) 0px 4px 10px 0px, rgba(220, 220, 220, 0.19) 0px 5px 15px 0px;
    background-attachment: fixed;
    position: relative;
}

.p-0 {
    padding: 0px !important;
}

.arrived ul {
    margin: 0px;
    padding: 0px;
}

    .arrived ul li {
        list-style: none;
        display: block;
        color: #3a3a3a;
        font-size: 16px;
        padding: 5px 0px;
        font-family: 'Montserrat', sans-serif;
    }

        .arrived ul li p {
            color: #3a3a3a;
            font-size: 13px;
        }

        .arrived ul li:before {
            content: '';
            display: block;
            margin: -2px 10px 0 -15px;
            float: left;
            width: 42px;
            height: 42px;
        }

        .arrived ul li.icon1:before {
            background: url("../images/icon1.png") no-repeat;
        }

        .arrived ul li.icon2:before {
            background: url("../images/icon2.png") no-repeat;
        }

        .arrived ul li.icon3:before {
            background: url("../images/icon3.png") no-repeat;
        }

        .arrived ul li.icon4:before {
            background: url("../images/icon4.png") no-repeat;
        }

        .arrived ul li.icon5:before {
            background: url("../images/icon5.png") no-repeat;
        }

        .arrived ul li.icon6:before {
            background: url("../images/icon6.png") no-repeat;
        }

        .arrived ul li.icon7:before {
            background: url("../images/icon7.png") no-repeat;
        }

        .arrived ul li.icon8:before {
            background: url("../images/icon8.png") no-repeat;
        }

        .arrived ul li.icon9:before {
            background: url("../images/icon9.png") no-repeat;
        }

.blue-bg {
    background: #184479;
    color: #fff;
    font-size: 38px;
    padding: 40px 0px;
}

.fitness-watch-banner {
    background-image: url(../images/fitness-watch.jpg); -webkit-backface-visibility: hidden;
    background-size: cover;
    font-size: 12px;
    background-color: #cccccc;
    z-index: 100;
    padding: 50px 0px 130px 0px;
    box-shadow: rgba(165, 165, 165, 0.2) 0px 4px 10px 0px, rgba(220, 220, 220, 0.19) 0px 5px 15px 0px;
    background-attachment: fixed;
    position: relative;
}

.wireless-fitness ul {
    margin: 0px;
    padding: 0px;
}

    .wireless-fitness ul li {
        margin: 0px;
        padding: 10px;
        list-style: none;
        display: inline-block;
        background-image: url(../images/line.jpg) !important;
        background-repeat: no-repeat !important;
        background-position: right !important;
    }

        .wireless-fitness ul li:last-child {
            background-image: none !important;
        }

        .wireless-fitness ul li a {
            color: #5b5b5b;
            font-size: 18px;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
        }

            .wireless-fitness ul li a:hover {
                color: #003366;
            }

.watch ul {
    margin: 0px;
    padding: 0px;
}

    .watch ul li {
        list-style: none;
        display: block;
        color: #3a3a3a;
        font-size: 16px;
        padding: 5px 0px;
        font-family: 'Montserrat', sans-serif;
    }

        .watch ul li p {
            color: #3a3a3a;
            font-size: 13px;
            font-family: 'Montserrat', sans-serif;
        }

        .watch ul li:before {
            content: '';
            display: block;
            margin: -2px 10px 0 -15px;
            float: left;
            width: 61px;
            height: 61px;
        }

        .watch ul li.icon10:before {
            background: url("../images/watch1.png") no-repeat;
        }

        .watch ul li.icon11:before {
            background: url("../images/watch2.png") no-repeat;
        }

        .watch ul li.icon12:before {
            background: url("../images/watch3.png") no-repeat;
        }

        .watch ul li.icon13:before {
            background: url("../images/watch4.png") no-repeat;
        }

        .watch ul li.icon14:before {
            background: url("../images/watch5.png") no-repeat;
        }

.with-body h3 {
    color: #121212;
    font-size: 17px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.with-body {
    color: #121212;
    font-size: 14px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.blood-presser-banner {
    background-image: url(../images/blood-presser.jpg); -webkit-backface-visibility: hidden;
    background-size: cover;
    font-size: 12px;
    background-color: #cccccc;
    z-index: 100;
    padding: 30px 0px 0px 0px;
    box-shadow: rgba(165, 165, 165, 0.2) 0px 4px 10px 0px, rgba(220, 220, 220, 0.19) 0px 5px 15px 0px;
    background-attachment: fixed;
    position: relative;
}

.blood-presser ul {
    margin: 0px;
    padding: 0px;
}

    .blood-presser ul li {
        list-style: none;
        display: block;
        color: #3a3a3a;
        font-size: 16px;
        padding: 5px 0px;
        font-family: 'Montserrat', sans-serif;
    }

        .blood-presser ul li p {
            color: #3a3a3a;
            font-size: 13px;
            font-family: 'Montserrat', sans-serif;
            margin-left: 50px;
        }

        .blood-presser ul li:before {
            content: '';
            display: block;
            margin: -2px 10px 0 -15px;
            float: left;
            width: 72px;
            height: 80px;
        }

        .blood-presser ul li.icon15:before {
            background: url("../images/blood1.png") no-repeat;
        }

        .blood-presser ul li.icon16:before {
            background: url("../images/blood2.png") no-repeat;
        }

        .blood-presser ul li.icon17:before {
            background: url("../images/blood3.png") no-repeat;
        }

        .blood-presser ul li.icon18:before {
            background: url("../images/blood4.png") no-repeat;
        }

        .blood-presser ul li.icon19:before {
            background: url("../images/blood5.png") no-repeat;
        }

.wireless-title {
    font-size: 40px;
    color: #003366;
    padding-bottom: 20px;
    font-weight: normal;
    text-align: center;
    font-family: montserrat-extraLight;
}

.mob-gen {
    color: #fff;
    font-size: 18px;
    padding-bottom: 20px;
    font-family: montserrat-extraLight;
    font-weight: normal;
}
/*--*/
.app_section h3 {
    text-align: left;
}
#downloadapp .app_section .mob-gen .takes{
    color: #3a3a3a;
}
.smsform .form-control {
    width: 50%;
    margin-right: 10px;
    height: 50px;
}
.app_section .send-btn {
    font-size: 18px;
}
.send-btn {
    width: auto;
    background: #0099ff;
    color: #fff;
    border-radius: 2px;
    padding: 12px;
    border: none;
    font-size: 12px;
    font-family: montserrat-regular;
    letter-spacing: 1px;
}
.app_section {
    padding: 75px 15px;
}
.pad30 {
    padding-top: 30px;
}


/*--*/
.app-bhn-m-l {
    margin-left: 11px;
}

.mob-pos-gen {
    position: relative;
    top: 50px;
}

.p-t {
    padding-top: 20px;
    padding-bottom: 0px;
}

.cont-app {
    padding: 45px 55px;
}

.mon-disp {
    /*z-index: 9999;*/
    position: relative;
}

.img-width {
    width: 100% !important;
}

.nav-app {
    width: 100%;
}

b, strong {
    font-weight: 700;
}

.contact-menu {
    margin: 16px 38px 16px 0px !important;
}
/*Why Choose HW Css*/
.maindiv {
    background-size: cover;
    background-color: #fbfbfb;
    padding: 100px 0px 100px 0px;
    box-shadow: rgba(165, 165, 165, 0.2) 0px 4px 10px 0px, rgba(220, 220, 220, 0.19) 0px 5px 15px 0px;
    height: 732px;
}


.w-c-u {
    color: #209608;
    font-size: 36px;
    padding-bottom: 20px;
    font-family: montserrat-regular;
    font-weight: normal;
    text-align: left;
}

.w-c-u-nav ul {
    margin: 0px;
    padding: 0px;
}

    .w-c-u-nav ul li {
        margin: 20px 0px;
        padding: 0px;
        list-style: none;
        display: block;
    }

        .w-c-u-nav ul li a {
            color: #707172;
            font-size: 18px;
            font-family: montserrat-regular;
            font-weight: normal;
            text-decoration: none;
            text-transform: uppercase;
        }

            .w-c-u-nav ul li a:hover,  .w-c-u-nav ul li .active {
                color: #184479;
            }

.w-c-u-title {
    font-size: 42px;
    font-family: montserrat-light;
    font-weight: normal;
    color: #184479;
    margin-top: 80px;
    line-height: 48px;
    transform-origin: 50% 100%;
    animation-duration: 3s;
    animation-name: fade;
    animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
}

.w-c-u-detail {
    color: #090909;
    font-size: 18px;
    font-family: montserrat-regular;
    font-weight: normal;
    line-height: 28px;
}

.link-w-c-u {
    color: #184479;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
}

    .link-w-c-u:hover {
        text-decoration: none;
    }

.connectivity-app-banner {
    background-image: url(../images/connectivity-bg.jpg);
}

.food-log {
    background-image: url(../images/food-log.jpg);
}

.exercise-log {
    background-image: url(../images/exercise-log.jpg);
}

.reminders {
    background-image: url(../images/reminders.jpg);
}

.gps {
    background-image: url(../images/gps.jpg);
}

.goal-tracking {
    background-image: url(../images/goal-tracking.jpg);
}

.yr-personal {
    background-image: url(../images/personal-traing.jpg);
}

.customized {
    background-image: url(../images/custom-montirise.jpg);
}

.dis-none {
    display: none;
}

/********************************Consetn-form**********************/

.con-health-info {
    color: #003366;
    font-size: 36px;
    font-family: montserrat-regular;
    font-weight: 500;
    padding: 20px 10px;
}

.health-info ul {
    margin: 0px;
    padding: 0px;
}

    .health-info ul li {
        margin: 30px 10px;
        padding: 0px;
        display: block;
        list-style: none;
    }

        .health-info ul li span {
            color: #e1e1e1;
            font-size: 15px;
            border: 2px solid #e1e1e1;
            border-radius: 34px;
            margin: 0px 20px 0px 0px;
            padding: 10px 16px;
        }

        /*.health-info ul li a span:hover {
    color: #003366;
    border: 2px solid #003366;
}*/

        .health-info ul li a {
            margin: 0px;
            padding: 0px;
            color: #828282;
            font-size: 15px;
            font-family: montserrat-regular;
            text-decoration: none;
        }

.active-form a {
    color: #003366 !important;
}

    .active-form a span {
        color: #003366 !important;
        border: 2px solid #003366 !important;
    }

.per-info {
    color: #003366;
    font-size: 24px;
    font-family: montserrat-regular;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 28px;
    margin: 0px 0px;
}

.s-i {
    margin: 0px 15px;
}

.addres-form {
    color: #656565;
    font-size: 15px;
    font-weight: 500;
    font-family: montserrat-regular;
    text-align: left;
    line-height: 22px;
}

.c-k-2 {
    color: #b5b5b5;
    font-size: 15px;
    font-weight: 500;
    font-family: montserrat-regular;
    text-align: right;
    line-height: 22px;
}

.product_view .modal-dialog {
    max-width: 800px;
    width: 100%;
}

.pre-cost {
    text-decoration: line-through;
    color: #a5a5a5;
}

.space-ten {
    padding: 10px 0;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #b5b5b5;
}

.form-control::-moz-placeholder { /* Firefox 19+ */
    color: #b5b5b5;
}

.form-control:-ms-input-placeholder { /* IE 10+ */
    color: #b5b5b5;
}

.form-control:-moz-placeholder { /* Firefox 18- */
    color: #b5b5b5;
}

.form-popup {
    z-index: 9999;
}

.modal-backdrop.in {
    z-index: 9995;
}

.med-e-con {
    color: #656565;
    font-size: 18px;
    font-weight: 500;
    font-family: montserrat-regular;
    text-align: left;
    line-height: 22px;
    text-transform: uppercase;
}

.med-subtitle {
    color: #003366;
    font-size: 15px;
    font-weight: 700;
    font-family: montserrat-regular;
    text-align: left;
    line-height: 22px;
    text-transform: uppercase;
}

.med-sel-chek {
    color: #003366;
    font-size: 15px;
    font-weight: 500;
    font-family: montserrat-regular;
    text-align: left;
    line-height: 22px;
    text-transform: capitalize;
}

.padd-medi-title {
    /*padding: 0px 0px 5px 15px;*/
}

.chek-medi {
    padding: 10px 0px 0px 0px;
}

.cel-bg {
    background: url(../images/celender.png) top 8px right 8px no-repeat;
}

.serch-med {
    z-index: 2;
    margin-left: 0px;
    padding: 14px;
}

.multi-sel {
    width: 100%;
}

.medi-date {
    height: 28%;
    background: url(../images/celender.png) top 2px right 8px no-repeat;
    margin: -10px 0px 3px 0px;
}

.medi-list-text {
    height: 28%;
    margin: -10px 0px 3px 0px;
}
/*media*/
@media (max-width: 500px) and (min-width: 320px) {
  .sidebar-nav li :not(collapsed) + .arrow:before {
              font-family: FontAwesome;
              content: "";
              background:url(../images/plus-sign.png) no-repeat;
              display: inline-block;
             width:32px;
             height:35px;
              vertical-align: middle;
              float: right;
          }

          .sidebar-nav li.open :not(collapsed) + .arrow:before {
              font-family: FontAwesome;
              content: "";
              background:url(../images/minus.png) no-repeat;
              display: inline-block;
             width:32px;
             height:35px;

              vertical-align: middle;
              float: right;
          }
  		.sidebar-nav li .dropdown-toggle + .arrow{position: absolute;right: 0;top:0px;z-index: 9999;}
    .arrived ul li:before {
        content: '';
        display: block;
        margin: -2px 10px 0 -9px;
        float: left;
        width: 42px;
    }

    .arrived ul li {
        font-size: 13px;
    }

        .arrived ul li p {
            font-size: 10px;
            margin-left: 44px;
        }

    .blue-bg {
        font-size: 30px;
    }

    .blue-bg {
        padding: 25px 0px;
    }

    .wireless-fitness ul li {
        padding: 0px 10px;
    }

    .watch ul li {
        font-size: 13px;
    }

        .watch ul li p {
            font-size: 10px;
            margin-left: 60px;
        }

        .watch ul li:before {
            content: '';
            display: block;
            margin: -2px 10px 0 -9px;
            float: left;
            width: 61px;
        }

    .blood-presser ul li:before {
        margin: -10px 10px 0 -15px;
        width: 55px;
    }

    .app-store {
        text-align: center !important;
        margin: 0 auto;
        display: block;
    }

    .cont-app {
        padding: 0px;
    }

    .wireless-title {
        font-size: 20px;
    }

    .fitness-watch-banner {
        padding: 0px 0px 0px 0px;
    }

    .wireless-fitness ul li a {
        font-size: 14px;
    }

    .banner_animate h1 {
        font-size: 28px;
    }

    .helth-app-banner {
        padding: 0px;
    }

    .w-c-u-title {
        font-size: 22px;
        line-height: 22px;
    }

    .w-c-u-detail {
        font-size: 14px;
        line-height: 22px;
    }


    .w-c-u {
        font-size: 26px;
        margin-bottom: 0px;
        text-align: center;
    }

    .w-c-u-nav ul li a {
        font-size: 14px;
    }

    .maindiv {
        height: auto;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 20px;
    }

    .app-dropdown {
        background: #fff;
        width: 100%;
        padding: 10px;
        border-radius: 3px;
        border: solid 1px #ddd;
    }
    /***********/
    .con-health-info {
        font-size: 16px;
        padding: 0px 10px;
    }

    .health-info ul li {
        margin: 15px 10px;
    }

        .health-info ul li span {
            padding: 3px 8px;
        }

    .per-info {
        text-align: center;
        margin: 0px;
        font-size: 18px;
    }

    .chek-medi {
        padding: 10px 10px !important;
    }

    .padd-medi-title {
        padding: 0px 0px 5px 10px;
    }

    .age-input {
        padding-left: 15px;
    }

    .c-k-2 {
        font-size: 13px;
        text-align: center;
    }

    .pop-btn-mrg {
        margin: 10px 0px;
    }

    .product_view .modal-dialog {
        max-width: 800px;
        width: 94%;
    }

    .med-sel-chek {
        font-size: 12px;
    }

    .s-i {
        margin: 0px 5px !important;
        float: left;
    }

    .div-center {
        text-align: center !important;
        padding: 20px 65px;
    }
}

@media (max-width: 767px) and (min-width: 501px) {
  .sidebar-nav li :not(collapsed) + .arrow:before {
              font-family: FontAwesome;
              content: "";
              background:url(../images/plus-sign.png) no-repeat;
              display: inline-block;
             width:32px;
             height:35px;
              vertical-align: middle;
              float: right;
          }

          .sidebar-nav li.open :not(collapsed) + .arrow:before {
              font-family: FontAwesome;
              content: "";
              background:url(../images/minus.png) no-repeat;
              display: inline-block;
             width:32px;
             height:35px;

              vertical-align: middle;
              float: right;
          }
  		.sidebar-nav li .dropdown-toggle + .arrow{position: absolute;right: 0;top:0px;z-index: 9999;}
    .app-dropdown {
        background: #fff;
        width: 100%;
        padding: 10px;
        border-radius: 3px;
        border: solid 1px #ddd;
    }

    .arrived ul li:before {
        content: '';
        display: block;
        margin: -2px 10px 0 -9px;
        float: left;
        width: 42px;
    }

    .age-input {
        padding-left: 0px;
    }

    .s-i {
        margin: 0px 20px !important;
        float: left;
    }

    .arrived ul li {
        font-size: 13px;
    }

        .arrived ul li p {
            font-size: 10px;
            margin-left: 44px;
        }

    .blue-bg {
        font-size: 30px;
    }

    .blue-bg {
        padding: 25px 0px;
    }

    .wireless-fitness ul li {
        padding: 0px 10px;
    }

    .watch ul li {
        font-size: 13px;
    }

        .watch ul li p {
            font-size: 10px;
            margin-left: 60px;
        }

        .watch ul li:before {
            content: '';
            display: block;
            margin: -2px 10px 0 -9px;
            float: left;
            width: 61px;
        }

    .blood-presser ul li:before {
        margin: -10px 10px 0 -15px;
        width: 55px;
    }

    .app-store {
        text-align: center !important;
        margin: 0 auto;
        display: block;
    }

    .cont-app {
        padding: 0px;
    }

    .wireless-title {
        font-size: 20px;
    }

    .fitness-watch-banner {
        padding: 0px 0px 0px 0px;
    }

    .wireless-fitness ul li a {
        font-size: 14px;
    }

    .banner_animate h1 {
        font-size: 28px;
    }

    .helth-app-banner {
        padding: 0px;
    }

    .w-c-u-title {
        font-size: 22px;
        line-height: 22px;
    }

    .w-c-u-detail {
        font-size: 14px;
        line-height: 22px;
    }


    .w-c-u {
        font-size: 26px;
        margin-bottom: 0px;
        text-align: center;
    }

    .w-c-u-nav ul li a {
        font-size: 14px;
    }

    .maindiv {
        height: auto;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 20px;
        background-size: auto 100% !important;
    }

    .app-dropdown {
        background: #fff;
        width: 100%;
        padding: 10px;
        border-radius: 3px;
        border: solid 1px #ddd;
    }
    /***********/
    .con-health-info {
        font-size: 16px;
        padding: 0px 10px;
    }

    .health-info ul li {
        margin: 15px 10px;
    }

        .health-info ul li span {
            padding: 3px 8px;
        }

    .per-info {
        text-align: center;
        margin: 0px;
        font-size: 18px;
    }

    .chek-medi {
        padding: 10px 0px;
    }

    .age-input {
        padding-left: 15px;
    }

    .c-k-2 {
        font-size: 13px;
        text-align: center;
    }

    .pop-btn-mrg {
        margin: 10px 0px;
    }

    .product_view .modal-dialog {
        max-width: 800px;
        width: 94%;
    }

    .med-sel-chek {
        font-size: 12px;
    }

    .s-i {
        margin: 0px 15px 0px 0px !important;
    }

    .mob-center {
        display: block;
        margin: 0 auto;
    }

    .maindiv {
        background-size: auto 100% !important;
        padding: 20px !important;
        height: auto !important;
        background-repeat: no-repeat !important;
    }
}

@media (max-width: 1280px) and (min-width: 768px) {
    .banner_animate h1 {
        font-size: 32px !important;
    }

    .arrived ul li p {
        font-size: 10px;
        margin-left: 38px;
    }

    .wireless-title {
        font-size: 28px;
    }

    .mob-gen {
        font-size: 12px;
    }

    .blood-presser ul li p {
        margin-left: 66px;
    }

    .w-c-u-title {
        font-size: 22px;
        line-height: 32px;
    }

    .w-c-u-detail {
        font-size: 14px;
        line-height: 22px;
    }

    .w-c-u {
        font-size: 26px;
    }

    .w-c-u-nav ul li a {
        font-size: 14px;
    }

    .yr-personal {
        background-size: cover;
        background-repeat: no-repeat;
        padding: 20px;
    }

    .customized {
        background-size: cover;
        background-repeat: no-repeat;
        padding: 20px;
    }

    .goal-tracking {
        background-size: cover;
        background-repeat: no-repeat;
        padding: 20px;
    }

    .gps {
        background-size: cover;
        background-repeat: no-repeat;
        padding: 20px;
    }

    .reminders {
        background-size: contain;
        background-repeat: no-repeat;
        padding: 20px;
    }

    .exercise-log {
        background-size: cover;
        background-repeat: no-repeat;
        padding: 20px;
    }

    .food-log {
        background-size: cover;
        background-repeat: no-repeat;
        padding: 20px;
    }

    .connectivity-app-banner {
        background-size: cover;
        background-repeat: no-repeat;
        padding: 20px;
    }

    .maindiv {
        height: auto;
    }

    .health-info ul li a {
        font-size: 13px;
    }

    .s-i {
        float: left;
    }

    .age-input {
        padding-left: 15px;
    }
    .per-info{
        margin:0px 10px;
    }
    .chek-medi {
    padding: 10px 10px;
    }
    .med-e-con{
        margin:0px 10px;
    }
    .med-subtitle{
        margin:10px 10px;
    }
    .mar-viewall{
        margin:0px 10px;
    }
}




/*--*/
@media (max-width: 1366px) and (min-width: 768px) {
    .maindiv {
        background-size: contain;
        background-color: #fbfbfb;
        padding: 57px 0px;
        box-shadow: rgba(165, 165, 165, 0.2) 0px 4px 10px 0px, rgba(220, 220, 220, 0.19) 0px 5px 15px 0px;
        background-repeat: no-repeat;
        height: auto;
        background-size: auto 100% !important;
    }
}
