@font-face {
		font-family: "myFont";
		src:url("vitals_fonts/myFont.eot");
		src:url("vitals_fonts/myFont.eot?#iefix") format("embedded-opentype"),
			url("vitals_fonts/myFont.ttf") format("truetype"),
			url("vitals_fonts/myFont.woff") format("woff"),
			url("vitals_fonts/myFont.svg#myFont") format("svg");
		font-weight: normal;
		font-style: normal;
}

[class*="wellness-icon-"]{
	font-family: "myFont";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/*font-size:32px;*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wellness-icon-medicine:before{
	content: '\e600';
}
.wellness-icon-check:before{
	content: '\e601';
}
.wellness-icon-demographic:before{
	content: '\e602';
}
.wellness-icon-monitoring:before{
	content: '\e603';
}
.wellness-icon-clock:before{
	content: '\e604';
}
.wellness-icon-chart:before{
	content: '\e605';
}
.wellness-icon-pulseox:before{
	content: '\e606';
}
.wellness-icon-capsule:before{
	content: '\e607';
}
.wellness-icon-bloodsugar:before{
	content: '\e608';
}
.wellness-icon-bloodpresure:before{
	content: '\e609';
}
.wellness-icon-alerts:before{
	content: '\e610';
}
.wellness-icon-weight:before{
	content: '\e611';
}
.wellness-icon-vital:before{
	content: '\e612';
}
.wellness-icon-rx:before{
	content: '\e613';
}
.wellness-icon-question:before{
	content: '\e614';
}
