<!-- Interactive Block -->
<div class="block">
        <!-- Interactive Title -->
        <div class="block-title">
            <!-- Interactive block controls (initialized in js/app.js -> interactiveBlocks()) -->
            <div class="block-options pull-right" >
                <a ng-if="hasEditFunction==true" href="javascript:void(0);" ng-click="editFunction()" class="btn btn-alt btn-sm btn-primary" data-toggle="block-toggle-content-edit"><i class="fa fa-edit"></i></a>

                <a href="javascript:void(0);" class="btn btn-alt btn-sm btn-primary" data-toggle="block-toggle-content"><i class="fa fa-arrows-v"></i></a>
                <!--
                <a href="javascript:void(0);" class="btn btn-alt btn-sm btn-primary" data-toggle="block-toggle-fullscreen"><i class="fa fa-desktop"></i></a>
                -->
                <a href="javascript:void(0);"  ng-click="remove()" class="btn btn-alt btn-sm btn-primary" ><i class="fa fa-times"></i></a>
                
            </div>
            <h2 ng-click="titleClick()" ng-bind-html="blockTitle"></h2>
        </div>
        <!-- END Interactive Title -->

        <!-- Interactive Content -->
        <!-- The content you will put inside div.block-content, will be toggled -->
        <ng-transclude>
        </ng-transclude>
        
        <!-- END Interactive Content -->
    </div>
<!-- END Interactive Block -->    