<div  class="modal fade in" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" >
                    <span aria-hidden="true" >&times;</span>
                    <span class="sr-only" >Close</span>
                </button>
                <h2 class="modal-title" ng-bind-html="title"></h2>
            </div>
            <!-- END Modal Header -->

            <!-- Modal Body -->
            <iframe src="https://player.vimeo.com/video/140884135?badge=0&autopause=0&player_id=0" width="800" height="480" frameborder="0" title="Gain Weight" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

            <!-- END Modal Body -->
        </div>
    </div>
</div>