<ul class="list-inline progress_ul">
	<li>
		<ul class="progress_loadbar">
		    <li class="layer1"><div class="bar"></div></li>
		    <li class="layer2"><div class="bar"></div></li>
		    <li class="layer3"><div class="bar"></div></li>
		    <li class="layer4"><div class="bar"></div></li>
		    <li class="layer5"><div class="bar"></div></li>
		    <li class="layer6"><div class="bar"></div></li>
		    <li class="layer7"><div class="bar"></div></li>
		    <li class="layer8"><div class="bar"></div></li>
		    <li class="layer9"><div class="bar"></div></li>
		    <li class="layer10"><div class="bar"></div></li>
		</ul>

	</li>
	<li>	
		<h5><a class="text-primary">{{percentValue}}%</a><a class="text-muted"> OF GOAL</a></h5>
	</li>
</ul>