<!-- Siple Block -->
<div class="block full">
        <!-- Simple Title -->
        <div class="block-title"> 
    	    <div class="block-options pull-right">
                    <a title="" data-toggle="button" class="btn btn-alt btn-xs btn-default enable-tooltip" href="javascript:void(0)" ng-click="clearFilter()" data-original-title="Clear Filter">Clear Filter</a>
            </div>       
            <h2><strong style="font-size:14px !important">{{blockTitle}}</strong></h2>
        </div>
        <!-- END Simple Title -->

        <!-- Simple Content -->
        <!-- The content you will put inside div.block-content, will be toggled -->
        <div  class="container-fluid" low-margin slim-scroll>

        <div class="row-fluid" ng-show="uncategorised">
			<div class="" style="border:none">
	            <label>Uncategorised</label> 
	            <label class="checkbox-inline" style="margin-left:10px;vertical-align:top;">
	                <input type="checkbox" ng-model="assigned_properties">
	            </label>
		    </div>		
		</div>
		<div class="row-fluid">
			<div class="" style="border:none">
	            <label for="keywords" class="space-top">Keyword(s)</label>
	            <input type="text" id="keywords" name="keywords" ng-model="keyword" class="form-control" placeholder="enter search term(s)">
	        </div>	
		</div>
		<div ng-show = "showFilter">
			<div class="row-fluid">
				<div class="" style="border:none">
		            <label class="space-top">Workout time minutes</label>
		            <div >             
		            	<div class="col-xs-6">            		
					            <small>Minimum</small>
					            <input type="text" ng-model="minimun_workout_time" id="min" name="min" class="form-control" placeholder="">		        
		            	</div>
		            	<div class="col-xs-6">            		
					        <small>Maximum</small>
					        <input type="text" id="max" name="max" ng-model="maximum_workout_time" class="form-control" placeholder="">		        
		            	</div>
		            </div>	
		        </div>		
			</div>	
			<div class="row-fluid">
				<div class="" style="border:none">
		            <label class="space-top">Calorie burn</label> 
		            <div >           
		            	<div class="col-xs-6">            		
				            <small>Minimum</small>
				            <input type="text" id="minCal" name="minCal" ng-model="minimun_calorie_burn" class="form-control" placeholder="">	        
		            	</div>
		            	<div class="col-xs-6">            		
					        <small>Maximum</small>
					        <input type="text" id="maxCal" name="maxCal" ng-model="maximum_calorie_burn" class="form-control" placeholder="">	        
		            	</div>
		            </div>	
		        </div>		
			</div>
			<div class="row-fluid">
				<div class="" style="border:none">
		            <label class="space-top">Body Parts</label> 
		                <br>
		                <div >       
				        	<select 
				        	chosen="body_parts"
		                    data-placeholder="Choose a Body Parts"
		                    ng-options="body.name as body.name group by body.parent_name for body in body_parts"
		                    ng-model="body_part" >
		                  </select>
			            </div>
			    </div>		
			</div>
			<div class="row-fluid">
				<div class="" style="border:none">
		            <label class="space-top">Experience Levels</label> 
		                <br>
		                <div >       
				        	<select 
		                    chosen="experiences"
		                    data-placeholder="Choose Experience Level"
		                    ng-options="value for (key,value) in experiences"
		                    ng-model="experience" >
		                </select>
			            </div>
			    </div>		
			</div>
			<div class="row-fluid">
				<div class="" style="border:none">
		            <label class="space-top">Equipments</label>
					<br>
		            <div>    
		                <select 
		                    chosen="equipments"
		                    data-placeholder="Choose a Equipment"
		                    ng-options="equipment.display_name as equipment.display_name for equipment in equipments"
		                    ng-model="equipment" >
		                </select>
	               	</div>
		        </div>		
			</div>
		
		</div>
	   </div>
        
        <!-- END Simple Content -->
</div>
<!-- END Simple Block -->    



