<!-- Siple Block -->
<div class="block full">
        <!-- Simple Title -->
        <div class="block-title"> 
    	    <div class="block-options pull-right">
                    <a title="" data-toggle="button" class="btn btn-alt btn-xs btn-default enable-tooltip" href="javascript:void(0)" ng-click="clearFilter()" data-original-title="Clear Filter">Clear Filter</a>
            </div>       
            <h2>
                <strong>{{blockTitle}}</strong>
            </h2>
        </div>
        <!-- END Simple Title -->

        <!-- Simple Content -->
        <!-- The content you will put inside div.block-content, will be toggled -->
        <div  class="container-fluid" low-margin slim-scroll>

        <div class="row-fluid" ng-show="uncategorised">
			<div class="" style="border:none">
	            <label>Uncategorised</label> 
	            <label class="checkbox-inline" style="margin-left:10px;vertical-align:top;">
	                <input type="checkbox" ng-model="assigned_properties">
	            </label>
		    </div>		
		</div>
		<div class="row-fluid">
			<div class="" style="border:none">
	            <label for="keywords" class="space-top">Keyword(s)</label>
	            <input type="text" id="keywords" name="keywords" ng-model="keyword" class="form-control" placeholder="enter search term(s)">
	        </div>	
		</div>
		<div ng-show = "showFilter">
			<div class="row-fluid">
				<div class="" style="border:none">
		            <label class="space-top">Workout time minutes</label>
		            <div >             
		            	<div class="col-xs-6">            		
					            <small>Minimum</small>
					            <input type="text" ng-model="minimun_workout_time" id="min" name="min" class="form-control" placeholder="">		        
		            	</div>
		            	<div class="col-xs-6">            		
					        <small>Maximum</small>
					        <input type="text" id="max" name="max" ng-model="maximum_workout_time" class="form-control" placeholder="">		        
		            	</div>
		            </div>	
		        </div>		
			</div>	
			<div class="row-fluid">
				<div class="" style="border:none">
		            <label class="space-top">Calorie burn</label> 
		            <div >           
		            	<div class="col-xs-6">            		
				            <small>Minimum</small>
				            <input type="text" id="minCal" name="minCal" ng-model="minimun_calorie_burn" class="form-control" placeholder="">	        
		            	</div>
		            	<div class="col-xs-6">            		
					        <small>Maximum</small>
					        <input type="text" id="maxCal" name="maxCal" ng-model="maximum_calorie_burn" class="form-control" placeholder="">	        
		            	</div>
		            </div>	
		        </div>		
			</div>
			<div class="row-fluid">
				<div class="" style="border:none">
		            <label class="space-top">Difficulty</label> 
		                <br>
		                <div >       
				        	<label class="checkbox-inline" style="margin-left:10px"
				        		    ng-repeat="diffculty in diffculties">
				                <input type="checkbox"
		                    		 checklist-model="selectedDifficulties" 
		                    		 checklist-value="diffculty">{{diffculty}}
				            </label>
			            </div>
			    </div>		
			</div>
			<div class="row-fluid">
				<div class="" style="border:none">
		            <label class="space-top">Body focus</label> 
		                <br>
		                <div >       
				        	<label class="checkbox-inline" style="margin-left:10px"
				        		    ng-repeat="body in body_focus">
				                <input type="checkbox" 
		                    		 checklist-model="selectedBodyFocus" 
		                    		 checklist-value="body">{{body}}
				            </label>
			            </div>
			    </div>		
			</div>
			<div class="row-fluid">
				<div class="" style="border:none">
		            <label class="space-top">Training type</label>
					<br>
		            <div>    
		                <label class="checkbox-inline" style="margin-left:10px" ng-repeat="training_type in training_types">
	                        <input type="checkbox"	 
		            		checklist-model="selectedTrainingTypes"
		            		checklist-value="training_type.display_name">{{training_type.display_name}}
	                    </label>
	               	</div>
		        </div>		
			</div>
			<div class="row-fluid">
				<div class="" style="border:none">
		            <label class="space-top">Equipment needed</label>
					<br>
		            <div>    
		                <label class="checkbox-inline" style="margin-left:10px" ng-repeat="equipment in equipments">
	                        <input type="checkbox"	 
		            		checklist-model="selectedEquipments" 
		            		checklist-value="equipment.display_name">{{equipment.display_name}}
	                    </label>
	               	</div>
		        </div>		
			</div>
			<br>
			<div class="row-fluid hide" >
				<div class="form-group form-actions">
	                <button class="btn btn-sm btn-primary pull-left" type="button" ng-click="searchVideo()"><i class="fa fa-search"></i> Search</button>
	                <button class="btn btn-sm btn-warning pull-right" type="reset" ng-click="clearFilter()"><i class="fa fa-repeat"></i> Clear</button>
	            </div>   
			</div>
		</div>
	</div>
        
        <!-- END Simple Content -->
</div>
<!-- END Simple Block -->    



