<!-- Siple Block -->
<div class="block full">
        <!-- Simple Title -->
        <div class="block-title">
            <div class="block-options pull-right" ng-if="right_block">
                    <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default enable-tooltip" data-toggle="button"
                     title="" ng-click="expandAll()">{{right_block_title}}</a>
            </div> 

             <div class="block-options pull-right" ng-if="is_back_button">
                    <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default enable-tooltip" data-toggle="button"
                     title="" ng-click="back()">Back</a>
            </div>            
            <h2><strong ng-bind-html="blockTitle"></strong></h2>
        </div>
        <!-- END Simple Title -->

        <!-- Simple Content -->
        <!-- The content you will put inside div.block-content, will be toggled -->
        <ng-transclude>
        </ng-transclude>
        
        <!-- END Simple Content -->
</div>
<!-- END Simple Block -->    