<div class="gallery-image"  >
    <!-- .. add your image.. -->
    <img ng-src="/exercise-images/thumb/{{exercise.image_name}}" height="{{height}}" width="{{width}}" style=" object-fit: contain;" alt="image"
    onerror="this.src = '/exercise-images/thumb/no_image.png'">
    
    <!-- .. along with a div.gallery-image-options which will contain your hover links! -->
    <div class="gallery-image-options text-center " style="background-color:white;opacity: 0.9;filter: alpha(opacity=90);zoom: 1;">
        <div class="btn-group btn-group-sm">
            <a href="javascript:void(0)" data-toggle="tooltip" ng-click="view()" title="This is some info text about the image" class="popup-vimeo btn btn-sm btn-primary">
                <i class="fa fa-eye"></i> View
            </a>
            <a ui-sref="edit-exercise-image({id:exercise.id})" class="btn btn-sm btn-alt btn-primary" data-toggle="tooltip" title="" data-original-title="Edit">
                <i class="fa fa-pencil"></i>
            </a>
            <a href="javascript:void(0)" ng-if="deletable" ng-click="remove()" class="btn btn-sm btn-alt btn-primary" data-toggle="tooltip" title="" data-original-title="Remove">
                <i class="fa fa-times"></i>
            </a>    
        </div>
        
        <h6><strong>Calorie burn: {{ exercise.calorie_burn }}</strong></h6>
        <h6><strong>Minutes: {{ exercise.exercise_time }}</strong></h6>
        <h6><strong>Experience: {{ exercise.experience }}</strong></h6>
        <h6><strong>Boby Part: {{ exercise.body_part }}</strong></h6>
        <h6><strong>Exercise Category: {{ exercise.exercise_type }}</strong></h6>         
    </div>
    
</div>
<div class="space-top text-center">
    <h6 ng-if="!noDetails" style="text-overflow:ellipsis;white-space: nowrap;margin:0;">
        <strong>{{ exercise.name }}</strong>
    </h6>
</div>
