<div class="gallery-image">
    <!-- .. add your image.. -->
    <img ng-src="/exercise-images/thumb/{{videoimage.image_name}}"
     height="{{height}}"
      width="{{width}}" 
      style=" object-fit: contain;"
       alt="image"
       ng-if="videoimage.workout_type =='exercise_images'" 
       onerror="this.src = '/exercise-images/thumb/no_image.png'"
       >

        <img ng-src="{{videoimage.imageUrl}}"
             height="{{height}}"
              width="{{width}}" 
              style=" object-fit: contain;"
               alt="image"
               ng-if="videoimage.workout_type =='videos'" 
       >
    
    <!-- .. along with a div.gallery-image-options which will contain your hover links! -->
    <div class="gallery-image-options" style="background-color:white;opacity: 0.9;filter: alpha(opacity=90);zoom: 1;">
        <div class="btn-group btn-group-sm">

            <a href="javascript:void(0)"
             data-toggle="tooltip"
              ng-click="view()"
               title="This is some info text about the image"
                class="popup-vimeo btn btn-sm btn-primary"
                 ng-if="videoimage.workout_type =='exercise_images'" 
                >
                <i class="fa fa-eye"></i> View
            </a>

            <a href="{{videoimage.link}}" 
                data-toggle="lightbox-image"
                title="This is some info text about the image"
                class="popup-vimeo btn btn-sm btn-primary"
                 ng-if="videoimage.workout_type =='videos'" 
              >
                <i class="fa fa-eye"></i> View
            </a>


            <a ui-sref="edit-exercise-image({id:exercise.id})" ng-if="editable" class="btn btn-sm btn-alt btn-primary" data-toggle="tooltip" title="" data-original-title="Edit">
                <i class="fa fa-pencil"></i>
            </a>
            <a href="javascript:void(0)" ng-if="deletable" ng-click="remove()" class="btn btn-sm btn-alt btn-primary" data-toggle="tooltip" title="" data-original-title="Remove">
                <i class="fa fa-times"></i>
            </a>    
        </div>
        <div ng-if="videoimage.workout_type =='exercise_images'">
        <h6><strong>Calorie burn: {{ videoimage.calorie_burn }}</strong></h6>
        <h6><strong>Minutes: {{ videoimage.exercise_time }}</strong></h6>
        <h6><strong>Experience: {{ videoimage.experience }}</strong></h6>
        <h6><strong>Boby Part: {{ videoimage.body_part }}</strong></h6>
        </div>

        <div ng-if="videoimage.workout_type =='videos'">
        <h6><strong>Calorie burn: {{ videoimage.minimun_calorie_burn }} to {{ videoimage.maximum_calorie_burn }}</strong></h6>
        <h6><strong>Minutes: {{ videoimage.workout_time }}</strong></h6>
        <h6><strong>Experience: {{ videoimage.experience }}</strong></h6>
        <h6><strong>Boby Part: {{ videoimage.body_parts }}</strong></h6>
        </div>

    </div>
    
</div>
<div class="space-top text-center">
    <h6 ng-if="!noDetails" style="text-overflow:ellipsis;white-space: nowrap;margin:0;">
        <strong>{{ videoimage.name }}</strong>
    </h6>
</div>
