<div class="gallery-image"  >
    <!-- .. add your image.. -->
    <img ng-src="{{video.pictures.imageUrl}}" height="{{height}}" width="{{width}}" alt="image">
    
    <!-- .. along with a div.gallery-image-options which will contain your hover links! -->
    <div class="gallery-image-options " style="background-color:white;opacity: 0.9;filter: alpha(opacity=90);zoom: 1;">
        <div class="btn-group btn-group-sm">
            <a href="{{video.link}}" data-toggle="lightbox-image" title="This is some info text about the image" class="popup-vimeo btn btn-sm btn-primary">
                <i class="fa fa-eye"></i> View
            </a>
            <a href="javascript:void(0)" ng-if="editable" ng-click="edit()" class="btn btn-sm btn-alt btn-primary" data-toggle="tooltip" title="" data-original-title="Edit">
                <i class="fa fa-pencil"></i>
            </a>
            <a href="javascript:void(0)" ng-if="deletable" ng-click="remove()" class="btn btn-sm btn-alt btn-primary" data-toggle="tooltip" title="" data-original-title="Remove">
                <i class="fa fa-times"></i>
            </a>    
        </div>
        
        <h6><strong>Calorie burn: {{ video.minimun_calorie_burn }} to {{ video.maximum_calorie_burn }}</strong></h6>
        <h6><strong>Minutes: {{ video.workout_time }}</strong></h6>
        <h6><strong>Experience: {{ video.experience }}</strong></h6>
        <h6><strong>Boby Part: {{ video.body_parts }}</strong></h6>         
    </div>
    
</div>
<div class="space-top">
    <h6 ng-if="!noDetails" style="text-overflow:ellipsis;white-space: nowrap;margin:0;">
        <strong>{{ video.name }}</strong>
    </h6>
</div>
