@font-face {
	font-family:'Trajan Pro Bold';
	src: url('trajanpro-bold.eot');
	src: url('trajanpro-bold.eot?#iefix') format('embedded-opentype'),
		url('trajanpro-bold.ttf') format('truetype'),
		url('trajanpro-bold.otf') format('opentype'),
		url('trajanpro-bold.svg#Trajan Pro Bold') format('svg');
}

@font-face {
	font-family:'Trajan Pro';
	src: url('trajanpro-regular.eot.eot');
	src: url('trajanpro-regular.eot.eot?#iefix') format('embedded-opentype'),
		url('trajanpro-regular.eot.woff') format('woff'),
		url('trajanpro-regular.eot.ttf') format('truetype'),
		url('trajanpro-regular.eot.otf') format('opentype'),
		url('trajanpro-regular.eot.svg#Trajan Pro') format('svg');
}

@font-face {
	font-family:'Helvetica';
	src: url('Helvetica_gdi.eot');
	src: url('Helvetica_gdi.eot?#iefix') format('embedded-opentype'),
		url('Helvetica_gdi.woff') format('woff'),
		url('Helvetica_gdi.ttf') format('truetype'),
		url('Helvetica_gdi.otf') format('opentype'),
		url('Helvetica_gdi.svg#Helvetica-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}


@font-face {
	font-family:'Helvetica';
	src: url('Helvetica-Oblique_gdi.eot');
	src: url('Helvetica-Oblique_gdi.eot?#iefix') format('embedded-opentype'),
		url('Helvetica-Oblique_gdi.woff') format('woff'),
		url('Helvetica-Oblique_gdi.ttf') format('truetype'),
		url('Helvetica-Oblique_gdi.otf') format('opentype'),
		url('Helvetica-Oblique_gdi.svg#Helvetica-Oblique') format('svg');
	font-weight: 400;
	font-style: oblique;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}
/*@font-face {
	font-family:'Helvetica';
	src: url('Helvetica-Bold_gdi.eot');
	src: url('Helvetica-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('Helvetica-Bold_gdi.woff') format('woff'),
		url('Helvetica-Bold_gdi.ttf') format('truetype'),
		url('Helvetica-Bold_gdi.otf') format('opentype'),
		url('Helvetica-Bold_gdi.svg#Helvetica-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}
*/


@font-face {
	font-family:'HelveticaNeue';
	src: url('helveticaneuecond_bold.eot');
	src: url('helveticaneuecond_bold.eot?#iefix') format('embedded-opentype'),
		url('helveticaneuecond_bold.woff') format('woff'),
		url('helveticaneuecond_bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}
/*@font-face {

	font-family:'HelveticaNeue';
	src: url('HelveticaNeue_gdi.eot');
	src: url('HelveticaNeue_gdi.eot?#iefix') format('embedded-opentype'),
		url('HelveticaNeue_gdi.woff') format('woff'),
		url('HelveticaNeue_gdi.ttf') format('truetype'),
		url('HelveticaNeue_gdi.otf') format('opentype'),
		url('HelveticaNeue_gdi.svg#HelveticaNeue-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}*/
@font-face {
	font-family:'HelveticaNeue';
	src: url('HelveticaNeue-Italic_gdi.eot');
	src: url('HelveticaNeue-Italic_gdi.eot?#iefix') format('embedded-opentype'),
		url('HelveticaNeue-Italic_gdi.woff') format('woff'),
		url('HelveticaNeue-Italic_gdi.ttf') format('truetype'),
		url('HelveticaNeue-Italic_gdi.otf') format('opentype'),
		url('HelveticaNeue-Italic_gdi.svg#HelveticaNeue-Italic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}
@font-face {
	font-family:'HelveticaNeue';
	src: url('HelveticaNeueLT-Medium_gdi.eot');
	src: url('HelveticaNeueLT-Medium_gdi.eot?#iefix') format('embedded-opentype'),
		url('HelveticaNeueLT-Medium_gdi.woff') format('woff'),
		url('HelveticaNeueLT-Medium_gdi.ttf') format('truetype'),
		url('HelveticaNeueLT-Medium_gdi.svg#HelveticaNeueLT-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}
@font-face {
	font-family:'HelveticaNeue';
	src: url('HelveticaNeue-Bold_gdi.eot');
	src: url('HelveticaNeue-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('HelveticaNeue-Bold_gdi.woff') format('woff'),
		url('HelveticaNeue-Bold_gdi.ttf') format('truetype'),
		url('HelveticaNeue-Bold_gdi.otf') format('opentype'),
		url('HelveticaNeue-Bold_gdi.svg#HelveticaNeue-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}
@font-face {
	font-family:'HelveticaNeue';
	src: url('HelveticaNeue-BoldItalic_gdi.eot');
	src: url('HelveticaNeue-BoldItalic_gdi.eot?#iefix') format('embedded-opentype'),
		url('HelveticaNeue-BoldItalic_gdi.woff') format('woff'),
		url('HelveticaNeue-BoldItalic_gdi.ttf') format('truetype'),
		url('HelveticaNeue-BoldItalic_gdi.otf') format('opentype'),
		url('HelveticaNeue-BoldItalic_gdi.svg#HelveticaNeue-BoldItalic') format('svg');
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}
@font-face {
	font-family:'HelveticaNeue';
	src: url('HelveticaLTStd-BoldCond_gdi.eot');
	src: url('HelveticaLTStd-BoldCond_gdi.eot?#iefix') format('embedded-opentype'),
		url('HelveticaLTStd-BoldCond_gdi.woff') format('woff'),
		url('HelveticaLTStd-BoldCond_gdi.ttf') format('truetype'),
		url('HelveticaLTStd-BoldCond_gdi.otf') format('opentype'),
		url('HelveticaLTStd-BoldCond_gdi.svg#HelveticaLTStd-BoldCond') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: condensed;
	unicode-range: U+0020-25CA;
}

@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular_0-webfont.eot');
    src: url('roboto-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-regular_0-webfont.woff2') format('woff2'),
         url('roboto-regular_0-webfont.woff') format('woff'),
         url('roboto-regular_0-webfont.ttf') format('truetype'),
         url('roboto-regular_0-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('lato-regular_0-webfont.eot');
    src: url('lato-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-regular_0-webfont.woff2') format('woff2'),
         url('lato-regular_0-webfont.woff') format('woff'),
         url('lato-regular_0-webfont.ttf') format('truetype'),
         url('lato-regular_0-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'roboto_condensedregular';
    src: url('robotocondensed-regular_0-webfont.eot');
    src: url('robotocondensed-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('robotocondensed-regular_0-webfont.woff2') format('woff2'),
         url('robotocondensed-regular_0-webfont.woff') format('woff'),
         url('robotocondensed-regular_0-webfont.ttf') format('truetype'),
         url('robotocondensed-regular_0-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}