@media screen {
  /*Recent Post*/
  #recent {
    padding: 50px 0;
  }
  #recent > .container-fluid {
    max-width: 2400px;
  }
  #recent .post {
    border: 1px solid #b8d4e8;
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0 0 5px #b8d4e8;
  }
  #recent .wow {
    margin-bottom: 25px;
  }
  #recent .wow:last-child {
    margin-bottom: 0;
  }
  #recent .post > h3 {
    margin-bottom: 10px;
    font-size: 22px;
  }
  #recent .post > h3 > a {
    color: #293945;
  }
  #recent .post:hover > h3 > a {
    color: #1974ba;
  }
  #recent .post > .date-post {
    margin-bottom: 15px;
    font-size: 12px;
  }
  #recent .post > .date-post > .comment {
    font-weight: 700;
  }
  #recent .post > .inner {
    margin: 0 -15px;
  }
  #recent .inner > .featured-img {
    width: 100%;
    float: left;
    padding: 0 15px;
    margin-bottom: 10px;
  }
  #recent .inner > .featured-img > a {
    display: block;
    border: 1px solid #dedede;
    border-radius: 3px;
    padding: 4px;
  }
  #recent .inner > .featured-img img {
    width: 100%;
  }
  #recent .inner > .content {
    width: 100%;
    float: right;
    padding: 0 15px;
    font-size: 14px;
  }
  #recent .read-more {
    margin-top: 15px;
    display: block;
    background: rgba(62, 171, 254, 1);
    background: -moz-linear-gradient(top, rgba(62, 171, 254, 1) 0%, rgba(76, 151, 208, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(62, 171, 254, 1)), color-stop(100%, rgba(76, 151, 208, 1)));
    background: -webkit-linear-gradient(top, rgba(62, 171, 254, 1) 0%, rgba(76, 151, 208, 1) 100%);
    background: -o-linear-gradient(top, rgba(62, 171, 254, 1) 0%, rgba(76, 151, 208, 1) 100%);
    background: -ms-linear-gradient(top, rgba(62, 171, 254, 1) 0%, rgba(76, 151, 208, 1) 100%);
    background: linear-gradient(to bottom, rgba(62, 171, 254, 1) 0%, rgba(76, 151, 208, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3eabfe', endColorstr='#4c97d0', GradientType=0);
    color: #FFF;
    padding: 5px 10px;
    position: relative;
    font-weight: 700;
    max-width: 115px;
    font-size: 16px;
  }
  #recent .read-more:before,
  #recent .read-more:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 15px solid #479ee2;
    position: absolute;
    left: 100%;
    top: 0;
  }
  #recent .read-more:after {
    content: "→";
    margin-left: 4px;
    position: absolute;
    line-height: 1em;
    top: 8px;
    right: 5px;
  }
  /* CONTACT DETAILS */
  #contact-details {
    background: #fff;
    text-align: center;
    background: url(../images/contact-bg-form.png)no-repeat top center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
  #contact-details .top {
    padding: 50px 0;
    text-align: center;
  }
  #contact-details .top > .form {
    max-width: 520px;
    margin: 0 auto;
  }
  #contact-details .top .heading {
    font-size: 50px;
    margin-bottom: 15px;
    text-shadow: 1px 1px 1px #fff;
    color: #2a77ba;
  }
  #contact-details .top .info {
    font-size: 19px;
    text-shadow: 1px 1px 1px #fff;
    list-style-type: none;
    display: inline-block;
    margin-bottom: 20px;
  }
  #contact-details .top .info .fa {
    font-size: 20px;
    color: #196a9e;
    width: 20px;
    margin-right: 8px;
    position: relative;
    top: 5px;
    text-align: center;
  }
  #contact-details .top .info .fa.fa-mobile {
    font-size: 24px;
  }
  #contact-details .top .info > li {
    text-align: left;
  }
  #contact-details .top .info a {
    color: #07395e;
  }
  #contact-details .frm_primary_label {
    display: none;
  }
  #contact-details .frm_form_field {
    margin-bottom: 7px;
  }
  #contact-details .frm_form_field > input,
  #contact-details .frm_form_field > textarea {
    background: rgba(16, 84, 140, 0.4);
    color: #fff;
    border: 3px solid #fff;
    width: 100%;
    font-size: 17px;
    min-height: 39px;
    font-family: 'HelveticaNeue';
    font-weight: 400;
  }
  #contact-details .frm_form_field > input::-webkit-input-placeholder,
  #contact-details .frm_form_field > textarea::-webkit-input-placeholder {
    color: #fff;
  }
  #contact-details .frm_form_field > input:-moz-placeholder,
  #contact-details .frm_form_field > textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
  }
  #contact-details .frm_form_field > input::-moz-placeholder,
  #contact-details .frm_form_field > textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
  }
  #contact-details .frm_form_field > input:-ms-input-placeholder,
  #contact-details .frm_form_field > textarea:-ms-input-placeholder {
    color: #fff;
  }
  #contact-details .frm_submit {
    position: relative;
  }
  #contact-details input[type=submit] {
    height: 41px;
    font-family: 'HelveticaNeue';
    font-weight: 700;
    border: 3px solid #fff;
    background: rgba(16, 84, 140, 0.4);
    color: #fff;
    text-transform: uppercase;
    display: block;
    font-size: 17px;
    width: 100%;
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 7px;
  }
  #contact-details input[type=submit]:hover {
    opacity: .8;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  #contact-details .frm_ajax_loading {
    position: absolute;
    bottom: auto;
    right: 10px;
    z-index: 100;
    top: 50%;
    margin-top: -5px;
  }
  #contact-details .frm_style_formidable-style.with_frm_style fieldset {
    padding: 0;
  }
  #contact-details .right {
    width: 100%;
  }
  #contact-details .right img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  /* FOOTER */
  #footer {
    background-color: #1974ba;
    color: #FFF;
    font-size: 13px;
    padding: 30px 0;
    border-top: 1px solid #54a1dc;
    border-bottom: 1px solid #54a1dc;
    text-align: center;
    font-weight: 300;
  }
  #footer .container-fluid {
    max-width: 2500px;
  }
  #footer a {
    color: #fff;
  }
  #footer .left {
    margin-bottom: 30px;
    font-size: 14px;
  }
  #footer .main-menu {
    list-style-type: none;
    margin: 0;
  }
  #footer .main-menu > li {
    padding-right: 0;
    padding-left: 0;
    border-right: 1px solid #fff;
    margin-bottom: 10px;
    line-height: 1em;
  }
  #footer .main-menu > li:last-child {
    border-right: none;
  }
  #footer .main-menu > li > a {
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 300;
    font-family: 'HelveticaNeue';
    font-size: 14px;
  }
  #footer .main-menu > li > a:hover {
    text-decoration: underline;
    opacity: .7;
  }
  #footer .main-menu > li:first-child > a {
    padding-left: 0;
  }
  #footer .main-menu > li:last-child > a {
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  /* CONTACT DETAILS */
  #contact-details {
    background: #fff;
    position: relative;
    overflow: hidden;
  }
  #contact-details .q-left {
    width: 100%;
    background: url(../images/contact-bg-form.png)no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }
  #contact-details .q-right {
    position: absolute;
    right: 0;
    width: 32%;
    /*top: 40px;*/
    bottom: 60px;
    position: absolute;
    z-index: 2;
  }
  #contact-details .q-right > img {
    width: 80%;
    float: right;
    height: auto;
  }
  #contact-details .top {
    position: relative;
    z-index: 3;
    min-height: 500px;
    width: 77%;
    margin: 0 auto;
  }
  /* FOOTER */
  #footer .main-menu > li {
    margin-bottom: 0;
  }
  #recent .inner > .content {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  /* 12- 16-2015 */
  #contact-details .q-left {
    width: 80%;
  }
  #contact-details .top {
    margin: auto;
  }
  
  #contact-details .frm_submit:after {
    content: "\f1d8";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    color: #FFF;
    top: 15px;
    left: 135px;
  }
}

@media (min-width: 1200px) {
  #recent .post > h3 {
    font-size: 30px;
  }
  #recent .post > .date-post {
    font-size: 14px;
  }
  #recent .read-more {
    max-width: 130px;
  }
  #recent .read-more:hover {
    opacity: .7;
  }
  /* 12-16-2015 */
  #recent .inner > .featured-img {
    width: 40%;
    margin-bottom: 0;
  }
  #recent .inner > .content {
    width: 60%;
  }
  #footer .left {
    margin-bottom: 0;
    text-align: left;
  }
  #footer .right {
    text-align: right;
  }
}

@media (min-width: 1300px) {
  #recent .inner > .featured-img {
    width: 50%;
  }
  #recent .inner > .content {
    width: 50%;
  }
}

@media (min-width: 1600px) {
  #footer .left,
  #footer .main-menu > li > a {
    font-size: 18px;
  }
  #recent .post > h3 {
    font-size: 36px;
  }
  #recent .post > .date-post {
    font-size: 18px;
  }
  #recent .inner > .content {
    font-size: 22px;
  }
  /* CONTACT DETAILS */
  #contact-details .top {
    padding: 70px;
  }
  #contact-details .top .heading {
    font-size: 70px;
  }
  #contact-details .top .info {
    font-size: 26px;
  }
  #contact-details .frm_form_field > input,
  #contact-details .frm_form_field > textarea {
    font-size: 22px;
    min-height: 50px;
  }
  #contact-details input[type=submit] {
    height: 52px;
    font-size: 22px;
  }
  /* FOOTER */
  #footer {
    font-size: 24px;
  }
}

@media (min-width: 2400px) {
  #contact-details .top .info .fa {
    font-size: 50px;
  }
  #contact-details .q-right {
    top: 40px;
    bottom: inherit;
  }
  #recent .inner > .content {
    font-size: 28px;
  }
  #contact-details .top .info .fa {
    font-size: 37px;
    width: 40px;
  }
  #contact-details .top .info .fa.fa-mobile {
    font-size: 50px;
  }
}