@media screen {
	.clr-blue {
		color: #1974ba;
	}

	.clr-dblue {
		color: #193b54;
	}

	.clr-white {
		color: #FFF;
	}

	.uppercase {
		text-transform: uppercase;
	}

	.list-red > li {
		background-image: url(../images/list-red.png);
		background-repeat: no-repeat;
	}

	.btn {
		border-radius: 2px;
	}

	.col-count-2 {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		-ms-column-count: 1;
		-o-column-count: 1;
		column-count: 1;
	}

	.btn-trans {
		border:2px solid #FFF;
		background-color: transparent;
		color: #FFF;
		font-family: 'HelveticaNeue';
		font-weight: 600;
		text-transform: uppercase;
		font-size: 16px;
		padding: 5px 0;
		line-height: 0;
		padding-left: 25px;
		padding-right: 17px;
	}

	.btn-trans:hover {
		border-color: #E23D43;
		background-color: #E23D43;
		color: #FFF;
	}

	.btn-blue {
		background-color: #5ab7fa;
		border:2px solid #FFF;
		color: #FFF;
		border-radius: 4px;
		font-size: 14px;
		font-weight: 300;
		font-family: 'HelveticaNeue';
		text-transform: uppercase;
		font-size: 14px;
		padding: 2px 0;
		min-width: 125px;
	}


}

@media (min-width: 768px) {



}

@media (min-width: 992px){
		.col-count-2 {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		-ms-column-count: 2;
		-o-column-count: 2;
		column-count: 2;
	}
}