.noanim {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important
}
@-webkit-keyframes blink {
0% {
opacity:1;
filter:alpha(opacity=100)
}
33% {
opacity:0;
filter:alpha(opacity=0)
}
100% {
opacity:0;
filter:alpha(opacity=0)
}
}
@-moz-keyframes blink {
0% {
opacity:1;
filter:alpha(opacity=100)
}
33% {
opacity:0;
filter:alpha(opacity=0)
}
100% {
opacity:0;
filter:alpha(opacity=0)
}
}
@keyframes blink {
0% {
opacity:1;
filter:alpha(opacity=100)
}
33% {
opacity:0;
filter:alpha(opacity=0)
}
100% {
opacity:0;
filter:alpha(opacity=0)
}
}
body {
	font: 12px/28px;
}
.wrapper, #page {
	zoom: 1;
	width: 100%;
	margin: 0 auto
}
.wrapper:after, #page:after, .wrapper:before, #page:before {
	content: "\0020";
	display: table;
	height: 0;
	overflow: hidden
}
.wrapper:after, #page:after {
	clear: both
}
*::selection {
	color: #fafafa;
	background: #6ea74b
}
*::-khtml-selection {
color:#fafafa;
background:#6ea74b
}
*::-webkit-selection {
color:#fafafa;
background:#6ea74b
}
*::-moz-selection {
color:#fafafa;
background:#6ea74b
}
*::-ms-selection {
color:#fafafa;
}
*::-o-selection {
color:#fafafa;
}
#header {
	margin: 0px 0 0;
}
#trueHeader {
	z-index: 8000;
	left: 0;
	right: 0;
	/*padding: 10px 0;*/
	box-shadow: 0 1px 5px rgba(0,0,0,0);
	-khtml-box-shadow: 0 1px 5px rgba(0,0,0,0);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0);
	-ms-box-shadow: 0 1px 5px rgba(0,0,0,0);
	-o-box-shadow: 0 1px 5px rgba(0,0,0,0);
	transition: padding 0.35s ease;
	-khtml-transition: padding 0.35s ease;
	-webkit-transition: padding 0.35s ease;
	-moz-transition: padding 0.35s ease;
	-ms-transition: padding 0.35s ease;
	-o-transition: padding 0.35s ease;
	background-color: #fff;
	zoom: 1;
    position: relative;
}
#header.sticky #trueHeader {
	position: fixed;
	top: 0;
}
#header.sticky.condensed #trueHeader {
	/*padding: 10px 0;*/
	/*background-color: #2d4d93;*/
}
.header_inner {
	float: left;
	width: 100%;
	background-color: #fff;
}
.header_inner #header.sticky #trueHeader {
	background-color: #fff;
}
 @media only screen and (min-width: 480px) and (max-width: 767px) {
#header {
	background-color: #fff;
}
#header.sticky #trueHeader {
	background-color: #fff;
}
#trueHeader {
	background: none;
}
}
 @media only screen and (max-width: 479px) {
#header {
	background-color: #fff;
}
#header.sticky #trueHeader {
	background-color: #fff;
}
#trueHeader {
	background: url(../../images/mobilenav_bg.png) repeat-x left top;
	
}
}
